<% provide(:title, 'About') %>
<div class="background_image">
  <%= image_tag "autumn_leaves.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>About the Sanderstead Residents' Association</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-8 col-xs-12 white-column">
      <h3>The Sanderstead Residents' Association</h3>
      <p>The Sanderstead Residents' Association is entirely non-political and non-sectarian. It is primarily concerned with the interests of residents of Sanderstead, Hamsey Green and adjoining areas. Read our <%= link_to "Chairman's report", chairman_path %> for news of everything the Association has been involved with recently.</p>
      <h3>Grants</h3>
      <p>The Residents' Association has a small fund available to provide grants for suitable local projects.</p>

      <p>The SRA supports Sanderstead organisations in their work in the community. In particular those that help the elderly and the young, encouraging activities in the Scouts, Guides and taking part in sport.</p>

      <p>We also support the "Friends" organisations who work to maintain and improve our local open spaces.</p>

      <h3>Grant Application</h3>

      <p>To apply for a grant, please submit the details of your organisation and the reason you wish to apply for funds, together with any relevant financial information, to the Hon Treasurer, John Kempsell, treasurer@sanderstead-residents.co.uk, tel 020 8657 0482.</p>

      <p>The following projects and groups have received funding from the Sanderstead Residents' Association since 2012</p>
      <ul>
         <li>Christmas Lights in Elmfield Way</li>
        <li>Coulsdon and Purley Festival</li>
        <li>Purley Food Hub</li>
        <li>Croydon Voluntary Association Relief Fund</li>
        <li>Friends of Sanderstead Recreation Ground and Green Spaces</li>
        <li>BME forum</li>
        <li>Diwali</li>
        <li>Police bicycles</li>
        <li>One tin bins</li>
        <li>Remembrance poppies</li>
        <li>Sanderstead Library</li>
        <li>Signs in King's Wood</li>
        <li><%= link_to "South East Cancer Help Centre", "http://www.sechc.org.uk/" %></li>
        <li>Sanderstead Neighbourhood Watch</li>
        <li>Hamsey Green pond</li>
        <li>18th Purley Scouts, for flood protection work</li>
        <li>Croydon Carers Centre</li>
        <li>Friends of Kingswood</li>
        <li>8th Sanderstead Brownies</li>
        <li>Sanderstead Neighbourhood Care</li>
        <li>Selsdon Centre for the Retired</li>
        <li>Repair of Sanderstead War Memorial vandalised by metal thieves</li>
        <li>Bench seat on the Gruffy by the Sanderstead Pond</li>
        <li>The Mayor’s Charity 2014</li>
        <li>Books and display stand for Sanderstead Library</li>
        <li>Friends of Wettern Tree Gardens</li>
        <li>Friends of Croham Hurst Woods</li>
        <li>Friends of Purley Beeches</li>
        <li>Christmas Lights in the Village</li>
        <li>Sanderstead Churches Floating Shelter</li>
        <li>8th Purley Scout Group "Girls enjoy Scouting"</li>
        <li>16th Purley Scout Group contribution for World Jamboree</li>
        <li>2nd Hamsey Green Scout Group repairs to scout hut</li>
        <li>Sanderstead Brownies 100th Birthday</li>
        <li>Selsdon Little Football League Sponsorship</li>
        <li>“Hear Me Speak” competition for Sanderstead Primary Schools</li>
      </ul>
      <p>In addition Local Councillors have donated grants to the following from their community budget</p>
      <ul>
        <li>GayPride</li>
        <li>Priscillas</li>
        <li>Bus stop Bench</li>
        <li>CR2020</li>
        <li>Lily Pad appeal</li>
        <li>Raghuvanshi</li>
        <li>Memorial Hall Sign</li>
        <li>Floating Shelter</li>
        <li>Horticultural Society</li>
        <li>2nd Hamsey Green Scounts</li>
        <li>18th Purley Scouts</li>
        <li>British Legion </li>
        <li>Soul Symphony</li>
      </ul>
      <h3>Policy on housing development in Sanderstead and surrounding area</h3>
      <p> Whilst embracing the principle that any property owner should be able to develop their own property, Sanderstead Residents Association also follows the principle that any such development should not be at the detriment to neighbours amenity particularly where there is over-looking, loss of daylight or sunlight, out of keeping with its neighbours and if it is to such density as not to provide recreational space either as part of the property development or be within easy access of public spaces.</p>
      <p>For these reasons, Sanderstead Residents Association policy continues to object to ‘back garden’ and multi-occupation developments on property of single dwellings. However, Croydon Council’s current policy is to use every spare piece of land in order to achieve their goal of 1,000 new homes across the borough by 2019 which aligns with The Mayor of London’s announcement on 26th November setting out plans to speed up the building of homes in the capital and new (presumably less onerous for developers) planning guidance to achieve this.</p>
      <p>Recently some residents have been approached by property development companies to purchase property with various incentives to ‘ease the burden’. Whilst each approach should be dealt with on its merits, residents are advised to make careful and considerate enquires, including professional advice if necessary, before entering into negotiations and subsequent contractual arrangements with any such company.</p>
      <p>Remember the old adage ‘if it sounds too good to be true – it probably is’.</p> 
    </div>

    <div class="col-md-4 col-xs-12 grey-column">
      <h3><%= link_to "Contact", contact_path %> </h3>
      <p> If you have any matters that you wish to bring to the attention of the SRA, please get in touch with the Chairman, Heather Lindsay, via email: chairman@sanderstead-residents.co.uk, or by phone, 020 8657 2661.</p>
      <h3><%= link_to "Membership", members_path %></h3>
      <p>Subscriptions are due by the end of January each year. If you wish to become a member, please download the form available on the <%= link_to "members page", members_path %> and contact the Hon. Treasurer, John Kempsell, email: <%= mail_to "treasurer@sanderstead-residents.co.uk" %>, phone, 020 8657 0482.</p>
      <h3><%= link_to "Information", directory_path %></h3>
      <p>The SRA provides information about local facilities, and events in Sanderstead. If you would like to advertise an event on this website, please contact the webmaster, email: <%= mail_to "webmaster@sanderstead-residents.co.uk" %>.</p>
      <h3><%= link_to "News", news_path %></h3>
      <p>Checkout what's happening in Sanderstead now on our <%= link_to "news", news_path %> and <%= link_to "events", events_path %> pages.</p>
      <h3><%= link_to "Email Newsletter", "http://eepurl.com/cHZYM5" %></h3>
      <p>From time to time the Association would like to be able to contact members via an email newsletter. If you would like to receive this news please follow this link to sign up your name and email address. <%= link_to "Sign up here for Email Newsletter", "http://eepurl.com/cHZYM5" %></p>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
