<% provide(:title, 'Advertisers') %>
<div class="background_image">
  <%= image_tag "village1550no2.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Advertisers</h2>
</div>
<div class="container" id="main-wrapper">
	<div class="row main-content">
    	
    	 <div class="col-md-2 col-xs-12 grey-column">
            <a class="anchor" id="top" name="thetop"></a>
            <h4></h4>



             <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Building Services
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Builders", anchor: "builders" %></li>
                    <li><%= link_to "Decorators", anchor: "decorators" %></li>
                    <li><%= link_to "Electricians", anchor: "electricians" %></li>
                    <li><%= link_to "Handyman", anchor: "handyman" %></li>
                    <li><%= link_to "Kitchens", anchor: "kitchens" %></li>
                    <li><%= link_to "New Homes", anchor: "new" %></li>
                    <li><%= link_to "Plumbers", anchor: "plumb" %></li>
                    <li><%= link_to "Roofing", anchor: "roof" %></li>
                    <li><%= link_to "Floor Cleaning", anchor: "clean" %></li>
                </ul>
            </div>
            <br/>

             
            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Health
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Health and Beauty", anchor: "health" %></li>
                </ul>
            </div>
            <br/>

            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Home Furnishings
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Blinds", anchor: "curtains" %></li>
                    <li><%= link_to "Carpets", anchor: "carpets" %></li>
                </ul>
            </div>
            <br/>


            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Retailers
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Butchers", anchor: "butcher" %></li>
                    <li><%= link_to "Chemists", anchor: "chemist" %></li>
                    <li><%= link_to "DIY", anchor: "diy" %></li>
                    <li><%= link_to "Jewellers", anchor: "jewel" %></li>
                    <li><%= link_to "Off Licence", anchor: "wine" %></li>
                    <li><%= link_to "Pets", anchor: "pets" %></li>
                </ul>
            </div>
            <br/>


            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Schools
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Schools", anchor: "school" %></li>
                </ul>
            </div>
            <br/>


            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Services
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Care", anchor: "care" %></li>
                    <li><%= link_to "Cleaners", anchor: "cleaners" %></li>
                    <li><%= link_to "Computers", anchor: "computers" %></li>
                    <li><%= link_to "Dry Cleaners", anchor: "dryclean" %></li>
                    <li><%= link_to "Funeral Directors", anchor: "funeral" %></li>
                    <li><%= link_to "Gardening", anchor: "garden" %></li>
                    <li><%= link_to "Removals", anchor: "move" %></li>
                    <li><%= link_to "Solicitors", anchor: "law" %></li>
                    <li><%= link_to "Video and DVD", anchor: "video" %></li>
                </ul>
            </div>
            <br/>

            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sports
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Golf Clubs", anchor: "golf" %></li>
                </ul>
            </div>
            <br/>

            <hr/>
            <p>All the businesses advertised here are included in our newsletter - "Sanderstead News". We endeavour to keep this information up to date,<br/> but if you are aware of any corrections or updates please contact the webmaster, <%= mail_to "webmaster@sanderstead-residents.co.uk" %>.</p>

    	 </div>
    	 <div class="col-md-10 col-xs-12 white-column">
        <table>
          <tbody>
         

        <tr>
            <td><h2><a class="anchor" id="top" name="build"></a>Building Services</h2></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h3><a name="builders"></a>Builders</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4 class="advertisers">Kitchen Fitter - JGP Joinery</h4> </td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>07958 728680</p></td>
        </tr>
        <tr  class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "jgpjoinery@live.co.uk" %>&nbsp;</p></td>
            
          </tr>


        <tr>
            <td><h4 class="advertisers">Redfearns</h4> </td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 5195</p></td>
        </tr>
        <tr  class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "mail@redfearnpartnership.co.uk" %>&nbsp;</p></td>
            
          </tr>

          <tr  >
            <td><h4 class="advertisers">P A Henery</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 7321 &nbsp;<span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07973 145 530</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>53 The Ridgeway, Sanderstead, CR2 0LJ</p></td>
          </tr>

        <tr>
            <td><h4 class="advertisers">E.J. Neal Projects Co.</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 627819</p></td>
        </tr> 
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>30 Homefield Road, Warlingham, CR6 9HQ</p></td>
          </tr>


        <tr>
            <td><a class="anchor" id="top" name="decorators"></a><h3>Decorating</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr  class="adstable">
            <td><h4 class="advertisers">Graham Marshall</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 6197 &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07814 514213</p></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="electricians"></a>Electricians</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4 class="advertisers">Jeff Borkett</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 0177   &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07951 015264</p></td>
        </tr>
        <tr  class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.electricalservicescroydon.co.uk", "http://www.electricalservicescroydon.co.uk" %></p></td>
        </tr>

        <tr class="adstable">
            <td><h4 class="advertisers">D J Taylor</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 4818 / 020 8651 4260</p></td>
        </tr>

        <tr>
            <td><a class="anchor" id="top" name="handyman"></a><h3>Handyman</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4 class="advertisers">Home Remedies</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8656 9226  &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>  07868 740307</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "home.remedies@blueyonder.co.uk" %></td>
            
        </tr>

       
        <tr>
            <td><h3><a class="anchor" id="top" name="kitchens"></a>Kitchens</h43></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4 class="advertisers">M Kitchens</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 7307</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.megakitchens.co.uk", "http://www.megakitchens.co.uk" %></p></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="new"></a>New Homes</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4 class="advertisers">Inspired Homes</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 7495 0523</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.inspiredhomes.uk.com", "http://www.inspiredhomes.uk.com" %></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="plumb"></a>Plumbing and Heating</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="adstable">
          <td><h4>A C Heating</h4></td>
          <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 0259   &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span> 07831 760743</p></td>
          
        </tr>
        <tr>
            <td><h3><a class="anchor" id="top" name="roof"></a>Roofing</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr >
            <td><h4>C R Mackay</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 5514 &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span> 07950 171369</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>5 Essenden Road, Sanderstead, CR2 0BW</p></td>
          </tr>


        <tr>
            <td><h4>R C Ovenell</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 5602 &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07970 113106</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "rcovenell@icloud.com" %></p></td>
            
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="clean"></a>Stone Floor Cleaning</h3></td>
            <td><td>&nbsp;</td>
        </tr>
        <tr>  
            <td><h4>Direct Cleaners</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8687 1711 </p></td>
        </tr>   
    
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.directcleaners.com", "http://www.directcleaners.com" %>&nbsp;</span></p></td>
        </tr>

        <tr>
            <td><h2><a class="anchor" id="top" name="health"></a>Health</h2><td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h3><a name="health"></a>Health and Beauty</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4>The Beauty Lounge</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 3395 </p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>39 Elmfield Way, Sanderstead CR2 0EJ</p></td>
        </tr>


         <tr>
                 <td><h2>Home Furnishings</h2></td>
             <td>&nbsp;</td>
           </tr>
           <tr>
                 <td><h3><a class="anchor" id="top" name="curtains"></a>Blinds, shutters and curtains</h3></td>
             <td>&nbsp;</td>
               </tr>
           <tr>
             <td><h4 class="advertisers">desres blinds</h4></td>
                 <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 3569 &nbsp; <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07961 827 917</p></td>
           </tr>
           <tr>
                <td>&nbsp;</td>
                 <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "info@desresblinds.co.uk" %></p></td>
                 
          </tr>
          <tr class="adstable">
                 <td>&nbsp;</td>
                 <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.desresblinds.co.uk", "http://www.desresblinds.co.uk" %></p></td>
          </tr>
          <tr>

            <td><h3><a class="anchor" id="top" name="carpets"></a>Carpets and Flooring</h3></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h4 class="advertisers">CK Carpets</h4></td>
            <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 6833</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>3 Limpsfield Road, Sanderstead, cR2 9LA</p></td>
          </tr>
          <tr class="adstable">
            <td>&nbsp;</td>
            <td><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span> <%= link_to "www.ckcarpets.co.uk", "http://www.ckcarpets.co.uk" %></td>

          </tr>

       <tr>
        <td><h2>Retailers</h2></td>
        <td>&nbsp;</td>
       </tr>

       <tr>
        <td><h3><a class="anchor" id="top" name="butcher"></a>Butchers</h3></td>
        <td>&nbsp;</td>
       </tr>

        <tr>
            <td><h4>Bashford &amp; Co</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 7558 </p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>35 Elmfield Way, South Croydon, CR2 0EJ</p></td>
          </tr>


        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.bashfordandco.co.uk", "http://www.bashfordandco.co.uk" %></span></p></td>
        </tr>

        <tr>
        <td><h3><a class="anchor" id="top" name="chemist"></a>Chemists</h3></td>
        <td>&nbsp;</td>
       </tr>

        <tr>
            <td><h4>Medipharm</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 2203 </p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>37 Limpsfield Rd, Sanderstead, CR2 9LA</p></td>
        </tr>


        <tr>
            <td><h4>Makepeace &amp; Jackson</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 0221 </p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>7 Station Parade, Sanderstead, CR2 0PH</p></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="diy"></a>DIY Supplies</h3></td>
            <td>&nbsp;</td>
        <tr>
            <td><h4>Keitom</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 6499 </p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "sales@keitom.com" %></p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span> 333D Limpsfield Rd, Hamsey Green, CR2 9DH</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.keitom.com", "http://www.keitom.com" %>
        </tr>
    
        <tr>
            <td><h3><a class="anchor" id="top" name="jewel"></a>Jewellery</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>GIN Jewellery</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 5881 </p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>59 Limpsfield Rd, Sanderstead, CR2 9LB</p></td>
        </tr>

        <tr>
          <td><h3><a class="anchor" id="top" name="wine"></a>Off Licence</h3></td>
          <td>&nbsp;</td>
     
        <tr>
            <td><h4>The Wine Cellar</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 6936 </p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>9-10 Station Parade, Sanderstead, CR2 0PH</p></td>
        </tr>
         <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.winecellared.com", "http://www.winecellared.com" %></p></td>
          </tr>


        <tr>
            <td><h3><a class="anchor" id="top" name="pets"></a>Pets and Pet Food</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Village Pets</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 1791</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>55 Limpsfield Rd, Sanderstead, CR2 9LB</p></td>
        </tr>


  <tr>
            <td><h2><a class="anchor" id="top" name="school"></a>Schools</h2></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>Warlingham Park School</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 626844</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "info@warlinghamparkschool.com" %></p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>Chelsham Common, Warlingham, CR6 9PB</p></td>
          </tr>


        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.warlinghamparkschool.com", "http://www.warlinghamparkschool.com" %>
        </tr>

         <tr>
            <td><h4>Croydon High School</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8260 7543</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.croydonhigh.gdst.net", "http://www.croydonhigh.gdst.net" %>
        </tr>


         <tr>
            <td><h4>Warlingham Village Primary School</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 622747</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>Farleigh Road, Warlingham, CR6 9EJ</p></td>
        </tr>

        <tr>
            <td><h2>Services</h2></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="care"></a>Care</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4> Bluebird Care</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8686 9496</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span><%= mail_to "croydon@bluebirdcare.co.uk" %></p></td>
        </tr>

         <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>181 Brighton Rd, South Croydon, CR2 6EG</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.bluebirdcare.co.uk/croydon", "http://www.bluebirdcare.co.uk/croydon" %>
        </tr>
    
        <tr>
        <td><h3><a class="anchor" id="top" name="cleaners"></a>Cleaners</h3></td>
        <td>&nbsp;</td>

        <tr>
            <td><h4>Molly Maid</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8407 3262</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "priti-patel@mollymaid.co.uk" %></p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.mollymaid.co.uk/croydon", "http://www.mollymaid.co.uk/croydon" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="computers"></a>Computers</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h3>Support and Training</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Keystroke Associates</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 346516</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "keystrokeassoc@aol.com" %></p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.keystrokeassociates.co.uk", "http://www.keystrokeassociates.co.uk" %></p>
        </tr>

        <tr>
            <td><h3>Computer Repairs</h3></td>
            <td>&nbsp;</td>
        </tr>


         <tr>
            <td><h4>CC Computing</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 3095 7750&nbsp;<span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07801 536610</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "chris@ccworld.co.uk" %></p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.ccworld.co.uk", "http://www.ccworld.co.uk" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="dryclean"></a>Dry Cleaners</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4>Elmfield Dry Cleaners</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8768 3455</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>49 Elmfield Way, Sanderstead, CR2 0EJ</p></td>
        </tr>
       
        <tr>
            <td><h3><a class="anchor" id="top" name="estate"></a>Estate Agents</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Paul Meakin</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 5000</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.paulmeakin.co.uk", "http://www.paulmeakin.co.uk" %></td>
        </tr>

         <tr>
            <td><h4>Pollard Machin</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 4466</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.pollardmachin.co.uk", "http://www.pollardmachin.co.uk" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="funeral"></a>Funeral Directors</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>Pink's</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 9922</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>344 Limpsfield Road, Hamsey Green, CR2 9BX</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.adpinkfunerals.co.uk", "http://www.adpinkfunerals.co.uk" %>
        </tr>
        
         <tr>
            <td><h4>J B Shakespeare</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 3616</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>175 Selsdon Park Road, South Croydon, CR2 8JJ</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.jbshakespearefunerals.co.uk", "http://www.jbshakespearefunerals.co.uk" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="garden"></a>Gardening and Patios</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Howard Duffy</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 620039</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "howard.duffy.uk@gmail.com" %></p></td>
        </tr>

        <tr  class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.howardduffy-gardensolutions.co.uk", "http://www.howardduffy-gardensolutions.co.uk" %>
        </tr>


         <tr>
            <td><h4>Greenthumb</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01689 849830 / freephone 0800 0111 222</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.greenthumb.co.uk", "http://www.greenthumb.co.uk" %>
        </tr>


        <tr>
            <td><h3><a class="anchor" id="top" name="move"></a>Removals and Storage</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>Britannia Sandersteads</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8669 6688</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "info@sandersteads.com" %></p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.sandersteads.com", "http://www.sandersteads.com" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="retire"><a/>Retirement Homes</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>McCarthy and Stone</h4></td>
            <td>&nbsp;</td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.mccarthyandstone.co.uk", "http://www.mccarthyandstone.co.uk" %>
        </tr>


        <tr>
            <td><h3><a class="anchor" id="top" name="law"></a>Solicitors</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>G M Watts</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 0391</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>2a Ridge Langley, Sanderstead, CR2 0AR</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.gmwatts.com", "http://www.gmwatts.com" %>
        </tr>


        <tr>
            <td><h3><a class="anchor" id="top" name="video"></a>Video and DVD Services</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Surrey Video</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 3252 2055</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.surreyvideo.co.uk", "http://www.surreyvideo.co.uk" %>
        </tr>


        <tr>
            <td><h2>Sports Clubs</h2></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="golf"></a>Golf Clubs</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Croham Hurst Golf Club</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 5581</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>Croham Road, South Croydon, CR2 7HJ</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.chgc.co.uk", "http://www.chgc.co.uk" %>
        </tr>     
      </tbody>
      </table>
      <p><%= link_to "Back to top", anchor: "thetop" %></p>
      <p style= "text-align: right;">
                <%= link_to "http://www.glyphicons.com" do %>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <% end %>
            </p>

    	 </div>
	</div>
</div>
