<% provide(:title, 'Advertisers') %>
<div class="background_image">
  <%= image_tag "village1550no2.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Advertisers</h2>
</div>
<div class="container" id="main-wrapper">
	<div class="row main-content">
    	
    	 <div class="col-md-2 col-xs-12 grey-column">
            <a class="anchor" id="top" name="thetop"></a>
            <h4></h4>



             <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Building Services
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Builders", anchor: "builders" %></li>
                    <li><%= link_to "Decorators", anchor: "decorators" %></li>
                    <li><%= link_to "Electricians", anchor: "electricians" %></li>
                    <li><%= link_to "Flooring", anchor: "flooring" %></li>
                    <li><%= link_to "Garages", anchor: "garages" %></li>
                    <li><%= link_to "Handyman", anchor: "handyman" %></li>
                    <li><%= link_to "Kitchens", anchor: "kitchens" %></li>
                    <li><%= link_to "New Homes", anchor: "new" %></li>
                    <li><%= link_to "Plumbers", anchor: "plumb" %></li>
                    <li><%= link_to "Roofing", anchor: "roof" %></li>
                    <li><%= link_to "Windows", anchor: "windows" %></li>
                </ul>
            </div>
            <br/>

             
            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Health
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Hearing", anchor: "hearing" %></li>
                    <li><%= link_to "Dentists", anchor: "dentist" %></li>
                </ul>
            </div>
            <br/>

            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Home Furnishings
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Blinds", anchor: "curtains" %></li>
                    <li><%= link_to "Carpets", anchor: "carpets" %></li>
                </ul>
            </div>
            <br/>


            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Retailers
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "DIY", anchor: "diy" %></li>
                    <li><%= link_to "Jewellers", anchor: "jewel" %></li>
                    <li><%= link_to "Off Licence", anchor: "wine" %></li>
                    <li><%= link_to "Pets", anchor: "pets" %></li>
                </ul>
            </div>
            <br/>


            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Education
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Schools", anchor: "school" %></li>
                </ul>
            </div>
            <br/>


            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Services
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Care", anchor: "care" %></li>
                    <li><%= link_to "Catering", anchor: "meals" %></li>
                    <li><%= link_to "Cleaners", anchor: "cleaners" %></li>
                    <li><%= link_to "Computers", anchor: "computers" %></li>
                    <li><%= link_to "Estate Agents and Developers", anchor: "estate" %></li>
                    <li><%= link_to "Finance Planning", anchor: "finance" %></li>
                    <li><%= link_to "Funeral Directors", anchor: "funeral" %></li>
                    <li><%= link_to "Gardening", anchor: "garden" %></li>
                    <li><%= link_to "Removals", anchor: "move" %></li>
                    <li><%= link_to "Solicitors", anchor: "law" %></li>
                    <li><%= link_to "Vets", anchor: "vets" %></li>
                </ul>
            </div>
            <br/>

            <div class="dropdown">
                <button class="btn default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sport
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Tennis", anchor: "tennis" %></li>
                </ul>
            </div>
            <br/>

            <hr/>
            <p>All the businesses advertised here are included in our newsletter - "Sanderstead News". We endeavour to keep this information up to date, but if you are aware of any corrections or updates please contact the webmaster, webmaster@sanderstead-residents.co.uk.</p>

    	 </div>
    	 <div class="col-md-7 col-xs-12 white-column">
        <table>
          <tbody>
         

        <tr>
            <td><h2><a class="anchor" id="top" name="build"></a>Building Services</h2></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h3><a name="builders"></a>Builders</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4 class="advertisers">Redfearns</h4> </td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 5195</p></td>
        </tr>
        <tr  class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> mail@redfearnpartnership.co.uk&nbsp;</p></td>
            
          </tr>

          <tr  >
            <td><h4 class="advertisers">P A Henery</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 7321 &nbsp;<span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07973 145 530</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>53 The Ridgeway, Sanderstead, CR2 0LJ</p></td>
          </tr>

        <tr>
            <td><h4 class="advertisers">E.J. Neal Projects Co.</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 627819</p></td>
        </tr> 
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>30 Homefield Road, Warlingham, CR6 9HQ</p></td>
          </tr>

          <tr>
            <td><h4 class="advertisers">LMB group</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8406 9907</p></td>
        </tr> 
        <tr >
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>167 Shirley Road, Croydon, CR0 8SS</p></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span> <%= link_to "www.lmbgroupltd.co.uk", "http://www.lmbgroupltd.co.uk" %></p></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-education" aria-hidden="true">&nbsp;</span><%= link_to "Find out more", "/resource/LMB_Flyer.pdf" %></p></td>
        </tr>

          <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>enquiries@lmbgroupltd.co.uk</p></td>
        </tr>

        <tr>
            <td><a class="anchor" id="top" name="decorators"></a><h3>Decorating</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr  class="adstable">
            <td><h4 class="advertisers">Graham Marshall</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 6197 &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07814 514213</p></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="electricians"></a>Electricians</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr class="adstable">
            <td><h4 class="advertisers">D J Taylor &amp; Son</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 4818 / 020 8651 4260</p></td>
        </tr>

         <tr>
            <td><a class="anchor" id="top" name="flooring"></a><h3>Flooring</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4 class="advertisers">T Marks Flooring</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 500733 &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>  07836 201 751</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to"www.tmarksflooring.com", "https://www.tmarksflooring.com" %></td>
            
        </tr>

         <tr>
            <td><a class="anchor" id="top" name="garages"></a><h3>Garages</h3></td>
            <td>&nbsp;</td>
        </tr>


        <tr>
            <td><h4 class="advertisers">Access Garage Doors</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8681 7989</p></td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>416 Brighton Road, South Croydon, Surrey,CR2 6AN</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.accessgaragedoors.com", "http://www.accessgaragedoors.com" %></p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>Croydon@accessgaragedoors.com</p></td>
            
        </tr>


        <tr>
            <td><a class="anchor" id="top" name="handyman"></a><h3>Handyman</h3></td>
            <td>&nbsp;</td>
        </tr>


        <tr>
            <td><h4 class="advertisers">Home Remedies</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8656 9226  &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>  07868 740307</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>home.remedies@blueyonder.co.uk</td>
            
        </tr>

       
        <tr>
            <td><h3><a class="anchor" id="top" name="kitchens"></a>Kitchens</h43></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4 class="advertisers">M Kitchens</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 7307</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.megakitchens.co.uk", "http://www.megakitchens.co.uk" %></p></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="plumb"></a>Plumbing and Heating</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="adstable">
          <td><h4>A C Heating</h4></td>
          <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 0259   &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span> 07831 760743</p></td>
          
        </tr>
        <tr>
            <td><h3><a class="anchor" id="top" name="roof"></a>Roofing</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr >
            <td><h4>C R Mackay</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 5514 &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span> 07950 171369</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>38 Overbury Crescent, New Addington CR0 0LL</p></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="windows"></a>Windows</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr >
            <td><h4>Alphaglaze</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>0800 136021</p></td>
        </tr>
        <tr class="adstable">
          <td>&nbsp;</td>
          <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.alphaglazecroydon.co.uk", "http://www.alphaglazecroydon.co.uk" %></p></td>
        </tr>



        <tr>
            <td><h2><a class="anchor" id="top" name="health"></a>Health</h2><td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h3><a name="health"></a>Hearing</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4><a class="anchor" id="top" name="hearing"></a>Select Hearing</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8487 1488 </p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>info@selecthearingcare.co.uk</p></td>              
          </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>121 Addington Road, South Croydon CR2 8LH</p></td>
        </tr>

        <tr>
          <td><h3><a class="anchor" id="top" name="dentist"></a>Dentist</h3></td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td><h4>The Mary Jones Dental Practice</h4></td>
          <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8462 0200</p></td>
        </tr>

         <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>1 Street House, George Lane, Hayes, Kent, BR2 7LQ</p></td>
        </tr>

        <tr class="adstable">
          <td>&nbsp;</td>
          <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.maryjonesdental.co.uk", "http://www.maryjonesdental.co.uk" %></p></td>
        </tr>

        <tr>
          <td><h2>Home Furnishings</h2></td>
          <td>&nbsp;</td>
        </tr>

        <tr>
                 <td><h3><a class="anchor" id="top" name="curtains"></a>Blinds, shutters and curtains</h3></td>
             <td>&nbsp;</td>
               </tr>
           <tr>
             <td><h4 class="advertisers">desres blinds</h4></td>
                 <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 3569 &nbsp; <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07961 827 917</p></td>
           </tr>
           <tr>
                <td>&nbsp;</td>
                 <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>info@desresblinds.co.uk</p></td>
                 
          </tr>
          <tr class="adstable">
                 <td>&nbsp;</td>
                 <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.desresblinds.co.uk", "http://www.desresblinds.co.uk" %></p></td>
          </tr>
          <tr>

            <td><h3><a class="anchor" id="top" name="carpets"></a>Carpets and Flooring</h3></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h4 class="advertisers">CK Carpets</h4></td>
            <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 6833</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>3 Limpsfield Road, Sanderstead, cR2 9LA</p></td>
          </tr>
          <tr class="adstable">
            <td>&nbsp;</td>
            <td><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span> <%= link_to "www.ckcarpets.co.uk", "http://www.ckcarpets.co.uk" %></td>

          </tr>

       <tr>
        <td><h2>Retailers</h2></td>
        <td>&nbsp;</td>
       </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="diy"></a>DIY Supplies</h3></td>
            <td>&nbsp;</td>
        <tr>
            <td><h4>Keitom</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 6499 </p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>sales@keitom.com</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span> 333D Limpsfield Rd, Hamsey Green, CR2 9DH</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.keitom.com", "http://www.keitom.com" %>
        </tr>
    
        <tr>
            <td><h3><a class="anchor" id="top" name="jewel"></a>Jewellery</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>GIN Jewellery</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 5881 </p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>59 Limpsfield Rd, Sanderstead, CR2 9LB</p></td>
        </tr>

        <tr>
          <td><h3><a class="anchor" id="top" name="wine"></a>Off Licence</h3></td>
          <td>&nbsp;</td>
     
        <tr>
            <td><h4>The Wine Cellar</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 6936 </p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>9-10 Station Parade, Sanderstead, CR2 0PH</p></td>
        </tr>
         <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.winecellared.com", "http://www.winecellared.com" %></p></td>
          </tr>


        <tr>
            <td><h3><a class="anchor" id="top" name="pets"></a>Pets and Pet Food</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Village Pets</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 1791</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>55 Limpsfield Rd, Sanderstead, CR2 9LB</p></td>
        </tr>


        <tr>
            <td><h2><a class="anchor" id="top" name="school"></a>Schools</h2></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>Warlingham Park School</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 626844</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>info@warlinghamparkschool.com</p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>Chelsham Common, Warlingham, CR6 9PB</p></td>
          </tr>


        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.warlinghamparkschool.com", "http://www.warlinghamparkschool.com" %>
        </tr>

         <tr>
            <td><h4>Croydon High School</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>(Senior School) 020 8260 7543 (Junior School) 020 8260 7508</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-education" aria-hidden="true">&nbsp;</span><%= link_to "Find out more", "/resource/croydon_high2016.pdf" %></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.croydonhigh.gdst.net", "http://www.croydonhigh.gdst.net" %>
        </tr>      

        <tr>
            <td><h2>Services</h2></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="care"></a>Care</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4><%= link_to "Abbeyfield Sanderstead", "resource/abbeyfield2019.pdf" %></h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8688 4825 or 020 8657 6668</p></td>
        </tr>

        <tr>
            <td>Supported living for the Active Elderly</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>afldsan@tiscali.co.uk</p></td>
        </tr>

         <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>2 Beechwood Rd, South Croydon, CR2 0AA</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.surc.org.uk/abbeyfield", "http://www.surc.org.uk/abbeyfield" %>
        </tr>

         <tr>
            <td><h4> Bluebird Care</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8686 9496</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>croydon@bluebirdcare.co.uk</p></td>
        </tr>

         <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>181 Brighton Rd, South Croydon, CR2 6EG</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.bluebirdcare.co.uk/croydon", "http://www.bluebirdcare.co.uk/croydon" %>
        </tr>

         <tr>
            <td><h4> Churchgate Services</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 7399 2291</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>philipc@curtinco.com</p></td>
        </tr>

         <tr class=adstable>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>RTEL-AYJX-KXUA, Exhibition Feedback Curtin &amp; Co, 299 Oxford Street, London, W1C 2DZ</p></td>
        </tr>


        <tr>
            <td><h4>Right at Home</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>0208 656 6921</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>croydon@rightathomeuk.com</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>347 Lower Addiscombe Road Addiscombe Croydon CR0 6RG</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.rightathomeuk.co.uk/croydon/", "http://www.rightathomeuk.co.uk/croydon/" %></p></td>
        </tr>

        <tr>
            <td><h4>Rokewood Court<h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 3051 7902</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>rokewood.haa@cinnamoncc.com</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>20 Roke Road, Kenley, Croydon, CR8 5DY</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.cinnamoncc.com/rokewoodcourt", "http://www.www.cinnamoncc.com/rokewoodcourt" %></p></td>
        </tr>

         <tr>
            <td><h4>Home Instead</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8404 4444</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>croydon@homeinstead.co.uk</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>67 Windmill Road, Croydon, CR0 2XR</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.homeinstead.co.uk/croydondulwich/", "http://www.homeinstead.co.uk/croydondulwich/" %></p></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="meals"></a>Catering</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
          <td><h4><%= link_to "Buffets by Design", "resource/buffetsbydesign.pdf" %></h4></td>
          <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 2338</p></td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td><p><span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07745 022 732</p></td>
        </tr>

        <tr><td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.buffetsbydesign.co.uk", "http://www.buffetsbydesign.co.uk" %></p></td>
        </tr>

        <tr class="adstable">
          <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>enquiries@buffetsbydesign.co.uk</p></td>
        </tr>

    
        <tr>
        <td><h3><a class="anchor" id="top" name="cleaners"></a>Cleaners</h3></td>
        <td>&nbsp;</td>

        <tr>
            <td><h4>Molly Maid</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8407 3262</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>priti-patel@mollymaid.co.uk</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.mollymaid.co.uk/croydon", "http://www.mollymaid.co.uk/croydon" %>
        </tr>

        <tr>
            <td><h3>Computer Repairs and Support</h3></td>
            <td>&nbsp;</td>
        </tr>


         <tr>
            <td><h4>CC Computing</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 3095 7750 ext 1&nbsp;<span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07801 536610</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>chris@ccworld.co.uk</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.ccworld.co.uk", "http://www.ccworld.co.uk" %>
        </tr>
       
        <tr class="adstable">
            <td><h4>Cyber 8</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8688 1893&nbsp;<span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07762 525 738</p></td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="estate"></a>Estate Agents and House Builders</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>Pollard Machin</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 4466</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.pollardmachin.co.uk", "http://www.pollardmachin.co.uk" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="funeral"></a>Funeral Directors</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>Pink's</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 9922</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>344 Limpsfield Road, Hamsey Green, CR2 9BX</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.adpinkfunerals.co.uk", "http://www.adpinkfunerals.co.uk" %>
        </tr>
        
         <tr>
            <td><h4>J B Shakespeare</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 3616</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>175 Selsdon Park Road, South Croydon, CR2 8JJ</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.jbshakespearefunerals.co.uk", "http://www.jbshakespearefunerals.co.uk" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="garden"></a>Gardening and Patios</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>Greenthumb</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01689 849830 / freephone 0800 0111 222</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.greenthumb.co.uk", "http://www.greenthumb.co.uk" %>
        </tr>

        <tr>
            <td><h4>Absolute Gardens</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8660 6361/020 8407 0491</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07961 837 867</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>info@absolutegardens.co.uk</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.absolutegardens.co.uk", "http://www.absolutegardens.co.uk" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="move"></a>Removals and Storage</h3></td>
            <td>&nbsp;</td>
        </tr>

         <tr>
            <td><h4>Britannia Sandersteads</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8669 6688</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>info@sandersteads.com</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.sandersteads.com", "http://www.sandersteads.com" %>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="retire"></a>Retirement Homes</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>McCarthy and Stone</h4></td>
            <td>&nbsp;</td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.mccarthyandstone.co.uk", "http://www.mccarthyandstone.co.uk" %>
        </tr>


        <tr>
            <td><h3><a class="anchor" id="top" name="law"></a>Solicitors</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>G M Watts</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 0391</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>2a Ridge Langley, Sanderstead, CR2 0AR</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.gmwatts.com", "http://www.gmwatts.com" %>
        </tr>

        <tr>
            <td><h4>Sandom Robinson</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 7020 </p></td>
        </tr>
        <tr><td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>Triumph House, Station Approach, Sanderstead Road, South Croydon, CR2 0PL</p></td>
        </tr>
        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.sandomrobinson.co.uk", "http://www.sandomrobinson.co.uk" %></p></td>
            
        </tr>


        <tr>
            <td><h3><a class="anchor" id="top" name="vets"></a>Vets</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Elmfield Vets</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8066 35001</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>elmfieldvets@gmail.com</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>43 Elmfield Way, South Croydon, CR2 0EJ</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.elmfieldvets.co.uk", "http://www.elmfieldvets.co.uk" %>
        </tr>

        <tr>
            <td><h2>Sport</h2></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h3><a class="anchor" id="top" name="tennis"></a>Tennis</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4>Sanderstead Village Lawn Tennis Club</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 2072</p></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>26a Sanderstead Court Avenue, CR2 9AG</p></td>
        </tr>

        <tr class="adstable">
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.svltc.co.uk", "http://www.svltc.co.uk" %>
            </p></td>
        </tr>


        
      </tbody>
      </table>
      <p><%= link_to "Back to top", anchor: "thetop" %></p>
      <p style= "text-align: right;">
                <%= link_to "http://www.glyphicons.com" do %>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <% end %>
            </p>

    	 </div>
         <div class="col-md-3 col-xs-12 white-column">
            <div class="ad-sidebar">
                <h3>Advertisements</h3>
                <hr/>
                <h3>Right At Home</h3>
                <p><%= link_to image_tag("right_at_home.jpg", alt: "RAH ad"), "http://www.rightathomeuk.co.uk/croydon/" %></p>                
            </div>
         </div>
	</div>
</div>
