<% provide(:title, 'Advertisers') %>
<div class="background_image">
  <%= image_tag "village1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Advertisers</h2>
</div>
<div class="container" id="main-wrapper">
	<div class="row main-content">
    	<div class="col-md-12 white-column">
      		<p style="text-align: center;">All the businesses advertised here are included in our newsletter - "Sanderstead News". We endeavour to keep this information up to date,<br/> but if you are aware of any corrections or updates please contact the webmaster, <%= mail_to "webmaster@sanderstead-residents.co.uk" %>.</p>
    	</div>
    	 <div class="col-md-3 grey-column">
    	 	<h4>Home furnishings</h4>
    	 	<h4>Builders</h4>
    	 	<h4>Health care</h4>
    	 	<h4>Retailers</h4>
    	 	<h4>Schools</h4>
    	 	<h4>Services</h4>
    	 	<h4>Sports clubs</h4>

    	 </div>
    	 <div class="col-md-9">
        <table>
          <tbody>
          <tr>
    	 	     <td><h2>Home Furnishings</h2></td>
             <td>&nbsp;</td>
           </tr>
           <tr>
    	 	     <td><h3>Blinds, shutters and curtains</h3></td>
             <td>&nbsp;</td>
    	 	   </tr>
           <tr>
             <td><h4 class="advertisers">desres blinds</h4></td>
    	 	     <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 3569 &nbsp; <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07961 827 917</p></td>
           </tr>
           <tr>
    	 	     <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "info@desresblinds.co.uk" %></p></td>
    	 	     <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.desresblinds.co.uk", "http://www.desresblinds.co.uk" %></p></td>
          </tr>
          <tr>

            <td><h3>Carpets and Flooring</h3></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h4 class="advertisers">CK Carpets</h4></td>
            <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 6833</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span> <%= link_to "www.ckcarpets.co.uk", "http://www.ckcarpets.co.uk" %></td>
            
          </tr>
          <tr>
            <td><hr/></td>
            <td><hr/></td>
          </tr>

        <hr/>
        <tr>
            <td><h2>Building Services</h2></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h3>Builders</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr>

            <td><h4 class="advertisers">Redfearns</h4> </td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 5159</p></td>
        </tr>
        <tr>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "mail@redfearnpartnership.co.uk" %>&nbsp;</p></td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.refearnpartnership.co.uk", "http://www.redfearnpartnership.co.uk" %></p></td>
          </tr>

          <tr>
            <td><h4 class="advertisers">P A Henery</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 7321 &nbsp;<span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07973 145 530</p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4 class="advertisers">E.J. Neal Projects Co.</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>01883 627819</p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><hr/></td>
            <td><hr/></td>
        </tr>

        <tr>
            <td><h3>Decorating</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4 class="advertisers">Graham Marshall</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 6197 &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07814 514213</p></td>   
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><hr/></td>
            <td><hr/></td>
        </tr>

        <tr>
            <td><h3>Electricians</h3></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><h4 class="advertisers">Jeff Borkett</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8651 0177   &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>07951 015264</p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.electricalservicescroydon.co.uk", "http://www.electricalservicescroydon.co.uk" %></p></td>
        </tr>

        <tr>
            <td><h4 class="advertisers">D J Taylor</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 4818 / 020 8651 4260</p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><hr/></td>
            <td><hr/></td>
        </tr>

        <tr>
            <td><h3>Handyman</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4 class="advertisers">Home Remedies</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>0208656 9226  &nbsp;   <span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>  07868 740307</p></td>
        </tr>
        <tr>
            <td><p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span> <%= mail_to "home.remedies@blueyonder.co.uk" %></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><hr/></td>
            <td><hr/></td>
        </tr>

        <tr>
            <td><h3>Kitchens, Bedrooms and Bathrooms</h43></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4 class="advertisers">M Kitchens</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 8657 7307</p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.megakitchens.co.uk", "http://www.megakitchens" %></p></td>
        </tr>

        <tr>
            <td><hr/></td>
            <td><hr/></td>
        </tr>

        <tr>
            <td><h3>New Homes</h3></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h4 class="advertisers">Inspired Homes</h4></td>
            <td><p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span>020 7495 0523</p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.inspiredhomes.uk.com" %></td>
            <hr/>
        </tr>

<!--
        <h4>Plumbing and Heating</h4>
        <b>A C Heating</b>

        <h4>Roofing</h4>
        <b>C R Mackay</b>
        <b>R C Ovenell</b>

        <h4>Stone Floor Cleaning</h4>
        <b>Direct Cleaners</b>

        <hr/>

        <h3>Health</h3>
        <h4>Health and Beauty</h4>
        <b>The Beauty Lounge</b>

        <hr/>

        <h3>Retailers</h3>
        <h4>Butchers</h4>
        <b>Bashford &amp; Co</b>

        <h4>Chemists</h4>
        <b>Medipharm</b>

        <h4>DIY Supplies</h4>
        <b>Keitom</b>

        <h4>Jewellery</h4>
        <b>GIN Jewellery</b>

        <h4>Off Licence</h4>
        <b>The Wine Cellar</b>

        <h4>Pets and Pet Food</h4>
        <b>Village Pets</b>

        <hr/>

        <h3>Services</h3>
        <h4>Care</h4>
        <b>Bluebird Care</b>

        <h4>Cleaners</h4>
        <b>Molly Maid</b>

        <h4>Computer Support and Training</h4>
        <b>Keystroke Associates</b>

        <h4>Computer Repairs</h4>
        <b>CC Computing</b>

        <h4>Dry Cleaners</h4>
        <b>Elmfield Dry Cleaners</b>

        <h4>Estate Agents</h4>
        <b>Paul Meakin</b>
        <b>Pollard Machin</b>

        <h4>Funeral Directors</h4>
        <b>Pink's</b>
        <b>J B Shakespeare</b>

        <h4>Gardening and Patios</h4>
        <b>Howard Duffy</b>
        <b>Greenthumb</b>

        <h4>Removals and Storage</h4>
        <b>Britannia Sandersteads</b>

        <h4>Retirement Homes</h4>
        <b>McCarthy and Stone</b>

        <h4>Solicitors</h4>
        <b>G M Watts</b>

        <h4>Video and DVD Services</h4>
        <b>Surrey Video</b>

        <hr/>

        <h3>Schools</h3>
        <p><b>Warlingham Park School</b></p>
        <p><b>Croydon High School</b></p>
        <p><b>Warlingham Village Primary School</b></p>

        <hr/>

        <h3>Sports Clubs</h3>
        <h4>Golf Clubs</h4>
        <b>Croham Hurst Golf Club</b>

        <hr/> -->
      </tbody>
      </table>

    	 </div>
    	
	</div>
</div>