<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
      <h4><%= link_to "Encouraging news", anchor: "boundaries" %></h4>
      <h4><%= link_to "Planning Issues", anchor: "planning" %></h4>
      <h4><%= link_to "Norman Avenue", anchor: "norman" %></h4>
      <h4><%= link_to "2017 AGM", anchor: "agm" %></h4>
      <h4><%= link_to "Sanderstead News", anchor: "news" %></h4>
            
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report Autumn 2017</h2>
      <h2><a class="anchor" id="top"name="boundaries"></a>Encouraging News for the Sanderstead Ward Boundary</h2>
      <p>At the time of going to press for the Spring Edition of the News the proposed area for the Sanderstead Ward was going to suffer by having large residential areas carved off it to the Croham and Purley Wards with the consequential loss of one of our Ward Councillors. After vigorous campaigning by the Councillors, the SRA and a number of residents claiming that Sanderstead not only had a mention in the Domesday Book, but was a place with a significant history, the Commissioners  revised their  proposals. The former Croham Ward now disappears and a newly formed South Croydon Ward provides us with an improved division of Croydon’s ward boundaries.</p>
      <p>The new proposals are promising for Sanderstead, but we must await the final decision  of the Boundaries Commission to confirm what is  a very satisfactory solution for our Ward boundary.</p>
      <h2><a class="anchor" id="top"name="planning"></a>Planning Issues</h2>
      <p>I have now attended two Planning Committee meetings, one to witness the proceedings, the other to speak against the proposal to develop the railway land at the rear of  Norman Avenue by Purley Oaks Station.</p>
      <p>It is clear from the comments made by the Chairman, Councillor Paul Scott, that flats may be built to replace houses throughout Croydon. The new flat developments in Purley Downs Road, Rectory Park and in  Riddlesdown are early examples.</p>
      <p>Providing the flats are of similar size to the existing properties they are to be welcomed, providing young people an opportunity to start on the housing ladder towards a future family home. Our concern is that the Council encourage  developers to maximise the number of flats and thus dominate the adjoining properties spoiling the balance and rhythm of the road.</p>

      <h2><a class="anchor" id="top"name="norman"></a>Development on the railway land to the rear of Norman Avenue</h2>
      <p>The planning application was to build on a  narrow strip of railway land to the rear of Norman Avenue providing 37 flats in 5 blocks, 3 storeys high, with the rear of the flats  some 8 metres from the  London to Brighton Railway main line close to Purley Oaks Station.</p>
      <p>Most of the flats are for families with a probable  70 children or more  living in the new development.  There is a small play area for the under fives, for   older children they will  share a narrow access way without a pavement for riding bikes playing ball with service vehicles, people exiting the car bays and pedestrians. Not the safest of play areas.</p>
      <p>It was necessary for the developers to undertake  sound surveys to insure that the dominating noise of passing trains was reduced within the dwellings to an acceptable level for satisfactory living conditions. 
      This was achieved by the provision of triple glazing and mechanical ventilation. To leave a patio door open on a summer’s evening the train noise would prevent conversation, viewing television and sleep.</p>
      <p>My  objection to the Committee was that children’s’ health was at risk due to disturbed sleep. From the developer’s report sound measuring apparatus to assess the train noise was located behind the 10 metre
      high staircase block to platform 1 of Purley Oaks Station shielded from the train noise when it should have been located on the railway embankment at Derrick Avenue where the readings would have accurately recorded the noise of 70 mph speeding trains.</p>
      <p>In his summing up of the objections to the Committee Chairman glossed over my objection saying it would be dealt with under the Building Regulations. Not true because British Standard 2033 spec fifty advises on the need to prevent “disturbed sleep” from loud noises. The BS advises that it is also a health risk to  children if they have disturbed sleep. We know a child’s education suffers if it is tired...</p>
      <p>The Chairman called for a vote at which four Conservative members were joined by a Labour member who said that after visiting the  site  said she could not support the application, thus five were for rejecting the application. A second Labour member who at first abstained, but under prompting  by the Chairman voted against rejection, thus the voting was five for and five against rejection. The Chairman claimed his deciding vote and said that the application to build was approved.</p>
      <p>My concern remains  that  children living in such a close proximity to loud noise will have their sleep disturbed and suffer from ill health.</p>
      <p>I am also deeply concerned  for the residents in Derrick Avenue who will suffer months of building works as lorries and equipment pass through their narrow road, followed by being the access way for the service  vehicles and cars seeking access to 37 flats.</p>
      <p>I have formerly appealed about the above process to Croydon Council whose answer was that Councillor Scott’s action in challenging the lady member’s abstention was described as the acceptable “rough and tumble of party politics“. With regard to the technical issues Pete Smith, the Head of Development Management advised that “Local planning authorities in delivering  affordable housing have a duty to be proactive and “look for solutions, not problems”.</p>
      <p>The question is what if it is a bad solution with significant problems? For the Labour member of the committee who visited the site and voted to reject the scheme she knew the obvious answer.</p>
      <h2><a class="anchor" id="top"name="agm"></a>91st AGM May 2017</h2>
      <p>Over 90 members attended the 91st AGM which to our knowledge is the largest attendance in recent years recorded. The S anderstead Police Neighbourhood Team attended in force. PC Steve Wilson reported on their successes on Drug Control work and the introduction of Body Worn Video Cameras which are an aid to police when in contact with the public. There followed a lengthy question and answer session, including policing the new 20 mph blanket speeding.</p>
      <p>Chris Philp MP advised on his involvement with the poor service experienced by the public of Southern Rail and the funding of £300M he has jointly achieved for track improvements, the Purley Hospital new GP Hub, the Purley Skyscraper where after extensive lobbying the planning situation is to be adjudicated by an independent Inspector. After Chris Philp’s departure for another meeting it was agreed that we were fortunate to have Chris as our MP.</p>
      <p>Secretary Mike Leach gave his report on the recent planning issues followed by John Kempsell’s Treasurer’s report on our sound finances. Chairman Dennis King thanked Lyne Hale for organising the Sanderstead Festival. This would not be repeated in 2017 but a joint Gruffy Fayre and Festival was being considered for 2018. The Christmas Lights are to be extended in 2017 into the trees on Sanderstead Rec adjacent to Priscillas. The SRA are supporting the Dementia Action Alliance who were welcomed to the meeting. Corrie Hibberd’s SRA Website report highlighting its growth and interest was circulated at the meeting.</p>
      <p>Election of Officers; Gill Hanson who had assisted  Hamsey Green RA join the SRA stood down and was thanked for her service to both associations. Janice Simpson and John Newberry were new members, with Dennis King, Chair, Mike Leach, Secretary, John Kempsell Treasurer, Corrie Hibberd, webmaster, Jim Gibbons, committee member, elected for 2017-18.</p>
      <p>Donations were of £500 were presented to :- 
        <ul>
          <li>Sanderstead Neighbourhood Care</li>
          <li> Sanderstead Neighbourhood Watch</li>
          <li>The 2nd Hamsey Green Scout Group</li>
        </ul></p>
        <p>Waitrose presented a cheque for £280 to the SRA in connection with their customer green voucher scheme</p>
        <p>The Chairman closed the meeting thanking Waitrose for their generous donation of wine enjoyed by the members, a number of whom eventually had to be persuaded to go home.</p>

       <h2><a class="anchor" id="top"name="news"></a>Cherrill Print and the Sanderstead News</h2>
      <p>Following the sad and tragic death of Tim Wainright our  designer, editor Yvette Hopley and I had to review how future magazines were going to be produced. The answer was closer to home than we had realised with Cherrill Print located in the Brighton Road. Following very helpful discussions with Louisa Cherrill, they will provide a full service of designing and printing the magazine. Yvette, who has her many duties as a Councillor whilst running her own business will have a major task in providing Cherrills with the details of our advertisers and the copy for the autumn edition. Thank you Yvette</p>
        
      <p><%= link_to "Back to top", anchor: "top" %></p>
    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
