<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
    <h4><%= link_to "Membership", members_path %></h4>
    <h4><%= link_to "About", about_path %></h4>
            
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's News Autumn 2020</h2>
     <p>SANDERSTEAD RESIDENTS’ ASSOCIATION AND SANDERSTEAD LOCAL COUNCILLORS</p>
     <p>The Sanderstead Residents Association and the local Sanderstead councillors, Yvette Hopley, Lynne Hale and Tim Pollard have been working in collaboration to deliver a number of exciting projects in the ward. The most recent of these was the delivery of the new Xmas lights in Elmfield Way. We feel that at this very difficult time when many can’t leave their homes other than for essential shopping, we have been able to bring about some cheer to the local residents and parade by installing the festive lighting. This has been jointly funded by the Sanderstead Councillors and the SRA from our community budget.</p>
     <p>We have also managed to have a new Christmas tree planted on the Gruffy. Whilst rather small it will grow and we hope it will be lit in future years. You will see that Sanderstead roundabout is also lit and the festive lights on Sanderstead parade and Hamsey Green shops, previously funded by joint collaboration, are in place.</p>
     <p>I am grateful to our local councillors for all their support in helping progress these improvements in Sanderstead.</p>
     <p>None of this would be possible without your support. Our funds are raised through our subscriptions and advertising in our magazine which goes to fund printing costs and any surplus is always put back into the community. I would urge you to join our association which only costs £5 and helps bring about improvements in our area.</p>
     <p>In the past we have helped fund all sorts of projects such as the new railings, gate, benches and signs at Hamsey Green pond, the wonderful Sanderstead Festival at the Gruffy, signs at Kings Woods, the “Hear Us Speak” competition for Young People and the flood defence system at the local scout hut to name just a few.</p>
     <p>This year we have jointly funded police bikes for our local police officers and are supporting a virtual choir which we hope will be live streamed not only into local schools but into care homes where our most vulnerable elderly residents have been isolated for so many months.  We are also supporting the yellow “One Tin Bin” scheme for the food bank. Many residents who are struggling during the Covid pandemic will be able to obtain supplies collected by this system from Purley Food Hub.</p>
     <p>Do take a look at the <%= link_to "about page", about_path %> on this website to see all the numerous projects supported.</p>
     <p>This is a difficult time for everyone with the Covid pandemic and coupled with that we all know that the Council faces significant challenges so the aims and ambitions of the Association are ever more important to support our community.</p>
     <p>Do get in touch if you want to become more involved in our work and may I take this opportunity of wishing you a safe and Happy Christmas.</p>
     <p>Heather Lindsey, Chairman Sanderstead Residents’ Association, chairman@sanderstead-residents.co.uk</p>

        <%= link_to "Back to Top", anchor: "top" %>

    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
