<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
      <h4><%= link_to "Aventiers", anchor: "aventiers" %></h4>
      <h4><%= link_to "Car Park", anchor: "carpark" %></h4>
      <h4><%= link_to "Purley Tower", anchor: "purley" %></h4>
      <h4><%= link_to "New Members", anchor: "members" %></h4>
      <h4><%= link_to "Thank You", anchor: "thanks" %></h4>
      <h4><%= link_to "AGM", anchor: "agm" %></h4>
      <h4><%= link_to "Brownies", anchor: "brownies" %></h4>
            
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report Spring 2018</h2>
      <h2><a class="anchor" id="top" name="adventiers"></a>An Avalanche of Aventiers</h2>
      <p>Aventier is a developer who is submitting  planning applications to build blocks of flats across Sanderstead. Five applications have been made in 2017 in the following roads, Arkwright Rd, Beech Avenue, Briton Hill Road,  Downsway and West Hill.</p>
      <p>Standard designs are used, some with an excavated sub basement then ground and first floors with further accommodation in the roof. I call them three to four dwellings with a flat roof.</p>
      <p>The front elevations are designed to look like a large house with a single front door for entrance to the flats. They are indicated as being similar height to adjoining properties. The flats are long in length extending into the garden with windows overlooking the adjoining gardens and terraces.</p>
      <p>I made an Objection at the Planning Committee meeting for the Downsway scheme that the 8 metre high building 1.8 metres from the neighbour’s boundary would, because it was due south of its neighbour block the sun from the flank, garden facing windows, small terrace and part of the garden from sunlight.  It would always be in the shade. Needless to say Approval was given.</p>
      <p>One of the Planning Officer’s Key Reasons for Recommendation was “the conditions of the adjoining occupiers would be protected  from undue harm”. What utter nonsense.</p>
      <p>No 11 Briton Hill is an attractive prefabricated Canadian timber framed house erected in the 1920s which because of its unique design is being considered by Historic England as a Grade 2 listed building so there is a good possibility that it will be saved.</p>
      <p>In addition to the Aventier we have two planning applications in Purley Downs Road for a total of 37 flats and a  development in West Hill already approved.</p>
      <p>Owners are being approached by Adventier and other developers offering large sums of money to buy their homes, subject to planning approval. Adventier have yet to start any building works and may look to make their profit by selling on to a builder.</p>

      <h2><a class="anchor" id="top" name="carpark"></a>Tragic Loss of Sanderstead Car Park</h2>
      <p>At the time of preparing my report Brick on Brick, the Croydon Council’s private building company have submitted a planning application to build a three storey block consisting of 14 flats with associated car parking on Sanderstead Car Park. The result  will be known before this edition of the  News has been circulated, but I anticipate it will gain Approval whatever the number and strength of the Objections.</p>
      <p>There will be a loss from the current 36 car spaces to 12 spaces for public parking which we will have to compete with the residents of the new 14 flats and  the 6 permit holders of Vantage Point, the existing block of flats to the railway end of the car park.</p>
      <p>A further two spaces will be added to the 10 bays outside the shops where shoppers are allowed 30 minutes of free shopping. However these bays will now be used by motorists who would have been parking for a longer period in the car park. This will cause a loss of day trade to the shops and evening trade to the restaurants.</p>

      <h2><a class="anchor" id="top" name="purley"></a>Purley Baptist Church and the Purley Tower</h2>
     
      <p>I was one of the four representatives of the consortium of South Croydon Resident’s Associations who attended the Public Enquiry to contest the proposed height of the 17 storey block, part of a complex of housing, the church and  community space at the very busy traffic junction at Purley Cross.</p>
      <p>A year ago when walking from Purley Station towards the derelict former Sainsbury’s site I  realised that the excessive height of the  17 storey Tower would massively  over dominate and be completely out of keeping with the Brighton Road’s 1920s 3 storey Tudor style  shopping terrace.</p>
      <p>Chris Philp our MP  had similar feelings and had persuaded Sajid Javid the Secretary of State that a Planning Enquiry was merited which was led by a Government Inspector.</p>
      <p>The enquiry  lasted  almost two weeks but an enormous amount of research, which was led by Phil Thomas of Riddlesdown RA, was required to enable us to compete against a very astute Queen’s Council who led the many witnesses of  the developer and the team of senoir  officers of Croydon Council who wished the Tower to be built as approved by the Council‘s Planning.</p>
      <p>The Inspector listened with care and made notes on the comments  of all the speakers. He will have been impressed by the large number of objectors, men and women, both black and white of Purley who spoke with clarity that they had no objection to the Baptists building their church and facilities, their objection was that the tower was too tall and would dominate their Purley Town Centre.</p>
      <p>In closing the hearing the Inspector implied that it would be  several months before the Secretary of State makes his decision.</p>

      <h2><a class="anchor" id="top" name="members"></a>Welcome to our new members</h2>
      <p>In the 2017 Autumn edition of the News I advised you of the new Sanderstead Ward boundaries. We have made a concerted effort to advise the residents in Norfolk and Arundel Avenues and Ridge Langley of the change and have invited them to join the us.  We also advised them that if they were members of the excellent Selsdon RA they should not leave.</p>
      <p>In 2017 we have increased our membership by 103 new and rejoined members including the 45  new members joining us from the new boundary area. A record year for new membership bringing our total membership to 1000.</p>

      <h2><a class="anchor" id="top" name="thanks"></a>Thank You</h2>
      <p>The Chairman would not be able to lead the Association without the strong support of the Committee, Mike Leach Secretary, John Kempsell Treasure, Corrie Hibberd Webmaster, Jim Gibbons Vice Chair, Janice Simpson and John Newbery Committee Members</p>

      <h2><a class="anchor" id="top" name="brownies"></a>The 3rd Sanderstead Brownies</h2>
      <p>The Rainbows and Brownies of the 3rd Sanderstead are going to have to close down this coming July after being a successful pack for over 90 yeaes if they are unable to find a new leader.</p>
      <p>Glenys Baker, after 18 years, has decided it is time to retire and will be leaving the 3rd this coming July. Sadly two of her longstanding helpers have also said they will be standing down.</p>
      <p>The pack are currently 26 in number. For their first 88 years they were based at St Mary's Church Hall, but like a number of other organisations had to recently find alternative premises and were fortunate to find a home with the United Reformed Church on Sanderstead Hill.</p>
      <p>The 3rd have an active programme leading up to the summer with a sleepover on HMS Belfast on the Thames and a camp in Cobham. Glenys has devoted 18 years to the 3rd and has earned the thanks of the current and so many former Brownies for her energy and enthusiasm in leading the pack forward.</p>
      <p>It is now time for others to step forward, a project for friends.</p>
        
      <p><%= link_to "Back to top", anchor: "top" %></p>
    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
