<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
      <h4><%= link_to "A Shadow over Sanderstead", anchor: "croydon_plan" %></h4>
      <h4><%= link_to "Lidl in Hamsey Green", anchor: "lidl" %></h4>
      <h4><%= link_to "Railway land behind Norman Avenue", anchor: "norman" %></h4>
      <h4><%= link_to "Street Cleaning and litter", anchor: "litter" %></h4>
      <h4><%= link_to "Chris Philp MP", anchor: "philp" %></h4>
      <h4><%= link_to "The 90th AGM", anchor: "agm" %></h4>
     
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report Spring 2016</h2>
      <h2><a class="anchor" id="top"name="croydon_plan"></a>A Shadow over Sanderstead</h4>
        <p>The Council have recently published their proposed Croydon Local Plan for 2016 to 2036 for consultation purposes but have allowed only a short period of time for  reply. The current Croydon  Local Plan was produced after cross party consultations. It would have been prudent for the Council to have repeated those consultations so that errors and misconceptions could have been corrected before consultation with the public. ( <%= link_to "My comments can be found on this link", news4_path %>)</p>

        <p>The Plan is impressive in some of its detail advising us that over the twenty year period 47,564 homes are required for Croydon, but it is only possible to plan for 31,756 homes. Having been so specific in numbers it does not detail how such numbers are to be achieved.</p>

        <p>An indication of possible building land is given when we are informed that 60% of the borough is made up of recreational space and woodland, 35% of which is residents gardens. Sanderstead is described as “Predominant residential character consists of detached housing of Rrelatively Large Plots on hillside leading to Local Centre” Note the capital letters.</p>

        <p>Elsewhere in the plan you will find comment on the use of gardens, “The Council will permit new dwellings or other development within the curtilage or garden of an existing dwelling or the redevelopment of existing dwellings”</p>

        <p>The Plan states that West Hill is to lose its status of a “Local Area Of Special Character“. Why should this be when West Hill illustrates the historic development of Sandestead by the large houses of character and design built up the hill from Sanderstead Road and then newer but also quality housing descending down the hill towards Croham Hurst. Developers will red-mark West Hill as an area of future interest. </p>

      <h2><a class="anchor" id="top"name="lidl"></a>Lidl at the Good Companions</h2>
        <p>The former Good Companions site is now referred to as “land available for retail and housing“. The Lidl proposal to build a supermarket was rejected on appeal by the Government’s Planning Inspector on the grounds of traffic safety because Lidl’s large delivery vehicles would have to cross both lanes of the narrow Limpsfield Road to gain entry and exit to the site.</p>

        <p>Following Lidl’s recently approved application to build a supermarket with flats above on the Brighton Road, South Croydon they have purchased two adjoining houses in Thithepit Shaw Lane opposite Hamsey Green Primary School. It is probable therefore that Lidl are now in discussion with the Council on submitting a retail plus housing development scheme on the Good Companions site.</p>

        <p>The Government Planning Inspector recognised that the site is not suitable for a large supermarket on safety grounds particularly with so many children attending primary and secondary schools in Tithepit Shaw Lane.</p>

        <p>There is a much greater need for housing in Croydon than yet another supermarket. It is time for the Council to negotiate with Lidl about the purchase of the site by a developer or housing association to provide much needed quality housing.</p>

        <p>The Council have complete control because Lidl has no way they can get approval for their supermarket, either from the Council or by appeal to the Government Inspector.</p>

        <h2><a class="anchor" id="top"name="norman"></a>Norman Avenue Planning Application</h2>
          <p>One last concern on planning is the application to build  37 dwellings on the narrow strip of railway land at the rear of the houses in Norman Avenue, next to Purley Oaks Station with vehicle access via a narrow Derrick Avenue and pedestrian access also via the station.</p>

        <p>This is not derelict land as claimed by the developer. It is enclosed woodland dating from the building of the railway in 1840, thus the name Purley Oaks. They propose to fell 34 trees with only 4 to remain.</p>

        <p>The housing density proposed is that of an inner city area.</p>

        <p>The only planned amenity space is 20sq metres for 1 to 5 year old children</p>

        <p>There is the potential for  a hundred children and young adults seeking to play and congregate in the area.</p>

        <p>The location is subject to severe flooding from heavy rainfall flowing from Sanderstead Hill causing flood waters to gush out from rain drains at the bottom of Purley Oaks Road. The  railway land will no longer act as a soak away when concreted over.</p>

        <p>To build so close to such deafening noise levels, British Building Standards require sound readings to safeguard residents', particularly children’s health. The sound reading equipment should be located where the noise is most penetrating.The readings were taken from the sheltered position at the rear of the station and shops. Where children’s health is at risk such deceit is unacceptable.</p>

      <h2><a class="anchor" id="top"name="litter"></a>Street Cleaning and Litter</h2>

        <p>We know from the local press and other resident’s associations  that roads in the South of Croydon have been unswept for many weeks. The Council are concentrating on trying to improve the cleanliness of the higher density  areas of the borough, but this should not be used as a reason  to neglect elsewhere. Leaves have been noticeably left to rot in gutters making their eventual removal doubly labour intensive.
        Please inform your Councillors of problems so that they can take the matter the appropriate head of department at the Council.</p>

      <h2><a class="anchor" id="top"name="philp"></a>Chris Philp MP</h2>
        <p>I would be surprised if you had not noticed we have a new MP for South Croydon. You can see him on the television, hear him on the radio, read his articles in the Croydon Advertiser, receive his emails and get his leaflets through your door.</p>

        <p>Chris is campaigning to get:-</p>
          <ul>

          <li>The Urgent Care Center replaced at the Purley War Memorial Hospital.</li>
          <li>Southern Rail to get their trains to run on time</li>
          <li>To stop the building of the 16 storey Purley Tower</li> 
          <li>To safeguard the future development of the Fairfield Halls</li> 
          <li>To save the green waste collection</li>
          <li>Introduce a Grammar School for Croydon</li> 
          <li>Amendments to the Croydon Local Plan</li>
        </ul>

        <p>The SRA Committee met Chris prior to his election when he wished to hear our views on what we wanted for Sanderstead. He offered at that time to write an article for our magazine which I had to refuse because of our strict non political policy particularly and it was prior to the election. However I am very pleased  to have Chris as our MP contribute his thoughts to us via the Sanderstead News.</p>

        <p>Should his duties not be elsewhere I will invite him to our AGM.</p>

      <h2><a class="anchor" id="top"name="hospital"></a>Purley Memorial Hospital</h2>

        <p>The consortium of seven South Croydon Residents’ Associations  with the assistance of Chris Philp are contesting with the Croydon Clinical Commissioning Group to reinstate the Urgent Care Centre at Purley Memorial Hospital. The CCG propose to upgrade the current (very) Minor Injuries Unit open from 2 to 8 pm to a GP Hub open from 8 am to 8 pm. Except for the early opening it will be little better than the MIU. A  decision is planned for  early spring and we will confirm details on this website - www.sanderstead-residents.co.uk - adding alternative A&amp;E centres located in Surrey, should you not wish to travel to Croydon University Hospital A&amp;E.</p>

      <h2><a class="anchor" id="top"name="agm"></a>The 90th Annual General Meeting. April 28th 2016</h2>
        <p>The AGM will be held in All Saints' Hall and is your meeting when you have the opportunity to question your Committee, Councillors and possibly your MP. We will report on our finances and our various activities.</p>

        <p>The police because of other commitments will not be able to attend the AGM, but we will seek to advise you on their current operations.</p> 

        <p>I look forward to hearing who you consider we should be supporting with grants and your ideas for the future direction of the Sanderstead Residents Association.</p>
  
        <p>On closing there will be a glass or two of wine to celebrate our 90th year.</p>
      
         <p style="text-align: right;">Dennis King, Hon Chairman, March 2016</p>
    <p><%= link_to "Back to top", anchor: "top" %></p>
    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
