<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
      <h4><%= link_to "Ward Boundaries", anchor: "boundaries" %></h4>
      <h4><%= link_to "Planning Issues", anchor: "planning" %></h4>
      <h4><%= link_to "Planning Success", anchor: "success" %></h4>
      <h4><%= link_to "Congratulations", anchor: "dennis" %></h4>
      <h4><%= link_to "Thank You", anchor: "thanks" %></h4>
       <h4><%= link_to "AGM 4th May", anchor: "agm" %></h4>
     
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report Spring 2017</h2>
      <h2><a class="anchor" id="top"name="boundaries"></a></h2>
      <h2>Proposed revision of the ward boundaries</h2>
      <p>It will not be news to you that I am very supportive of  Sanderstead and the news that its area for the purpose of assessing Croydon’s Ward Boundaries is going to be substantially reduced annoys me intensely.</p>
      <p>The reassessment of the ward boundaries follows on from the proposed new Parliamentary Constituency Boundaries to ensure that MP s each have a similar number of voters on their electoral roles. In  turn the Wards must reflect the number of voters on their electoral roles to elect Councillors.</p>
      <p>Currently we have three Councillors but an arbitrary  proposal  has been made to reduce the area of the Sanderstead Ward and thus the electoral role numbers to only support two Councillors. To do this a large slice of north Sanderstead is to be moved into the Croham and Purley Wards to enable them support three Councillors.</p>
      <p>The traditional  boundary of Sanderstead is the London to Brighton Railway Line, it is also the parish boundary of St Mary’s Church, the daughter church of All Saints Church. This area up to West Hill was always considered part of Sanderstead and was referred to as Lower Sanderstead.</p>
      <p>Sanderstead has rich history being first mentioned in an Anglo Saxon Will in 871 and again in the 1086 Doomsday Book . Following the dissolution of the monasteries Sanderstead had a succession of Lords of the Manor the first of whom was John Gresham, a Mayor of London, many were to follow the last being Mr. E.F. Wigsell-Arkwright who sold up in 1919.</p>
      <p>The redrawing of the political map ignores Sanderstead’s natural and parish boundaries. It down-grades Sanderstead to two councillors by moving its historic boundaries to support two other Wards.</p>
      <p>I have of course lodged our concern and await with trepidation the final decision because we are not only at risk in status but of losing one of our long standing and hardworking Councillors.</p>
      <h2><a class="anchor" id="top"name="planning"></a></h2>
      <h2>Planning Issues</h2>
      <p>Seeking to assist residents when their quality of life is threatened by inappropriate  planning applications to develop in the close proximity of their homes is the least enjoyable in my role as Chairman.</p>
      <p>I appreciate that Croydon has a very serious housing shortage and the Council are under pressure to provide social housing. Regrettably  they see South Croydon with its mature comparatively low density housing as potential for redevelopment.</p>
      <p>Examples are West Hill which having lost it’s  special character status from the Croydon Local Plan. Following which  an application to demolish No 56 West Hill and rebuild with 8 flats was submitted, then  with drawn. A second application is now anticipated  that will propose a flatted development  from the corner of Upper Selsdon Road to Sandhurst Way. Flats in West Hill with its houses of outstanding quality would be totally out of keeping, also such a development would not follow the guide lines of the new Croydon Local Plan.</p>
      <p>I attended the Planning Committee Meeting on the 26th January to hear the Approval of the application to demolish Nos 105 and 107,  Purley Downs Road. Sadly two fine houses are to be demolished and replaced with 18 flats and 18 car parking places 14 of which will exit into the service  road Hill Barn with its small estate of 20 dwellings, thus 34 cars will exit onto a dangerous bend in the road.</p>
      <p>When challenged Paul Scott the Chairman on building flats in a predominately  area of houses stated there was no ruling on where flats could not be developed. What is the point   of the Croydon Local Plan’s guide lines of  two or three storey houses if they are to be ignored?</p>
      <p>A second  application has been made to develop the  very noisy and narrow strip of  railway land at the back of Derrick and Norman Avenues with  5 blocks of three storey flats providing 22 three bedroom flats, 5 two bedroom flats and 10 one bedroom flats. Although a reduction in dwelling sizes from the first application 37 dwellings represent the housing density of an inner city development. An enclosure for an under fives playing space is the only amenity for a development with the potential for the potential of 76 children and young adults.</p>
      <p>Like all children with no play space they will ride their bikes, play ball against the timber fence to the rear of the Norman Avenue gardens and run through the Purley Oaks Station passage way.</p>
      <p>For the residents particularly of Derrick Avenue with its narrow road will be the misery of the building process as lorries service the site to be followed by being  the vehicle access to the 37 dwellings.</p>

      <h2><a class="anchor" id="top"name="success"></a>Planning Success</h2>
      <p>Two schemes have had recent planning approval. The McCarthy and Stone 30 dwelling scheme in Addington Road close to the Village  will provide very much needed down size accommodatio n for residents who wish the support and security of a warden when required.</p>
      <p>Why did the Council take such a long time to give it approval when this type of retirement housing is so desperately needed with the added advantage of freeing up  30 family homes?</p>
      <p>The second development is the approval of 8 houses at the site of 108 Purley Downs Road which was a dilapidated house next to the golf course. There were a lot of objections to the scheme which I could not support. We have to accept change and in this instance young families will have the opportunity to buy a house. In Sanderstead this is a rare opportunity.</p>
      <p>Although outside our patch I have to comment on the over dominating 17 storey tower on the island site in Purley for which planning approval has been given. It is completely out of scale with the four storey shopping area. The vehicle entry and delivery area is very restricted for manoeuvre and will cause traffic congestion on the A23 as it comes off the Purley Way. Chris Philp  MP spoke against the proposal with the backing of  over 4000 who petitioned against the proposal together with the consortium of South Croydon Residents Associations  representing  some 7000 residents.</p>
      <p>Four Councillors voted against the application with six councillors  who don’t live in or represent South Croydon voting in favour.</p>
      <p>Is this really democracy?</p>
      <h2><a class="anchor" id="top"name="dennis"></a>Congratulations Dennis Eldridge</h2>
      <p>I recently attended Dennis Eldridge’s 90th birthday gathering and in his little speech  he remarked on his time as Chair of the SRA. He had foreseen the problem of recruiting new street stewards as the old stalwarts retired. He therefore introduced the £5 subscription to be paid either by bankers order or renewing by cash. In return the Sanderstead News magazine would be posted to your door. I cannot imagine how much work was involved in organising street stewards to collect subscriptions, deliver magazines and seek to enrol new members.</p>
      <p>A minority of members do forget to who renew their membership by cash. This does give the present Chairman, Dennis K the task of sending out friendly reminder letters.</p>
      <p>So a big thank you to Dennis for his wisdom and foresight in moving the SRA  forward. Our best wishes to Dennis and to Noreen.</p>

       <h2><a class="anchor" id="top"name="thanks"></a>A Big Thank You</h2>
      <p>I could not undertake the task of Chairman without the dedicated support of the Committee members, so thank you John Kempsell, Mike Leach, Corrie Hibberd and Jim Gibbons.</p>
      <p>We have our excellent magazine produced by editor Yvette Hopley, with layout and photographs by Tim Wainwright. Dennis Eldridge liaises with the advertisers.</p>
      <p>A special mention for Guy Salt who until 2012 was Vice Chairman and joined the Committee in 1970 having first joined the SRA in 1955 Guy maintains our database, undertakes the proof reading of the magazine and is also the holder of all our historic papers to 1926 and magazines back to 1960, the first magazine being published in 1958.</p>

      <h2><a class="anchor" id="top"name="agm"></a>The 91st Annual General Meeting
        Thursday 4th May 2017</h2>
      <p>This is the most important event on our calendar and I look forward to meeting as many members as possible. You will be able to question Chis Philp our MP and all our Councillors on any matters of concern , also give thoughts on who merits future support from the SRA.</p>
      <p>You will decide who will be on your Committee for the forth coming year. Gill Hanson will be standing down who joined the Committee when Hamsey Green RA joined us 2012 and Cliff Quarterly has already resigned from the Committee.</p>
      <p>We have co-opted  Janice Simpson the Group Scout Leader of the 2nd Hamsey Green  Scouts and John Newbury to the Committee who will be standing for election to the Committee at the AGM.</p>
      <p>On completion of the official proceedings there will be time for a glass or two of wine to assist in convivial conversation.</p>
  

        








        
    <p><%= link_to "Back to top", anchor: "top" %></p>
    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
