<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
      <h4><%= link_to "Elections", anchor: "Elections" %></h4>
      <h4><%= link_to "Armistice", anchor: "armistice" %></h4>
      <h4><%= link_to "Planning", anchor: "planning" %></h4>
      <h4><%= link_to "Brick by Brick", anchor: "brick" %></h4>
      <h4><%= link_to "2018 AGM", anchor: "agm" %></h4>
      <h4><%= link_to "Joy Gadsby", anchor: "joy" %></h4>
    
            
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report Autumn 2018</h2>
      <h2><a class="anchor" id="top" name="Elections"></a>Local Elections</h2>
      <p>Firstly, congratulations to our three councillors Yvette Hopley, Lynne Hale and Tim Pollard who have been returned to us by the electorate to represent the ward of Sanderstead. I am assured that they will continue to do their best for the residents of the ward and support the Association as they have done in previous years. Congratulations to Helen Redfern and Simon Hoar who were elected to represent the new ward of Riddlesdown and Purley Oaks, formerly part of Sanderstead. We wish our old Croham Councillors Maria Gatland, Michael Neal and Jason Perry all the best in their new ward of Croydon South.</p>

      <h2><a class="anchor" id="top" name="armistice"></a>100 Years of Remembrance</h2>
      <p>The Royal British Legion are commemorating the 100 years since the signing of the First World War 1918 Armistice by fixing poppies on the 8th August to lampposts for the 100 days prior to the 11th November 2018. The RBL has requested that Residents’ Associations support the commemoration by raising funds to purchase the poppies at the cost of £3 per poppy. You will already have seen the poppies on display prior to receiving this copy of the Sanderstead News.</p>
      <p>We were delighted to support the commemoration fixing the poppies in the key shopping areas at Sanderstead Village, Hamsey Green, Elmfield Way and the Sanderstead Station Approach. The cost of the poppies was a modest £300. Perhaps not surprisingly we have already received over £100 from individuals who wish to contribute to the RBL Should you also wish to make a donation please forward it to John Kempsell our Treasurer, address on the contacts page.</p>
      <p>Sanderstead Village of 1918 was very different from the one we know today. It was surrounded by seven farms owned by the “Squire” with family connections going back to Tudor times. Life in the northern part of the parish was, however, rapidly changing with the coming of the railway and Sanderstead station. From 1905 onwards, quality housing was being built from Mayfield Road up to West Hill and along Sanderstead Road. The sixty-seven names on the War memorial nearly all lived in Lower Sanderstead. We are aware that it does not record all the Sanderstead residents who died in the Great War. You would expect the memorial to reflect the names of local regiments, not so for Sanderstead, where 33 regiments are recorded from Cornwall to Durham, the Grenadier and Scottish Guards, the Black Watch, the Gurkhas, the Royal Artillery and Royal Engineers, plus Canadian and Australian Regiments. Seven men served in the Royal Navy, three being killed at Jutland. Three in the Royal Flying Corps and five served in the newly formed RAF. There are too many stories to repeat in my report, but further information can be found in Brian Roote’s well documented Bourne Society book “Sanderstead Servicemen and Civilians who died in Two World Wars”.</p>

      
      <h2><a class="anchor" id="top" name="planning"></a>Planning</h2>

      <p>Following on from my Spring Report, developers continue to tempt home owners to sell their property with offers substantially above market value so that their house may be demolished and replaced with a block of flats. At the request of one of our members, I have reworded the advice given to the members of Riddlesdown Residents’ Association with regard to being aware of the possible dangers of entering into a contract to sell your property. We will consider having this advisory note as a permanent item in the Sanderstead News. Do also look at Cllr Lynne Hale’s article.</p>
      <p>With the threat of planning approvals for a property in their road to be redeveloped with flats, neighbours with restrictive covenants on their house deeds specifically stating that flats cannot be built on the site, may seek to take legal action against the developer to stop them proceeding with the redevelopment. A restrictive covenant will not stop the planning authority from awarding planning approval, but with the aid of a civil court action and probably expensive legal costs a developer may be restricted from developing a site with any other type of dwelling other than a single house which he has just demolished. There are a variety of restrictive covenants on property around the Sanderstead area, with the Whitgift Foundation restrictive covenants being the most well-known. We hope that a property in The Ridge Way will be protected from a redevelopment of three storey flats by the Foundation.</p><p>There is a similar covenant on properties in Whitgift Avenue where two owners intend to take legal action to prevent developers building flats. Please advise me if you are similarly affected. The more knowledge we can obtain will help other residents seeking to protect their neighbourhood.</p>
      <p>It has to be appreciated that Croydon Council is under pressure from both the London Mayor and the Government to produce substantial numbers of new homes. The Draft London Plan has set Croydon a ten-year target of 29,490, thus on average 2,949 per year. Ironically Bromley Council, which on the map appears to be a similar area to Croydon, is set a target of only 1424 homes. I welcome an explanation.</p>


      <h2><a class="anchor" id="top" name="brick"></a>Brick by Brick</h2>

      <p>Brick by Brick is a private company formed and funded by Croydon Council. Its apparent function is to assess and, if appropriate, redevelop plots of Croydon owned land with housing. It has a list of over forty sites that it intends to develop. These generally are grassed or parking areas already used and enjoyed by local communities. Up to five storey blocks of flats will overshadow existing housing and put car parking space at a premium. Our Council is very anti car ownership and objections by existing rate paying residents are being ignored.</p>
      <p>Brick by Brick as they proudly proclaim on the hoardings around the building site of the Fairfield Halls are responsible for the refurbishment of our “Centre of Culture”. Last September I was invited, with other interested people, to see the Halls after the stripping out of loose fixtures, fixings and asbestos of the building prior to the commencement of building works.</p>
      <p>A presentation was given on the work to be undertaken by Brick by Brick and the appointed contractor, Vinci Construction, both of whom confidently said the work would be completed by August 2018. At the presentation I did question the short contract period and was told there maybe a short over run but the opening was planned for 2018. Don’t hold your breath!</p>
      <p>In my Spring report I expressed my concern for the loss of Sanderstead Road Car Park, which was one of Brick by Bricks sites listed for redevelopment. The local election has delayed it going to Planning Committee so there has been a delay in the decision process.</p>

      
      <h2><a class="anchor" id="top" name="agm"></a>2018 AGM</h2>

      <p>This was a successful meeting with an attendance of over 80 members. </p>
      <p>
        <ul>
          <li>PC Dan Revell and PCSO Sam Brooks gave their report on policing in Sanderstead where crime is generally low but vigilance is required.</li>
          <li>Chris Philp MP gave a review on the current political and economic situations. There followed a long question and answer session on many local matters which was fully appreciated by the meeting.</li>
          <li>Secretary’s Report: Mike Leach highlighted the excessive and inappropriate number of planning approvals that will affect Sanderstead, also the programme of activities undertaken by the SRA and the support given by our Councillors in the past year.</li>
          <li>Treasurer’s Report: in the absence of John Kempsell, I gave his report which highlighted SRAs continued growth in members and funds.</li>
          <li>Chairman’s Report included the success of “Hear Me Speak”, a competition for Year 6 primary school children, and the presentation of cheques to Neighbourhood Watch, Sanderstead Neighbourhood Care, South East Cancer Help Centre and 2nd Hamsey Green Scouts to the value of £2030.</li>
          <li>Election of Officers and Committee: all were re-elected with the addition of Malcolm Saunders.</li>
          <li>At the end of the meeting, members enjoyed drinks provided by Waitrose and general conversation.</li>
        </ul>
      </p>

      

      <h2><a class="anchor" id="top" name="joy"></a>Joy Gadsby RIP</h2>
      
        <p>3rd January 1928 - 14th March 2018</p>
        <p>At a packed All Saints’ Church on the 4th April we paid tribute and said goodbye to our friend Joy Gadsby. Joy lived almosr all her 90 years in Sanderstead, edited and wrote its Village History and also wrote “If Stones Could Talk” on the people buried in the All Saints’ Church cemetery.</p>
        <p>From Autumn 1992 to Spring 2018, Joy was a regular contributor to every edition of Sanderstead News. Joy’s first historical article was “Before the Norman Conquest” which was to whet the appetite of readers for more local history for the next 26 years. Joy’s last article was on our oldest woodland, King’s Wood. Both articles were extremely well written, concise but full of interest. Joy had accumulated and written a great amount over the years and she was in the process of writing a history of All Saints’ Church.</p>

        <%= link_to "Back to Top", anchor: "top" %>

    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
