<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
      <h4><%= link_to "Sanderstead blessings", anchor: "blessings" %></h4>
      <h4><%= link_to "AGM 28 April 2016", anchor: "agm" %></h4>
      <h4><%= link_to "Grants", anchor: "grants" %></h4>
      <h4><%= link_to "Poem for the Queen", anchor: "poem" %></h4>
      <h4><%= link_to "Croydon local plan", anchor: "plan" %></h4>
      <h4><%= link_to "Planning Issues", anchor: "planning" %></h4>
      <h4><%= link_to "Sanderstead Festival", anchor: "festival" %></h4>
      <h4><%= link_to "Hamsey Green Pond", anchor: "pond" %></h4>
      <h4><%= link_to "Flood Protection", anchor: "flood" %></h4>
      <h4><%= link_to "Christmas Lights", anchor: "lights" %></h4>
     
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report Autumn 2016</h2>
      <h2><a class="anchor" id="top"name="blessings"></a>Sanderstead Blessings</h4>
        <p>It is time to count our blessings. Although under pressure to provide more homes, Sanderstead has much to offer over other areas of South Croydon. Prior to the building of Sanderstead Station in 1884 Sanderstead was generally farmland with tenanted farms and a Lord of the Manor. With the opening of the station, development commenced with the specific intention of what was then considered building middle class homes. Detached houses with generous gardens now cover large areas of Sanderstead.</p>

        <p>The satellite map of Sanderstead shows a predominance of green grass and trees. We know from the Croydon Local Plan that 60% of Croydon is made up of open space, 35% of which are residents’ gardens. For Sanderstead it could be 80% open space and 45% gardens. Our open space includes Kings Wood, Sanderstead Recreation Ground, Purley Beeches, The Plantation, the Gruffy, Wettern Tree Gardens and many smaller grassed and tree areas. On our boundaries we also benefit from Croham Hurst, Riddlesdown and three golf courses.</p>

        <p>Ours is a healthy environment, especially those living in the Village through to Hamsey Green being 567 feet above sea level. During the days of the heavy smogs once you started to climb Sanderstead Hill the air would clear and you would emerge into sunlight.</p>

        <p>Not to be forgotten is our rail service. Since 1884 trains have taken Sanderstead commuters to their workplace. For the first seventy years it was steam followed by diesel  and now electric trains deliver them at Victoria or London Bridge in 30 or 35 minutes, Southern Rail permitting. For those living in walking distance of our two stations, commuting to work was often quicker than for those who lived closer to the City.</p>

        <p>Sanderstead in the main is a safe place to live with little crime in comparison to other parts of Croydon. Only seven burglaries and three motor vehicle thefts have been recorded by our police Safer Neighbourhood Team in the last three months.</p> 

        <p>We do have some issues where young people congregate in the late evening in Wettern Tree Gardens, Sanderstead Recreation Ground, Purley Beeches and Kings Wood. The Safer Neighbourhood Team patrol these areas and have made it a priority work to reduce all anti-social behaviour.  The car park to All Saints’ Church Halls was a late night hot spot for youths playing loud music from car radios whilst in the car park.   The car park is now closed by a chain link fence at the end of the evening.  This has prevented disruption to residents late into the evening.</p>

        <p>We do have issues with commuter traffic inconsiderate car parking, litter, unswept roads and problems getting the contractor to maintain the verges. The footpaths leading to Sanderstead station should be swept of wet slippery leaves and we want to ensure the council holds the contractor to account. Our councillors quite often have to intervene! We are, however, very fortunate to live in a very pleasant environment. Let us endeavor to retain it!</p>

        <h4><a class="anchor" id="top"name="agm"></a>AGM 28th April, 2016</h4>
        <p>Having commenced life as the Sanderstead Ratepayer’s Association in 1926 members were welcomed to the SRA’s 90th Annual General Meeting. In attendance was Chris Philp MP and Cllr Steve O’Connell GLAM for Croydon and Sutton.</p>

        <p>Reports were presented by Mike Leach our Secretary on matters regarding planning, Sanderstead Library and the new SRA notice boards.</p>

        <p>John Kempsell our Treasurer presented the Accounts commenting that our finances were stable with advertising revenue covering the cost of producing the two annual editions of The News magazine. The membership numbers continued to increase and we held a surplus of circa £44k at the end of the financial year. The Treasurer expressed thanks to our Auditor Indrani Balanchandran.</p>

        <p>Chris Philp MP gave a report on his first year as an MP including his main campaigns regarding the abysmal Southern Rail service, the need to restore the Urgent Care Centre at Purley Hospital and his objections to the completely out of scale proposal to build a 17 storey building in the centre of Purley. This was followed by Cllr Steve O’Connell GLAM, who advised on the forthcoming elections for the Greater London Assembly.</p>
         <h4><a class="anchor" id="top"name="grants"></a>Grants</h4>
         <p>A number of grants were made to:
          <ul>
            <li>Neighbourhood Watch:  £500</li>
            <li>Sanderstead Neighbourhood Care: £500</li>
            <li>2nd Hamsey Green Scout Group: £100</li>
          </ul>
        </p>
        <h4><a class="anchor" id="top" name="poem"></a>Poem for the Queen</h4>
        <p>Although a national competition run by the Rotarians for school children to salute the Queen’s 90th Birthday the SRA ran their own competition with the local junior schools.</p>

        <p>Joy Gadsby organized the judging of the competition with two former teachers and announced that the winner was Glenda Dodoo.</p>

        <p>Eleven year old Glenda attended the meeting with her parents and younger brother. She read her poem which was enthusiastically applauded by the members and was congratulated by Chris Philp MP who presented her prize.</p>

        <p><em><%= link_to "The full minutes of the AGM are available here", "resource/agm16mins.pdf" %></em></p>

        <h4><a class="anchor" id="top" name="plan"></a>The Croydon local plan</h4>
        <p>Councillor Tim Pollard’s review of the Croydon Local Plan elsewhere in the News brings us some good news. The gypsy and traveller sites proposed for Conduit Lane, Coombe Farm and Pear Tree Farm are now removed, but at the cost of a closer to home traveller site now proposed at the Purley Oaks Depot (off Purley Downs Road).</p>

        <p>A number of serious threats remain. Why would the Green Belt status be removed from Croham Hurst Woods, Sanderstead Plantation and Purley Downs. Similarly, West Hill losing its Local Area of Special Character was quickly followed by a planning application to build flats on the end of West Hill opposite Croham Hurst. The application was removed after a substantial number of objections were lodged with the Croydon Planning Department but a second application would not be a surprise to us.</p>

        <p>Cllr Tim Pollard advises us that we have one last chance to change these onerous proposals. Individual objections are the most effective and the consultation process is from the 5th September for a six week period. Do read Cllr Tim Pollard’s article in the Sanderstead News magazine which explains how to comment on the proposals.</p> 

        <h4><a class="anchor" id="top" name="hospital"></a>Purley Memorial Hospital</h4>
        <p>The Croydon Clinical Commissioning Group have announced that a new GP Hub is to be opened in April 2017 at the Purley Hospital.   The successful bidder for the provision of the three Croydon GP Hubs is the Croydon Urgent Care Alliance which is a partnership of the Croydon Health Services Trust, Croydon GP Collaborative and AT Medics.</p>

        <p>The GP Hubs will be located at Purley, New Addington and a location in Central Croydon.  All three hubs will be open from 8am to 8pm for 365 days a year.</p> 

        <p>Further emergency health support will include a roving GP service for home visits, an out of hours GP service and greater use of the NHS 111 telephone service.</p> 

        <p>This follows two years of vigorous consultations attended by the eight South Croydon Residents’ Associations, following the closure of the excellent Purley Urgent Care Centre which was replaced by the inadequate Minor Injuries Unit which was open from 2pm to 8pm.</p>

        <p>The South Croydon Residents’ Associations are now working closely with the Croydon Urgent Care Alliance to finalise the details of the service prior to its publication. We are very fortunate to have a team of dedicated members of the RAs who with the enthusiastic help of Chris Philp MP have brought a working partnership with the health authority to fruition.</p>  

        <h4><a class="anchor" id="top" name="planning"></a>Planning Issues</h4>
        <p><b>Lidl at the Good Companions Site, Hamsey Green</b></p>

        <p>Lidl’s Appeal against Croydon Council’s decision to refuse their application to build a supermarket on the former Good Companion’s site was subsequently dismissed by the Planning Inspector. A second application to build a supermarket which included the purchase of two houses in Tithe Pit Shaw Lane to allow a proposal for vehicle access exiting the store opposite Hamsey Green Junior school has also been refused. Well done Croydon Planners and those who campaigned against the unsuitable application.</p>

        <p><b>Railway Land behind Norman Avenue</b></p>

        <p>It has been close to a year since an application for this badly conceived development was submitted for planning approval. For the residents in Norman and Derrick Avenues I have every sympathy for their stressful circumstances in having to wait for a decision in what could be most detrimental to their local environment.</p> 

        <p><b>McCarthy &amp; Stone Application , Addington Road</b></p>

        <p>The plan to build 32 dwellings with communal facilities on the site of four houses on the Addington Road was refused by Croydon Council on planning grounds.</p>  

        <p>McCarthy and Stone appealed against the Council’s refusal to approve their proposal to build 32 retirement apartments for older persons, with communal facilities. The Inspector dismissed the Appeal, but indicated the reason for the dismissal was a technical matter.</p>

        <p>McCarthy and Stone have announced that a new submission is to be submitted to the Council for consideration and have invited intending purchasers to register their interest should the application be approved.</p>

        <p><em>The Sanderstead Residents’ Association match funded a number of projects and plans undertaken in conjunction with the councillor’s community budgets:</em></p>

        <h4><a class="anchor" id="top" name="festival"></a>The Sanderstead Festival</h4>
        <p>Councillor Lynne Hale’s report on the Festival gives you the detail and compliments to all those who made it a success. We were delighted to work alongside All Saints’ Church, the local councillors and the community on this exciting project.  It was wonderful to see so many people flowing to and from the Church, Church Halls, The Gruffy and the Cricket Ground. A sign of its success are people, performers and stall holders asking us whether we will do this again!</p>

        <p>The evening performance of the Nigel Garrard Big Band was a rare opportunity to hear live swing music reviving memories of Glen Miller, Ted Heath, Woody Herman and other great bands.  The evening was sponsored by the SRA and the proceeds will go to our local charities, local good causes and youth groups.</p>

        <p>This was an outstanding community venture which required leadership, co-operation of many and enthusiasm. Thank you to Cllr Lynne Hale and all those involved.</p>

        <h4><a class="anchor" id="top" name="pond"></a>Hamsey Green Pond</h4>
        <p>We were also pleased to support the work at Hamsey Green pond.  A new sign has been installed and two new benches for all to enjoy.  Do read Cllr Yvette Hopley’s report on progress to-date and further plans to improve the area and biodiversity.</p>

        <h4><a class="anchor" id="top" name="flood"></a>Flood Protection</h4>
        <p>We jointly funded a new “flood gate” to help alleviate problems with flooding of the scout hut.  The Council are looking at further prevention and a CCTV investigation has been undertaken to assess the problems with the drainage system and how water can be diverted more efficiently into the soakaway into the grounds rather than the hut!</p>

        <h4><a class="anchor" id="top" name="lights"></a>Christmas Lights</h4>
        <p>A further joint project to install Christmas lights on the new lamp columns is underway.  Estimates are being obtained and we hope to have a festive feel to Sanderstead this coming Christmas so watch this space!</p>

        <p>It has been a busy and eventful year for the Residents’ Association and we are very much looking forward to supporting the community next year and are sure that we will be able to update you with further exciting projects in 2017.</p>

        <p>Do keep up-to-date with all our reports on this Sanderstead Residents’ Association website, kindly run by Corrie Hibberd.</p>









        
    <p><%= link_to "Back to top", anchor: "top" %></p>
    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
