<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "riddlesdown_summer1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
      <h4><%= link_to "AGM in May", anchor: "AGM" %></h4>
      <h4><%= link_to "Police Liaison", anchor: "police" %></h4>
      <h4><%= link_to "Presentations", anchor: "presentation" %></h4>
      <h4><%= link_to "2nd Hamsey Green Scouts", anchor: "scouts" %></h4>
      <h4><%= link_to "The Friends", anchor: "friends" %></h4>
      <h4><%= link_to "Hear Me Speak", anchor: "hear" %></h4>
      <h4><%= link_to "New Website", anchor: "website" %></h4>
      <h4><%= link_to "Absent Friends", anchor: "absent" %></h4>
      <h4><%= link_to "Planning Concerns", anchor: "planning" %></h4>
      <h4><%= link_to "Buses and Banks", anchor: "buses" %></h4>
      <h4><%= link_to "Croydon Stones", anchor: "stones" %></h4>
      <h4><%= link_to "Summer Fetes", anchor: "fetes" %></h4>
    </div>
    <div class="col-md-9 white-column">
      <a name="top"></a>
      <h2>Chairman's Report Autumn 2015</h2>
      <h2><a name="AGM"></a>The 89th Annual General Meeting</h2>

        <p>On the evening of the AGM I received an email timed at 22.26 from Shirley and Victor which said: “Having been  residents in Sanderstead for 40 years, we have only just joined the SRA. This evening was our first AGM and may we congratulate you and the committee on an informative, light hearted and agreeable meeting. Having heard about the new website, we have now logged on. It is great and is needed to move with the times”</p>

        <p>Feed back is always welcome, particularly when it is complementary, but  you will note the nudge at the end about the need to move with the times. So thank you Shirley and Victor we take note of what you say.
        </p>

      <h2><a name="police"></a>Police Liaison</h2>

      <p>We changed the format of this year’s AGM by inviting the police Safer Neighbourhood Team to hold  their own public liaison meeting prior to our AGM. The audience for the meeting substantially exceeded their previous meetings which were held at Riddlesdown College, a poor   location for Sanderstead residents.</p>

      <p>The police team  led by Inspector Fitzgerald was Sergeant Shannon.
      PC Danny Tolladay and PCSO Sam Brooks. The discussion was informative and wide ranging. Danny Tolladay and Sam Brooks can be seen patrolling our area and know where the antisocial problems occur and take the appropriate action.  Should you wish to talk to the local team their contact number is 0208 721 2470.</p>

      <h2><a name="presentation"></a>Presentations</h2>

      <p>For the second year running it was a full house for the AGM. The attendance is now enhanced by the various presentations we make to the youth and other Sanderstead organisations. Vouchers for writing articles for the magazine were given to Izzy Jordan of the 8th Sanderstead Brownies on “The Brownies 100th Birthday Outing” and Marcia  and Phoebe of the 8th Purley for  “Girls enjoying scouting” </p>

      <p>Mark Lord of the 16th Purley Scouts received a cheque towards the funds he has to raise as well as his own for the costs of a scout from a poor country to attend the 2015 World Jamboree in Japan. His article was “The selection process for attending the World Jamboree”. </p>

      <h2><a name="scouts"></a>2nd Hamsey Green Scouts</h2>

      <p>The Scout and Guide organisations are very strong where they are linked to the Sanderstead Churches, but the 2nd Hamsey Green Scout Group, a strong organisation in the past, has been struggling for members and adult leaders. Their scout hut located on the edge of Kingswood accessed from the Cherry Orchard Estate   has suffered from attempted break-ins and vandalism. The windows are  bricked up to stop forced entry and has no natural light. Improvements and  repairs are essential to bring the hut up to a satisfactory standard for the Groups activities.</p>

      <p>Janice Simpson the Group Scout Leader has worked single handedly with determination to keep the Group from closing by encouraging a small number of Beavers and Cubs with the attractions of scouting. From the donation given at the AGM  new entrance doors have been fitted improving the appearance and security of the scout hut. We are now exploring a partnership with another organisation for future funding. </p>

      <p>Janice’s report is on the Youth Page. It is excellent to read that there is now a very positive atmosphere with the addition of new adult support  and an increase in the number of cubs and beavers. Well done Janice, Baden Powell would have been proud of you.</p>

      <h2><a name="friends"></a>The "Friends"</h2>

      <p>At last year’s AGM fears were raised about the felling of trees at Purley Beeches from which The Friends of Purley Beeches was inaugurated in November of last year. The SRA assisted with their publicity and presented them with a cheque as a starting up fund. Congratulations to Chairman Stan Lowry and his committee for organising their successful and enjoyable work parties.</p>

      <p>The work undertaken by the established “Friends” in improving and maintaining  our open spaces merit SRA support. This year we have funded Kingswood for providing information literature and Wettern Tree Gardens new rose planting.</p>
  
      <p>We continue to support Sanderstead Neighbourhood Care and on the recommendation of Councillor Lynne Hale we gave a  donation to the Croydon Carers Centre who are active in Sanderstead.</p>

      <p>Members are welcome to make recommendations on who we should support in the Sanderstead area.</p>

      <h2><a name="hear"></a>Hear Me Speak</h2> 

      <p>Cliff Quarterly reported on our successful "Hear Me Speak" debating competition, a public speaking competition for Year 6 primary school children. 
      </p>  

      <h2><a name="website"></a>Sanderstead-residents.co.uk</h2>

      <p>We were given an introduction to www.sanderstead-residents.co.uk, our new website, created by Corrie Hibberd our webmaster and newly elected Committee Member. The presentation of the content was impressive and Corrie received merited applause for her website. Local organisations are encouraged to submit their programme of activities and announcements directly to Corrie at <%= mail_to"webmaster@sanderstead-residents.co.uk" %> for her consideration for inclusion on the website.</p>

      <h2><a name="absent"></a>Absent friends</h2>
      <p>There were some faces missing at this years AGM in particular Dennis and Noreen Eldridge. Noreen has had  recent health problems and was unable to attend. We understand she is now recovering and send our best wishes. Looking forward to seeing you next year Noreen.</p>

      <p>Also missing was Alan Crawley who at last year’s  AGM last year challenged the use of an article in the Sanderstead News claiming that it was political and therefore as a non political organisation governed by  our Constitution  we shouldn’t have published the item.  It was a debatable point, but Alan had forewarned  me that he was going to make the challenge and I appreciated being prepared  to defend our position.</p>

      <p>Sadly Alan died earlier this year and his  wife Helen advised that he had been responsible for the production of Hansard for 25 years. Alan  had a high level of interest and cynicism in  politics and did not take easily to retirement. He kept himself busy making a close  study of the issues  discussed at the meetings of Croydon Council followed by  asking challenging questions and on one occasion the Sandertsead News. Well done Alan, you will be missed.</p>

      <h2><a name="planning"></a>Planning Concerns</h2>
      <p>The traditional role of a Residents Association is to voice the concern of its members, the most common of which is an unpopular planning application. These can be stressful to the residents of an area particularly adjoining owners and where possible we seek to give them advice on how to make a formal objection.</p> 

      <p>It is said by some that we have a Croydon Council Planning Committee who have a progressive agenda of building high and with little consideration for  adjoining owners. A prime example is the  16 storeys high Purley Tower located on the traffic surrounded island site at Purley Cross.</p>

      <p>To try to summarise, the Baptist Church plan to  provide a large complex for worship and community use with apartments for sale above to make the scheme financially viable. In return for a planning approval the Council require affordable housing to be included. Thus more apartments for sale must be built to keep the scheme viable which also includes a £2m Community Infrastructure Levy.The result is a 16 storey skyscraper in contrast to the height of most  buildings in Purley Town centre is four storeys.</p>   

      <p>Chris Philp our new energetic MP and also Zac Goldsmith MP with ambitions to be the next London Mayor are both vigorously objecting to the residential block. We wish them success because our concern is that  should the scheme proceed it may well set a precedent for elsewhere.</p>  

      <p>On a much smaller scale but within the Sanderstead Parish there is a proposal to develop the fenced in railway land which is dense woodland and a haven for wildlife  to the rear of the  Norman Avenue houses with access via the narrow Derrick Avenue. The developers who I understand propose to build 37 dwellings in six blocks have had a pre planning application meeting with the Planners, following which they held a public consultation meeting with the residents advising them that their proposals are  likely to be approved.</p>

 
      <p>This stretch of land is indicated as woodland on the 1843 Tithe Award Map and noted as The Oaks, thus the name for Purley Oaks Station. I doubt if any of the original oak trees remain, but this woodland has probably been growing since the London  Brighton Railway was first laid in 1841 so this  very precious area of fenced in woodland and its abundant wildlife merits protection. We should all very concerned that  housing  is to be built at on this land and be prepared to object when the full planning application is submitted for approval.</p> 

      <h2><a name="buses"></a>Buses and Banks</a></h2>
        <p>It has now been confirmed by  TFL that  the new bus route  will run from Addington Village to Purley via Purley Downs Road whose many residents vigorously petitioned against its introduction. I was made aware that many other people and not just elderly people were pleased that they were going to get a bus route close to their home.</p>

        <p>We may have a difference of opinion on the new bus route, but all are very saddened to lose the services of Barclays Bank from the village shopping parade. However special arrangements have been made with the post office for the banking and withdrawal  of funds.  The demands for banking services has so rapidly diminished that our four banks, two in the Village and two at Lower Sanderstead  are now  a memory of bygone days.</p>

        <h2><a name="stones"></a>Stones of Croydon</h2>
        <p>We have received a Stone from Croydon Council to commemorate 50 years of being a Ward of the London Borough of Croydon. From the photograph I have seen I would describe it as a boulder, certainly large enough not to be stolen or easily moved. It was positioned on the Gruffy at the end of August.</p>

        <p>You may wish to ponder on the advantages and disadvantages of being part of London. A the major advantage is the Freedom Pass. Your turn??</p>

        <h2><a name="fetes"></a>Summer Fetes</h2> 
        <p>Maureen and I are fans of Chichester Festival Theatre and see many of their summer matinee productions, from which they  later appear in the West End with substantially higher ticket costs. By booking  return train   tickets  early the cost of a journey for two  can be as little as £20. Cheaper and less stressful than driving to and seeking a parking place in Chichester’s very popular car park. There is also the delight of watching the countryside with Arundel Castle in the distance as the train crosses and re-crosses the Arun River.</p>

        <p>The above is my excuse for not attending  the Sanderstead Horticultural  Society’s Summer Show and The Gruffy Fayre. We did however attend St Mary’s Summer Fete, which we may well have first attended in1962 when we  moved to Sanderstead. With the exception of the large bouncy castle and different faces most of the stalls were the same, we purchased some books, lost money on the drinks tombola stall, thought about buying the  plants on display, but were tempted on the cake stall. We meet with old friends and sat in the sunshine having tea and a scone with jam and clotted cream for £1.</p>

        <p>There were memories of faces long departed, it was very much a Groundhog Day.</p>    
         <p style="text-align: right;">Dennis King, Hon Chairman, September 2015</p>
    <p><%= link_to "Back to top", anchor: "top" %></p>
    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
