<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
      <h4><%= link_to "Last Report", anchor: "Last Report" %></h4>
      <h4><%= link_to "Local Councillors", anchor: "councillors" %></h4>
      <h4><%= link_to "Chris Philp MP", anchor: "MP" %></h4>
      <h4><%= link_to "The Committee", anchor: "committee" %></h4>
      <h4><%= link_to "Two Members", anchor: "two" %></h4>
      <h4><%= link_to "Sanderstead News", anchor: "news" %></h4>
      <h4><%= link_to "Website", anchor: "website" %></h4>
      <h4><%= link_to "Legacy", anchor: "legacy" %></h4>
      <h4><%= link_to "Thanks", anchor: "thanks" %></h4>
      <h4><%= link_to "AGM", anchor: "agm" %></h4>
    
            
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report Autumn 2019</h2>
      <h2><a class="anchor" id="top" name="Last Report"></a>Last Report</h2>
      <p> It has been a privilege to serve you for eleven years as a Committee Member, Vice Chairman and Chairman but my decision to stand down is that at the age 86 it is time to hand over to a younger person. My predecessor Dennis Eldridge at the same age must have had similar thoughts. Dennis served the Association as Committee Chairman, Hon Treasurer and member for nineteen years. In reading through Dennis’s Chairman’s reports there is no mention of planning issues. How times have changed, planning and how it is changing the character of Sanderstead is an ever growing topic of concern in my reports.</p>
      <p>Today Sanderstead is under significant pressure to provide more housing, both from our Conservative Central Government and our Labour London Mayor. I question why our neighbouring Conservative controlled Boroughs of Bromley and Sutton have housing targets far lower than Labour controlled Croydon.</p> 

      <h2><a class="anchor" id="top" name="councillors"></a>Croydon Councillors</h2>
      <p>Ever present during my Chairmanship our Councillors Tim Pollard Yvette Hopley, who was voted Mayor in 2013 and Lynne Hale, who we must congratulate for serving as our Councillor for twenty years.They have all given me their full support and advice. Their task of representing Sanderstead is a difficult one battling against the Labour controlled Croydon Council.</p>
      <p>We now welcome two new Councillors, Helen Redfern and Simon Hoar who represent the Purley Ward where we have members who live in Kendall Avenue South and the surrounding roads.</p>

      
      <h2><a class="anchor" id="top" name="MP"></a>Chris Philp MP</h2>
      <p>Prior to his election as MP for Croydon South in 2015 Chris Philp met to discuss with the Committee the views and needs of the residents of Sanderstead. He has fought vigorously on our behalf against the Council and its aim to build inappropriate three-story flats and the excessively high 18 story Purley Tower. On your behalf thank you Chris for your excellent help and support.</p>


      <h2><a class="anchor" id="top" name="committee"></a>The Committee</h2>

      <p>In 1923 a group of residents formed “The Sanderstead Rate Payers Association.” with a Committee of fifteen members. At the start of the 1939 War it suspended activities “because there were more important matters to be dealt with”. When reformed in 1946 the name was changed to “The Sanderstead Residents’ Association which was governed by a President, six Vice presidents and an Executive of fifteen members.</p>
      <p>When I was invited by Dennis Eldridge, the then Chairman, to join the Committee in 2011 it had reduced to six members which Dennis subsequently increased to eight. I have further increased the membership to eleven members which allows for a spread of responsibilities and tasks.</p>
      <p>Our longest serving member is now is Mike Leach who joined the Committee in 2006 taking on the role of Hon Secretary in 2007. Thank you Mike for your long term contribution to the Sanderstead Residents’ Association. With the recent appointment of Andrea Bell, Heather Lindsay and Andrew Kennedy I consider we now have a very strong and capable Committee.</p>
      
      <h2><a class="anchor" id="top" name="two"></a>Two Members</h2>
      <p>Two former Committee members merit the Association’s “Thank You” for their continuing contributions for the Association:</p>
      <h3>Guy Salt</h3>
      <p>Guy joined the Committee in 1970, served as a Vice Chairman and Treasurer, standing down in 2012.</p>
      <p>Guy created, with the help of Tim Pollard, the Association’s Database. This is a vital tool which lists the names and addresses of our members. This is used to instruct our printers to post to you your Sanderstead News.  On a weekly basis Guy has updated the database as we gain or lose members. Annually Guy provides me with his “Laggards List.” A list of members who have forgotten to pay their membership fee or moved house. My task is then to encourage former members to rejoin by paying their £5 fee, preferably by bankers’ order.</p>
      <h3>Dennis Eldridge</h3>
      <p>Dennis joined the Committee in 1993 and served as both Chairman and Treasurer, retiring from the Committee when I became Chairman in 2013. Dennis now assists John Kempsell our Treasurer in the important role of chasing the advertisers in the Sanderstead News who fail to pay their fee.</p>      

      <h2><a class="anchor" id="top" name="news"></a>The Sanderstead News</h2>
      
        <p>Editor, Councillor Yvette Hopley</p>
        <p>The Sanderstead News first appeared as a bi-annual News Sheet in October 1957, becoming The Sanderstead News in 1960. Those early editions informed readers of concern over the future development of Sanderstead. They were prophets of the disasters to come.</p>
        <p>Advertising first appeared in News Sheet No 4. Hooker & Rogers Estate Agents had the prime position on the back page. Makepeace & Jackson the chemists located in Sanderstead Road make the first of their ever present advertisements promising “Prompt Attention to Telephone Orders. The other long gone advertisers were all located in the Station Parade; J. Langley - television, C. Salsbury - men’s wear and D. Dougan - ladies wear.</p>
        <p>Advertising was here to stay in the Sanderstead News earning many thousands of pounds for the Association over the next sixty years.</p>
        <p>Reviewing many of the magazines they were informative but bland. All changed in the 2004 Autumn edition with its the front-page photograph of All Saints Church and Sanderstead Pond. Colour had arrived with its new editor Yvette Hopley, shortly to become Councillor Hopley and a crusader for Sanderstead.</p>
        <p>The first Street Stewards collected the two shillings and sixpence membership fee and advised members of items of interest. Communication to the members from 1953 followed with the ever improving spring and autumn Sanderstead News editions.</p>  

        <h2><a class="anchor" id="top" name="website"></a>Website</h2>
        <p>www.sanderstead-residents.co.uk</p>
        <p>We have now leapt forward with the introduction of the SRA website. It is the imaginative creation of Corrie Hibberd our Webmaster and Committee Member. I urge you to regularly review the SRA Website to check for local events and news.</p>

        <h2><a class="anchor" id="top" name="legacy"></a>Legacy</h2>
        <p>I expect that previous Chairmen when they have stood down at the end of their term of Office have considered what positives they have contributed to the Association.</p>
        <p>I formed the opinion that our duty was to support the Sanderstead Community. We have now funded over £34,000 to local organisations who provide for the young, the elderly and our open spaces.</p>
        <p>Including:</p>
        <ul>
          <li>Sanderstead Neighbourhood Care</li>
          <li>Sanderstead Neighbourhood Watch</li>
          <li>Purley and Hamsey Green Scouts</li>
          <li>Friends of Croham Hurst, King’s Wood and Wettern Tree Gardens</li>
          <li>The recently formed Friends of Sanderstead Recreation Ground</li>
          <li>South East Cancer Help Centre</li>
        </ul>
        <p>In all my research looking through past committee minutes and the Sanderstead News there was not one mention of our young people and the scouting and guiding organisations in our first eighty six years. We now give them financial support when required plus a Youth Pages section in the Sanderstead News so that they can tell us about their activities.</p>


        <h2><a class="anchor" id="top" name="thanks"></a>Thank you Committee Colleagues</h2>
        <p>for all your support over my time as Chairman. In particular John Kempsell our Hon Treasurer who manages our finances so efficiently. Thank you Jim Gibbons for organising the entertaining “Hear Me Speak Competition” for our primary schools.</p>

        <h2> <a class="anchor" id="top" name="agm"></a>AGM May 2020</h2>
        <p>We are seeking my successor. Please don’t be shy in putting your name forward. You will be supported by a strong Committee. It is many years since we had a Chairwoman so the post is open to all.</p>

        <%= link_to "Back to Top", anchor: "top" %>

    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
