<% provide(:title, 'Contact') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Contact the Sanderstead Residents' Association</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-8 col-xs-12 white-column">
      <h3>Committee Members 2015</h3>
      <h4>Executive</h4>
      <div class="list-group">
        <h4 class="list-group-item-heading" >Chairman, Mr Dennis M King. </h4>
        <p class="list-group-item-text contact-details">email: chairman@sanderstead-residents.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 2661</p>

        <h4 class="list-group-item-heading">Hon. Treasurer, Mr John Kempsell</h4>
        <p class="list-group-item-text contact-details">email: treasurer@sanderstead-residents.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 0482</p>

        <h4 class="list-group-item-heading">Hon. Secretary, Mr Mike Leach</h4>
        <p class="list-group-item-text contact-details">email: secretary@sanderstead-residents.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 8913	</p>
      </div> <!--list-group -->
      <h4>Committee</h4>
      <div class="list-group">
        <p class="list-group-item-text">Mr Jim Gibbons</p>
        <p class="list-group-item-text">Miss Gill Hanson</p>
        <p class="list-group-item-text">Mrs Corrie Hibberd</p>
        <p class="list-group-item-text contact-details">email: webmaster@sanderstead-residents.org.uk.</p>
        <p class="list-group-item-text contact-details"> Tel 020 8657 4562</p>
        <p class="list-group-item-text">Mr John Newberry</p>
        <p class="list-group-item-text contact-details">email: johnanddi.newberry@virgin.net.</p>
        <p class="list-group-item-text contact-details"> Tel 020 8657 3090</p>
        <p class="list-group-item-text">Mrs Janice Simpson</p>
      </div> <!--list-group -->
      <h4>Local Councillors</h4>
      <div class="list-group">
        <h4 class="list-group-item-heading">Sanderstead Ward</h4>
        <p class="list-group-item-text">Cllr Lynne Hale</p>
        <p class="list-group-item-text contact-details">email: lynne.hale@croydon.gov.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8405 6721</p>
        <p class="list-group-item-text">Cllr Yvette Hopley</p>
        <p class="list-group-item-text contact-details">email: yvette_hopley@hotmail.com</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 0973</p>
        <p class="list-group-item-text">Cllr Tim Pollard</p>
        <p class="list-group-item-text contact-details">email: councillor@timpollard.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8251 8500</p>
      </div><!--list-group -->
      <div class="list-group">
        <h4 class="list-group-item-heading">Croham Ward</h4>
        <p class="list-group-item-text">Cllr Jason Perry</p>
        <p class="list-group-item-text contact-details">email: jason.perry@croydon.gov.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 3253 2017</p>
        <p class="list-group-item-text">Cllr Maria Gatland</p>
        <p class="list-group-item-text contact-details">email: maria.gatland@croydon.gov.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8405 6718</p>
        <p class="list-group-item-text">Cllr Michael Neal</p>
        <p class="list-group-item-text contact-details">email: michael.neal@croydon.gov.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8688 0429</p>
      </div><!--list-group -->
      <h4>Member of Parliament</h4>
      <div class="list-group">
        <h4 class="list-group-item-heading">Mr Chris Philp MP</h4>
        <p class="list-group-item-text contact-details">telephone for constituency matters or surgery appointments: 020 8660 0491</p>
        <p class="list-group-item-text contact-details">email: chris.philp.mp@parliament.uk</p>
        <p class="list-group-item-text contact-details">Website: <%= link_to "www.chrisphilp.com", "http://www.chrisphilp.com" %></p>
        <p class="list-group-item-text contact-details">Twitter: @chrisphilp_mp</p>
      </div><!--list-group -->
      <div class="list-group">
        <h4 class="list-group-item-heading" >Consultant for "Sanderstead News" Magazine</h4>
        <h4 class="list-group-item-heading">Cllr Yvette Hopley</h4>
        <p class="list-group-item-text contact-details">email: yvette_hopley@hotmail.com</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 0973</p>
        </br>

        <h4 class="list-group-item-heading">Webmaster, Mrs Corrie Hibberd</h4>
        <p class="list-group-item-text contact-details">email: webmaster@sanderstead-residents.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 4562</p>
        </br>
        <h4 class="list-group-item-heading">Hon. Accounts Examiner, Mrs Indrani Balachandran</h4>
        <p class="list-group-item-text contact-details">tel: 020 8657 3170  </p>
      </div> <!--list-group -->
      <h4></h4>
      <p><p>


    </div> <!--col-md-8-->

    <div class="col-md-4 col-xs-12 grey-column">
      <h3>Contact Us</h3>
      <p> If you have any matters that you wish to bring to the attention of the SRA, please get in touch with the Chairman, Dennis King via email: chairman@sanderstead-residents.org.uk, or by phone, 020 8657 2661.</p>
      <h3><%= link_to "Membership", members_path %></h3>
      <p>Subscriptions are due by the end of January each year. If you wish to become a member, please download the form available on the <%= link_to "members page", members_path %> and contact the Hon. Treasurer, John Kempsell, email: treasurer@sanderstead-residents.org.uk, phone, 020 8657 0482.</p>
      <h3><%= link_to "Information", directory_path %></h3>
      <p>The SRA provides information about local facilities, and news and events in Sanderstead. If you would like to advertise an event on this website, please contact the webmaster, email: webmaster@sanderstead-residents.co.uk.</p>
      <h3><%= link_to "News", news_path %></h3>
      <p>Checkout what's happening in Sanderstead now on our <%= link_to "news", news_path %> and <%= link_to "events", events_path %> pages.</p>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
