<% provide(:title, 'Contact') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Contact the Sanderstead Residents' Association</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-8 col-xs-12 white-column">
      <h3>Committee Members</h3>
      <h3>Note re chairman 2020</h3>
      <p>The Association’s Chairman, Dennis King, intended to stand down at the AGM in May 2020 after 12 years in the position. However, because of the impact of Covid-19 the AGM has had to be postponed until later in the year. In the meantime, the committee has voted in favour of his successor taking the role of Acting Chairman, as of 1 July 2020. We hope that the position will be ratified at the re-arranged AGM in the autumn. Heather Lindsay is now our Acting Chairman and can be contacted on chairman@sanderstead-residents.co.uk. The committee members are very grateful to Dennis for his hard work during his tenure.</p>
      <h4>Executive</h4>
      <div class="list-group">
        <h4 class="list-group-item-heading" >Chairman, Mr Dennis M King. </h4>
        <h4 class="list-group-item-heading">Acting Chairman, Mrs Heather Lindsay</h4>
        <p class="list-group-item-text contact-details">email: chairman@sanderstead-residents.co.uk</p> 

        <h4 class="list-group-item-heading">Vice Chairman, Mr Jim Gibbons</h4>
        <p class="list-group-item-text contact-details">email: jgibbons8@tiscali.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 2624  </p>

        <h4 class="list-group-item-heading">Hon. Treasurer, Mr John Kempsell</h4>
        <p class="list-group-item-text contact-details">email: treasurer@sanderstead-residents.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 0482</p>

        <h4 class="list-group-item-heading">Hon. Secretary, Mr Mike Leach</h4>
        <p class="list-group-item-text contact-details">email: secretary@sanderstead-residents.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 8913	</p>

        
      </div> <!--list-group -->
      <h4>Committee</h4>
      <div class="list-group">
        <p class="list-group-item-text">Mrs Corrie Hibberd</p>
        <p class="list-group-item-text contact-details">email: webmaster@sanderstead-residents.co.uk</p>
        <p class="list-group-item-text contact-details"> Tel 020 8657 4562</p>
        <p class="list-group-item-text">Mr John Newberry</p>
        <p class="list-group-item-text contact-details">email: johnanddi.newberry@virgin.net</p>
        <p class="list-group-item-text contact-details"> Tel 020 8657 3090</p>
        <p class="list-group-item-text">Mrs Janice Simpson</p>
        <p class="list-group-item-text">Mr Malcolm Saunders</p>
        <p class="list-group-item-text contact-details">email: malcolmsaunders62@btinternet.com</p>
        <p class="list-group-item-text contact-details">Tel 020 8657 1795</p>
        <p class="list-group-item-text">Mrs Andrea Bell</p>
        <p class="list-group-item-text contact-details">email: andreabell357@gmail.com</p>
        <p class="list-group-item-text contact-details">Tel 020 8657 3609</p>
        <p class="list-group-item-text">Mrs Heather Lindsay</p>
        <p class="list-group-item-text contact-details">email: chairman@sanderstead-residents.co.uk</p>
      </div> <!--list-group -->
      <h4>Local Councillors</h4>
      <div class="list-group">
        <h4 class="list-group-item-heading">Sanderstead Ward</h4>
        <p class="list-group-item-text">Cllr Lynne Hale</p>
        <p class="list-group-item-text contact-details">email: lynne.hale@croydon.gov.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8405 6721</p>
        <p class="list-group-item-text">Cllr Yvette Hopley</p>
        <p class="list-group-item-text contact-details">email: yvette_hopley@hotmail.com</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 0973</p>
        <p class="list-group-item-text">Cllr Tim Pollard</p>
        <p class="list-group-item-text contact-details">email: councillor@timpollard.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8251 8500</p>
      </div><!--list-group -->
      <div class="list-group">
        <h4 class="list-group-item-heading">Purley Oaks and Riddlesdown Ward</h4>
        <p class="list-group-item-text">Cllr Simon Hoar</p>
        <p class="list-group-item-text contact-details">email: simonhoar@hotmail.com</p>
        <p class="list-group-item-text contact-details">tel:</p>
        <p class="list-group-item-text">Cllr Helen Redfern</p>
        <p class="list-group-item-text contact-details">email: helen.redfern@croydon.gov.uk</p>
        <p class="list-group-item-text contact-details">tel: 07783152334</p>
      </div><!--list-group -->
      <h4>Member of Parliament</h4>
      <div class="list-group">
        <h4 class="list-group-item-heading">Mr Chris Philp MP</h4>
        <p class="list-group-item-text contact-details">telephone for constituency matters or surgery appointments: 020 8660 0491</p>
        <p class="list-group-item-text contact-details">email: chris.philp.mp@parliament.uk</p>
        <p class="list-group-item-text contact-details">Website: <%= link_to "www.chrisphilp.com", "http://www.chrisphilp.com" %></p>
        <p class="list-group-item-text contact-details">Twitter: @chrisphilp_mp</p>
      </div><!--list-group -->
      <div class="list-group">
        <h4 class="list-group-item-heading" >Consultant for "Sanderstead News" Magazine</h4>
        <h4 class="list-group-item-heading">Cllr Yvette Hopley</h4>
        <p class="list-group-item-text contact-details">email: yvette_hopley@hotmail.com</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 0973</p>
        </br>

        <h4 class="list-group-item-heading">Webmaster, Mrs Corrie Hibberd</h4>
        <p class="list-group-item-text contact-details">email: webmaster@sanderstead-residents.co.uk</p>
        <p class="list-group-item-text contact-details">tel: 020 8657 4562</p>
        </br>
        <h4 class="list-group-item-heading">Hon. Accounts Examiner, Mrs Indrani Balachandran</h4>
        <p class="list-group-item-text contact-details">tel: 020 8645 0733  </p>
      </div> <!--list-group -->
      <h4></h4>
      <p><p>


    </div> <!--col-md-8-->

    <div class="col-md-4 col-xs-12 grey-column">
      <h3>Contact Us</h3>
      <p> If you have any matters that you wish to bring to the attention of the SRA, please get in touch with the Chairman via email: chairman@sanderstead-residents.co.uk, or by phone, 020 8657 2661.</p>
      <h3><%= link_to "Membership", members_path %></h3>
      <p>Subscriptions are due by the end of January each year. If you wish to become a member, please download the form available on the <%= link_to "members page", members_path %> and contact the Hon. Treasurer, John Kempsell, email: treasurer@sanderstead-residents.org.uk, phone, 020 8657 0482.</p>
      <h3><%= link_to "Information", directory_path %></h3>
      <p>The SRA provides information about local facilities, and news and events in Sanderstead. If you would like to advertise an event on this website, please contact the webmaster, email: webmaster@sanderstead-residents.co.uk.</p>
      <h3><%= link_to "News", news_path %></h3>
      <p>Checkout what's happening in Sanderstead now on our <%= link_to "news", news_path %> and <%= link_to "events", events_path %> pages.</p>
      <h3><%= link_to "Email Newsletter", "http://eepurl.com/cHZYM5" %></h3>
      <p>From time to time the Association would like to be able to contact members via an email newsletter. If you would like to receive this news please follow the link to sign up your name and email address. We store data according to General Data Protection Regulations and will only use your email address to send out the Sanderstead Residents' Association news. <%= link_to "Sign up here for Email Newsletter", "http://eepurl.com/cHZYM5" %></p>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
