<% provide(:title, 'Directory') %>
<div class="background_image">
  <%= image_tag "sanderstead_sign_snow1550.jpg", :class=> "img-responsive" %>
</div>
<div id="welcome-panel" class="container">
  <h2>Sanderstead Directory</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
      <p style="text-align: center;">We endeavour to keep this information up to date,<br/> but if you are aware of any corrections or updates please contact the webmaster, webmaster@sanderstead-residents.co.uk.</p>
    </div>
    <div class="col-md-3">
      <h4><%= link_to "Arts and History", anchor: "arts" %></h4>
      <h4><%= link_to "Care for the Community", anchor: "care" %></h4>
      <h4><%= link_to "Care for the Environment", anchor: "environ" %></h4>
      <h4><%= link_to "Charities", anchor: "charity" %></h4>
      <h4><%= link_to "Church Information", anchor: "church" %></h4>
      <h4><%= link_to "Adult Education", anchor: "education" %></h4>
      <h4><%= link_to "Halls for Letting", anchor: "halls" %></h4>
      <h4><%= link_to "Libraries", anchor: "library" %></h4>
      <h4><%= link_to "Music", anchor: "music" %></h4>
      <h4><%= link_to "Social", anchor: "social" %></h4>
      <h4><%= link_to "Sport and Games", anchor: "sport" %></h4>
      <h4><%= link_to "Support groups", anchor: "support" %></h4>
      <h4><%= link_to "Youth Organisations", anchor: "youth" %></h4>
    </div>
    <div class="col-md-6">
      <a class="anchor" id="top" name="top"></a>
      <h4>
        <a class="anchor" id="top" name="arts"></a>Arts and History
      </h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class= "col65">&nbsp;</th>
                  </tr>
                  <tr>
                        <td><b>Bourne Society</b></td>
                        <td><p>Hon Membership Secretary, Mrs J Hurrion</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>01883 349287</p></td>
                   </tr>
                   <tr>
                        <td><b>Croydon Decorative and Fine Arts Society</b></td>
                        <td><p>All Saints' Church Hall, Onslow Gardens, CR2 9AB</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Meets on the 2nd Thursday of the month</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary, Barbara Quinn</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8680 3049</p></td>
                  </tr>
                  <tr>
                        <td> <b>Croydon Open Group - Literature, Music and Art</b></td>
                        <td><p>Secretary, Mrs Anne Slatford</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8660 4378</p></td>
                  </tr>

                  <tr>
                        <td><b>The Mitre Players</b></td>
                        <td><p>Membership, Julia Ascott</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>julia.ascott@mitreplayers.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.mitreplayers.org.uk", "http://www.mitreplayers.org.uk" %></td>
                  </tr>

                  <tr>
                        <td><b>Parlour Players</b></td>
                        <td><p>Sanderstead URC, Sanderstead Hill</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>chairman@parlourplayers.co.uk</p></td>
                  </tr>
                    <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.parlourplayers.co.uk", "http://www.parlourplayers.co.uk/" %></p></td>
                  </tr>
                  <tr>
      
                        <td><b>Purley Literary Society</b></td>
                        <td> <p>John and Bobbie Wilson</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td> <p>Purley United Reformed Church, 906, Brighton Road, Purley</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 3189</p></td>


                  <tr>
                        <td><b>Sanderstead Decorative and Fine Arts Society</b></td>
                        <td><p>Lecture and Study Day Meetings in Sanderstead URC Hall</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>sdfas@live.co.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sdfas.org.uk", "http://www.sdfas.org.uk" %></p>
                        </td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Dramatic Club</b></td>
                        <td><p>Chairman, Mr John Desbottes</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td> <p>01883 625656</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Literary Society</b></td>
                        <td><p>Sanderstead URC Church Hall</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Alternate Wednesdays at 8pm, October to March</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary, Mrs Pat Dominy</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>01883 623068</p></td>
                  </tr>

                  <tr>
                        <td><b>Selsdon Camera Club</b></td>
                        <td><p>Hon Secretary, Linda Nitsche</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.selsdoncameraclub.co.uk", "http://www.selsdoncameraclub.co.uk" %></p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>secretary@selsdoncameraclub.co.uk</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8651 4048</p></td>
                  </tr>

            </tbody>
      </table>




      <h4><a class="anchor" id="top" name="care"></a>Care for the Community</h4>

      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class= "col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Neighbourhood Care</b></td>
                        <td><p>Co-ordinator, Mrs Debbie Clarke</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>All Saints' Church Hall, Onslow Gardens, CR2 9AB</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>10 - 12.30 am weekdays, at other times answerphone available</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 8289</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Safer Neighbourhood Team</b></td>
                        <td><p>sanderstead.snt@met.police.uk</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8721 2470</p></td>
                  </tr>

                  <tr class="adstable">
                        <td><b>St Edmund's Caring Group</b></td>
                        <td><p>020 8651 9442</p></td>

            </tbody>
      </table>

            <h4><a class="anchor" id="top" name="environ"></a>Care for the Environment</h4>

      <table>
            <tbody>
                 <tr>
                        <th class="col35">&nbsp;</th>
                        <th class= "col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Friends of Croham Hurst Woods</b></td>
                        <td><p>Chair, Councillor Maria Gatland</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>33 Whitmead Close, South Croydon CR2 7AS</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8407 1327</p></td>
                  </tr>


                  <tr>
                        <td><b>Friends of King's Wood</b></td>
                        <td><p></p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Secretary, Mrs Jenny Vereycken</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8567 6302</p></td>
                  </tr>

                  <tr>
                        <td><b>Friends of Purley Beeches</b></td>
                        <td><p>Contact, Stan Lowy</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>stanlowy@outlook.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 3684</p></td>
                  </tr>
                  
      
                  <tr>
                        <td><b>Friends of the Wettern Tree Garden</b></td>
                        <td><p>Co-ordinator, Joy Gadsby</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 0831</p></td>
                  </tr>
                 
                   <tr>
                        <td><b>Sanderstead Horticultural Club</b></td>
                        <td><p>Hon Secretary, Mrs Brenda Bateman</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 5280</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Membership Secretary, Mrs Valerie Burley</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8651 5837</p></td>
                  </tr>

                  <tr>
                        <td><b>South Croydon Allotment Society</b></td>
                        <td><p>Secretary, David Coram</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>01883 380665</p></td>
                  </tr>
      </tbody>
</table>

      <h4><a class="anchor" id="top" name="charity"></a>Charities</h4>


<table>
      <tbody>
            <tr>
                  <th class="col35">&nbsp;</th>
                  <th class= "col65">&nbsp;</th>
            </tr>

             <tr>
                        <td><b>RNLI</b></td>
                        <td><p>Hon Treasurer, Mr Mike Black</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8660 3956</p></td>
                  </tr>
                 
      

                  <tr>
                        <td><b>RSPCA</b></td>
                        <td><p>Purley, Caterham and District Inspectorate</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Control Emergency Centre (24 hours)</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>0800 1234999</p></td>
                  </tr>
                  

                  <tr>
                        <td><b>Sanderstead Mothers' Union</b></td>
                        <td><p>Meetings monthly at one of our churches</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact, Mrs Rosemary Kempsell</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>rosemary@kempsell.freeserve.co.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 6482</p></td>
                  </tr>
                  

            </tbody>
      </table>

      <h4><a class="anchor" id="top" name="church"></a>Churches</h4>


      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>All Saints Parish Church - AD 1230</b></td>
                        <td><p>Team Rector, Rev'd Canon Martin Greenfield</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 1366</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>rector@sanderstead-parish.org.uk</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Curate, Rev'd Jeremy Groombridge</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8668 7795</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>jeremy@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Parish Secretary, Paul Shipley</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>parish.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 0665</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sanderstead-parish.org.uk", "http://www.sanderstead-parish.org.uk" %></p></td>
                  </tr>





                  <tr>
                        <td><b>St Antony's Church</b></td>
                        <td><p>Wentworth Way, Hamsey Green, CR2 9EW</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Team Vicar, Rev'd Susan Atkinson Jones</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>susan@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 5505</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sanderstead-parish.org.uk", "http://www.sanderstead-parish.org.uk" %></p></td>
                  </tr>


                  <tr>
                        <td><b>St Edmund's Church</b></td>
                        <td><p>Michley Avenue, Sanderstead, CR2 9HL</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Team Vicar, Rev'd Susan Atkinson Jones</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>susan@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 5505</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sanderstead-parish.org.uk", "http://www.sanderstead-parish.org.uk" %></p></td>
                  </tr>


                  <tr>
                        <td><b>St Mary's Church</b></td>
                        <td><p>Purley Oaks Road, CR2 0NR</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Team Vicar, Rev'd Grant Cohen</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>grant@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 1725</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sanderstead-parish.org.uk", "http://www.sanderstead-parish.org.uk" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Church of the Holy Family</b></td>
                        <td><p>Limpsfield Road, Sanderstead</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Parish Priest, Rev'd Gus Kinnane</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 1728</p></td>
                  </tr>
      

                  <tr>
                        <td><b>Sanderstead Methodist Church</b></td>
                        <td><p>102 Limpsfield Road, CR2 9EE</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Rev'd Faith Nyota</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Church Secretary, Mrs Marjorie Dear</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8409 0314</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sandersteadmethodist.org.uk", "http://www.sandersteadmethodist.org.uk/SMCHOME/" %></p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead United Reformed Church</b></td>
                        <td><p>Sanderstead Hill</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Rev'd Martin Ferris</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact, Mrs Jenny Russell</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>cpmsecretary@surc.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to("www.surc.org.uk", "http://www.surc.org.uk") %></p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 6509</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Evangelical Church</b></td>
                        <td><p>82 Limpsfield Road, CR2 9EB</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Minister, Stephen Ridgeway</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>pastor@sandersteadec.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 9502</p></td>
                  </tr>
            </tbody>
      </table>

      <h4><a class="anchor" id="top" name="education"></a>Education</h4>

      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col35">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Workers Educational Association (Sanderstead and Selsdon Branch)</b></td>
                        <td><p><%= link_to("Latest Newsletter", "/resource/WEA_Newsletter2018.pdf") %></p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Acting Chair, Mrs Jane Bishop</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>JaneBishop1975@gmail.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8763 2750</p></td>
                  </tr>
            </tbody>
      </table>



      <h4><a class="anchor" id="top" name="halls"></a>Halls for Letting</h4>
       <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col35">&nbsp;</th>
                  </tr>


                  <tr>
                        <td><b>All Saints' Church Halls</b></td>
                        <td><p>Onslow Gardens, CR2 9AB</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Parish Administrator, Paul Shipley</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>parish.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 0665</p></td>
                  </tr>



                  <tr>
                        <td><b>St Antony's Hall</b></td>
                        <td><p>Wentworth Way, Hamsey Green</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Parish Administrator, Paul Shipley</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>parish.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 0665</p></td>
                  </tr>


                  <tr>
                        <td><b>St Mary's Church Hall</b></td>
                        <td><p>Purley Oaks Road</p></td>
                  </tr>
                  
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>stmarys.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 9232</p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Memorial Hall</b></td>
                        <td><p>Purley Oaks Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Booking Secretary, Mrs Caroline Hubbard</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>caroline@thehubbards.eclipse.co.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8668 2783 or 07775 680087</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Methodist Church</b></td>
                        <td><p>Limpsfield Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Booking Secretary, Mrs Joyce Stephens</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 3822</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead United Reformed Church Hall</b></td>
                        <td><p>Sanderstead Hill</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Booking Secretary, Mrs Linda Currion</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 3020</p></td>
                  </tr>

                  <tr>
                        <td><b>St John's Community Hall</b></td>
                        <td><p>Upper Selsdon Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Bookings, Jennifer Mattocks</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>jennifer.mattocksbookingstjohns@gmail.com</p></td>
                  </tr>

                  <tr>
                        <td><b>Trinity Sanderstead Sports and Social Club</b></td>
                        <td><p>Lime Meadow Avenue, CR2 9AS</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Booking Secretary, Anna Warnock</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>07582 910094</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td>admin@tsssc.co.uk</td>
                  </tr>


            </tbody>
      </table>

      <h4><a class="anchor" id="top" name="library"></a>Libraries</h4>

      <table>
            </tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>


                   <tr>
                        <td><b>Sanderstead Library</b></td>
                        <td><p>Farm Fields, Sanderstead, CR2 0HL</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>croydon.sandersteadlibrary@carillionservices.co.uk</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>020 3700 1015</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Opening hours:
      <ul>
        <li>Tuesday and Friday 9 am - 6 pm</li>
        <li>Wednesday 9.30 am - 6 pm</li>
        <li>Saturday 9 am - 5 pm</li>
      </ul></p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Regular Events</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>For Under 5s</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><ul>
        <li>Every Wednesday Rhymetime 10-10.30am</li>
        <li>Wiggle and Jiggle 11 - 11.30 am</li>
        <li>Storytime 4 - 4.30pm</li>
      </ul></p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>For Adults</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p> <ul>
        <li> Every 3rd Tuesday of the month: Adult Reading Group 4.30-5.30pm</li>
        <li>Every other Friday of the month: Knit &amp; Natter 2-4pm</li>
        <li>IT Taster sessions (by appointment): Tuesday 11-11.45 am and Friday 2.15-3 pm, 3 pm-3.45 pm</li>
      </ul></p></td>
                  </tr>
            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="music"></a>Music</h4>
      <table>
            <tbody>
                   <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Cantilena Singers (Ladies' Choir)</b></td>
                        <td><p>Methodist Church, Wednesdays 7.30 - 9 pm</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>Contact Jill, tel 020 8660 2924 or 07957 6270783</p></td>
                  </tr>
            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="social"></a>Social</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Horizons Social Group</b></td>
                        <td><p>Sanderstead Methodist Church</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Tuesdays 8 pm fortnightly</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Chair, Jeanne Revnell</p></td>
                  </tr>
                   

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8668 3921</p></td>
                  </tr>


                  <tr>
                        <td><b>Probus Club of Croydon South</b></td>
                        <td><p>Secretary, John Barker</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>bark@anjohn.orangehome.co.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 2093</p></td>
                  </tr>

                  <tr>
                        <td><b>Probus Club of Sanderstead and Purley Oaks</b></td>
                        <td><p>Secretary, Mr Peter Atkinson</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 4188</p></td>
                  </tr>

                  <tr>
                        <td><b>Probus Club of Sanderstead and Riddlesdown</b></td>
                        <td><p>Hon Sec, Chris Babbs</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>chrisbabbsuk@waitrose.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8668 2775</p></td>
                  </tr>

                  <tr>
                        <td><b>Rotary Club of Croydon Jubilee</b></td>
                        <td><p>Hon Secretary, Mr David Gooch</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>croydonjubilee@virginmedia.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8668 0207</p></td>
                  </tr>

                  <tr>
                        <td><b>Rotary Club of Croydon South</b></td>
                        <td><p>Hon Secretary Dr Vivien Beal</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8405 9609</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead and Selsdon Trefoil Guild</b></td>
                        <td><p>Chair Mrs Jacklyn Sanderson</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>01689 846184</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Evening Townswomen's Guild</b></td>
                        <td><p>Secretary, Mrs Doreen NIcholls</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Methodist Church Hall, 3rd Monday at 7.30pm</p></td>  
                  </tr>
                  <tr class="adstable">
                      
                        <td>&nbsp;</td>
                        <td><p>020 8657 2072</p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Village WI (evenings)</b></td>
                        <td><p>First Monday of the month, 7.30 pm</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Sanderstead Methodist Church</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary, Mrs Sheila Wilkie</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8651 2388</p></td>
                  </tr>
                  <tr>
                        <td><b>Sanderstead WI (afternoon)</b></td>
                        <td><p>First Wednesday of the month</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sandersteadwi.btck.co.uk", "http://www.sandersteadwi.btck.co.uk" %></p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary, Mrs Dee Poulton</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 2388</p></td>
                  </tr>


                  <tr>
                        <td><b>Trinity Mid-Whitgiftian Association</b></td>
                        <td><p>Lime Meadow Avenue, CR2 9AS</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>General Manager, Nick Trend</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07979 421677</p></td>
                  </tr>
            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="sport"></a>Sport and Games</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Arkwright Badminton Club</b></td>
                        <td><p>All Saints Halls, Onslow Gardens.</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Every Monday at 8 pm</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Club Secretary, Ian Mercer</p></td>
                  </tr>
                 
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.arkwrightbadminton.co.uk", "http://www.arkwrightbadminton.co.uk" %></p></td>
                  </tr>
                  <tr  class="adstable">
                        <td>&nbsp;</td>
                        <td>07939 530622</td>
                  </tr>


                  <tr>
                        <td><b>Bridge Thursday Club, Sanderstead</b></td>
                        <td><p>Memorial Hall, Purley Oaks Road.</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>honorshearing@googlemail.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 4082</p></td>
                  </tr>


                  <tr>
                        <td><b>Croham Hurst Golf Club</b></td>
                        <td><p>Croham Road, South Croydon, CR2 7HJ</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Secretary, Steve Mackinson.</p></td>
                  </tr>
                          <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 5581</p></td>
                  </tr>
                  <tr>
                        <td><b>Old Mid-Whitgiftian Rugby Football Club</b></td>
                        <td><p>Lime Meadow Avenue, CR2 9AS</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.omwrfc.co.uk", "http://www.omwrfc.co.uk" %></p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>omwrfc@gmail.com</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p><%= image_tag "small-images/twitter-icon.png" %> @TheOldMids </p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "OMWRFC leaflet","resource/OMWRFC_Leaflet.pdf" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Purley Bury Bowling Club</b></td>
                        <td><p>53, Purley Bury Avenue, CR8 1JF</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.purleyburybc.co.uk", "http://www.purleyburybc.co.uk" %></p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary, John Tucker</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8407 0664</p></td>
                  </tr>
                  <tr>
                        <td><b>Purley Downs Golf Club</b></td>
                        <td><p>106 Purley Downs Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.purleydownsgolfclub.co.uk", "http://www.purleydownsgolfclub.co.uk" %></p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 8347</p></td>
                  </tr>

                  <tr>
                        <td><b>Purley Oaks Short Mat Bowling Club</b></td>
                        <td><p>St Mary's Church Hall, Purley Oaks Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Secretary, Mr Brian Grubb</p></td>
                  </tr>
                            <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 4412</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Cricket Club (youth)</b></td>
                        <td><p>Hon Secretary, Tom Palfrey</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>tom_palfrey@hotmail.com</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07872 346 932</p></td>
                  </tr>
                  <tr>
                        <td><b>Sanderstead Hall Badminton Club</b></td>
                        <td><p>Chair, David Hills</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 8628</p></td>
                  </tr>


                  <tr class="adstable">
                        <td><b>Sanderstead Hockey Club</b></td>
                        <td><p><%= link_to "www.sandersteadhockey.com", "http://www.sandersteadhockey.com" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Lawn Tennis and Social Club</b></td>
                        <td><p>Penwortham Road, Sanderstead</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary, Mrs Charlotte Trazcinska</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>sltc@gmail.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8668 2113</p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead URC Tennis Club</b></td>
                        <td><p>Hon Secretary, Mrs Sue Fairchild</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 3761</p></td>
                  </tr>
                  <tr>
                        <td><b>Sanderstead Village Lawn Tennis Club</b></td>
                        <td><p>26a Sanderstead Court Avenue</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary, Jenny Beal</p></td>
                  </tr>
                 
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>01883 620730</p></td>
                  </tr>

                  <tr>
                        <td><b>Scottish Country Dancing</b></td>
                        <td><p>Tuesdays, 8pm. Social Dancing, beginners welcome</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Sanderstead URC Hall</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary, Mrs Madelaine Reeve</p></td>
                  </tr>
                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>madelainereeve@hotmail.com</p></td>
                  </tr>

            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="support"></a>Support Groups</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Croydon Alzheimer's Society</b></td>
                        <td><p>Heavers Resource Centre, 122 Selhurst Road, South Norwood, SE25 6LL</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>croydon@alzheimers.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8916 3587</p></td>
                  </tr>
            </tbody>
      </table>

      <h4><a class="anchor" id="top" name="youth"></a>Youth Organisations</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Children's Centre</b></td>
                        <td><p>Atwood Primary School, Limpsfield Rd, CR2 9EE</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>lbyrnesl.306@lgflmail.org</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 657 7374</p></td>
                  </tr>
            </tbody>
      </table>

      <h4>Scouts and Beavers</h4>
      <table>
            <tbody> 
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>8th Purley (St Mary's)</b></td>
                        <td><p>Scout Hut HQ, St Mary's Church, 85 Purley Oaks Road, CR2 0NY</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Group Scout Leader, Yvonne Lamont</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8763 2933</p></td>
                  </tr>

                  <tr>
                        <td><b>16th Purley (All Saints Church)</b></td>
                        <td><p>Scout HQ, Cranleigh Close, Cranleigh Gardens, CR2 9LD</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Group Scout Leader, Trevor Lowe</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>0183 626038</p></td>
                  </tr>

                  <tr>
                        <td><b>18th Purley (URC) </b></td>
                        <td><p>Scout HQ, Farm Fields, CR2 0HQ</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Group Scout Leader, Robert Croft</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 660 6569</p></td>
                  </tr>

                  <tr>
                        <td><b>2nd Hamsey Green (St Antony's)</b></td>
                        <td><p>King's Walk, off Cherry Tree Green</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Group Scout Leader, Janice Simpson</p></td>
                  </tr>
                   

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07941 640302</p></td>
                  </tr>
            </tbody>
      </table>


      <h4>Guides, Brownies and Rainbows</h4>
      <p>Official Contact details, <%= link_to "www.girlguiding.org.uk/interested", "http://www.girlguiding.org.uk/interested" %></p>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>St Mary's Church</b></td>
                        <td><p>2nd Sanderstead Rainbows, Wednesdays</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>3rd Sandersteaad Brownies, Wednesdays</p></td>
                  </tr>

                  <tr>
                        <td><b>United Reformed Church</b></td>
                        <td><p>1st Sanderstead Rainbows, Wednesdays</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>8th Sanderstead Guides, Fridays</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Sanderstead Rangers Unit, Wednesdays</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>8th Sanderstead Brownies, Fridays</p></td>
                  </tr>


                  <tr>
                        <td><b>All Saints Church</b></td>
                        <td><p>7th Sanderstead Brownies, Fridays</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>9th Sanderstead Brownies. Tuesdays</p></td>
                  </tr>


                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>7th/9th Sanderstead Guides, Fridays</p></td>
                  </tr>

                  <tr class="adstable">
                        <td><b>St Edmund's Church</b></td>
                        <td><p>3rd Sanderstead Rainbows, Tuesdays</p></td>
                  </tr>

      

                  <tr class="adstable">
                        <td><b>Methodist Church</b></td>
                        <td><p>11th Sanderstead Brownies, Wednesday</p></td>
                  </tr>
            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="ys"></a>Youth Sports</h4>
      <table>
            <tbody>
                   <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Selsdon Little League Football</b></td>
                        <td><p>Boys and Girls, all abilities, 8 - 13 years</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Sanderstead Recreation Ground</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.selsdonlittleleagues.co.uk", "http://www.selsdonlittleleagues.co.uk" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Hamsey Rangers Football Club</b></td>
                        <td><p>Children, boys and girls, under 7s to seniors</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>John Fisher Sports Ground, Limpsfield Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Secretary, Lisa Courtney</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8651 1780</p></td>
                  </tr>
            </tbody>
      </table>
      <h4>For Younger Children</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Library</b></td>
                        <td><p>Farm Fields, Sanderstead CR2 0HL</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8726 6900</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>For Under 5s
                              <ul>
                                    <li>Rhymetime, Wednesdays, 10am, babies and toddlers</li>
                                    <li>Wiggle and Jiggle, Wednesdays, 11am, 18 months upwards</li>
                                    <li>Storytime. Wednesdays, 4 pm, 2 1/2 years upwards</li>
                              </ul>
                              </p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Toddler Group</b></td>
                        <td><p>United Reformed Church Hall</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Mondays at 9.30 am</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>Parents and Carers with babies and toddlers welcome</p></td>
                  </tr>


                  <tr>
                        <td><b>Parent and Child Group</b></td>
                        <td><p>Sanderstead Methodist Church, Limpsfield Road, CR2 9LD</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Wednesdays at 9.30 and Thursdays at 10 am</p></td>
                  </tr>
                  

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8668 3921</p></td>
                  </tr>
            </tbody>
      </table>


                  <p><%= link_to "Back to top", anchor: "top" %><p>

    </div>
    <div class="col-md-3">
      <h4>External Links</h4>
      <p>For news and information from Croydon Council...</p>
      <p><%= link_to "Croydon", "http://www.croydon.gov.uk", class: 'btn btn-primary' %></p>
      <p>For up to date news about local planning applications...</p>
      <p><%= link_to "Planning", "http://publicaccess2.croydon.gov.uk/online-applications/", class: 'btn btn-primary' %></p>
      <p>For information about Croydon Health Services...</p>
      <p><%= link_to "Health", "https://www.croydonhealthservices.nhs.uk/our-services/gp-hubs.htm", class: 'btn btn-primary' %></p>
      <p>For other local Residents' Associations...</p>
      <p><%= link_to "Riddlesdown", "http://riddlesdownresidents.org.uk", class: 'btn btn-primary' %></p>
      <p>For neigbourhood websites</p>
      <p><%= link_to image_tag("small-images/nextdoor200.jpg", alt: "Nextdoor.co.uk"), "https://nextdoor.co.uk/" %></p>
    </div>
  </div>
</div>
