<% provide(:title, 'Directory') %>
<div class="background_image">
  <%= image_tag "sanderstead_sign_snow1550.jpg", :class=> "img-responsive" %>
</div>
<div id="welcome-panel" class="container">
  <h2>Sanderstead Directory</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
      <p style="text-align: center;">We endeavour to keep this information up to date,<br/> but if you are aware of any corrections or updates please contact the webmaster, webmaster@sanderstead-residents.co.uk.</p>
    </div>
    <div class="col-md-3">
      <h4><%= link_to "Arts and History", anchor: "arts" %></h4>
      <h4><%= link_to "Care for the Community", anchor: "care" %></h4>
      <h4><%= link_to "Care for the Environment", anchor: "environ" %></h4>
      <h4><%= link_to "Charities", anchor: "charity" %></h4>
      <h4><%= link_to "Church Information", anchor: "church" %></h4>      
      <h4><%= link_to "Halls for Letting", anchor: "halls" %></h4>
      <h4><%= link_to "Health", anchor: "health" %></h4>
      <h4><%= link_to "Libraries", anchor: "library" %></h4>
      <h4><%= link_to "Music", anchor: "music" %></h4>
      <h4><%= link_to "Social", anchor: "social" %></h4>
      <h4><%= link_to "Sport and Games", anchor: "sport" %></h4>
      <h4><%= link_to "Support groups", anchor: "support" %></h4>
      <h4><%= link_to "Youth Organisations", anchor: "youth" %></h4>
    </div>
    <div class="col-md-6">
      <a class="anchor" id="top" name="top"></a>
      <h4>
        <a class="anchor" id="top" name="arts"></a>Arts and History
      </h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class= "col65">&nbsp;</th>
                  </tr>
                  <tr>
                        <td><b>Bourne Society</b></td>
                        <td><p>Hon Membership Secretary, Mrs J Ward</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>jan.ward101@gmail.com</p></td>
                   </tr>
                   <tr>
                        <td><b>The Arts Society - Croydon Area</b></td>
                        <td><p>All Saints' Church Hall, Onslow Gardens, CR2 9AB</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Meets on the 2nd Thursday of the month at 10.15 am</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "More Information about The Arts Society", "resource/the_arts_society_croydon.pdf" %></p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact janice.brunger@outlook.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>0208 657 2496</p></td>
                  </tr>

                  
                  <tr>
                        <td><b>The Arts Society, Sanderstead</b></td>
                        <td><p>Sanderstead United Reformed Church, Sanderstead Hill</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Meetings on the 4th Tuesday at 10.30am. Coffee from 9.45 - 10.15</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Meetings currently on Zoom</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact Sue Davenport. suedavenport72@gmail.com</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8660 9122</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>Website <%= link_to "theartssocietysanderstead.org.uk", "http://www.theartssocietysanderstead.org.uk" %></p></td>
                  </tr>


                  <tr>
                        <td><b>The Mitre Players</b></td>
                        <td><p>Membership, Julia Ascott</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>julia.ascott@mitreplayers.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.mitreplayers.org.uk", "http://www.mitreplayers.org.uk" %></td>
                  </tr>

                  <tr>
                        <td><b>Parlour Players</b></td>
                        <td><p>Sanderstead URC, Sanderstead Hill</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>chairman@parlourplayers.co.uk</p></td>
                  </tr>
                    <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.parlourplayers.co.uk", "http://www.parlourplayers.co.uk/" %></p></td>
                  </tr>
                  
                  <tr>
                        <td><b>Purley Literary Society</b></td>
                        <td> <p>Purley United Reformed Church, 906, Brighton Road, Purley</p></td>
                  </tr>
                  <tr class>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.purley-literary-society.com", "http://www.purley-literary-society.com/" %></p></td>
                  </tr> 

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Richard Walker</p></td>
                  </tr> 

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>info@purleylit.org.uk</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>01737 552654</p></td>
                  </tr>                    


                  <tr class="adstable">
                        <td><b>Sanderstead Dramatic Club</b></td>
                        <td><p>Website <%= link_to "www.sdclub.org.uk", "http://www.sdclub.org.uk" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Literary Society</b></td>
                        <td><p>Sanderstead URC Church Hall</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Alternative Wednesdays 8pm October - March.</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Hon Secretary Mrs Janet Brimble</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 2632</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.surc.org.uk/social-groups", "http://www.surc.org.uk/social-groups" %></p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Local History Group</b></td>
                        <td><p>Currently on Zoom</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Last Wednesday at 2 - 4 pm</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>sandersteadlhg@gmail.com</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sandersteadlhg.co.uk", "https://www.sandersteadlhg.co.uk" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Selsdon Camera Club</b></td>
                        <td><p>Hon Secretary, Linda Nitsche</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.selsdoncameraclub.co.uk", "http://www.selsdoncameraclub.co.uk" %></p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>secretary@selsdoncameraclub.co.uk</p></td>
                  </tr>


                  <tr>
                        <td>Younger Generation Theatre Group</td>
                        <td>An opportunity for 9-18's to appear on the professional stage</td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><%= link_to "www.youngergeneration.co.uk", "https://www.youngergeneration.co.uk" %></td>
                  </tr>

            </tbody>
      </table>




      <h4><a class="anchor" id="top" name="care"></a>Care for the Community</h4>

      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class= "col65">&nbsp;</th>
                  </tr>

                  <tr class="adstable">
                        <td><b>Neighbourhood Watch</b></td>
                        <td><p>nhw@cbnwa.com</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Neighbourhood Care</b></td>
                        <td><p>Co-ordinator, Mrs Debbie Clarke</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>All Saints' Church Hall, Onslow Gardens, CR2 9AB</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>10 - 12.30 am weekdays, at other times answerphone available</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 8289</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Safer Neighbourhood Team</b></td>
                        <td><p>sanderstead.snt@met.police.uk</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8721 2470 or 101</p></td>
                  </tr>

            </tbody>
      </table>

            <h4><a class="anchor" id="top" name="environ"></a>Care for the Environment</h4>

      <table>
            <tbody>
                 <tr>
                        <th class="col35">&nbsp;</th>
                        <th class= "col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Croydon Natural History and Scientific Society</b></td>
                        <td>General Secretary, Tony Skrzpczyk</td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8406 4676</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td>information@cnhss.co.uk</td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.cnhss.co.uk", "http://www.cnhss.co.uk" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Friends of Croham Hurst Woods</b></td>
                        <td><p>Liaison Officer, Councillor Maria Gatland</p></td>
                  </tr>
                  <tr  class="adstable">
                        <td>&nbsp;</td>
                        <td><p>maria.gatland@croydon.gov.uk</p></td>
                  </tr>


                  <tr>
                        <td><b>Friends of King's Wood</b></td>
                        <td><p></p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Chair, Pam Plouch</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8567 6302</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>friendsofkingswood@hotmail.co.uk</p></td>
                  </tr>

                  <tr>
                        <td><b>Friends of Purley Beeches</b></td>
                        <td><p>Contact, Mac Court</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>friendsofpurleybeeches01@gmail.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.friendsofpurleybeeches.co.uk", "https://www.friendsofpurleybeeches.co.uk/" %></p></td>
                  </tr>
                  
                  <tr>
                        <td><b>Friends of Sanderstead Recreation Ground and Green Spaces</b></td>
                        <td><p>fosrgags@gmail.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.facebook.com/friendsofsandersteadrec/", "https://www.facebook.com/friendsofsandersteadrec/" %></p></td>
                  </tr>


      
                  <tr>
                        <td><b>Friends of the Wettern Tree Garden</b></td>
                        <td><p>Co-ordinator, Jean Hain</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8660 0493</p></td>
                  </tr>
                 
                   <tr>
                        <td><b>Sanderstead Horticultural Society</b></td>
                        <td><p><%= link_to "www.sandersteadhorticulturalsociety.org.uk", "http://www.sandersteadhorticulturalsociety.org.uk" %></p></td>
                  </tr>
                  
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>SHSmembership@gmail.com</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Membership Secretary, Gill Matthews</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 8675</p></td>
                  </tr>

                  <tr>
                        <td><b>South Croydon Allotment Society</b></td>
                        <td><p>Secretary, David Coram</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.southcroydonallotment.com", "http://www.southcroydonallotment.com" %></p></td>
                  </tr>
      </tbody>
</table>

      <h4><a class="anchor" id="top" name="charity"></a>Charities</h4>


<table>
      <tbody>
            <tr>
                  <th class="col35">&nbsp;</th>
                  <th class= "col65">&nbsp;</th>
            </tr>
                 
                   <tr>
                        <td><b>Cradiden Masonic Lodge</b></td>
                        <td><p>Freemasonry supporting charities and communities in Surrey</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact the Lodge Secretary on mjr.post8@gmail.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.surreyfreemasons.org.uk/cradiden-lodge-redhill", "https://surreyfreemasons.org.uk/" %></p></td>
                  </tr>

                  
                  <tr>
                        <td><b>RSPCA</b></td>
                        <td><p>Purley, Caterham and District Inspectorate</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Control Emergency Centre (24 hours)</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>0300 1234999</p></td>
                  </tr>
                  

                  <tr>
                        <td><b>Sanderstead Mothers' Union</b></td>
                        <td><p>Meetings monthly at one of our churches</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact, Mrs Rosemary Kempsell</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>rosemarykempsell@gmail.com</p></td>
                  </tr>

                  <tr>
                        <td><b>The RSPB </b></td>
                        <td><p>Croydon Local Group</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact John Davis 020 8640 4578</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.rspb.org.uk/groups/croydon", "http://www.rspb.org.uk/groups/croydon" %></p></td>
                  </tr>
                  

            </tbody>
      </table>

      <h4><a class="anchor" id="top" name="church"></a>Churches</h4>


      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>All Saints Parish Church - AD 1230</b></td>
                        <td><p>Team Rector, Vacancy</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 1366</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>rector@sanderstead-parish.org.uk</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Assistant Priest, Rev'd Jeremy Groombridge</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8668 7795</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>jeremy@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Parish Secretary, Paul Shipley</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>parish.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 0665</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sanderstead-parish.org.uk", "http://www.sanderstead-parish.org.uk" %></p></td>
                  </tr>


                  <tr>
                        <td><b>St Antony's Church</b></td>
                        <td><p>Wentworth Way, Hamsey Green, CR2 9EW</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact Sanderstead Parish Office</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>parish.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 0665</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sanderstead-parish.org.uk", "http://www.sanderstead-parish.org.uk" %></p></td>
                  </tr>


                  <tr>
                        <td><b>St Edmund's Church</b></td>
                        <td><p>Michley Avenue, Sanderstead, CR2 9HL</p></td>
                  </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact Father Grant Cohen at St Mary's</p></td>
                  </tr>
                 
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.stmarysanderstead.org.uk", "http://www.stmarysanderstead.org.uk" %></p></td>
                  </tr>


                  <tr>
                        <td><b>St Mary's Church</b></td>
                        <td><p>Purley Oaks Road, CR2 0NR</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Rev'd Grant Cohen</p></td>
                  </tr>
      
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.stmarysanderstead.org.uk", "http://www.stmarysanderstead.org.uk" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Church of the Holy Family</b></td>
                        <td><p>Limpsfield Road, Sanderstead</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Parish Priest, Rev'd Malachy Keegan</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 1728</p></td>
                  </tr>
      

                  <tr>
                        <td><b>Sanderstead Methodist Church</b></td>
                        <td><p>102 Limpsfield Road, CR2 9EE</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Rev'd Faith Nyota</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 7947</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td>purleycircuit@btconnedt.com</td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sandersteadmethodist.org.uk", "http://www.sandersteadmethodist.org.uk/SMCHOME/" %></p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead United Reformed Church</b></td>
                        <td><p>Sanderstead Hill</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Rev Bill Bowman</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8406 7607</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact, Mrs Jenny Russell</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>cpmsecretary@surc.org.uk</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to("www.surc.org.uk", "http://www.surc.org.uk") %></p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 6509</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Evangelical Church</b></td>
                        <td><p>82 Limpsfield Road, CR2 9EB</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Pastor, vacant</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>office@sandersteadec.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 9502</p></td>
                  </tr>
            </tbody>
      </table>



      <h4><a class="anchor" id="top" name="halls"></a>Halls for Letting</h4>
       <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col35">&nbsp;</th>
                  </tr>


                  <tr>
                        <td><b>All Saints' Church Halls</b></td>
                        <td><p>Onslow Gardens, CR2 9AB</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Parish Administrator, Paul Shipley</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>parish.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 0665</p></td>
                  </tr>



                  <tr>
                        <td><b>St Antony's Hall</b></td>
                        <td><p>Wentworth Way, Hamsey Green</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Parish Administrator, Paul Shipley</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>parish.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 0665</p></td>
                  </tr>


                  <tr>
                        <td><b>St Mary's Church Hall</b></td>
                        <td><p>Purley Oaks Road</p></td>
                  </tr>
                  
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>stmarys.office@sanderstead-parish.org.uk</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 9232</p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Memorial Hall</b></td>
                        <td><p>Purley Oaks Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Booking Secretary, Mrs Caroline Hubbard</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>caroline12b@btinternet.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8668 2783 or 07775 680087</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Methodist Church</b></td>
                        <td><p>Limpsfield Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Lettings Secretary,  Barry Wallbank</p></td>
                  </tr>
                  <tr c>
                        <td>&nbsp;</td>
                        <td><p>07712 472 004</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>barrywallbank@blueyonder.co.uk</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead United Reformed Church Hall</b></td>
                        <td><p>Sanderstead Hill</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>lettings@surc.org.uk</p></td>
                  </tr>

                  <tr>
                        <td><b>St John's Community Hall</b></td>
                        <td><p>Upper Selsdon Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 9466 / 07958 682103</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Office open Mon-Thurs 9am-2pm</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>bookingstjohns@gmail.com</p></td>
                  </tr>



                  <tr>
                        <td><b>Trinity Sanderstead Sports and Social Club</b></td>
                        <td><p>Lime Meadow Avenue, CR2 9AS</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Booking Secretary, Anna Warnock</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>07582 910 094</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td>admin@tsssc.co.uk</td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.tsssc.co.uk", "http://www.tsssc.co.uk" %></p></td>
                  </tr>


            </tbody>
      </table>

      <h4><a class="anchor" id="top" name="health"></a>Health</h4> 
      
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>
                  <tr>
                        <td><b>South East Cancer Help Centre</b></td>
                        <td><p>2 Purley Road, Purley, CR8 2HA</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>info@sechc.org.uk</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8668 0974</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><%= link_to "www.sechc.org.uk", "http://www.sechc.org.uk" %></td>
                  </tr>

                  <tr>
                        <td>Croydon Alzheimer's Society</td>
                        <td>Heavers Resource Centre, SE25 6LL</td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td>020 8653 2818</td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td>croydon@alzheimers.org.uk</td>
                  </tr>

            </tbody>
      </table>


      <h4><a class="anchor" id="top" name="library"></a>Libraries</h4>

      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>


                   <tr>
                        <td><b>Sanderstead</b></td>
                        <td><p>Farm Fields, Sanderstead, CR2 0HL</p></td>
                  </tr>


                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.croydon.gov.uk/leisure/libraries/find-your-library/sanderstead-library","https://www.croydon.gov.uk/leisure/libraries/find-your-library/sanderstead-library" %></p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>020 7884 5165</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Opening hours:
                              <ul>
                                    <li>Monday 10am - 6pm
                                    <li>Wednesday 10am - 6pm</li>
                                    <li>Friday 10am - 6pm</li>
                              </ul>
                              </p>
                        </td>
                  </tr>
                  
            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="music"></a>Music</h4>
      <table>
            <tbody>
                   <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Cantilena Singers (Ladies' Choir)</b></td>
                        <td><p>Methodist Church, Wednesdays 7.30 - 9 pm</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Contact Jill, tel 07957 6270783</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "http://www.cantilenasingerscroydon.org.uk", "http://www.cantilenasingerscroydon.org.uk" %></p></td>
                  </tr>

                   <tr class="adstable">
                        <td><b>Soul Symphony Choir</b></td>
                        <td><p>Website <%= link_to "www.soulsymphony.co.uk", "http://www.soulsymphony.co.uk" %></p></td>
                  </tr>
            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="social"></a>Social</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>                   


                  <tr>
                        <td><b>Probus Club of Croydon South</b></td>
                        <td><p>Secretary, John Chambers</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>jc@jc-design.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8686 5657</p></td>
                  </tr>

                  <tr>
                        <td><b>Probus Club of Sanderstead and Purley Oaks</b></td>
                        <td><p>Secretary, Brian Matthews</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 7602</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>brianmatthews100@gmail.com</p></td>
                  </tr>

                  <tr>
                        <td><b>Probus Club of Sanderstead and Riddlesdown</b></td>
                        <td><p>Hon Sec, Chris Babbs</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>chrisbabbsuk@waitrose.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8668 2775</p></td>
                  </tr>

                  <tr>
                        <td><b>Rotary Club of Croydon Jubilee</b></td>
                        <td><p>Hon Secretary, Mr Jonathan Boase</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>jmboase@icloud.com</p></td>
                  </tr>

                  <tr>
                        <td><b>Rotary Club of Sanderstead and Selsdon</b></td>
                        <td><p>Hon Secretary</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>07774 186 792</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>secretary@rotarysandersteadandselsdon.com</p></td>
                  </tr>

                   <tr>
                        <td><b>Rotary Club of Croydon Whitgift</b></td>
                        <td><p>Contact Bill Ainscow</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>07533 107 727</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>a.w.l@btconnect.com</p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Townswomen's Guild</b></td>
                        <td><p>Contact, Pauline Ainscow</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>All Saints Church Hall, 2nd Weds 2pm</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8651 4032</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>a.w.l@btconnect.com</p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Village WI (evenings)</b></td>
                        <td><p>First Monday of the month, 7.30 pm</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Sanderstead Methodist Church</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>President, Sheila Freeman</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 2554</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>sfreeman@aol.com</p></td>
                  </tr>
                  <tr>
                        <td><b>Sanderstead WI (afternoon)</b></td>
                        <td><p>First Wednesday of the month</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.sandersteadwi.org", "http://www.sandersteadwi.org" %></p></td>
                  </tr>

                  <tr>
                        <td><b>U3A Croydon</b></td>
                        <td>Learn, laugh, live</td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><%= link_to "www.u3asites.org.uk/croydon", "https://u3asites.org.uk/croydon" %></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td>chair@croydonu3a.org.uk</td>
                  </tr>
                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td>07808 723 686</td>
                  </tr>
                  
            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="sport"></a>Sport and Games</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Arkwright Badminton Club</b></td>
                        <td><p>All Saints Halls, Onslow Gardens.</p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Every Monday at 8 pm</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Club Secretary, Vivienne Marshall</p></td>
                  </tr>
                 
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.arkwrightbadminton.co.uk", "http://www.arkwrightbadminton.co.uk" %></p></td>
                  </tr>
                  <tr  class="adstable">
                        <td>&nbsp;</td>
                        <td>020 8406 4402</td>
                  </tr>


                  <tr>
                        <td><b>Croydon Active Paddlers Canoe Club</b></td>
                        <td><p>15 Foxearth Road, South Croydon, CR2 8EH</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.croydonactivepaddlers.org", "http://www.croydonactivepaddlers.org" %></p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>chairman@croydonactivepaddlers.org</p></td>
                  </tr>


                  <tr>
                        <td><b>Croham Hurst Golf Club</b></td>
                        <td><p>Croham Road, South Croydon, CR2 7HJ</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.chgc.co.uk", "https://www.chgc.co.uk" %></p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 5581</p></td>
                  </tr>

                  <tr>
                        <td><b>Purley Bury Bowling Club</b></td>
                        <td><p>53, Purley Bury Avenue, CR8 1JF</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.purleyburybc.co.uk", "http://www.purleyburybc.co.uk" %></p></td>
                  </tr>
                   <tr>
                        <td>&nbsp;</td>
                        <td><p>secretary@purleyburybc.co.uk</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07311 484 922</p></td>
                  </tr>

                  <tr>
                        <td><b>Purley Downs Golf Club</b></td>
                        <td><p>106 Purley Downs Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.purleydownsgolfclub.co.uk", "http://www.purleydownsgolfclub.co.uk" %></p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 8347</p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Cricket Club (youth)</b></td>
                        <td><p>Hon Secretary, Kirsty Cunningham</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>sandersteadcricket@gmail.com</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Hall Badminton Club</b></td>
                        <td><p>Chair, David Hills</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 8628</p></td>
                  </tr>


                  <tr class="adstable">
                        <td><b>Sanderstead Hockey Club</b></td>
                        <td><p><%= link_to "www.sandersteadhockey.com", "http://www.sandersteadhockey.com" %></p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Lawn Tennis and Social Club</b></td>
                        <td><p>Penwortham Road, Sanderstead</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>sandersteadltc@gmail.com</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>sanderstead.general@gmail.com</p></td>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Village Lawn Tennis Club</b></td>
                        <td><p>26a Sanderstead Court Avenue</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Chairman Malcolm Nicholls</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td>Website <%= link_to "www.svltc.co.uk", "http://www.svltc.co.uk" %></td>
                  </tr>
                 
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 2072</p></td>
                  </tr>

                  <tr>
                        <td><b>Trinity Sanderstead Sports and Social Club</b></td>
                        <td><p>Lime Meadow Avenue, CR2 9AS</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Membership: Anna Warnock</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07582 910 094</p></td>
                  </tr>

            </tbody>
      </table>

      <h4><a class="anchor" id="top" name="youth"></a>Youth Organisations</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                    <tr>
                        <td>Younger Generation Theatre Group</td>
                        <td>An opportunity for 9-18's to appear on the professional stage</td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><%= link_to "www.youngergeneration.co.uk", "https://www.youngergeneration.co.uk" %></td>
                  </tr>
            </tbody>
      </table>

      <h4>Scouts and Beavers</h4>
      <table>
            <tbody> 
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  

                  <tr>
                        <td><b>16th Purley (All Saints Church)</b></td>
                        <td><p>Scout HQ, Cranleigh Close, Cranleigh Gardens, CR2 9LD</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Group Scout Leader, Kate Balzer</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>gsl.16thpurley@gmail.com</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07460 484749</p></td>
                  </tr>

                  <tr >
                        <td>&nbsp;</td>
                        <td><p>Beavers age 6-8 Thursday 5.30 - 6.30, Gemma Webb</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>beavers.16thpurley@gmail.com</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07817 771338</p></td>
                  </tr>

                   <tr >
                        <td>&nbsp;</td>
                        <td><p>Cubs age 8-11 Wednesday 6.45 - 8.15, David Freeman</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>cubs.16thpurley@gmail.com</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8657 2552</p></td>
                  </tr>

                   <tr >
                        <td>&nbsp;</td>
                        <td><p>Scouts age 11-14 Thursday 7.30 - 9 Andrew Brackenbury</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>scouts.16thpurley@gmail.com</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07450 888323</p></td>
                  </tr>

                  <tr>
                        <td><b>18th Purley (URC) </b></td>
                        <td><p>Scout HQ, Farm Fields, CR2 0HQ</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Group Scout Leader, tbc</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Beavers Thursday 5 - 6.15, Ellie Lawson</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07745 839770</p></td>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Cubs Monday 6.30 - 8, Stephen Gadsby</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07968 965146</p></td>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Scouts Thursday 7.30 - 9, Richard Griffin</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07769 781438</p></td>
                  </tr>

                  <tr>
                        <td><b>2nd Hamsey Green (St Antony's)</b></td>
                        <td><p>King's Walk, CR2 9BS off Cherry Tree Green</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Beavers Monday 6-7</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Cubs Monday 7.15 - 8.30</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Scouts Tuesday 7 - 8.30</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Group Scout Leader, Janice Simpson</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>janice@astoolhire.co.uk</p></td>
                  </tr>                  

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07941 640302</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>19th Purley Scout HQ</td>
                        <td>Dunmail Drive, off Mitchley Hill</td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Group Scout Leader Liz O'Brien</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>obrien.ob1k@blueyonder.co.uk</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07817 451978</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Beavers Monday 5 - 6.15 Chris Scott</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07749 042231</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Cubs Monday 6.30 - 8 Elaine </p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07472 736875</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Scouts Wednesday 7 - 9 Russ Daws</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07775 783503</p></td>
                  </tr>


            </tbody>
      </table>


      <h4>Guides, Brownies and Rainbows</h4>
      <p>Official Contact details, <%= link_to "www.girlguiding.org.uk/interested", "http://www.girlguiding.org.uk/interested" %></p>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>18th Purley Scout Hut, Farm Fields</b></td>
                        <td><p>1st Sanderstead Rainbows, Wednesdays</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Wednesday 5 - 6.15 Sue Thomas</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>susanethomas@aol.com</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07870 318366</p></td>
                  </tr>

                  <tr>
                        <td><b>All Saints Church</b></td>
                        <td><p>3rd Sanderstead Rainbows, Tuesday</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Tuesday 4 - 5 pm</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>susanethomas@aol.com</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07870 318366</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>9th Sanderstead Brownies. Tuesdays</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Tuesday 5.30 - 7 pm</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>susanethomas@aol.com</p></td>
                  </tr>

                   <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07870 318366</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>7th/9th Sanderstead Guides, Fridays</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td>Friday 6.30 - 8pm</td>
                  </tr>     

                  <tr class="adstable">
                        <td><b>Methodist Church</b></td>
                        <td><p>11th Sanderstead Brownies, Wednesday</p></td>
                  </tr>
            </tbody>
      </table>
      <h4><a class="anchor" id="top" name="ys"></a>Youth Sports</h4>
      <table>
            <tbody>
                   <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Selsdon Little League Football</b></td>
                        <td><p>Boys and Girls, all abilities, 8 - 13 years</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Sanderstead Recreation Ground</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>selsdonlittleleague@outlook.com</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p><%= link_to "www.selsdonlittleleague.com", "https://www.selsdonlittleleague.com" %></p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td>Mik Simmonds</td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td>07507 558099</td>
                  </tr>

                  <tr>
                        <td><b>Hamsey Rangers Football Club</b></td>
                        <td><p>Children, boys and girls, under 7s to seniors</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>John Fisher Sports Ground, 192 Limpsfield Road</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Secretary, Lisa Courtney</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>020 8651 1780 / 07711 997793</p></td>
                  </tr>
            </tbody>
      </table>
      <h4>For Younger Children</h4>
      <table>
            <tbody>
                  <tr>
                        <th class="col35">&nbsp;</th>
                        <th class="col65">&nbsp;</th>
                  </tr>

                  <tr>
                        <td><b>Sanderstead Library</b></td>
                        <td><p>Farm Fields, Sanderstead CR2 0HL</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 3700 1015</p></td>
                  </tr>
                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>For Under 5s
                              <ul>
                                    <li>Rhymetime, Wednesdays, 10am, babies and toddlers</li>
                                    <li>Wiggle and Jiggle, Wednesdays, 11am, 18 months upwards</li>
                                    <li>Storytime. Fridays, 4 pm, 2 1/2 years upwards</li>
                              </ul>
                              </p></td>
                  </tr>


                  <tr>
                        <td><b>Sanderstead Toddler Group</b></td>
                        <td><p>United Reformed Church Hall</p></td>
                  </tr>

                   <tr>
                        <td>&nbsp;</td>
                        <td><p>Mondays at 9.30 am (termtime)</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Must book in advance</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>contact Connie on 07587 143940</p></td>
                  </tr>

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>Parents and Carers with babies and toddlers welcome</p></td>
                  </tr>


                  <tr>
                        <td><b>Parent and Child Group</b></td>
                        <td><p>Sanderstead Methodist Church, Limpsfield Road, CR2 9LD</p></td>
                  </tr>
                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Wednesdays and Thursdays at 9 - 11.15. Booking required</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td>kerry.smchurch@aol.com</td>
                  

                  <tr class="adstable">
                        <td>&nbsp;</td>
                        <td><p>07919218767</p></td>
                  </tr>

                  <tr>
                        <td>All Saints Church</td>
                        <td>Onslow Gardens, CR2 9AB</td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>Tuesday and Friday at 9.30 am (termtime)</p></td>
                  </tr>

                  <tr>
                        <td>&nbsp;</td>
                        <td><p>020 8657 0665</p></td>
                  </tr>

                
            </tbody>
      </table>


                  <p><%= link_to "Back to top", anchor: "top" %><p>

    </div>
    <div class="col-md-3">
      <h4>External Links</h4>
      <p>For news and information from Croydon Council...</p>
      <p><%= link_to "Croydon", "http://www.croydon.gov.uk", class: 'btn btn-primary' %></p>
      <p>For up to date news about local planning applications...</p>
      <p><%= link_to "Planning", "https://new.croydon.gov.uk/planning-and-regeneration/planning", class: 'btn btn-primary' %></p>
      <p>For information about Croydon Health Services...</p>
      <p><%= link_to "Health", "https://www.croydonhealthservices.nhs.uk/", class: 'btn btn-primary' %></p>
      <p>For other local Residents' Associations...</p>
      <p><%= link_to "Riddlesdown", "http://riddlesdownresidents.org.uk", class: 'btn btn-primary' %></p>
      <p>For neigbourhood websites</p>
      <p><%= link_to image_tag("small-images/nextdoor200.jpg", alt: "Nextdoor.co.uk"), "https://nextdoor.co.uk/" %></p>
      <p>For travel information</p>
      <p><%= link_to "Southern", "https://www.southernrailway.com/travel-information/", class: 'btn btn-primary' %></p>
      <p><%= link_to "Transport for London", "https://www.tfl.gov.uk", class: 'btn btn-primary' %></p>
    </div>
  </div>
</div>
