<% provide(:title, 'Directory') %>
<div class="background_image">
  <%= image_tag "village_sign1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
	<h2>Sanderstead Directory</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
          	<div class="col-md-12 grey-back">
          		<h4 style="text-align: center;">Where we have not yet confirmed permission to use contact data online, please refer to the "Sanderstead News" magazine for directory information.</h4>
          	</div>
           <div class="col-md-3 directory-md3">
           	<h4><%= link_to "Youth Organisations", anchor: "youth" %></h4>
            <h4><%= link_to "Church Information", anchor: "church" %></h4>
            <h4><%= link_to "Arts and History", anchor: "arts" %></h4>
            <h4><%= link_to "Music", anchor: "music" %></h4>
            <h4><%= link_to "Sport", anchor: "sport" %></h4>
            <h4><%= link_to "Support groups", anchor: "support" %></h4>
            <h4><%= link_to "Social", anchor: "social" %></h4>
            <h4><%= link_to "Care for the community", anchor: "care" %></h4>
            <h4><%= link_to "Care for the environment", anchor: "environ" %></h4>
            <h4><%= link_to "Charities", anchor: "charity" %></h4>
           		
           </div>
           <div class="col-md-9 directory-md9">
            <h4><a name="youth"></a>Youth Organisations</h4>
           	<h4>Scouts and Beavers</h4>
              <h5>8th Purley (St Mary's)</h5>
              <p>Scout Hut HQ, St Mary's Church, 85 Purley Oaks Road, CR2 0NY</p>
              <p>Group Scout Leader, Yvonne Lamont <!-- tel 020 8763 2933 --></p>
            <h4><a name="church"></a>Churches</h4>
           	  <h5>All Saints Parish Church - AD 1230</h5>
           	  <p>Team Rector, Rev'd Canon Martin Greenfield, tel 020 8657 1366</p>
           	  <p>Parish Secretary, Paul Shipley, tel 020 8657 0665</p>
           	  <p>Email, parish.office@sanderstead-parish.org.uk</p>
            <h4><a name="arts"></a>Arts and History</h4>
           	  <h5>Bourne Society</h5>
           	    <p>Hon Membership Secretary, Mrs J Hurrion. <!--Tel 01883 349287 --></p>
              <h5>Bridge Thursday Club, Sanderstead</h5>
           	    <p>Memorial Hall, Purley Oaks Road. Email honorshearing@googlemail.com. tel 020 8657 4082</p> 
            <h4><a name="music"></a>Music</h4>
              <h5>Cantilena Singers (Ladies' Choir)</h5>
                <p>Methodist Church, Wednesdays 7.30 - 9 pm</p>
                <p>Contact Jill, tel 020 8660 2924 or 07957 6270783</p>
           </div>
           	</div> <!--/row marketing -->  
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->