<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="purleylit"></a>Purley Literary Society. Thursday 8th Ocotber</a></h3>
                <p>Meetings at 8pm in the hall of Purley United Reformed Church, 906 Brighton Road, Purley, CR8 2LN. 
                <%= link_to "www.purley-literary-society.com", "http://www.purley-literary-society.com" %></p>
                <p><%= link_to "Download the programme here", "resource/Purley_lit19and20.pdf" %></p>
                  <ul>
                    <li>8 October The Remarkable Mr Selfridge Ian Porter</li>
                    <li>22 October The Inexhaustible Mr Paxton Russell Bowes</li>
                    <li>5 November What's in a Name? Anthony Poulton-Smith</li>
                    <li>19 November Museum of Croydon Archives Lindsay Ould</li>
                    <li>3 December The Great British Paint Off Nicola Moorby</li>
                    <li>4 January Shirley Windmill Frank Paine</li>
                    <li>28 January The Cow That Changed History Amanda Bryett</li>
                    <li>11 February Rigorous Pleasure – The Architecture of CZWG at 1 Lansdowne Road Piers Gough</li>
                    <li>25 February The Miracle of Bletchley Park Gillian Cane</li>
                    <li>10 March ENSA - Every Night Something Awful Delia Taylor</li>
                    <li>24 March AGM at 7:30 with refreshments, followed by: Les Parisiennes: How The Women of Paris
                        Lived, Loved and Died in the 1940's Anne Sebba</li>
                  </ul>
                </p>
              </td>
              <td class="events">
                <h3><%= link_to "Purley Literary Soc", "http://www.purley-literary-society.com" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="exhibition"></a>Public exhibition of plans for a new care home. Friday 11th October</a></h3>
                <p>To be held in All Saints small hall, Onslow Gardens, CR2 9AB. Friday 11th October, 3 - 7 pm.</p>
                <p>Churchgate services are putting on a public exhibition for a chance to find out more about their proposals to build a new 60 bed care home on the corner of Sanderstead Hill and Addington Road.</p>
                <p>Churchgate services is primarily focussed across the south of England where they have developed a range of sites including residential and commercial, although care homes are the main focus of the group. They want to hear from local residents - come to the public exhibition to hear more.</p>
                <p>If you can't come to the exhibition they still want to hear your views. Contact josephb@curtinandco.com, tel 0207 399 2294</p>
              </td>
              <td class="events">
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="Quiz"></a>Sanderstead Nieighbourhood Care Quiz Night. Saturday 12 October</h3>
                <p>NOW FULLY BOOKED</p>
                <p>Sat 12 October, 7 pm for a 7.30pm start. Tickets: £10 per person. Payment in advance only! 6 people per table. Ticket price includes a ploughman’s & dessert but please bring your own glasses and drink. Any special dietary requirements
                need to be advised in advance. There will be a raffle on the night</p>
                <p>All Saints Church Hall, Onslow Gardens, Sanderstead CR2 9AB</p>
                <p>Book tickets by calling 020 8657 8289, come into the office or email. sandersteadneighbourhoodcare@gmail.com</p>
              </td>
              <td class="events">
                <h3><%= link_to "SNC", "resource/snc_quiz2019.pdf" %></h3>
              </td>
          </tr>

          <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beechesoct"></a>Purley Beeches Work Party. Sat 19 October</h3>
                <p>October 19th AUTUMN CLEAR UP. Summer growth will be dying back, a final opportunity to clear paths and care for our new trees, but as always there will be time for warming elevenses.
                <p> <%= link_to "Programme for 2019", "resource/FOPB_2019.pdf" %></p>
                <p>For further information please call or email, Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com, Elizabeth Bennett: bennett_@sky.com, Mac Court: mac_court@talktalk.ne</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/FOPB_2019.pdf" %>
              </td>
            </tr>

          <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="theartsnov"></a>The Arts Society Sanderstead. Tuesday 26 November</h3>
                <p>Meetings commence at 10.30 on the fourth Tuesday of the month at the United Reformed Church Hall, Sanderstead Hill, South Croydon, CR2 0HB.  Coffee is served from 9.45 to 10.15am.  The November meeting is ‘Food and Art Through the Ages' by Tasha Marks.</p>
                <p>At present there is no waiting list for new members joining and visitors are welcome on payment of a small fee. For more information phone 0208 660 9122. Email:  suedavenport72@gmail.com</p>
                <p><%= link_to "Programme for 2020", "resource/arts_soc_sand2020.pdf" %></p>
              </td>
              <td class="events"><h3><%= link_to "The Arts Society", "https://theartssociety.org/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="artshow"></a>Children's Society Art Exhibition, Sat 12 March 2020</h3>
                <p>Saturday 21 March 10.00am – 4.30pm United Reformed Church Hall, Sanderstead Hill.</p>
                <p>A Spring date for your calendar! Our 46th annual exhibition again offers an opportunity to admire the talents of local artists and to buy original works for yourself or as gifts at very reasonable prices. It is always a lively event with a wide variety of colourful pictures to enjoy, both framed and unframed, from beautiful animal studies to romantic landscapes and lovely local scenes. Around 50 artists' work will be on display and 20% of all profits go towards the Society's work with disadvantaged children. There will also be a homemade cakes and preserves stall, plus tea and coffee to enjoy and a chance to win a raffle prize. Drop in morning or afternoon if you have the chance. We'd love to see you.</p>
              </td>
              <td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events"><a class="anchor" id="top" name="theartssept"></a><h3>THE ARTS SOCIETY CROYDON AREA. 2nd Thursday of the month</h3>
                <p>Meet Monthly (2nd Thursday) at 10.15 in All Saints Church Hall, Sanderstead</p>
                <p>For further details please phone 02086572496 or email janice.brunger@outlook.com</p>
              </td>
              <td class="events"><h3><%= link_to "The Arts Society", "https://theartssociety.org/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sandhist"></a>Sanderstead Local History Group. Monthly on a Wednesday</h3>
                <p>Want to discover more local history? If so then 'The Sanderstead Local History Group' would like to invite you to our monthly meetings held 2-4pm at All Saints Church Hall Onslow Gardens Sanderstead the last Wednesday in the month. A small charge of £2 each meeting to cover hall hire and refreshments. No annual fee. Information is on the Bourne Society website re the area covered and local history books they have produced plus details of the SLHG meetings.</p>
                    <p>Contact Joyce Hoad (Chair) joycehoad@virginmedia.com or chris.harman@tiscali.co.uk</p>
                </td>
                <td class="events">
                <h3><%= link_to "Bourne Society", "http://bournesoc.org.uk/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="soul"></a>Soul Symphony Choir, Tuesday evenings at 7.15</h3>
                <p>Soul Symphony Choir is a fun, friendly and vibrant choir based in Croydon, and is directed by the amazingly talented Joanne Miller. Soul Symphony Choir is more than entertainment; its members enjoy helping our community and reaching out to those who may appear to be less integrated into society. Soul Symphony has raised thousands of pounds through fundraising concerts for charities and causes. You are welcome to join us on Tuesday evenings from 7:15pm at Emmanuel Centre, Rockhampton Road, South Croydon CR2 7AQ, opposite St Peter’s Primary School and Emmanuel Church. For more information please visit <%= link_to "www.soulsymphony.co.uk", "http://www.soulsymphony.co.uk" %>.</p>
               </td>
              <td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "resource/Soul_Symphony_2018.pdf" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="toddlers"></a>Toddler Groups every Tuesday and Friday in term time</h3>
                <p>Toddler groups meet in All Saints' Halls every Tuesday and Friday during term time from 9.30 till 11.30. Toys, trains, friendship, refreshments, songs. £2 per child</p>
              </td>
              <td class="events"> <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>
              </td>
            </tr>           

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

             <!--<tr>
              <td><a class="anchor" id="top" name="beeches_nov"></a>
                <h3>Purley Beeches Work Party, Saturday 17th November, 10 - 1pm</h3>
                <p></p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>              
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
              </td>
            </tr>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

              <!-- <td class="events">
                <%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/your-area/croydon/sanderstead/" %>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/sechclogo.gif", alt: "SECHC logo"), "http://sechc.org.uk" %></h3>
              </td>-->

               <!--<td class="events">
                <h3><%= link_to image_tag("small-images/scouts100.jpg", alt: "Croham Valley Explorer Scouts"), "http://crohamvalleyesu.ukscouts.org.uk/" %></h3>
              </td>-->

               <!--<td class="events"><h3><%= link_to "Football", "https://www.selsdonlittleleague.com/" %></h3>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/SDC_Crest100.png", alt: "Sanderstead Dramatic"), "https://www.sdclub.org.uk" %></h3>
              </td>-->

              <!--<td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "http://www.soulsymphony.co.uk" %>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
