<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2017</h2>

        <table>
          <tbody>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="library"></a>Easter craft session at Sanderstead Library, Saturday 15th April, 3-4 pm</h3>
               <p>A session dedicated to the Easter celebrations. Come along and make a card, decorate a polystyrene egg or colour in that special bunny! Tel 020 3700 1015 email croydon.sandersteadlibrary@carillionservices.co.uk</p>
              </td>
              <td class="events">
                <h3><%= link_to "Sanderstead library", "resource/easter_library.pdf" %>
                </h3>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="ebear"></a>eBear's Attic Edwardian Afternoon Tea and Costume Exhibition. Sunday 23rd April</h3>
               <p> We are holding an Edwardian afternoon Tea and Costume Exhibition at eBear's Attic Boutique, Limpsfield Road, on Sunday 23rd April 2017 from 12.30 – 3.30pm,Tickets for the whole event including afternoon tea will cost £20 each (all proceeds will go to the Aromatic Amino Acid Decarboxylase Deficiency AADC Research Trust) Edwardian dress is optional. There will be a number of dresses and accessories from the Edwardian section of my Costume Collection.</p>
               <p>Entry for the exhibition only is £3, for tickets and further details Heather Griffin 020 8657 7045</p>
              </td>
              <td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>
                
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sraagm"></a>Sanderstead Residents' Association AGM, Thursday 4th May 2017, 8 pm.</h3>
               <p>The meeting will be held in All Saints Church Hall, Onslow Gardens, Sanderstead CR2 9AB</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="hawks"></a>Selsdon Junior Hawks Football Open Trials. Sat 27th May 9-11am</h3> 
                <p>We are looking for talented under 9 footballers. Could you be our next star player? Come to our open trial on 27th May to find out.</p>
                <p>We are an FA affiliated, family club that has taken the Tandridge league by storm in our first season! We are looking for talented boys as we move up to 7-a-side for the 2017/18 season.</p>
               <p>At Croydon Postal Ground, Trenham Drive, Warlingham, CR6 9RU.</p>
               <p>(Trialists should be in year 4 for the 2017/18 school year). Contact: selsdonhawks@hotmail.com to register / for more details</p>
              </td>
              <td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="bells"></a>Handbell Concert by the Sanderstead Handbell Teams, Sunday 4th June at 3 pm</h3>
               <p>Come and listen to our local handbell ringers in All Saints' Hall, Onslow Gardens, CR2 9AB. Free entry, retiring collection, Refreshments of tea and cake will be provided.</p>
              </td>
              <td class="events"><%= link_to image_tag("handbell_concert.png", alt: "Handbell poster"), "resource/handbell_concert_poster.pdf" %>
              </td>
            </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
