<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
      <h2>Latest events for 2015</h2>
      <table>
        <tbody>
          <tr>
            <td class="events">
              <h3><a name="reading"></a>Autumn at Sanderstead Library</h3>
                <p>All our regular activities for children and adults start again in September and include Storytime, Rhymetime, Wiggle and Jiggle Arty Crafty, Adult Reading Group, Knit and Natter groups etc. For more information please see <%= link_to "Croydon Libraries website", "http://www.croydonlibraries.com/" %> or email <%= mail_to"Croydon.sandersteadlibrary@Carillionservices.co.uk" %>, tel 020 3700 1015.</p>
            </td>
            <td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>
          </tr>   
            <tr>
            <td class="events">
              <h3><a name="rugby"></a>Watch Rugby World Cup at OMW Rugby Club</h3>
              <p>OMW Rugby Club in Lime Meadow Avenue are showing live World Cup Rugby. They will have 3 screens in the clubhouse showing the game. Bar opens at 7pm. See OMW Rugby club <%= link_to "programme", "/resource/OMWRFC_Leaflet.pdf" %> for full details</p>
            </td>
            <td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>
            </td>
          </tr>
          
          <tr>
            <td class="events">
              <h3><a name="philp"></a>Meet our MP, Chris Philp</h3>
              <p>As our local MP, Chris is keen to be accessible and to talk to as many local residents as possible about any issue on their mind. He will be available at street stalls at the times below if you would like to drop by for a chat. No appointment is necessary.</p>
              <ul>
                <li>Saturday 10th October, 10:15am-12:00, Outside Elmfield Way Post Office, Croham, CR2 0EJ</li>
                <li>Saturday 7th November, 10:15am-12:00, Addington Road opposite Sir Julian Huxley, Selsdon</li>
                <li>Saturday 12th December, 10:15am-12:00, Outside McColls/Post Office, Limpsfield Road, Sanderstead</li>
              </ul>
            <td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>

          <tr>
            <td class="events">
              <h3><a name="funhour"></a>Family Fun Hour at All Saints' Church, 11th October and 8th November</h3>
              <p>Crafts, Bible stories, songs, fun, tea and chat, especially for little ones and their families. All Saints' Church Hall, Onslow Gardens, CR2 9AB. Further details from either <%= mail_to "rector@sanderstead-parish.org" %> or <%= mail_to "c@gerardbrooks.org.uk" %>.</p>
            </td>
            <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>
          </tr>


          <tr>
            <td class="events">
              <h3><a name="fopb17oct"></a>Friends Of Purley Beeches working party, 17th October</h3>
              <p>Working party in Purley Beeches from 10 am to 2 pm. Tools, hot drinks and light refreshments will be provided. If you haven't attended a previous work party, please don't be put off. come for as long or as little time that you can spare, but please wear suitable cloting, stout footwear and tough gardening clothes. For more information please contact Mac Court <%= mail_to "mac@skyy.me.uk" %>. Click the link to download a form to join the <%= link_to "Friends of Purley Beeches", "/resource/purley_beeches_enrol.pdf" %>.</p>
            </td>
            <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a name="catscradle"></a>Parlour Players present "Cat's Cradle" 5th - 7th November</h3>
              <p>Parlour Players' murder mystery - Cat’s Cradle at Sanderstead United Reformed Church hall, Sanderstead Hill at 7.45pm. Tickets £8 and £9 from the box office 020 8657 2632.
              </p>
            </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>
          </tr>


          <tr>
            <td class="events">
              <h3><a name="fopb26nov"></a>Friends Of Purley Beeches AGM, Thursday 26th November</h3>
              <p>The AGM will be held at 7.30 pm at St Mary's Church Hall, Purley Oaks Road. For further information please contact Stanley Lowy, tel 0208657 3684 <%= mail_to "stanlowy@outlook.com" %> or Elizabeth Bennett <%= mail_to "bennett_e@sky.com" %> or Mac Court <%= mail_to "mac@skyy.me.uk" %></p>
            </td>
            <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>
          </tr>
          <tr>
            <td class="events">
            </td>
            <td class="events">
            </td>
          </tr>
           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
