<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2016</h2>

        <table>
          <tbody>
          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="agm"></a>The Sanderstead Residents' Association AGM, Thursday 28th April 2016 at 8pm</h3>
              <p>The Sanderstead Residents' Association AGM will be held on Thursday 28th April, in All Saints' Church Hall, Onslow Gardens, Sanderstead, CR2 9AB.The AGM is your meeting when you have the opportunity to question your Committee, Councillors and possibly your MP. We will report on our finances and our various activities. Please bring along ideas about whom you consider we should be supporting with grants and the future direction of the Sanderstead Residents Association.</p></td>
            <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="mariona2"></a>Guided Walk in King's Wood, Friday 29th April, 10 am</h3>
              <p>(GR 349 603) Enjoy the freshness of new leaves on our native trees above and delicate flowers at our feet. A gentle two hour amble starting from where Orchard Road enters woodland (off Limpsfield Road, Sanderstead, B269). Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>

          <tr>
            <td>
              <h3><a class="anchor" id="top" name="tennis"></a>Sanderstead Lawn Tennis Club, Penwortham Road, Charity Day and Tournament. Bank Holiday Monday 2nd May</h3>
              <p>SLTC is holding its annual charity day at the club on Mayday Bank Holiday Monday 2nd May from 11 00. In addition to a tennis tournament there will be stalls selling a variety of products, a midday Bar-B-Q serving traditional hot food and the bar will be open all day.</p>

              <p>In past years this annual event has raised thousands of pounds for local charities and this year’s charity is The Purley Cancer Centre. All visitors are welcome. Website <%= link_to "www.sandersteadltc.co.uk", "http://www.sandersteadltc.co.uk" %></p>
            </td>
            <td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>
            </tr>


          <tr>
            <td>
              <h3><a class="anchor" id="top" name="parlour"></a>Parlour Players present "The Bard Unbuttonded". 12 - 14 May 2016</h3>
              <p>Parlour Players Spring Production, 12th – 14th May 2016 at Sanderstead URC is titled ‘The Bard Unbuttoned’ an acknowledgement of William Shakespeare in the 400th year of the anniversary of his death. There are two plays with  Shakespearian themes – ‘Don’t Blame it on the Boots’ and ‘The Droitwich Discovery’. Evening performances commence at 7.45 pm on each night, there is a licenced bar for pre-performance and interval drinks and tea and coffee is also available. Please put the date in your diary and box office details will be added shortly.</p>
            </td>
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="water"></a>Sutton and East Surrey Water Company, Customer Open Day, Saturday 14th May 2016</h3>
              <p>Sutton and East Surrey Water’s Bough Beech Reservoir and Water Treatment Works. From Source to Tap – Free Customer Open Day - Saturday 14 May 2016 9.30am - 12.00pm or 1.00pm – 3.30pm</p>

              <p>Sutton and East Surrey Water supplies around 160 million litres of water a day to 685,000 people and 17,000 businesses in East Surrey, parts of West Sussex, West Kent and South London. Groundwater supplies provide 85 per cent and the remaining 15 per cent comes from our only surface reservoir at Bough Beech. </p>

              <p>Come and take a look behind the scenes to see how water is treated from ‘source to tap’ to produce your high quality drinking water. </p>

              <p>As this is an operational plant and the behind-the-scenes tour incorporates metal stairs and walkways, regrettably we are unable to accommodate people with impaired mobility or children under 14 years of age. ID will be required. This event is only open to Sutton and East Surrey Water customers and booking is essential.</p>

              <p>To book your free place, please contact 01732 375417 (Monday to Friday, 9.00am-5.00pm).    <%= link_to "www.waterplc.com", "http://www.waterplc.com" %>.<p>
            </td>
            <td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="hearme"></a>Hear Me Speak, debating competition for Primary Schools. Thursday 9th June, 3.15 - 4 pm</h3>
              <p>The third year of our popular debating competition for year 6 children is to be held at Hamsey Green Primary School. For more information please contact Cliff Quartly <%= mail_to "francisquartly@hotmail.co.uk" %></p>
            </td>
            <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="festival"></a>Sanderstead Festival of Music and Dance, Saturday 18th June 2016</h3>
              <p>A new venture for Sanderstead Community, a music and dance festival will be held on Saturday 18th June, 2-6 pm. Sponsored by our local Councillors, the Residents' Association, All Saints' Church and Priscilla's, it will be held on the Gruffy, in All Saints' Halls and All Saints' Church. We are already booking some exciting acts, and if you would like to be involved please contact Dennis King tel: 020 8657 2661, <%= mail_to "chairman@sanderstead-residents.co.uk" %> View our flyers here.</p>
              <p><%= link_to("Sanderstead Festival page 1", "resource/Flyer_Page_1.pdf") %></p>
              <p><%= link_to("Sanderstead Festival page 2", "resource/Flyer_Page_2.pdf") %></p>
            </td>
            <td class="events"><%= link_to image_tag("Festival_image.jpg", alt: "Festival logo"), "resource/Flyer_Page_1.pdf" %>
            </td>
          </tr>




          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="band"></a>Our Kind of Swing, featuring the Big Band Sound of The Nigel Garrard Orchestra on Saturday 18th June at 8 pm</h3>
              <p>Enjoy the music of Glenn Miller, Count Basie and Ted Heath. Join us on Saturday 18th June at All Saints’ Church Halls, Onslow Gardens, Sanderstead CR2 9AB.</p>
              <p>Concert starts at 8.00pm. Doors open at 7.30pm. Tickets £15 (Children under 15 - £12). BOX OFFICE TELEPHONE 0208 657 2624. All profits will go to local charities and good causes. <%= link_to("Application form for tickets", "resource/swing_flyer.pdf") %>.</p>
            </td>
            <td class="events"><h3><%= link_to image_tag("small-images/trombones100.jpg", alt: "Swing Band"), "resource/swing_flyer.pdf" %></h3>
            </td>
          </tr>

          <tr>
            <td class="events">       
              <h3><a class="anchor" id="top" name="surc"></a>Sunday afternoon Concerts at SURC</h3>
              <p>The next concert in the SURC concert series is a concert of contrasts on Sunday 19th June. The concerts start at 3 pm and last around an hour, followed by tea, coffee and cakes which are included in the price of £7 and £3 (under 18).</p>
              <ul>
                <li><b>19th June</b> A concert of contrasts with trumpet, organ and harp</li>
                <li><b>24th July</b> Surrey Harmony with their lively ladies' barbershop</li>
            </ul>
            <p>For more information contact: <%= mail_to "sanderstead.music@gmail.com" %>, <%= link_to "www.surc.org.uk", "http://www.surc.org.uk" %> or telephone 07563 917777</p>
            </td>
            <td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>
          </tr>


           <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="marionj"></a>Guided Walk on Farthing Downs, Saturday 24th June, 10 am</h3>
              <p>(GR 302 572) See what flowers are now flourishing on slopes where scrub has been removed. Some longish slopes on this easy paced two hour walk exploring a spectular chalk valley. Leave fom Farthing Downs car park, one mile south of Coulsdon South station. Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchro" id="top" name="jubilee"></a>Jubilee Running 10K, Sunday 26th June 9.30am</h3>
              <p>Runners and Walkers welcome. A slightly undulating, 10K all terrain course encompassing Selsdon, Sanderstead and Warlingham. Entrants must be 15 years of age or older. For an entry form please contact the Jubilee Church Office on 020 8651 2807 email <%= mail_to "office@croydon-jubilee.co.uk" %></p>
            </td>
            <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>
          </tr>




          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="marionj2"></a>Guided Walk on Riddlesdown, Friday 1st July, 10 am</h3>
              <p>(GR 323 605) In areas where sheep and cattle have been grazing the number of flower species has multiplied. Enjoy the colours and the insects they attract. This two hour walk leaves from Riddlesdown Common car park at the top end of Riddlesdown Road. Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>


           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
