<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2016</h2>

        <table>
          <tbody>
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beeches"></a>Purley Beeches Working Party, Sat 21st January at 10am </h3>
                <p>Last  year’s hard work culminated in a bonfire, mulled wine and mince pies and now all is ready for our second replanting. A similar mix of tree whips to last year’s will be delivered to the Beeches in good time and all that is needed is plenty of willing volunteers with spades.</p>
                <p>Most of us will remember the drill from last time which reminds me that we will also need loppers, to cut marking stakes, these need to be substantially longer than the ones we cut last year as they soon disappeared beneath the undergrowth, so at least 4 ft. In length.</p>
                <p>This time last year we recruited several new members who came to watch the planting, let’s hope for more this time. Planting will commence at 10am and should be completed by midday, when a search for the next work site will begin, all done by 1pm. So don’t forget, spades, loppers and suitable clothes and shoes.</p>
                <p>Finally a big thank you to all those who have paid their subs.</p>
                <p>For further information please email or call Stanley Lowy: 020 8657 3684 or <%= mail_to "stanlowy@outlook.com" %>. Elizabeth Bennett: <%= mail_to "bennett_e@sky.com" %>. Mac Court   <%= mail_to "mac@skyy.me.uk" %>.</p>
 
              </td>
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>

            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sraagm"></a>Sanderstead Residents' Association AGM, Thursday 4th May 2017, 7.30 pm (tbc)</h3>
               <p>The meeting will be held in All Saints Church Hall, Onslow Gardens, Sanderstead CR2 9AB</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %>
              </td>
            </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
