<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2017</h2>

        <table>
          <tbody>
        
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="poetry"></a>Poetry Competition at Sanderstead Library. 26 - 30 September</h3>
                <p>Sanderstead poetry competition for adults and children. The poems can be any subject, any size and any type (acrostic etc...). Customers just have to come along and pop their poem into the entry box along with their name, library card number and age. If we are closed, poems can be put through our door in an envelope. Poems must be original. Contact Sanderstead Library 020 3700 1015, email Croydon.sandersteadlibrary@carillionservices.co.uk </p>
              </td>
              <td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="books"></a>Book Sale in aid of Sanderstead Neighbourhood Care. Sat 30th September</h3>
                <p>A book sale in aid of Sanderstead Neighbourhood Care will be held in All Saints' Hall, Onslow Gardens, Sanderstead, CR2 9AB, on Saturday 30th September from 2 - 4pm. </p>
               
              </td>
              <td class="events"><h3><%= link_to "Sanderstead Neighbourhood Care", "/resource/book_sale.pdf" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="priscilla"></a>Sanderstead Community Day, Saturday 30th September, 11am - 6pm.</h3>
                <p>Following last year's successful event another Sanderstead Community Day is being organised by Priscilla's on the Rec on Saturday 30th September. BBQ, dog show, inflatables, cakes and much more. <%= link_to "See this poster for details of all the exciting events", "/resource/community2017.pdf" %>. </p>
               
              </td>
              <td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>
            </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
