<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
      <h2>Latest events for 2015</h2>
      <table>
        <tbody>
          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="reading"></a>Autumn at Sanderstead Library</h3>
                <p>All our regular activities for children and adults start again in September and include Storytime, Rhymetime, Wiggle and Jiggle Arty Crafty, Adult Reading Group, Knit and Natter groups etc. For more information please see <%= link_to "Croydon Libraries website", "http://www.croydonlibraries.com/" %> or email <%= mail_to"Croydon.sandersteadlibrary@Carillionservices.co.uk" %>, tel 020 3700 1015.</p>
            </td>
            <td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>
          </tr>   

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="surc"></a>Sunday afternoon Concerts at SURC</h3>
              <p>The next concert series at Sanderstead United Reformed Church starts in December. The concerts start at 3 pm and last around an hour, followed by tea, coffee and cakes which are included in the price of £7 and £3 (under 18).</p>
              <ul>
                <li><b>6th December</b> Young Musicians in concert</li>
                <li><b>7th February</b> Tau Wey - a piano recital by the renowned musician</li>
                <li><b>20th March</b> Croydon Symphonic band</li>
                <li><b>19th June</b> A concert of contrasts with trumpet, organ and harp</li>
                <li><b>24th July</b> Surrey Harmony with their lively ladies' barbershop</li>
            </ul>
            <p>For more information contact: <%= mail_to "sanderstead.music@gmail.com" %>, <%= link_to "www.surc.org.uk", "http://www.surc.org.uk" %> or telephone 07563 917777</p>
            </td>
            <td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="crafts"></a>Christmas Crafts at Sanderstead Library, Tuesday 8th December, 4 - 5 pm</h3>
                <p>Christmas Crafts for families at Sanderstead Library, Tuesday 8th December, 4.00-5.00pm. Please contact the library to book a free place. Visit the <%= link_to "Croydon Libraries website", "http://www.croydonlibraries.com/" %> or email <%= mail_to"Croydon.sandersteadlibrary@Carillionservices.co.uk" %>, tel 020 3700 1015.</p>
              </td>
              <td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>
          </tr>  

             <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="funhour"></a>Family Christmas Fun at All Saints' Church, Wednesday 9th December 3.30 - 5 pm</h3>
              <p>Enjoy Christmas crafts, make decorations for your tree, with Bible stories and refreshments. Especially for primary school children and younger and their families. All Saints' Church Hall, Onslow Gardens, CR2 9AB. Further details from Judith Robinson tel. 8657 4679, email <%= mail_to "judithrobinson@talktalk.net" %>.</p>
            </td>
            <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>
          </tr>

            <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="philp"></a>Meet our MP, Chris Philp</h3>
              <p>As our local MP, Chris is keen to be accessible and to talk to as many local residents as possible about any issue on their mind. He will be available at street stalls at the times below if you would like to drop by for a chat. No appointment is necessary.</p>
              <p>Saturday 12th December, 10:15am-12:00, Outside McColls/Post Office, Limpsfield Road, Sanderstead</p>
              
            </td>
            <td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="tree"></a>Christmas Tree Festival at St Mary's, Saturday 12th December, 2 - 5 pm tbc</h3>
                <p>Come and enjoy the beautifully decorated Christmas trees in St Mary's Church, Purley Oaks Road, listen to Christmas music, and then visit the Christmas fair in the church hall.</p>
              </td>
              <td class="events">
                <h3><%= link_to("Sanderstead Parish", "http://www.sanderstead-parish.org.uk/st-marys") %></h3>
              </td>
            </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="marionf"></a>Guided Walk from Riddlesdown, Friday February 26th 10 am</h3>
              <p>(GR 323 605) Come for an exhilarating two hour walk through varied chalk hill habitats. See downland where sheep and catle graze and follow old routeways. Meet in Riddlesdown Common car park at the end of Riddlesdown Road. Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>

           <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="marionm"></a>Guided Walk from Kingswood, Friday March 18th 10 am</h3>
              <p>(GR 349 603) How many kinds of holes can we find? Why were hazels coppiced? A gentle two hour amble starting from where Orcherd Road enters King's Wood. (Off Limpsfield Road, Sanderstead, B269, bus route 403) Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>
           <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="mariona"></a>Guided Walk from Hamsey Green, Sunday April 24th 10 am</h3>
              <p>(GR 351 595) Starting from Hamsey Green Pond on Limpsfield Road, this two hour walk follows a lane along the parish boundary and returns through King's Wood. Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="agm"></a>The Sanderstead Residents' Association AGM, Thursday 28th April 2016</h3>
              <p>The Sanderstead Residents' Association AGM will be held on Thursday 28th April, in All Saints' Church Hall, Onslow Gardens, Sanderstead, CR2 9AB. There will be a presentation by our local Policing Team at 7.15 pm, and the AGM will begin at 8 pm.</p></td>
            <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="mariona2"></a>Guided Walk in King's Wood, Friday 29th April, 10 am</h3>
              <p>(GR 349 603) Enjoy the freshness of new leaves on our native trees above and delicate flowers at our feet. A gentle two hour amble starting from where Orchard Road enters woodland (off Limpsfield Road, Sanderstead, B269). Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>

           <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="marionj"></a>Guided Walk on Farthing Downs, Saturday 24th June, 10 am</h3>
              <p>(GR 302 572) See what flowers are now flourishing on slopes where scrub has been removed. Some longish slopes on this easy paced two hour walk exploring a spectular chalk valley. Leave fom Farthing Downs car park, one mile south of Coulsdon South station. Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="marionj2"></a>Guided Walk on Riddlesdown, Friday 1st July, 10 am</h3>
              <p>(GR 323 605) In areas where sheep and cattle have been grazing the number of flower species has multiplied. Enjoy the colours and the insects they attract. This two hour walk leaves from Riddlesdown Common car park at the top end of Riddlesdown Road. Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>


           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
