<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="carols"></a>Carols by Candlelight in All Saints' Church. Sunday 17th December at 6.30pm</h3>
                <p>Start your Christmas celebrations with a service of lessons and carols by candlelight in our historic local church: All Saints, Sanderstead, Onslow Gardens CR2 9AB. More information and details of all other Christmas services in Sanderstead Parish can be found on <%= link_to "www.sanderstead-parish.org.uk", "http://www.sanderstead-parish.org.uk" %></p>
               
              </td>
              <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3> <a class="anchor" id="top" name="fun"></a>Family Fun at All Saints, Sanderstead. Sunday 14th January, 3pm
                </h3>
                <p>Family Fun is a monthly activity based service  for all children up to the age of 12 years, and their parents​, grandparents​ and carers.     We start at 3:00pm in the All Saints' church halls with ​lots of ​time for activities and crafts based around ​the Bible, ​which the children do with their parents and carers, ​followed by plenty of ​lively ​singing​ and a story. We end our time together​ with a tasty snack and refreshments for all. Children take home everything they have made.</p>
                <p>We look welcoming you​ to Family Fun.  If you have any questions, please email ​children@sanderstead-parish.org.uk </p>
                </p>
              </td>
              <td class="events">
                 <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
              </td>
            </tr>



            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="childrensoc"></a>Exhibition and sale of pictures in aid of the Children's Society. Saturday 17th March 2018</h3>
                <p>United Reformed Church Hall, Sanderstead Hill. Saturday 17th March, 10am to 4.30pm.</p>
                <p>Around 50 artists' work will be on display and 20% of all profits go towads the Society' work with disadvantaged children. There will also be a homemade cakes and preserves stall, plus tea and coffee to enjoy and a chance to win a raffle prize</p> 
               
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
              </td>
            </tr>


             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="agm"></a>Sanderstead Residents' Association AGM , Thursday 10th May 2018</h3>
                <p>At the meeting members are entitled to elect the committee and have the opportunity to question the Councillors and Committee on matters relating to Sanderstead. Time to be confirmed. Held in All Saints' Hall, Onslow Gardens, CR2 9AB</p>
               
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></h3>
              </td>
            </tr>



           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
