<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>          

            <tr>
              <td class="events">
                <a class="anchor" id="top" name="AGM"></a><h3>Sanderstead Residents' Association AGM Wednesday 20th May at 7.30 pm</h3>
                <p>The Sanderstead Residents' Association AGM will be held on Wednesday 20th May at 7.30 pm in All Saints Church Hall, Onslow Gardens, Sanderstead, CR2 9AB. All members are enttiled to vote at the meeting.
                </p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>
            </tr>

            <tr>
              <td class="events">
                <a class="anchor" id="top" name="railway"></a><h3>Model Railway Show. Saturday 13 June 2020</h3>
                <p>Saturday 13 June at St Paul's URC, Croham Park Avenue CR2 7HF, from 10.00 am until 4.00 pm. Supported by Croydon Model Railway Society with 10 or more layouts in gauges N, 00, and 009. There will also be trade stands, demonstrations and a secondhand/pre-owned stall. Admission is Adults (£5), Children under 16 (£3), and Families - 2 + 2 (£12). Refreshments, including hot and cold snacks and meals, will be available all day. Details 01883 723081.</p>
                <p>This is the second South Croydon Model Railway Show.</p>
                 </td>
              <td class="events">
                <h3><%= link_to "St Paul's URC", "https://www.stpaulsurc.org.uk/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events"><a class="anchor" id="top" name="theartssept"></a><h3>The Arts Society Croydon Area. 2nd Thursday of the month</h3>
                <p>Meet Monthly (2nd Thursday) at 10.15 in All Saints Church Hall, Sanderstead</p>
                <p>For further details please phone 02086572496 or email janice.brunger@outlook.com</p>
              </td>
              <td class="events"><h3><%= link_to "The Arts Society", "https://theartssociety.org/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="theartsnov"></a>The Arts Society Sanderstead.</h3>
                <p>Meetings commence at 10.30 on the fourth Tuesday of the month at the United Reformed Church Hall, Sanderstead Hill, South Croydon, CR2 0HB.  Coffee is served from 9.45 to 10.15am.</p>
                <p>At present there is no waiting list for new members joining and visitors are welcome on payment of a small fee. For more information phone 0208 660 9122. Email:  suedavenport72@gmail.com</p>
                <p><%= link_to "Programme for 2020", "resource/arts_soc_sand2020.pdf" %></p>
              </td>
              <td class="events"><h3><%= link_to "The Arts Society", "https://theartssociety.org/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sandhist"></a>Sanderstead Local History Group. Monthly on a Wednesday</h3>
                <p>Want to discover more local history? If so then 'The Sanderstead Local History Group' would like to invite you to our monthly meetings held 2-4pm at All Saints Church Hall Onslow Gardens Sanderstead the last Wednesday in the month. A small charge of £2 each meeting to cover hall hire and refreshments. No annual fee. Information is on the Bourne Society website re the area covered and local history books they have produced plus details of the SLHG meetings.</p>
                <p>
                  <ul>
                    <li>June 24 Chris Harman Samuel Coleridge Taylor – Croydon composer and musician</li>
                    <li>July 29 Dee Palmer Pilgrims and Pilgrim Routes in South-East England</li>
                    <li>Aug no meeting</li>
                    <li>Sept 30 Joyce Hoad Selsdon Park Hotel aka The De Vere - farmhouse to mansion- connections with the Royal family</li>
                    <li>Oct 28 Dee Palmer The History of Theatre in Croydon</li>
                    <li>Nov 25 Members - Xmas memories & Xmas Party</li>
                    <li>Dec no meeting</li>
                  </ul>
                </p>
                    <p>Contact Joyce Hoad (Chair) joycehoad@virginmedia.com or chris.harman@tiscali.co.uk</p>
                </td>
                <td class="events">
                <h3><%= link_to "Bourne Society", "http://bournesoc.org.uk/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="soul"></a>Soul Symphony Choir, Tuesday evenings at 7pm</h3>
                <p>Soul Symphony Choir is a fun, friendly and vibrant choir based in Croydon. ‘I love everyone’s positivity and how wonderful everyone’s attitude is. Every week you have a rehearsal to look forward to with what feels like a second family,’ Lizzy. Be energised by our uplifting sessions as well as the mutual support and encouragement of the Soul Symphony Choir community. Come join us – free taster for your first session.</p>
                <p>For more information please visit www.soulsymphony.co.uk or email info@soulsymphony.co.uk</p>
                 <p>You are welcome to join us on Tuesday evenings from 7pm at St Columba’s Church, 37 Queenhill Road, South Croydon CR2 8DW. For more information please visit <%= link_to "www.soulsymphony.co.uk", "http://www.soulsymphony.co.uk" %>.</p>
               </td>
              <td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "http://www.soulsymphony.co.uk" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="toddlers"></a>Toddler Groups every Tuesday and Friday in term time</h3>
                <p>Toddler groups meet in All Saints' Halls every Tuesday and Friday during term time from 9.30 till 11.30. Toys, trains, friendship, refreshments, songs. £2 per child</p>
                <p>Closed during coronavirus crisis.</p>
              </td>
              <td class="events"> <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>
              </td>
            </tr>           

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

             <!--<tr>
              <td><a class="anchor" id="top" name="beeches_nov"></a>
                <h3>Purley Beeches Work Party, Saturday 17th November, 10 - 1pm</h3>
                <p></p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>              
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
              </td>
            </tr>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

              <!-- <td class="events">
                <%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/your-area/croydon/sanderstead/" %>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/sechclogo.gif", alt: "SECHC logo"), "http://sechc.org.uk" %></h3>
              </td>-->

               <!--<td class="events">
                <h3><%= link_to image_tag("small-images/scouts100.jpg", alt: "Croham Valley Explorer Scouts"), "http://crohamvalleyesu.ukscouts.org.uk/" %></h3>
              </td>-->

               <!--<td class="events"><h3><%= link_to "Football", "https://www.selsdonlittleleague.com/" %></h3>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/SDC_Crest100.png", alt: "Sanderstead Dramatic"), "https://www.sdclub.org.uk" %></h3>
              </td>-->

              <!--<td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "http://www.soulsymphony.co.uk" %>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
