<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="dangerous"></a>Parlour Players present "Dangerous Corner", 9 - 11 November</h3>
                <p>Dangerous Corner by J.B. Priestley. Thursday 9th, Friday 10th, Saturday 11th November 2017 at 7.45pm.</p>
                <p>Sanderstead United Reformed Church Hall, Sanderstead Hill, CR20HB. <%= link_to "Click here for the handbill for the play", "resource/Dangerous_Corner.pdf" %>.</p>
                <p>To buy tickets online go to <%= link_to "www.parlourplayers.co.uk", "http://www.ParlourPlayers.co.uk" %> and click on the Ticketsource link. BoxOffice: 02086572632 or 01883381884</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
              </tr>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="croham"></a>Friends of Croham Hurst Woods AGM, Tuesday 14th November</h3>
                <p>The AGM of the Friends of Croham Hurst Woods will be held on Tuesday 14th November at 7.30 pm in the Watney Room, Emmanuel Church, Normanton Road.</p>
                <p>We are very pleased that this year’s speaker will be Steve Pocock from the National Park City Foundation. The Foundation has been established to help make the London National Park City a success.</p>
                <p>The Committee hope that you will be able to attend and would ask you to respond to Councillor Maria Gatland at email maria.gatland@croydon.gov.uk or telephone 020 8407 1327.</p>
              </td>
              <td class="events">
                <h4>Friends of</h4>
                <h4>Croham Hurst Woods</h4>
              </tr>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="concorde"></a>Flying Concorde, a talk presented by the RNLI. Thursday 16th November</h3>
                <p><%= image_tag "RNLIConcorde.jpg", alt: "concorde", class: "small-image" %></p>
                <p>Flying Concorde, a talk by John Hutchinson presented by Coulsdon, Purley and Sanderstead branch of the RNLI. Thurs 16th Nov at 8 pm. A fascinating account of his days flying the world's only supersonic passenger aircraft by a former British Airways pilot.</p>
                <p>Doors and bar open at 7.15 for 8 pm on Thursday 16th November 2017 at Purley Bury Bowls Club, 53 Purley Bury Avenue CR8 1JF (also accessible from Brancaster Lane).</p>
                <p>Advance tickets only - £8 from Bob Witham 01737 553084 or Mike Black 020 8660 3956. (Limited seating so book early to avoid disappointment)</p>
                <p>Pay bar open from 7.15 and after the talk(only drinks purchased at the bar can be consumed on the premises). RNLI souvenir stall and raffle</p>
               
              </td>
              <td class="events">
                <%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "resource/rnli_concorde.pdf" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beechesnov"></a>Purley Beeches AGM Friday 17th November and Purley Beeches Work Party. Saturday 18th November. 10am</h3>
                <p> There will one further WORK PARTY ON THE 18TH NOVEMBER, the annual bonfire, always a great end to the FOPB year, put it in your diary.</p>
                <p>One day before the November work party, FRIDAY 17TH NOVEMBER is the FOPB AGM,  at 7.30pm,  in the Oclee room at St Marys Church, Purley Oaks Road. Please make every effort to attend and if you haven’t set up a standing order to pay your £5 subs, bring a fiver with you.</p>
                  <p>For further information please email or call Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com, Elizabeth Bennett: bennett_e@sky.com, Mac Court   mac@skyy.me.uk</p>
               
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %></h3>
              </td>

              <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="childrensoc"></a>Exhibition and sale of pictures in aid of the Children's Society. Saturday 17th March 2018</h3>
                <p>United Reformed Church Hall, Sanderstead Hill. Saturday 17th March, 10am to 4.30pm.</p>
                <p>Around 50 artists' work will be on display and 20% of all profits go towads the Society' work with disadvantaged children. There will also be a homemade cakes and preserves stall, plus tea and coffee to enjoy and a chance to win a raffle prize</p> 
               
              </td>
              <td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>
            </tr>


             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="agm"></a>Sanderstead Residents' Association AGM , Thursday 10th May 2018</h3>
                <p>At the meeting members are entitled to elect the committee and have the opportunity to question the Councillors and Committee on matters relating to Sanderstead. Time to be confirmed. Held in All Saints' Hall, Onslow Gardens, CR2 9AB</p>
               
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></h3>
              </td>
            </tr>



           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
