<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>                                

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sraagm"></a>Sanderstead Residents' Association AGM. Wednesday 8th May</h3>
                <p>NOTICE OF THE ANNUAL GENERAL MEETING. 8 pm on Wednesday, 8 May 2019. At ALL SAINTS’ CHURCH HALL Onslow Gardens, Sanderstead, Surrey.</p>
                <p>Notice is hereby given of the Annual General Meeting of the Association. At the meeting the Officers and Executive Committee will be elected.  Nominations for the committee should be sent to the Hon Secretary 14 days prior to the AGM. Your committee would like to see as many members as possible support this AGM.</p>
                <p>AGENDA
                <ul>
                  <li>Welcome by Chairman, Mr Dennis King</li>
                  <li>Apologies Received</li>
                  <li>Minutes of the AGM held on 10 May 2018</li>
                  <li>Secretary’s Report</li>
                  <li>Treasurer’s Report</li>
                  <li>Election of Officers and Executive Committee</li>
                  <li>Presentation of cheques</li>
                  <li>Any other business</li>
                </ul>
              </p>
              <p>Our Sanderstead Safer Neighbouthood Police Team have been invited, along with our MP Chris Philp, GLA member Steve O'Connell and our local councillors.</p>
              <p>Drinks and refreshments will available at the close of the AGM.  It’s an opportunity to discuss  issues with your local councillors and committee.</p>
                </td>
                <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beechesmay"></a>Purley Beeches Work Party. Sat 11th May</h3>
                <p>May 11th CARING FOR OUR YOUNG TREES. Returning to old sites to ensure that our young trees have room to spread their branches.</pÿ
                
                <p> <%= link_to "Programme for 2019", "resource/FOPB_2019.pdf" %></p>
                <p>For further information please call or email, Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com, Elizabeth Bennett: bennett_@sky.com, Mac Court: mac_court@talktalk.ne</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/FOPB_2019.pdf" %>
              </td>
            </tr>

             <tr>
               <td class="events">
                 <h3> <a class="anchor" id="top" name="family"></a>Family Fun at All Saints, Sanderstead. Sunday 12th May at 3 pm.
                 </h3>                
                 <p>Family Fun is a monthly activity based service  for all children up to the age of 12 years, and their parents​, grandparents​ and carers. Our Sunday meetings start at 3:00pm in the All Saints' church halls in Onslow Gardens, with ​lots of ​time for activities and crafts based around ​the Bible, ​which the children do with their parents and carers, ​followed by plenty of ​lively ​singing​ and a story. We end our time together​ with a tasty snack and refreshments for all. Children take home everything they have made.</p>
                 <p>We look forward to welcoming you​ to Family Fun.  If you have any questions, please email ​children@sanderstead-parish.org.uk </p>
                 </p>
               </td>
               <td class="events">
                  <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
               </td>
             </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sandhist"></a>Sanderstead Local History Group. Wednesday 29th May</h3>
                <p>Want to discover more local history? If so then 'The Sanderstead Local History Group' would like to invite you to our monthly meetings held 2-4pm at All Saints Church Hall Onslow Gardens Sanderstead the last Wednesday in the month. A small charge of £2 each meeting to cover hall hire and refreshments. No annual fee. Information is on the Bourne Society website re the area covered and local history books they have produced plus details of the SLHG meetings.</p>
                  <p>2019 programme.</p>
                    <ul>
                      <li>May 29  Barlow Trecothick builder of Addington 'Palace' by Joyce Hoad</li>
                      <li>June  26  Secrets of the Bayeux Tapestry by Phil Revnel</li>
                      <li>July 31 Roman Road: discovering the route from Farleigh to Beckenham. by Frank Mercer</li>
                    </ul> 
                    <p>Contact Joyce Hoad (Chair) joycehoad@virginmedia.com or chris.harman@tiscali.co.uk</p>
                </td>
                <td class="events">
                <h3><%= link_to "Bourne Society", "http://bournesoc.org.uk/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="rotaryband"></a>Rotary Big Band Concert, Friday 14th June</h3>
                <p>Rotary Club of Croydon Jubilee presents the Jubilee Big Band Night featuring the Nigel Garrard Orchestra. Friday 14th June, Warlingham Rugby Club, Limpsfield Road, Warlingham,  CR6 9RB. Doors open 7.15pm. Tickets £16, children under 15 £12. Principal Surplus donated to Alzheimer's Society, the remainder to local charities. No tickets on sale at the door, phone or email David Cronk. Phone: 01883 819 087. Email: beacronk@hotmail.com</p>
              </td>
              <td><h3><%= link_to "Rotary of Croydon Jubilee", "resource/Rotary_concert2019.pdf" %></h3></td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sugandh"></a>Piano Recital in aid of Sugandh, Saturday 15th June at 7.30pm</h3>
                  <p>Piano Recital by Verity Brooks, Sat 15th June 2019, 7pm for 7:30pm. At All Saints’ Church, Onslow Gardens, Sanderstead CR2 9AB. Drinks and refreshments will be served from 7pm. Entry on the door - please give generously to support the work of Sugandh. Verity’s programme will include works by Chopin, Liszt, Beethoven and Schubert. <%= link_to "More information", "resource/verity_sugsndh.pdf" %></p>
                  <p>All proceeds from this recital will go to Sugandh, New Delhi, a grass roots charity working among marginalized communities in the city. Sugandh supports children to stay in school though tuition and empowers women through self-help groups. <%= link_to "www.sugandh.org", "http://www.sugandh.org" %></p>
              </td>
              <td class="events"><h3><%= link_to "Sugandh", "http://www.sugandh.org" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="rotarywalk"></a>Rotary Charity Walk. Saturday 22nd June</h3>
                <p>Annual sponsored walk. Raise money for your good cause. Come and join us for our seven mile ramble starting and finishing at St Mary's church hall, Farleigh CR6 9PX. Please visit the events page of our website, email or telephone to request a sponsor form. Your charity gets 60% of the sponsorship money, the rest goes to Rotary Charities. <%= link_to "Download a poster here", "resource/rotary_walk2019.pdf" %></p>
                <p>Website: www.rotarysandersteadandselsdon.com. Tel: 07774 186 792. Email: secretary@rotarysandersteadandselsdon.com</p>
              </td>
              <td><h3><%= link_to "Rotary of Sanderstead & Selsdon", "http://www.rotarysandersteadandselsdon.com" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="jubilee"></a>Jubilee Running, charity run. Sunday June 23rd</h3>
                <P>Jubilee Running 10k. Sunday 23rd June at 9.15am. Runners and walkers welcome. Entrants must be over 14 years. Entry £8 UKA affiliated runners, £10 non-affiliated runners. Contact the Jubilee Church office on 020 8651 2807, office@croydon-jubilee.co.uk. <%= link_to "See our flyer for full details", "resource/jubilee_run19.pdf" %>.
              </td>
              <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_run19.pdf" %></h3>
            </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="allstars"></a>Warlingham All Stars Cricket for ages 5 to 8</h3>
                  <p>Sundays at 10 - 11 am from May 12th to June 30th. Register at <%= link_to "www.allstarscricket.co.uk/warlingham", "https://www.ecb.co.uk/play/all-stars?&gclid=CjwKCAjwhbHlBRAMEiwAoDA34188pyxTyxeE1LAkfnXpcDzWwu-psf54wo0Xl-ky-zX66KmOKiCvFxoCyLoQAvD_BwE" %>. See our poster for <%= link_to "more details", "resource/all_stars_cricket.pdf" %>.</p>
              </td>
              <td class="events"><h3><%= link_to "All Stars Cricket", "resource/all_stars_cricket.pdf" %></h3>
              </td>
            </tr> 

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="hawks"></a>Selsdon Juniors Football Club. Scouting for next season</h3>
                  <p>Training sessions at Greenvale Primary School and Croydon High Astro on Thursday evenings and Saturday mornings. Looking for talented year 5 footballers. Open training sessions till the end of May. Contact Jon on 07917 034050. Email selsdonhawks@hotmail.com.</p>
              </td>
              <td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/hawks_poster.pdf" %></h3>
              </td>
            </tr> 

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="soul"></a>Soul Symphony Choir, Tuesday evenings at 7.15</h3>
                <p>Soul Symphony is a community choir that meets on Tuesday evenings from 7:15pm at The Holy Family RC Church hall in Limpsfield Road, near to Waitrose. All are very welcome; no previous singing experience is required. If you are interested in joining please visit <%= link_to "www.soulsymphony.co.uk", "http://www.soulsymphony.co.uk" %> for more information.</p>
               </td>
              <td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "resource/Soul_Symphony_2018.pdf" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="toddlers"></a>Toddler Groups every Tuesday and Friday in term time</h3>
                <p>Toddler groups meet in All Saints' Halls every Tuesday and Friday during term time from 9.30 till 11.30. Toys, trains, friendship, refreshments, songs. £2 per child</p>
              </td>
              <td class="events"> <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>
              </td>
            </tr>
            
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="football"></a>Women's Football on Sanderstead Rec. Every Thursday 12 - 1</h3>
                <p>More information contact Matthew on Email: matthew@mindincroydon.org.uk Tel: 0208 253 8208 Orchard House, 15a Purley Road, South Croydon, Surrey, CR2 6EZ. Sponsored by Mind in Croydon</p>
              </td>
              <td class="events">
                <h3><%= link_to "Women's Football", "resource/Women_Football.pdf", target: "blank" %></h3>
              </td>
            </tr>    

            



           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

             <!--<tr>
              <td><a class="anchor" id="top" name="beeches_nov"></a>
                <h3>Purley Beeches Work Party, Saturday 17th November, 10 - 1pm</h3>
                <p></p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>              
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
              </td>
            </tr>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

              <!-- <td class="events">
                <%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/your-area/croydon/sanderstead/" %>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/sechclogo.gif", alt: "SECHC logo"), "http://sechc.org.uk" %></h3>
              </td>-->

               <!--<td class="events">
                <h3><%= link_to image_tag("small-images/scouts100.jpg", alt: "Croham Valley Explorer Scouts"), "http://crohamvalleyesu.ukscouts.org.uk/" %></h3>
              </td>-->

               <!--<td class="events"><h3><%= link_to "Football", "https://www.selsdonlittleleague.com/" %></h3>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/SDC_Crest100.png", alt: "Sanderstead Dramatic"), "https://www.sdclub.org.uk" %></h3>
              </td>-->

              <!--<td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "http://www.soulsymphony.co.uk" %>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
