<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2017</h2>

        <table>
          <tbody>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="summer"></a>Activities for young people during the summer holiday</h3>
                <p>.Croydon's Youth Engagement Team are offering a range of activities to keep children and young people busy during their summer holidays. There are park based activities and projects involving drama, film, music and dance. Download <%= link_to "this leaflet", "/resource/CroydonSummer17.pdf" %> for a host of activities for young people aged 8 to 18, taking place in Croydon this summer.</p>
              </td>
              <td class="events">
                <h3><%= link_to "Summer Activities", "/resource/CroydonSummer17.pdf" %> </h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="allotments"></a>South Croydon Allotments Open Day Sat 12th August</h3>
                <p>SATURDAY 12th AUGUST 2017 from 9.30am – 1.30pm </p>
                <p>Come and visit our site and see how fresh veg and fruit are grown.</p>
                <p>We are a short walk from South Croydon Bus Garage, Sanderstead and Purley Oaks Stations.  Entrances from  Sanderstead Road at Broomhall Road junction, or next to the Business Park in Carlton Road (parking available).</p>
                <p>VEGETABLES,  FRUIT,  PRESERVES,  CAKES  AND  FLOWERS FOR SALE, BRIC A BRAC,  REFRESHMENTS, SAUSAGE SIZZLE,  SCARECROW  AND  PHOTO  COMPETITIONS.</p>
                <p>THIS YEAR WE ARE SUPPORTING THE ROYAL MARSDEN CANCER CHARITY (registered charity no. 1095197), and Action for Antenatal Results and Choices (ARC) (Registered Charity No 1148653) 
                </p>
              </td>
              <td class="events">
                <h3><%= link_to "South Croydon Allotments", "resource/allotments_open_day2017.pdf" %></h3>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="staycation"></a>Sanderstead Staycation, 29th, 30th and 31st August</h3>
                <p>Sanderstead Staycation, Aug 29th, 30th, 31st, from 10am each day. Why not come along and enjoy activities, games, discussions and crafts at All Saints' Church, Onslow Gardens, CR2 9AB. Activities are for people of all ages, 18 and over. You don't need to be drawing a pension! Places are going fast, so book early to avoid disappointment. Booking forms are available from the Parish Office in All Saints' Halls. To find out more contact Sandra Groombridge, email sandragroombridge@aol.com 
                </p>
              </td>
              <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
              </td>
            </tr>


             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="singing"></a>Soul Symphony Choir Open rehearsal 12th September</h3>
                <p>Soul Symphony Choir raises money for good causes including "Mind" in Croydon. If you want to join the group and help raise money for local causes, Joanne is holding a free ‘open rehearsal’ on Tuesday 12 September at 7.30pm at The Holy Family Church Hall, 115 Limpsfield Road CR2 9LF. Next concert Sunday 23 July 2017, joanne@soulsymphony.co.uk</p>
                <p><%= link_to "Find out more about Soul Symphony Choir", "resource/singing.pdf" %>.</p>
              </td>
              <td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>
              
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="books"></a>Book Sale in aid of Sanderstead Neighbourhood Care. Sat 30th September</h3>
                <p>A book sale in aid of Sanderstead Neighbourhood Care will be held in All Saints' Hall, Onslow Gardens, Sanderstead, CR2 9AB, on Saturday 30th September from 2 - 4pm. </p>
               
              </td>
              <td class="events"><h3><%= link_to "Sanderstead Neighbourhood Care", "/resource/book_sale.pdf" %></h3>
              </td>
            </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
