<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>                          


            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="parlourplayers"></a>Parlour Players present "Season's Greetings" on 8/9/10 November</h3>
                <p>Thursday 8, Friday 9 and Saturday 10 November 2018, 7:45pm in Sanderstead United Reformed Church Hall</p>
                <p>Tickets £9 To book your tickets go to www.parlourplayers.co.uk and click on the TicketSource link or phone the Box Office on 020 8657 2632. Alternatively, <%= link_to "post the slip on this form", "resource/SG_PCS_Wording.pdf" %> to The Parlour Players Box Office 25 Farm Fields, Sanderstead CR2 0HQ.</p>
                </p>
              </td>
              <td class="events">
                <%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
              </td>
            </tr>

            <tr>
               <td class="events">
                 <h3> <a class="anchor" id="top" name="fun"></a>Family Fun at All Saints, Sanderstead. Sunday 11th November, 3pm
                 </h3>
                 <p>Family Fun is a monthly activity based service  for all children up to the age of 12 years, and their parents​, grandparents​ and carers. We start at 3:00pm in the All Saints' church halls in Onslow Gardens, with ​lots of ​time for activities and crafts based around ​the Bible, ​which the children do with their parents and carers, ​followed by plenty of ​lively ​singing​ and a story. We end our time together​ with a tasty snack and refreshments for all. Children take home everything they have made.</p>
                 <p>We look forward to welcoming you​ to Family Fun.  If you have any questions, please email ​children@sanderstead-parish.org.uk </p>
                 </p>
               </td>
               <td class="events">
                  <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
               </td>
             </tr>

            <tr>
              <td><a class="anchor" id="top" name="beeches_nov"></a>
                <h3>Purley Beeches Work Party, Saturday 17th November, 10 - 1pm</h3>
                <p>November 17th Winter Bonfire. Another big bonfire that will hopefully leave our new site clear and ready for planting in January 2019. Our AGM will be held on November 23rd in St Mary's church hall, time tbc.</p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>              
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="purleylit20"></a>Purley Literary Society Talk. Tuesday 20th November</h3>
                <p>Meetings at 8pm in the hall of Purley United Reformed Church, 906 Brighton Road, Purley, CR8 2LN. Tuesday 20th November, Prof Anthony Dyan, Food Adulteration from Then till Now.</p>
                <p><%= link_to "See our programme for 2018/19", "resource/Purley_Literary_Society.pdf" %></p>
              </td>
              <td class="events">
                <h3><%= link_to "Purley Literary", "http://www.purley-literary-society.com/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="lights"></a>Switching on the Christmas lights in Sanderstead. Sat 1st December at 4 pm</h3>
                <p>Come along to the Gruffy to see the illunination of Sanderstead with the switching on of the Christmas lights by a famous celebrity. Join in Christmas carol singing led by the All Saints' choir. The lights and Christmas trees are provided by donations from the Sanderstead Residents' Association and our local Councillors.</p>
              </td>
              <td class="events">
                <%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %>
              </td>
            </tr>



            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="ADVENT"></a>ADVENTure in Sanderstead 1 - 24 December</h3>
                <p>ADVENTure is back in Sanderstead this Christmas. From 1st till 24th December a different location each evening will open for one hour between 6pm and 7pm. The theme this year is "There is room for all in the ADVENTure Ark". How many animals will you spot? Refreshments, Music, Lights. Full details of all the locations are available on <%= link_to "sanderstead-parish.org.uk", "https://www.sanderstead-parish.org.uk/pages/adventure2018" %>.</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
              </td>
            </tr>

             <tr>
               <td class="events">
                 <h3> <a class="anchor" id="top" name="Christmasfun"></a>Christmas Family Fun at All Saints, Sanderstead. Wednesday 5th December, 3.15pm
                 </h3>
                 <p>Come along to the special Christmas Family Fun, on Wednesay 5th Decemebr from 3.15 - 5 pm.
                 Family Fun is a monthly activity based service  for all children up to the age of 12 years, and their parents​, grandparents​ and carers. Our Sunday meetings start at 3:00pm in the All Saints' church halls in Onslow Gardens, with ​lots of ​time for activities and crafts based around ​the Bible, ​which the children do with their parents and carers, ​followed by plenty of ​lively ​singing​ and a story. We end our time together​ with a tasty snack and refreshments for all. Children take home everything they have made.</p>
                 <p>We look forward to welcoming you​ to Family Fun.  If you have any questions, please email ​children@sanderstead-parish.org.uk </p>
                 </p>
               </td>
               <td class="events">
                  <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
               </td>
             </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="fraud"></a>Police Fraud and Scam Advice. Thursday 6th December</h3>
                <p>The Local Police safer neighbourhood team are holding a Fraud and Scam Advice Event in conjunction with Croydon Trading Standards @ All Saints Church, Onslow Gardens, CR2 9AB (Small Hall) on Thursday 6th December 2018 1pm to 3pm. All are welcome</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/your-area/croydon/sanderstead/" %>
              </td>
            </tr>
            
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="football"></a>Women's Football on Sanderstead Rec. Every Thursday 12 - 1</h3>
                <p>More information contact Matthew on Email: matthew@mindincroydon.org.uk Tel: 0208 253 8208 Orchard House, 15a Purley Road, South Croydon, Surrey, CR2 6EZ. Sponsored by Mind in Croydon</p>
              </td>
              <td class="events">
                <h3><%= link_to "Women's Football", "resource/Women_Football.pdf", target: "blank" %></h3>
              </td>
            </tr>    

            



           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

              <!-- <td class="events">
                <%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/your-area/croydon/sanderstead/" %>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/sechclogo.gif", alt: "SECHC logo"), "http://sechc.org.uk" %></h3>
              </td>-->

               <!--<td class="events">
                <h3><%= link_to image_tag("small-images/scouts100.jpg", alt: "Croham Valley Explorer Scouts"), "http://crohamvalleyesu.ukscouts.org.uk/" %></h3>
              </td>-->

               <!--<td class="events"><h3><%= link_to "Football", "https://www.selsdonlittleleague.com/" %></h3>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
