<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2016</h2>

        <table>
          <tbody>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="community"></a>Sanderstead Community Day, Sat 24th September 11am - 6pm</h3>
                <p>Sanderstead Community Day is back for its third year on Saturday 24th September 2016! This event brings together and celebrates all that Sanderstead and surrounding areas have to offer.</p>
                <p>There will be activities and showcases from local Businesses, Community Groups, and Voluntary and Charity sectors.</p>
                <p>BBQ, Beer and Wine, Fun Dog Show, Cake and Ice Cream, Inflatables and Soft Play, Kids Crafts and Activities, Ceramics, Health and Beauty, Lifestyle and Fitness, Homeware, Community Groups, Mascot Guests, Fire Engine and Police Cadets. Visit <%= link_to "Facebook", "https://www.facebook.com/events/490309704498363/" %> for more information.<p>
              </td>
              <td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "resource/SDC16.pdf" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sayles"></a>Piano Concert in All Saints, Sunday 16th October</h3>
                <p>Concert On Sunday 16th October at 2.30pm in All Saints’ Church the young pianist Christopher Sayles will return to introduce and perform three Beethoven Sonatas, to extend the programme he presented a year ago. Entry will be free, with refreshments and a retiring collection at the end.</p>
              </td>
              <td class="events">
                <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
              </td>
            </tr>
  
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="walks"></a>Guided Walks in local countryside. Fri 21 Oct, Sun 23 Oct, Sun 30 Nov. All at 10 am. </h3>
               <p>Marion’s walks are for all who love to get out into fresh air, and want to know more about their local countryside’s history and wildlife. Paths may be muddy so wear boots. Bring waterproofs. Dogs allowed if on leads. Finish at the start point. Donations to the Downlands Trust are welcomed. <%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf") %></p>
              </td>
              <td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="bells"></a>Finnish Handbell Choir Concert in All Saints. Sunday 23rd October at 3 pm </h3>
               <p>We are delighted to welcome the Dolce Handbell Choir to Sanderstead on 23rd October. They will be playing at the Harvest Celebration at All Saints Sanderstead at 10 am, and will perform a concert on the same afternoon at 3 pm. Free entry. Refreshments available.</p>
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="race"></a>Children’s Society Race Night, Friday 28th October</h3>
                <p> At St Antony’s Church, Wentworth Way, at 7.30pm for a 7.45pm start. Races will be screened throughout the evening, offering plenty of chances to pick a winner, make a profit and support the Society’s valuable work. Tickets are £10 and include a support of fish, sausage, chicken, or pie and chips, plus an ice cream dessert, but please bring yur own drink and glasses. Please book in advance by 24th October, either via your Children’s Society representative or Race Night organisers Pam and Jeremy Dearden jeremydearden@blueyonder.co.uk 020 8657 3432. It’s an exciting evening; do come; we’re sure you’ll enjoy it.</p>
              </td>
              <td class="events">
               <h3><%= link_to "Sanderstead Parish", "http://www.sanderstead-parish.org.uk/st-antonys" %></h3></td>
            </tr>


           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->


        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
