<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Events in and around Sanderstead</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-10">
           	<h2>Latest events for 2015</h2>

        <h3><a name="police"></a>Police Liaison Meeting, Thursday 14th May 2015, at 7.15 pm in All Saints' Hall</h3>
        <p>The Sanderstead Neighbourhood Team will be holding their liaison meeting with the public prior to our AGM. It will be an opportunity to raise any concerns about security and police matters. </p>

    		<h3><a name="agm"></a>Sanderstead Residents' Association AGM, Thursday 14th May 2015, at 8 pm in All Saints' Church Hall</h3>
    		<p>The important function of the Association is its Annual General Meeting, where the members elect the committee and have the opportunity to question the councillors and committee on matters relating to Sanderstead. Drinks and refreshments will be available at the close of the AGM, and there will be the opportunity to raise any queries with the local Councillors amd meet with members of the Committee.</p>

    		<h3><a name="fair"></a>Scouts Gruffy Fair, Saturday 6th June, on the Gruffy beside Sanderstead pond</h3>
    		<p>The 16th Purley Scouts again invite everyone to come along for all the fun of the fair. All the usual treats will be there, including the famous football matches between all the cub packs.</p>

        <h3><a name="run"></a>Jubilee Running 10k, Sunday 26th July 9.30 am</h3>
        <p>Runners and walkers welcome. A slightly undulating multi-terrain 10k course encompassing Selsdon, Sanderstead and Warlingham. Entrants must be at least 15 years of age. For full details see <%= link_to "www.croydon-jubilee.co.uk/running", "http://www.croydon-jubilee.co.uk/running" %>.</p>

           	 </div>

          <div class="col-md-2">
            <br/>
             <br/>
              <br/>
              <h3><%= link_to "Metroplitan Police", "http://content.met.police.uk/Team/Croydon/Sanderstead" %></h3>
              <br/>
              <br/>
              <br/>

            <%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA", style: "padding-bottom: 5em"), root_path %>
           
            <%= link_to image_tag("small-images/scouts100.jpg", alt: "Scouts logo"), "http://scouts.org.uk/home/" %>
                 <br/>
           <!--<%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society Logo", style: "padding-bottom: 5em"), "http://www.childrenssociety.org.uk/"  %>-->
             <br/> <br/>
          	 </div>
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	