<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2017</h2>

        <table>
          <tbody>

            <tr>
              <td class="events">
              <h3><a class="anchor" id="top" name="beeches"></a>Purley Beeches working party. Saturday 4th March from 10 am</h3>
              <p>Despite concerns that the ground might be too frozen to plant our new tree whips last January, it was a most successful work party. All the trees went in, marked with substantial stakes and red and white bows, two new couples joined in the work as well as paying a fiver for the privilege and the day was super bright and the cold didn’t bother us. The only downside, was that the cheering little bonfire to warm us whilst we stopped for coffee and cake, only generated a small plume of smoke.</p>
              <p>When the planting was done a new work site was sought and when identified, we metaphorically planted our standard. Meike, our Croydon Council liaison person has approved our choice and next Saturday we will start on clearing the area and the adjacent bonfire site. All the usual requests for sensible work clothes and hand tools, loppers, secateurs and bow saws would be the main ones required at this stage. Look out for the ‘FINGERS’ pointing you to the new site, but if you head up the main path, it is to the right just before you reach the green. Looking forward to seeing you there between 10am and 1pm.</p>
              <p>Finally a big thank you to all those who have paid their subs, several members have set up standing orders, that’s a great help.</p>
              <p>For further information please email or call Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com, Elizabeth Bennett: bennett_e@sky.com and  Mac Court: mac@skyy.me.uk %></p>
              </td>
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="energy"></a>Energy Best Deal advice at Sanderstead Library. Tuesday March 7th, 3 - 4pm</h3>
                <p>A pop up shop run by 'Financial Capability' who are working on behalf of the 'Citizens Advice Bureau' will be available from 3 - 4 pm to give advice on the ways to reduce energy bills. More information can be found in this document <%= link_to "Get help cutting gas and electricity bills in Croydon", "resource/energy_best_deal.pdf" %>.</p>
               
              </td>
              <td class="events">
                <h3>Sanderstead Library</h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="pictures"></a>Exhibition and Sale of Pictures in aid of the Children's Society. Sat 18th March</h3>
                <p>Saturday 18 March 10.00am – 4.30pm. United Reformed Church Hall, Sanderstead Hill</p>
                <p>Now in its 43rd year, this exhibition is always a lively event with a wide variety of art to enjoy, both framed and unframed, from lovely landscapes to animal studies and a chance to buy original works for yourself, friends or family at very reasonable prices. Around 50 artists' work will be on display and 20% of all profits go towards the Society's work with disadvantaged children. There will also be a home-made cakes and preserves stall, plus tea and coffee to enjoy and a chance to win a raffle prize. Do drop in morning or afternoon if you have thechance. We'd love to see you.</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sraagm"></a>Sanderstead Residents' Association AGM, Thursday 4th May 2017, 7.30 pm (tbc)</h3>
               <p>The meeting will be held in All Saints Church Hall, Onslow Gardens, Sanderstead CR2 9AB</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="bells"></a>Handbell Concert by the Sanderstead Handbell Teams, Sunday 4th June at 3 pm</h3>
               <p>Come and listen to our local handbell ringers in All Saints' Hall, Onslow Gardens. Free entry, retiring collection, Refreshments of tea and cake will be provided.</p>
              </td>
              <td class="events"><%= link_to image_tag("handbell_concert.png", alt: "Handbell poster"), "resource/handbell_concert_poster.pdf" %>
              </td>
            </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
