<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2017</h2>

        <table>
          <tbody>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sraagm"></a>Sanderstead Residents' Association AGM, Thursday 4th May 2017, 8 pm.</h3>
               <p>The meeting will be held in All Saints Church Hall, Onslow Gardens, Sanderstead CR2 9AB</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %>
              </td>
            </tr>

              <td class="events">
                <h3><a class="anchor" id="top" name="play" ></a>Parlour Players present "It Runs in the Family", 11th, 12th and 13th May at 7.30 in Sanderstead URC hall.</h3>
                <p>The next Parlour Players  production is a Ray Cooney ‘farce’, "It Runs in the Family". The story is set in a hospital and contains an assortment of characters including the hero, a Dr. David Mortimer who is just about to deliver the most important lecture of his life when he is confronted with a 19-year old who his mother, a former nurse, informs him is his illegitimate son!</p>
 
                <p>As you’d expect in a Ray Cooney play, the hapless ‘hero’ in trying to hide his past, only gets into deeper and deeper trouble.</p>
 
                <p>The play will be staged on Thursday 11th, Friday 12th and Saturday 13th May in the Sanderstead United Reformed Church Hall, Sanderstead Hill, commencing at 7.45pm not forgetting the bar is open both before curtain-up and in the interval.</p>
 
                <p>Tickets may be purchased on line - go to www.parlourplayers.co.uk and click on the ‘Ticket Source’ link. There is also the traditional box office method by ringing either 01883 381884 or 020 8657 2632.</p>
 
                <!--<p>Parlour Players performed a previous Ray Cooney play ‘Out of Order’ which received very good reviews. These may be viewed on the <%= link_to "Parlour Players website", "http://www.parlourplayers.co.uk" %>  following ‘PRODUCTIONS’, ‘Past Productions’ and ‘May 2013 – Out of Order by Ray Cooney and directed by Theo Spring’ links.</p>
                </p>-->
              </td>
              <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="hawks"></a>Selsdon Junior Hawks Football Open Trials. Sat 27th May 9-11am</h3> 
                <p>We are looking for talented under 9 footballers. Could you be our next star player? Come to our open trial on 27th May to find out.</p>
                <p>We are an FA affiliated, family club that has taken the Tandridge league by storm in our first season! We are looking for talented boys as we move up to 7-a-side for the 2017/18 season.</p>
               <p>At Croydon Postal Ground, Trenham Drive, Warlingham, CR6 9RU.</p>
               <p>(Trialists should be in year 4 for the 2017/18 school year). Contact: selsdonhawks@hotmail.com to register / for more details</p>
              </td>
              <td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="bells"></a>Handbell Concert by the Sanderstead Handbell Teams, Sunday 4th June at 3 pm</h3>
               <p>Come and listen to our local handbell ringers in All Saints' Hall, Onslow Gardens, CR2 9AB. Free entry, retiring collection, Refreshments of tea and cake will be provided.</p>
              </td>
              <td class="events"><%= link_to image_tag("handbell_concert.png", alt: "Handbell poster"), "resource/handbell_concert_poster.pdf" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="running"></a>Jubilee Running, 10k Fun Run. Sunday 2nd July, starting at 9.30 am</h3>
                <p>Runners and walkers welcome. A slightly undulating 10k multi-terrain course encompassing the local areas of Selsdon, Sanderstead and Warlingham.</p>
                <p>Entrants must be 15 years of age. Entrance fees: UKA Affiliated Runner £10.00, Non-Affiliated Runner (Please add a further £2.00 for Race Day entry, subject to availability). Proceeds go to the British Heart foundation.</p>
                <p>For an entry form, please contact the Jubilee Church office on
                020 8651 2807, e-mail office@croydon-Jubilee.co.uk or enquire in person at Race HQ: Selsdon Hall, 132 Addington Road, Selsdon CR2 8LA</p>
              </td>
              <td class="events"><h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
              </td>
            </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
