<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2017</h2>

        <table>
          <tbody>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="bells"></a>Handbell Concert by the Sanderstead Handbell Teams, Sunday 4th June at 3 pm</h3>
               <p>Come and listen to our local handbell ringers in All Saints' Hall, Onslow Gardens, CR2 9AB. Free entry, retiring collection, Refreshments of tea and cake will be provided.</p>
              </td>
              <td class="events"><%= link_to image_tag("handbell_concert.png", alt: "Handbell poster"), "resource/handbell_concert_poster.pdf" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="gruffy"></a>Gruffy Fayre 10th June from 12.30pm</h3>
                <p>Sanderstead's Gruffy Fayre run by the 16th Purley Scouts will be held on 10th June, opening at 12.30 pm on the Gruffy beside Sanderstead pond. Stalls include Bouncy Castle, Octupus Ride, Face Painting, Cub 5 aside football, All Saints Church, Sanderstead Guides, Cake Stall, Pimms Tent and much more.</p>
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/16thlogo100.jpg", alt: "16th Purley logo"), "http://16thpurley.org.uk/" %></h3>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beeches"></a>Purley Beeches working party. Saturday 10th June and 22nd July, 10 - 1 pm</h3>
                <p>There are two more work days scheduled before the summer break. JUNE 10th and JULY 22nd.  Last year’s July’s picnic turned into a very enjoyable BBQ and that is what is planned for this July, please put these dates in diaries</p>
               
               <p>For further information please email or call Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com, Elizabeth Bennett: bennett_e@sky.com, or Mac Court mac@skyy.me.uk</p>
              </td>
              <td class="events"><h3><%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="hatter"></a>Mad Hatter's Tea Party, Saturday 17th June</h3>
                <p>From 11 30am to 5 00pm. On the green opposite the shops in Elmfield Way, Sanderstead CR2 0EJ</p>
                <p>
                  <ul>
                    <li>HOG ROAST</li>
                    <li>FANCY DRESS FOR UNDER 9s</li>
                  </ul>
                </p>
                <p>
                All proceeds will go to St. Christopher's Hospice and Marie Curie Cancer Care</p>
              </td>
              <td class="events"><h3>Charity Party</h3>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="purley"></a>Purley Festival 26 June - 2 July</h3>
                <p>Purley Festival is back from 26 June to 2 July 2017<p>
                <p><%= link_to "Visit the Purley Festival website for full details of all the events", "http://www.purleyfestival.co.uk/" %></p>
                <p>After a year off we are back with lots of renewed energy, ideas and new members of the team. Purley Festival has its roots firmly planted in the community and it is local people and their ideas that make the Festival so exciting – no year is the same!</p><p>Everyone knows we put on a week long Festival with a mega two day Finale but not many people know about our Charity work and volunteer mentoring scheme. We are very proud that this year’s charity partners are the South East Cancer Help Centre and Marie Curie and they will be around at the Finale weekend so please give generously to their vital work.</p>
              </td>
              <td class="events"><h3><%= link_to image_tag("small-images/PF_logo2017_100.png", alt: "Purley Festival logo"), "http://www.purleyfestival.co.uk/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="running"></a>Jubilee Running, 10k Fun Run. Sunday 2nd July, starting at 9.30 am</h3>
                <p>Runners and walkers welcome. A slightly undulating 10k multi-terrain course encompassing the local areas of Selsdon, Sanderstead and Warlingham.</p>
                <p>Entrants must be 15 years of age. Entrance fees: UKA Affiliated Runner £10.00, Non-Affiliated Runner (Please add a further £2.00 for Race Day entry, subject to availability). Proceeds go to the British Heart foundation.</p>
                <p>For an entry form, please contact the Jubilee Church office on
                020 8651 2807, e-mail office@croydon-Jubilee.co.uk or enquire in person at Race HQ: Selsdon Hall, 132 Addington Road, Selsdon CR2 8LA</p>
              </td>
              <td class="events"><h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="singing"></a>Soul Symphony Choir Open rehearsals 4, 11 and 18th July and 12 September</h3>
                <p>Sould Symphony Choir raises money for good causes including "Mind" in Croydon. If you want to join the group and help raise money for local causes, Joanne is holding a free ‘open rehearsal’ on Tuesdays, 4-18 in July 2017 and 12 September at 7.30pm at The Holy Family Church Hall, 115 Limpsfield Road CR2 9LF. Next concert Sunday 23 July 2017, joanne@soulsymphony.co.uk</p>
                <p><%= link_to "Find out more about Soul Symphony Choir", "resource/singing.pdf" %>.</p>
              </td>
              <td class="events"><h3><%= link_to "Soul Symphony Choir", "resource/singing.pdf"  %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="farley"></a>Farley Road Practice, Open Meeting. Thursday 20th July</h3>
                <p>Farley Road Medical Practice Patient Participation Group Open Meeting Thursday 20th July.</p>
                <p>We are holding an Open Meeting on 20th July 2017 from 6.30 until 8pm at the Selsdon Centre for the Retired (next to Sainsbury and the Library). Come and talk to the Practice and Patient Participation Group members to learn about the way the Practice works.  Contribute your ideas to improve the Practice.</p>
                <p>RSVP to reserve your place to Ms Tracy Ford, Practice Manager on admin@farleymedical.info or call 020 8651 1222 and leave your details.</p>
              </td>
              <td class="events"><h3><%= link_to "Farley Rd Practice", "resource/Farley_rd_open.pdf"  %></h3>
              </td>
            </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
