<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>                          

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="ADVENT"></a>ADVENTure in Sanderstead 1 - 24 December</h3>
                <p>ADVENTure is back in Sanderstead this Christmas. From 1st till 24th December a different location each evening will open for one hour between 6pm and 7pm. The theme this year is "There is room for all in the ADVENTure Ark". How many animals will you spot? Refreshments, Music, Lights. Full details of all the locations are available on <%= link_to "sanderstead-parish.org.uk", "https://www.sanderstead-parish.org.uk/pages/adventure2018" %>.</p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="URC"></a>Christmas Services during December at Sanderstead URC</h3>
                <p>Services during Advent and Christmas at the URC including Candlelight Carol Service on Sunday 16th December at 6.30 pm and Christingle and Crib Service on Christmas Eve at 4 pm. <%= link_to "View all the services on this flyer", "resource/URC_Christmas.pdf" %></p>
              </td>
              <td class="events"><%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %></td>
            </tr>
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="soul"></a>Soul Symphony Concert Saturday 8th December at 6.30 pm</h3>
                <p>Why not come to Soul Symphony Choir’s concert on Saturday 8th December at Selsdon Baptist Church from 6:30pm, raising funds for We-STAP who supply toiletries and sanitary products to women in need in Croydon? Tickets available at the door or for a reduced rate using <%= link_to "www.ticketsource.co.uk/soul-symphony-choir-winter", "http://www.ticketsource.co.uk/soul-symphony-choir-winter" %></p>
                <p>Soul Symphony is a community choir that meets on Tuesday evenings from 7:15pm at The Holy Family RC Church hall in Limpsfield Road, near to Waitrose. All are very welcome; no previous singing experience is required. If you are interested in joining please visit <%= link_to "www.soulsymphony.co.uk", "http://www.soulsymphony.co.uk" %> for more information.</p>
               </td>
              <td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "resource/Soul_Symphony_2018.pdf" %>

              </td>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="crafts"></a>Christmas Crafts at Sanderstead Library. Tuesday 11th December</h3>
                <p><%= link_to "Christmas Craft for Adults and Children!", "resource/xmas_craft.pdf" %> Tuesday 11th December from 3.30-4.30pm. Have fun with our Christmas craft session for adults and children! The Sanderstead WI are kindly running the adult craft Please book for the adult Christmas craft.</p>
                <p>Sanderstead Library, Farm Fields, South Croydon, CR2 0HL. Telephone: 020 3700 1015 Email: sandersteadlibrary@croydon.gov.uk</p>
              </td>
              <td class="events"><h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="panto"></a>Sanderstead Panto. 5th - 12th January</h3>
                <p>Sanderstead Dramatic Club presents Cinderella. All Saints' Halls. Saturday 5th - Saturday 12th January 2019. Box office now open</p>
                <p><%= link_to "Visit our website: www.sdclub.org.uk", "https://www.sdclub.org.uk/" %></p>
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/SDC_Crest100.png", alt: "Sanderstead Dramatic"), "https://www.sdclub.org.uk" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="purleylit08"></a>Purley Literary Society Talk. Tuesday 8th January</h3>
                <p>Meetings at 8pm in the hall of Purley United Reformed Church, 906 Brighton Road, Purley, CR8 2LN. Tuesday 8th January, Sir Simon Hughes "My life in politics"</p>
                <p><%= link_to "See our programme for 2018/19", "resource/Purley_Literary_Society.pdf" %></p>
              </td>
              <td class="events">
                <h3><%= link_to "Purley Literary", "http://www.purley-literary-society.com/" %></h3>
              </td>
            </tr> 

             <tr>
               <td class="events">
                 <h3> <a class="anchor" id="top" name="family"></a>Family Fun at All Saints, Sanderstead. Sunday 20th January, 3.pm tbc
                 </h3>
                 <p>
                 Family Fun is a monthly activity based service  for all children up to the age of 12 years, and their parents​, grandparents​ and carers. Our Sunday meetings start at 3:00pm in the All Saints' church halls in Onslow Gardens, with ​lots of ​time for activities and crafts based around ​the Bible, ​which the children do with their parents and carers, ​followed by plenty of ​lively ​singing​ and a story. We end our time together​ with a tasty snack and refreshments for all. Children take home everything they have made.</p>
                 <p>We look forward to welcoming you​ to Family Fun.  If you have any questions, please email ​children@sanderstead-parish.org.uk </p>
                 </p>
               </td>
               <td class="events">
                  <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
               </td>
             </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="toddlers"></a>Toddler Groups every Tuesday and Friday in term time</h3>
                <p>Toddler groups meet in All Saints' Halls every Tuesday and Friday during term time from 9.30 till 11.30. Toys, trains, friendship, refreshments, songs. £2 per child</p>
              </td>
              <td class="events"> <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>
              </td>
            </tr>
            
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="football"></a>Women's Football on Sanderstead Rec. Every Thursday 12 - 1</h3>
                <p>More information contact Matthew on Email: matthew@mindincroydon.org.uk Tel: 0208 253 8208 Orchard House, 15a Purley Road, South Croydon, Surrey, CR2 6EZ. Sponsored by Mind in Croydon</p>
              </td>
              <td class="events">
                <h3><%= link_to "Women's Football", "resource/Women_Football.pdf", target: "blank" %></h3>
              </td>
            </tr>    

            



           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

             <!--<tr>
              <td><a class="anchor" id="top" name="beeches_nov"></a>
                <h3>Purley Beeches Work Party, Saturday 17th November, 10 - 1pm</h3>
                <p></p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>              
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
              </td>
            </tr>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

              <!-- <td class="events">
                <%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/your-area/croydon/sanderstead/" %>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/sechclogo.gif", alt: "SECHC logo"), "http://sechc.org.uk" %></h3>
              </td>-->

               <!--<td class="events">
                <h3><%= link_to image_tag("small-images/scouts100.jpg", alt: "Croham Valley Explorer Scouts"), "http://crohamvalleyesu.ukscouts.org.uk/" %></h3>
              </td>-->

               <!--<td class="events"><h3><%= link_to "Football", "https://www.selsdonlittleleague.com/" %></h3>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/SDC_Crest100.png", alt: "Sanderstead Dramatic"), "https://www.sdclub.org.uk" %></h3>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
