<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>                      

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="purleylit"></a>Purley Literary Society Talk. Tuesday 9th October</h3>
                <p>Meetings at 8pm in the hall of Purley United Reformed Church, 906 Brighton Road, Purley, CR8 2LN. Tuesday 9th October Dr Lois Oliver Rubens: Painter of Princes, Prince of Painters.</p>
                <p><%= link_to "See our programme for 2018/19", "resource/Purley_Literary_Society.pdf" %></p>
              </td>
              <td class="events">
                <h3><%= link_to "Purley Literary", "http://www.purley-literary-society.com/" %></h3>
              </td>
            </tr>


            <tr>
               <td class="events">
                 <h3> <a class="anchor" id="top" name="fun"></a>Family Fun at All Saints, Sanderstead. Sunday 14th October, 3pm
                 </h3>
                 <p>Family Fun is a monthly activity based service  for all children up to the age of 12 years, and their parents​, grandparents​ and carers. We start at 3:00pm in the All Saints' church halls in Onslow Gardens, with ​lots of ​time for activities and crafts based around ​the Bible, ​which the children do with their parents and carers, ​followed by plenty of ​lively ​singing​ and a story. We end our time together​ with a tasty snack and refreshments for all. Children take home everything they have made.</p>
                 <p>We look forward to welcoming you​ to Family Fun.  If you have any questions, please email ​children@sanderstead-parish.org.uk </p>
                 </p>
               </td>
               <td class="events">
                  <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
               </td>
             </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beeches_oct"></a>Purley Beeches working party. Sat October 20th 10 - 1 
                </h3>
                <p>There I was thinking, last month, that it would take two work days to get all 25 kilo of mixed narcissus bulbs into the ground, when up turned these ultra-keen Beavers and their leaders and in just a little over an hour the box was empty. We can now look forward to more spring colour next year in the three areas that were planted. Well done everyone, particularly our young helpers, hope to have you join us again. Nothing for it then, but to stick to the original plan for this October work party and continue to clear paths of overhanging branches and undergrowth. Our new trees will also deserve some attention, although the nettles will start to die back soon the brambles do need continually keeping in check. If you have a hour or so free on the morning of the 20th do come and help, the usual team will be more than welcoming and as one of the Leaders of the Beavers said “That was so much fun”. It really is one of those times when work is actually fun.</p>
                <p>All the usual stuff. Signs from the Beech Avenue entrance will point the way. We meet at 10am and finish at the latest by 1pm. Please wear suitable protective clothing and gloves, think brambles, and any hand-tools, loppers, bow-saws, rakes etc. and don’t forget to bring your favourite beverage and snack for a late elevenses.</p>
                 <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="books"></a>Sanderstead Neighbourhood Care Book Sale. Sat 20 October.</h3>
                <p>SNC Book Sale, Sat 20th October 11am - 1pm. Refreshments will also be available for purchase. All Saints Church Hall, Onslow Gardens, Sanderstead CR2 9AB. </p>
              </td>
              <td class="events">
                <h3><%= link_to "SNC", "resource/book_sale_October2018.pdf" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="purleylit23"></a>Purley Literary Society Talk. Tuesday 23rd October</h3>
                <p>Meetings at 8pm in the hall of Purley United Reformed Church, 906 Brighton Road, Purley, CR8 2LN. Tuesday 23rd October, John Wilson, The Lancaster Bomber and Me!</p>
                <p><%= link_to "See our programme for 2018/19", "resource/Purley_Literary_Society.pdf" %></p>
              </td>
              <td class="events">
                <h3><%= link_to "Purley Literary", "http://www.purley-literary-society.com/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="parlourplayers"></a>Parlour Players present "Season's Greetings" on 8/9/10 November</h3>
                <p>Thursday 8, Friday 9 and Saturday 10 November 2018, 7:45pm in Sanderstead United Reformed Church Hall</p>
                <p>Tickets £9 To book your tickets go to www.parlourplayers.co.uk and click on the TicketSource link or phone the Box Office on 020 8657 2632. Alternatively, <%= link_to "post the slip on this form", "resource/SG_PCS_Wording.pdf" %> to The Parlour Players Box Office 25 Farm Fields, Sanderstead CR2 0HQ.</p>
                </p>
              </td>
              <td class="events">
                <%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
              </td>
            </tr>

            <tr>
              <td><a class="anchor" id="top" name="beeches_nov"></a>
                <h3>Purley Beeches Work Party, Saturday 17th November, 10 - 1pm</h3>
                <p>November 17th Winter Bonfire. Another big bonfire that will hopefully leave our new site clear and ready for planting in January 2019. Our AGM will be held on November 23rd in St Mary's church hall, time tbc.</p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>              
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
              </td>
            </tr>
            
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="football"></a>Women's Football on Sanderstead Rec. Every Thursday 12 - 1</h3>
                <p>More information contact Matthew on Email: matthew@mindincroydon.org.uk Tel: 0208 253 8208 Orchard House, 15a Purley Road, South Croydon, Surrey, CR2 6EZ. Sponsored by Mind in Croydon</p>
              </td>
              <td class="events">
                <h3><%= link_to "Women's Football", "resource/Women_Football.pdf", target: "blank" %></h3>
              </td>
            </tr>    

            



           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

              <!-- <td class="events">
                <%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/your-area/croydon/sanderstead/" %>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/sechclogo.gif", alt: "SECHC logo"), "http://sechc.org.uk" %></h3>
              </td>-->

               <!--<td class="events">
                <h3><%= link_to image_tag("small-images/scouts100.jpg", alt: "Croham Valley Explorer Scouts"), "http://crohamvalleyesu.ukscouts.org.uk/" %></h3>
              </td>-->

               <!--<td class="events"><h3><%= link_to "Football", "https://www.selsdonlittleleague.com/" %></h3>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
