<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>
             

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="purleylit28"></a>Purley Literary Society. Tuesday 28 January</a></h3>
                <p>Meetings at 8pm in the hall of Purley United Reformed Church, 906 Brighton Road, Purley, CR8 2LN. 
                <%= link_to "www.purley-literary-society.com", "http://www.purley-literary-society.com" %></p>
                <p><%= link_to "Download the programme here", "resource/Purley_lit19and20.pdf" %></p>
                  <ul>
                    <li>28 January The Cow That Changed History Amanda Bryett</li>
                    <li>11 February Rigorous Pleasure – The Architecture of CZWG at 1 Lansdowne Road Piers Gough</li>
                    <li>25 February The Miracle of Bletchley Park Gillian Cane</li>
                    <li>10 March ENSA - Every Night Something Awful Delia Taylor</li>
                    <li>24 March AGM at 7:30 with refreshments, followed by: Les Parisiennes: How The Women of Paris
                        Lived, Loved and Died in the 1940's Anne Sebba</li>
                  </ul>
                </p>
              </td>
              <td class="events">
                <h3><%= link_to "Purley Literary Soc", "http://www.purley-literary-society.com" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="library"></a>Sanderstead Library. Tuesday 28 January</a></h3>
                <p>On the 28th January we have a 'Landlord Licensing Scheme Stall'-the council are seeking residents views on the future of landlord licensing, <%= link_to "More information here", "https://www.croydon.gov.uk/housing/privatehousing/croydon-private-rented-property-licence/selective-licensing?home=banner" %>. </p>
                <p>Also on 28 January we are having a police surgery from 1-2pm where residents can raise their concerns with the local Safer Neighbourhood Team</p>
                </p>
              </td>
              <td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>
            </tr>

            <tr>
              <td class="events">
                <h3></h3>
                <p><a class="anchor" id="top" name="historyjan"></a> Sanderstead Local History Group, Wednesday 29 January</p>
                <p>Meetings on the last Wednesday of each month, except where stated 2.00pm  All Saints Church Hall, Onslow Gardens, Sanderstead, CR2 9AB. All are welcome. Come as often as you wish – no annual fee. Just £2 per head to cover hall hire and including tea or coffee. Programme may be subject to change through circumstances beyond our control. Please check in Forthcoming Events on the Bourne Society Programme 2020 web site <%= link_to "www.bournesoc.org.uk", "http://www.bournesoc.org.uk" %></p>
                <p>For further information please contact: Joyce Hoad : joycehoad@virginmedia.com or Chris Harman: chris.harman@tiscali.co.uk</p>
                <p>
                  <ul>
                    <li>Jan 29 Members Schooldays - Good or bad</li>
                    <Li>Feb 26 Chris Harman Addiscombe College – the East India Company’s connection with Croydon</Li>
                    <li>March 25 Jill Hall Henry Keatley Moore - Mayor of Croydon 1906-1908 & Moore</li>
                    <li>April 29 Joyce Hoad Sanderstead Court - from medieval owners to the Atwood family and beyond</li>
                    <li>May 27 Roger Packham Through a Sanderstead lens- Newly acquired views of the district from early 1900's</li>
                    <li>June 24 Chris Harman Samuel Coleridge Taylor – Croydon composer and musician</li>
                    <li>July 29 Dee Palmer Pilgrims and Pilgrim Routes in South-East England</li>
                    <li>Aug no meeting</li>
                    <li>Sept 30 Joyce Hoad Selsdon Park Hotel aka The De Vere - farmhouse to mansion- connections with the Royal family</li>
                    <li>Oct 28 Dee Palmer The History of Theatre in Croydon</li>
                    <li>Nov 25 Members - Xmas memories & Xmas Party</li>
                    <li>Dec no meeting</li>
                  </ul>
                </p>
              </td>
              <td class="events"><h3><%= link_to "Bourne Society", "http://www.bournesoc.org.uk" %></p></h3>
              </td>

            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="democ"></a>Campaign for a Democratically Elected Mayor of Croydon. Wednesday 12 February</h3>
                <p>The DEMOC Campaign Committee have organised a public meeting to be held in Sanderstead. Venue: All Saints Church Hall, Onslow Gardens, CR2 9AB. Date of Meeting: Wednesday 12th February. Doors open 8pm for an 8.15pm start to the meeting. The meeting will conclude at approx. 9.30pm.</p>
                <p>There will be presentations from Gerald Meredith-Smith - Chair of Campaign Committee, Chris Philp, MP for Croydon South plus statements from Labour and Conservative supporters of the campaign.
                </p>
              </td>
              <td class="events"><h3>DEMOC</h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="purleylit11"></a>Purley Literary Society. Tuesday 11 Febuary</a></h3>
                <p>Meetings at 8pm in the hall of Purley United Reformed Church, 906 Brighton Road, Purley, CR8 2LN. 
                <%= link_to "www.purley-literary-society.com", "http://www.purley-literary-society.com" %></p>
                <p><%= link_to "Download the programme here", "resource/Purley_lit19and20.pdf" %></p>
                  <ul>
                    <li>11 February Rigorous Pleasure – The Architecture of CZWG at 1 Lansdowne Road Piers Gough</li>
                    <li>25 February The Miracle of Bletchley Park Gillian Cane</li>
                    <li>10 March ENSA - Every Night Something Awful Delia Taylor</li>
                    <li>24 March AGM at 7:30 with refreshments, followed by: Les Parisiennes: How The Women of Paris
                        Lived, Loved and Died in the 1940's Anne Sebba</li>
                  </ul>
                </p>
              </td>
              <td class="events">
                <h3><%= link_to "Purley Literary Soc", "http://www.purley-literary-society.com" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <p><h3><a class="anchor" id="top" name="historyfeb"></a> Sanderstead Local History Group, Wednesday 26 February</h3></p>
                <p>Meetings on the last Wednesday of each month, except where stated 2.00pm  All Saints Church Hall, Onslow Gardens, Sanderstead, CR2 9AB. All are welcome. Come as often as you wish – no annual fee. Just £2 per head to cover hall hire and including tea or coffee. Programme may be subject to change through circumstances beyond our control. Please check in Forthcoming Events on the Bourne Society Programme 2020 web site <%= link_to "www.bournesoc.org.uk", "http://www.bournesoc.org.uk" %></p>
                <p>For further information please contact: Joyce Hoad : joycehoad@virginmedia.com or Chris Harman: chris.harman@tiscali.co.uk</p>
                <p>
                  <ul>
                    <Li>Feb 26 Chris Harman Addiscombe College – the East India Company’s connection with Croydon</Li>
                    <li>March 25 Jill Hall Henry Keatley Moore - Mayor of Croydon 1906-1908 & Moore</li>
                    <li>April 29 Joyce Hoad Sanderstead Court - from medieval owners to the Atwood family and beyond</li>
                    <li>May 27 Roger Packham Through a Sanderstead lens- Newly acquired views of the district from early 1900's</li>
                    <li>June 24 Chris Harman Samuel Coleridge Taylor – Croydon composer and musician</li>
                    <li>July 29 Dee Palmer Pilgrims and Pilgrim Routes in South-East England</li>
                    <li>Aug no meeting</li>
                    <li>Sept 30 Joyce Hoad Selsdon Park Hotel aka The De Vere - farmhouse to mansion- connections with the Royal family</li>
                    <li>Oct 28 Dee Palmer The History of Theatre in Croydon</li>
                    <li>Nov 25 Members - Xmas memories & Xmas Party</li>
                    <li>Dec no meeting</li>
                  </ul>
                </p>
              </td>
              <td class="events"><h3><%= link_to "Bourne Society", "http://www.bournesoc.org.uk" %></h3>
              </td>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="artshow"></a>Children's Society Art Exhibition, Sat 21 March 2020</h3>
                <p>Saturday 21 March 10.00am – 4.30pm United Reformed Church Hall, Sanderstead Hill.</p>
                <p>A Spring date for your calendar! Our 46th annual exhibition again offers an opportunity to admire the talents of local artists and to buy original works for yourself or as gifts at very reasonable prices. It is always a lively event with a wide variety of colourful pictures to enjoy, both framed and unframed, from beautiful animal studies to romantic landscapes and lovely local scenes. Around 50 artists' work will be on display and 20% of all profits go towards the Society's work with disadvantaged children. There will also be a homemade cakes and preserves stall, plus tea and coffee to enjoy and a chance to win a raffle prize. Drop in morning or afternoon if you have the chance. We'd love to see you.</p>
              </td>
              <td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events"><a class="anchor" id="top" name="theartssept"></a><h3>The Arts Society Croydon Area. 2nd Thursday of the month</h3>
                <p>Meet Monthly (2nd Thursday) at 10.15 in All Saints Church Hall, Sanderstead</p>
                <p>For further details please phone 02086572496 or email janice.brunger@outlook.com</p>
              </td>
              <td class="events"><h3><%= link_to "The Arts Society", "https://theartssociety.org/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="theartsnov"></a>The Arts Society Sanderstead.</h3>
                <p>Meetings commence at 10.30 on the fourth Tuesday of the month at the United Reformed Church Hall, Sanderstead Hill, South Croydon, CR2 0HB.  Coffee is served from 9.45 to 10.15am.</p>
                <p>At present there is no waiting list for new members joining and visitors are welcome on payment of a small fee. For more information phone 0208 660 9122. Email:  suedavenport72@gmail.com</p>
                <p><%= link_to "Programme for 2020", "resource/arts_soc_sand2020.pdf" %></p>
              </td>
              <td class="events"><h3><%= link_to "The Arts Society", "https://theartssociety.org/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sandhist"></a>Sanderstead Local History Group. Monthly on a Wednesday</h3>
                <p>Want to discover more local history? If so then 'The Sanderstead Local History Group' would like to invite you to our monthly meetings held 2-4pm at All Saints Church Hall Onslow Gardens Sanderstead the last Wednesday in the month. A small charge of £2 each meeting to cover hall hire and refreshments. No annual fee. Information is on the Bourne Society website re the area covered and local history books they have produced plus details of the SLHG meetings.</p>
                    <p>Contact Joyce Hoad (Chair) joycehoad@virginmedia.com or chris.harman@tiscali.co.uk</p>
                </td>
                <td class="events">
                <h3><%= link_to "Bourne Society", "http://bournesoc.org.uk/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="soul"></a>Soul Symphony Choir, Tuesday evenings at 7pm</h3>
                <p>Soul Symphony Choir is a fun, friendly and vibrant choir based in Croydon. ‘I love everyone’s positivity and how wonderful everyone’s attitude is. Every week you have a rehearsal to look forward to with what feels like a second family,’ Lizzy. Be energised by our uplifting sessions as well as the mutual support and encouragement of the Soul Symphony Choir community. Come join us – free taster for your first session.</p>
                <p>For more information please visit www.soulsymphony.co.uk or email info@soulsymphony.co.uk</p>
                 <p>You are welcome to join us on Tuesday evenings from 7pm at St Columba’s Church, 37 Queenhill Road, South Croydon CR2 8DW. For more information please visit <%= link_to "www.soulsymphony.co.uk", "http://www.soulsymphony.co.uk" %>.</p>
               </td>
              <td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "http://www.soulsymphony.co.uk" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="toddlers"></a>Toddler Groups every Tuesday and Friday in term time</h3>
                <p>Toddler groups meet in All Saints' Halls every Tuesday and Friday during term time from 9.30 till 11.30. Toys, trains, friendship, refreshments, songs. £2 per child</p>
              </td>
              <td class="events"> <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>
              </td>
            </tr>           

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

             <!--<tr>
              <td><a class="anchor" id="top" name="beeches_nov"></a>
                <h3>Purley Beeches Work Party, Saturday 17th November, 10 - 1pm</h3>
                <p></p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>              
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
              </td>
            </tr>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

              <!-- <td class="events">
                <%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/your-area/croydon/sanderstead/" %>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/sechclogo.gif", alt: "SECHC logo"), "http://sechc.org.uk" %></h3>
              </td>-->

               <!--<td class="events">
                <h3><%= link_to image_tag("small-images/scouts100.jpg", alt: "Croham Valley Explorer Scouts"), "http://crohamvalleyesu.ukscouts.org.uk/" %></h3>
              </td>-->

               <!--<td class="events"><h3><%= link_to "Football", "https://www.selsdonlittleleague.com/" %></h3>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/SDC_Crest100.png", alt: "Sanderstead Dramatic"), "https://www.sdclub.org.uk" %></h3>
              </td>-->

              <!--<td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "http://www.soulsymphony.co.uk" %>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
