<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2016</h2>

        <table>
          <tbody>         
            
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="walks"></a>Guided Walk in local countryside. Sun 20 Nov. At 10 am. </h3>
               <p>Marion’s walks are for all who love to get out into fresh air, and want to know more about their local countryside’s history and wildlife. Paths may be muddy so wear boots. Bring waterproofs. Dogs allowed if on leads. Finish at the start point. Donations to the Downlands Trust are welcomed. <%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf") %></p>
              </td>
              <td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="lights"></a>Grand Switch on of Sanderstead's Christmas lights. Saturday 26th November, 7pm</h3>
               <p>The grand switch on of the Christmas lights in Sanderstead Village takes place on Saturday 26th November at 7pm beside "Priscilla's" on the Rec. 
              Father Christmas himself will press the button to switch on the lights and begin the celebrations. With Christmas carols sung by local choirs and stalls selling Christmassy items, there will be entertainment for all. Proceeds will go to South Croydon Rotary Club's Christmas Collection.</p>
              <p>Visit the facebook page for more about <%= link_to "Sanderstead's Christmas lights", "https://www.facebook.com/events/1856845034551259/permalink/1858952407673855/" %>.</p>
              <p>Sanderstead Residents' association have funded the lights at Sanderstead and Hamsey Green, as well as a prize of £200 for the best dressed Christmas shop window. </p>
              </td>
              <td class="events">
               <%= link_to image_tag("lights4.png", alt: "Christmas light"), "https://www.facebook.com/events/1856845034551259/permalink/1858952407673855/" %>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="trees"></a>Christmas Tree Festival at St Mary's, Sat 10th December. 2 - 6pm </h3>
               <p>Come and enjoy the beautifully decorated Christmas trees and the Christmas Market and listen to live music in St Mary's church, Purley Oaks Road.  Call 020 8657 9232 or email <%= mail_to "stmarys.office@sanderstead-parish.org.uk" %> for more information. </p>
              </td>
              <td class="events">
                <h3><%= link_to("Sanderstead Parish", "http://www.sanderstead-parish.org.uk")%></h3>
              </td>
            </tr>


           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->


        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
