<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody> 

            <tr>
               <td class="events"><a class="anchor" id="top" name="concert"></a>
                <h3>Concert including Carmina Burana and other items at the Fairfield Halls. Saturday 2nd April</h3>
                <p>Croydon Philharmonic Choir with Basingstoke choral society and the choir of St Mary's C of E School, Oxted with Docklands Sinfonia present Carmina Burana at The Fairfield Halls on Saturday 2nd April at 7.30pm. Tickets via <%= link_to "Fairfield.co.uk", "https://www.fairfield.co.uk" %>. (Transaction fee applies). Ticket prices £15, £18, £25 and £39.</p>
                <p>Other items include "Rhapsody in Blue" by George Gershwin, and "The Rio Grand" by Lambert</p>
              </td>
                <td class="events">
                  <h3>Fairfield Halls</h3>
              </td>
            </tr>

             <tr>
               <td class="events"><a class="anchor" id="top" name="kingsmead"></a>
                <h3>Open Day at Kingsmead Equestrian Centre. Monday 18th April</h3>
                <p>Kingsmead Equestrian Centre would like to invite you to an Open Day, on Easter Monday, 18th April from 12 noon - 3pm. There will be a variety of workshops and ridden demonstrations, a real life Buckaroo game, as well as a parade featuring our amazing horses and ponies.</p>
                <p>Free pony rides!</p>
                <p>Kingswood Lane, Warlingham, CR0 9AB. 0208 657 0832. <%= link_to "www.kingsmeadhorses.co.uk", "https://www.kingsmeadhorses.co.uk" %></p>
                <p><%= link_to "More information", "resource/Kingsmead_equestrian.pdf" %></p>
              </td>
                <td class="events">
                  <h3><%= link_to "Kingsmead", "https://www.kingsmeadhorses.co.uk" %></h3>
              </td>
            </tr>

             <tr>
               <td class="events"><a class="anchor" id="top" name="sraagm"></a>
                <h3>Sanderstead Residents' Association AGM. Thursday 12 May 2022</h3>
                <p>The SRA AGM will be held on Thursday 12 May 2022 at 7.30 pm in All Saints' large hall, Onslow Gardens, CR2 9AB. All residents are encouraged to attend and members are entitled to vote at the meeting.</p>
              </td>
                <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %>
              </td>
            </tr>

            <tr>
              <td><h3>Regular events</h3></td>
            </tr>

            <tr>
              <td class="events"><a class="anchor" id="top" name="coffeepot"></a>
                <h3>Coffee Pot. Fortnightly on a Friday morning in All Saints Halls</h3>
                <p>Come and meet new friends and enjoy chatter with fresh home-made cakes and Tea or Coffee, and have fun. Why Not Come and Join us at All Saints' Church Sanderstead in the Small Hall. Fortnightly on Fridays between 10am and 12pm. You will all be made very welcome! Coffee Pot returns on Friday 28 January 2022.</p>
              </td>
              <td class="events">
                <h3><%= link_to "Coffee", "https://www.sanderstead-parish.org.uk" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events"><a class="anchor" id="top" name="coffeeclub"></a>
                <h3>Coffee Club. 1st and 3rd Tuesdays at Sanderstead Methodist Church</h3>
                <p>New members are welcome. We meet on the first and third Tuesday of the month. If you would like some company, conversation, and coffee (or tea) in a friendly environment please drop in to Sanderstead Methodist Church, 102 Limpsfield Road, CR2 9EF, between 10.00 and 11.30 am and try out the club. It costs £1 for a drink and a cookie. For some pictures and more details visit the website: <%= link_to "www.sandersteadmethodist.org.uk", "http://www.sandersteadmethodist.org.uk/coffee-morning/" %></p>
              </td>
              <td class="events">
                <h3><%= link_to "Coffee", "http://www.sandersteadmethodist.org.uk/coffee-morning/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events"><a class="anchor" id="top" name="fopb"></a>
                <h3>Friends of Purley Beeches Work Parties</h3>
                <p>Friends of Purley Beeches regular work parties one Saturday a month. Visit their website for details of the next event: <%= link_to "www.friendsofpurleybeeches.co.uk/", "https://www.friendsofpurleybeeches.co.uk/" %></p>
              </td>
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "http://www.friendsofpurleybeeches.co.uk" %>
              </td>
            </tr>

            <tr>
              <td class="events"><a class="anchor" id="top" name="select"></a>
                <h3>Sanderstead library is now open on Wednesdays, Fridays and Saturdays from 10am - 1pm and from 2pm - 5pm.</h3>
                <p>Sanderstead Library is now operating a Select and Collect service. Books can be reserved online, by email or by phone. You’ll be notified once your items are ready for collection. Please knock on the door when you arrive for your collection and a member of staff will come and help you. For more information and service updates please visit our website: <%= link_to "www.croydon.gov.uk/libraries-leisure-and-culture/libraries/find-your-library/sanderstead-library", "https://www.croydon.gov.uk/libraries-leisure-and-culture/libraries/find-your-library/sanderstead-library" %></p>
              </td>
              <td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/libraries-leisure-and-culture/libraries/find-your-library/sanderstead-library" %></h3>
            </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="sandhist"></a>Sanderstead Local History Group. Monthly on a Wednesday</h3>
                <p>Want to discover more local history? If so then 'The Sanderstead Local History Group' would like to invite you to our monthly meetings held 2-4pm at All Saints Church Hall, Onslow Gardens, Sanderstead on the last Wednesday in the month. A small charge of £2 each meeting to cover hall hire and refreshments. No annual fee. Information is on our web site with a link to the Bourne Society where you can find local history books they have produced.</p>
                <p>For 2021 our meetings have been via Zoom and forthcoming meetings are:</p>
                <ul>
                  <li>29th September: Selsdon AD 871 to 1800: A "Country Estate", by Joyce Hoad</li>
                  <li>27th October: Selsdon Park Hotel 1800 - 2000: From country mansion to a magnificent hotel, by Joyce Hoad</li>
                  <li>24th November: All members: An early Christmas party    Decision later whether Zoom or face to face</li>
                </ul>
                <p>Contact Joyce Hoad (Chair) or Chris Harman at sanderssteadlhg@gmail.com if you’d like to be added to our mailing list for Zoom links.</p>               
                </td>
                <td class="events">
                <h3><%= link_to "Sanderstead LHG", "https://www.sandersteadlhg.co.uk/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="theartsnov"></a>The Arts Society Sanderstead.</h3>
                <p>Meetings commence at 10.30 on the fourth Tuesday of the month at the United Reformed Church Hall, Sanderstead Hill, South Croydon, CR2 0HB.  Coffee is served from 9.45 to 10.15am.</p>
                <p>At present there is no waiting list for new members joining and visitors are welcome on payment of a small fee. For more information phone 0208 660 9122. Email:  suedavenport72@gmail.com</p>
                <p>Meetings are currently held via Zoom. Visit our website for details. <%= link_to "theartssocietysanderstead.org.uk", "https://theartssocietysanderstead.org.uk/AboutUs/AboutUs.aspx" %>
              </td>
              <td class="events"><h3><%= link_to "The Arts Society", "https://theartssociety.org/" %></h3>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="toddlers"></a>Toddler Groups every Tuesday and Friday in term time</h3>
                <p>Toddler groups meet in All Saints' Halls every Tuesday and Friday during term time from 9.30 till 11.30. Toys, trains, friendship, refreshments, songs. £2 per child</p>
              </td>
              <td class="events"> <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>
              </td>
            </tr>  
            <tr>
              <td class="events"><a class="anchor" id="top" name="theartssept"></a><h3>The Arts Society Croydon Area. 2nd Thursday of the month</h3>
                <p>Meet Monthly (2nd Thursday) at 10.15 in All Saints Church Hall, Sanderstead</p>
                <p>For further details please phone 02086572496 or email janice.brunger@outlook.com</p>
              </td>
              <td class="events"><h3><%= link_to "The Arts Society", "https://theartssociety.org/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="soul"></a>Soul Symphony Choir, Tuesday evenings at 7pm</h3>
                <p>Soul Symphony Choir is a fun, friendly and vibrant choir based in Croydon. ‘I love everyone’s positivity and how wonderful everyone’s attitude is. Every week you have a rehearsal to look forward to with what feels like a second family,’ Lizzy. Be energised by our uplifting sessions as well as the mutual support and encouragement of the Soul Symphony Choir community. Come join us – free taster for your first session.</p>
                <p>For more information please visit www.soulsymphony.co.uk or email info@soulsymphony.co.uk</p>
                 <p>You are welcome to join us on Tuesday evenings from 7pm at St Columba’s Church, 37 Queenhill Road, South Croydon CR2 8DW. For more information please visit <%= link_to "www.soulsymphony.co.uk", "http://www.soulsymphony.co.uk" %>.</p>
               </td>
              <td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "http://www.soulsymphony.co.uk" %>
              </td>
            </tr>

                    

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

             <!--<tr>
              <td><a class="anchor" id="top" name="beeches_nov"></a>
                <h3>Purley Beeches Work Party, Saturday 17th November, 10 - 1pm</h3>
                <p></p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </td>              
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "http://www.friendsofpurleybeeches.co.uk" %>
              </td>
            </tr>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "https://www.croydon.gov.uk/leisure/libraries" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

              <!-- <td class="events">
                <%= link_to image_tag("small-images/police_logo.png", alt: "Met Police logo"), "https://www.met.police.uk/a/your-area/met/croydon/sanderstead/" %>
              </td>-->

              <!-- <td class="events"><h3><%= link_to "Met Police", "https://www.met.police.uk/a/your-area/met/croydon/sanderstead/" %></h3>
            </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/sechclogo.gif", alt: "SECHC logo"), "http://sechc.org.uk" %></h3>
              </td>-->

               <!--<td class="events">
                <h3><%= link_to image_tag("small-images/scouts100.jpg", alt: "Croham Valley Explorer Scouts"), "http://crohamvalleyesu.ukscouts.org.uk/" %></h3>
              </td>-->

               <!--<td class="events"><h3><%= link_to "Football", "https://www.selsdonlittleleague.com/" %></h3>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to image_tag("small-images/SDC_Crest100.png", alt: "Sanderstead Dramatic"), "https://www.sdclub.org.uk" %></h3>
              </td>-->

              <!--<td class="events"><%= link_to image_tag("small-images/Soul symphony100.jpg", alt: "Soul Symphony"), "http://www.soulsymphony.co.uk" %>
              </td>-->

              <!--<td class="events">
                <h3><%= link_to "DEMOC", "https://www.democ.org.uk/" %></h3>
              </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
