<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events coming up</h2>

        <table>
          <tbody>  

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beeches_mar"></a>Purley Beeches Working Party. Sat 3rd March 10am - 1 pm</h3>
                <p>Tree planting<p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>This month we intend to plant another 30/40 tree whips. Many of us are old hands at this now, but the essential tools needed are spades to cut the slit, into which the whips are inserted, loppers to cut the stakes to which the young trees are attached and flagged and stout boots to gently stomp the soil back around the plants. If you are able to come please bring appropriate hand tools, wear suitable clothes and bring whatever you prefer for elevenses. Signs from the Beech Avenue entrance will direct you to the planting site, starting at 10am, all done by 1pm. For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </p>
              </td>
             <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
            </td>
            </tr>

             <tr>
              <td class="events">
                <h3> <a class="anchor" id="top" name="fun"></a>Family Fun at All Saints, Sanderstead. Sunday 4th March, 3pm
                </h3>
                <p>Family Fun is a monthly activity based service  for all children up to the age of 12 years, and their parents​, grandparents​ and carers. We start at 3:00pm in the All Saints' church halls with ​lots of ​time for activities and crafts based around ​the Bible, ​which the children do with their parents and carers, ​followed by plenty of ​lively ​singing​ and a story. We end our time together​ with a tasty snack and refreshments for all. Children take home everything they have made.</p>
                <p>We look welcoming you​ to Family Fun.  If you have any questions, please email ​children@sanderstead-parish.org.uk </p>
                </p>
              </td>
              <td class="events">
                 <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="childrensoc"></a>Exhibition and sale of pictures in aid of the Children's Society. Saturday 17th March 2018</h3>
                <p>United Reformed Church Hall, Sanderstead Hill. Saturday 17th March, 10am to 4.30pm.</p>
                <p>Around 50 artists' work will be on display and 20% of all profits go towads the Society' work with disadvantaged children. There will also be a homemade cakes and preserves stall, plus tea and coffee to enjoy and a chance to win a raffle prize</p> 
               
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beeches_apr"></a>Purley Beeches Working Party. Sat 7th April 10am - 1 pm</h3>
                <p>Spring bonfire<p>
                <p><%= link_to "Friends of Purley Beeches work programme for 2018", "/resource/fopb2018.pdf" %></p>
                <p>For further information please email or call
                <ul><li>Stanley Lowy: 020 8657 3684 or stanlowy@outlook.com</li>
                <li>Elizabeth Bennett: bennett_e@sky.com</li>
                <li>Mac Court   mac@skyy.me.uk</li></ul></p>
              </p>
              </td>
             <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/fopb2018.pdf" %>
            </td>
            </tr>

             <tr>
              <td class="events">
                <h3> <a class="anchor" id="top" name="snc"></a>Sanderstead Neighbourhood Care Quiz Night. Saturday 21st April 2018</h3>
                <p>The Spring Quiz night to raise funds for Sanderstead Neighbourhood Care. All Saints Halls, Onslow Gardens. More details to follow</p>
                </p>
              </td>
              <td class="events">
                 <h3>Sanderstead Neighbourhood Care</h3>
              </td>
            </tr>

             <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="agm"></a>Sanderstead Residents' Association AGM , Thursday 10th May 2018</h3>
                <p>At the meeting members are entitled to elect the committee and have the opportunity to question the Councillors and Committee on matters relating to Sanderstead. Time to be confirmed. Held in All Saints' Hall, Onslow Gardens, CR2 9AB</p>
               
              </td>
              <td class="events">
                <h3><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="cars"></a>Classic Car Show and Family Fun Day, Sun 24th June </h3>
                <p>Croydon Classic Car Show and Family Fun Day, 10.30 am till 4 pm. Rotary Fields, Brighton Road, Purley CR8 2BR. Entry Adults £3, Children £1.</p>
                <p>Exhibitors: Show your classic car or bike including two people for just £5. Book in advance or for more information please see the website: <%= link_to "http://united-kingdom.siguez.com/croydon/croydon-whitgift-rotary-club", "http://united-kingdom.siguez.com/croydon/croydon-whitgift-rotary-club" %></p>
              </td>
              <td class="events">
                <h3><%= link_to "Croydon Rotary", "http://united-kingdom.siguez.com/croydon/croydon-whitgift-rotary-club" %></h3>
              </td>
            </tr>



           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all_saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->

            <!--<td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> -->

                <!--<td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>-->

            <!--<td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>-->

              <!--<td class="events"><h3><%= link_to image_tag("small-images/selsdon_hawks100.png", alt: "Hawks logo"), "resource/Selsdon_Hawks.pdf" %></h3>
              </td>-->

              <!--<td class="events">
                <%= link_to image_tag("small-images/AADC-logo.jpg", alt: "AADC logo"), "http://www.aadcresearch.org/page/ebears-tea-room/" %>           
              </td>-->

              <!--<td class="events">
                <h3><%= image_tag("small-images/f_o_kingswood.jpg", alt: "Friends of King's Wood") %></h3>
              </td>-->

              <!--<td class="events"><h3><a href="resource/singing.pdf">Soul Symphony Choir</a></h3>
              </td>-->  

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
