<% provide(:title, 'Events') %>
<div id="events">
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Events in and around Sanderstead</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
         

            <div class="row">
             <div class="col-md-12">
           	<h2>Latest events for 2015</h2>
           </div>
         </div>


          <div class="row">
             <div class="col-md-10">   
        <h3><a name="police"></a>Police Liaison Meeting, Thursday 14th May 2015, at 7.15 pm in All Saints' Hall</h3>
        <p>The Sanderstead Neighbourhood Team will be holding their liaison meeting with the public prior to our AGM. It will be an opportunity to raise any concerns about security and police matters. </p>
            </div><!-- col-md-10 -->
            <div class="col-md-2">
                 <h3><%= link_to "Metroplitan Police", "http://content.met.police.uk/Team/Croydon/Sanderstead" %></h3>
            </div><!-- col-md-2 -->
          </div><!-- /row -->

           <div class="row">
             <div class="col-md-10">
    		<h3><a name="agm"></a>Sanderstead Residents' Association AGM, Thursday 14th May 2015, at 8 pm in All Saints' Church Hall</h3>
    		<p>The important function of the Association is its Annual General Meeting, where the members elect the committee and have the opportunity to question the councillors and committee on matters relating to Sanderstead. Drinks and refreshments will be available at the close of the AGM, and there will be the opportunity to raise any queries with the local Councillors amd meet with members of the Committee.</p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
               <%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA"), root_path %>
               </div><!-- col-md-2 -->
          </div><!-- /row -->

          <div class="row">
            <div class="col-md-10">
              <h3><a name="play"></a>"Our Man in Havana", Thursday 14th to Saturday 16th May, Sanderstead URC</h3>
              <p>Parlour Players present their latest production: Graham Greene's "Our Man in Havana", adapted for the stage by Clive Francis, to run at Sanderstead URC on Thursday 14th, Friday 15th and Saturday 16th May 2015 all at 7.45 pm. Box office, Jenny Russell, 020 8657 6509, <%= mail_to "jenny.russ47@gmail.com" %></p>
            </div><!-- col-md-10 -->
            <div class-"col-md-2">
               <%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </div><!-- col-md-2 -->
          </div><!-- /row -->

          <div class="row">
            <div class="col-md-10">
              <h3><a name="alice"></a>"Alice in Wonderland", Thursday 28th May, Sanderstead Library</h3>
              <p>Celebrate the 150th anniversary of "Alice in Wonderland" with stories and crafts on Thursday 28th May, 2.30-3.30pm. For children aged 3+. Please book a free place with the library.  020 3700 1015, <%= mail_to "croydon.sandersteadlibrary@carillionservices.co.uk" %></p>
            </div><!-- col-md-10 -->
            <div class-"col-md-2">
               <%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %>
            </div><!-- col-md-2 -->
          </div><!-- /row -->



          <div class="row">
             <div class="col-md-10">
    		<h3><a name="fair"></a>Scouts Gruffy Fair, Saturday 6th June, on the Gruffy beside Sanderstead pond</h3>
    		<p>The 16th Purley Scouts again invite everyone to come along for all the fun of the fair. All the usual treats will be there, including the famous football matches between all the cub packs.</p>
         </div><!-- col-md-10 -->
          <div class="col-md-2">
              <%= link_to image_tag("small-images/scouts100.jpg", alt: "Scouts logo"), "http://scouts.org.uk/home/" %>
                </div><!-- col-md-2 -->
          </div><!-- /row -->

          <div class="row">
            <div class="col-md-10">
              <h3><a name="flower"></a>"Flower Fairies", Tuesday 23rd June, Sanderstead Library</h3>
              <p>Celebrate 120 years of Cicely Mary Barker's Flower Fairies books with stories and craft on Tuesday 23rd June, 4.00-5.00pm. For children aged 3+. Please book a free place with the library.   020 3700 1015, <%= mail_to "croydon.sandersteadlibrary@carillionservices.co.uk" %></p>
            </div><!-- col-md-10 -->
            <div class-"col-md-2">
               <%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %>
            </div><!-- col-md-2 -->
          </div><!-- /row -->

          <div class="row">
             <div class="col-md-10">
         <h3><a name="children"></a>Children's Society Fashion Show, Thursday 25th June, 12.30 pm</h3>
        <p>Our annual Ploughman's Lunch, Fashion Show and Sale, with clothes from "Travelling Trends", will be held at All Saints' Church Hall at 12.30 pm on Thursday 25th June. After lunch provided by the Society, Travelling Trends will present a 45 - 60 minute show featuring a mixture of classic and fasionable lines to suit ladies of all ages and most sizes. The company boasts a constantly changing range of branded items as its wholesalers buy direct from manufacutreres who also supply popular high street stores and individual boutiques.</p>
        <p>After the show visitors wil have the opportunity to buy the clothes displayed most of which are offered for at least 50% less than their typical retail price!</p>
        <p>Tickets - priced £10, to include a glass of wine with lunch - must be purchased in advance to facilitate catering. Please do contact your local Children's Society committee member or ring or email me, Rachel Chadd, 020 8668 6769, <%= mail_to "rchad@tiscali.co.uk" %></p>
        </div><!-- col-md-10 -->
          <div class="col-md-2">
           <%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society Logo"), "http://www.childrenssociety.org.uk/"  %>
            </div><!-- col-md-2 -->
          </div><!-- /row -->

          <div class="row">
             <div class="col-md-10">
        <h3><a name="run"></a>Jubilee Running 10k, Sunday 26th July 9.30 am</h3>
        <p>Runners and walkers welcome. A slightly undulating multi-terrain 10k course encompassing Selsdon, Sanderstead and Warlingham. Entrants must be at least 15 years of age. For full details see <%= link_to "www.croydon-jubilee.co.uk/running", "http://www.croydon-jubilee.co.uk/running" %>.</p>
        </div><!-- col-md-10 -->
          <div class="col-md-2">
            <%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "http://www.croydon-jubilee.co.uk/running" %>
             </div><!-- col-md-2 -->
          </div><!-- /row -->
         
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->
</div><!-- events -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	