<% provide(:title, 'Events') %>
<div id="events">
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Events in and around Sanderstead</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
         

            <div class="row">
             <div class="col-md-12">
           	<h2>Latest events for 2015</h2>
           </div>
         </div>

          <div class="row">
             <div class="col-md-10">
         <h3><a name="children"></a>Children's Society Fashion Show, Thursday 25th June, 12.30 pm</h3>
        <p>Our annual Ploughman's Lunch, Fashion Show and Sale, with clothes from "Travelling Trends", will be held at All Saints' Church Hall at 12.30 pm on Thursday 25th June. After lunch provided by the Society, Travelling Trends will present a 45 - 60 minute show featuring a mixture of classic and fasionable lines to suit ladies of all ages and most sizes. The company boasts a constantly changing range of branded items as its wholesalers buy direct from manufacutreres who also supply popular high street stores and individual boutiques.</p>
        <p>After the show visitors wil have the opportunity to buy the clothes displayed most of which are offered for at least 50% less than their typical retail price!</p>
        <p>Tickets - priced £10, to include a glass of wine with lunch - must be purchased in advance to facilitate catering. Please do contact your local Children's Society committee member or ring or email me, Rachel Chadd, 020 8668 6769, <%= mail_to "rchad@tiscali.co.uk" %></p>
        </div><!-- col-md-10 -->
          <div class="col-md-2">
           <%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society Logo"), "http://www.childrenssociety.org.uk/"  %>
            </div><!-- col-md-2 -->
          </div><!-- /row -->

           <div class="row">
          <div class="col-md-10">
            <h3><a name="hort"></a>Sanderstead Horticultural Society Summer Show, Saturday 27th June</h3>
            <p>The summer show will be held in the Wettern Tree Gardens from 2 pm. </p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
            <h3><%= link_to image_tag("small-images/shslogo.gif", alt: "SHS logo"), "http://www.sandersteadhorticultural.org.uk" %></h3>
          </div><!-- col-md-2 -->
        </div><!-- /row -->


          <div class="row">
          <div class="col-md-10">
            <h3><a name="rugby"></a>Old Mid-Whits RFC NatWest Rugby Force Day, Saturday 27th June</h3>
              <p>We have a big day coming up on Saturday 27th June which is our NatWest Rugby Force Day. We will be have some people up on Sanderstead High Street handing out <%= link_to "these flyers", "resource/OMWRFC_Leaflet.pdf" %> and will also have people up at the club carrying out various maintenance projects. If any members of the local community want to come up and lend a hand their help will be very much appreciated!</p>
          </div><!-- /col-md-10"> -->
          <div class-"col-md-2">
               <h3><%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %></h3>
          </div><!-- col-md-2 -->
        </div><!-- /row -->



 <div class="row">
          <div class="col-md-10">
            <h3><a name="organ"></a><%= link_to "Organ and Piano Recital", "/resource/brooks_concert.pdf"%>, Sunday 28th June 3pm</h3>
            <p>Recital to be held in All Saints' Church, Internationally famous organist Gerard Brooks and and his daughter Verity on the piano will perform music by Mozart, Debussy, Messiaen, Boellmann and Widor. The Recital will be followed by refreshments. No charge, donations in aid of church funds. </p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
            <h3><%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints' logo"), "http://www.sanderstead-parish.org.uk/all-saints" %></h3>
          </div><!-- col-md-2 -->
        </div><!-- /row -->


         <div class="row">
            <div class="col-md-10">
              <h3><a name="reading"></a>Summer Reading Challenge begins at Sanderstead Library, 11th July</h3>
              <p>Children can join the National Summer Reading Challenge at any Croydon library, from Saturday 11th July, and take part all summer until 12th September, winning stickers and other prizes. All who read 6 books will get a medal and certificate.</p>
              <p><li>Other events at the library this summer: Dr Seuss Activity, Tuesday 21st July, 3.00-4.00pm.</li>
                <li>Planting activity with stories and crafts for national allotments week, Tuesday 4th August, 3.00-4.00pm.</li>
                <li>Jack and the Beanstalk stories and crafts, Tuesday 25th August, 3.00-4.00pm.</li></p>
              <p>All activities are for children aged 3+. Please reserve a free place at the library. 020 3700 1015,  <%= mail_to "croydon.sandersteadlibrary@carillionservices.co.uk" %></p>
              <p>Wednesday Rhymetimes, 10.30-11.00am and Wiggle and Jiggles, 11.30-12 noon will take place all summer. Wednesday storytime will not take place from the week beginning 20th July. It wil start again in the week beginning 31st August.</p>
            </div><!-- col-md-10 -->
            <div class-"col-md-2">
               <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </div><!-- col-md-2 -->
          </div><!-- /row -->

        <div class="row">
          <div class="col-md-10">
            <h3><a name="funhour"></a>Family Fun Hour for little ones and their families, 12th July, 3 - 4 pm</h3>
            <p>One hour of crafts, Bible stories, singing and tea for parents and young children. Held in All Saints Halls, Onslow Gardens. For more infomation please visit the parish website, <%= link_to "www.sanderstead-parish.org.uk", "http:www.sanderstead-parish.org.uk" %> or contact Rev Martin Greenfield 020  8657 1366, <%= mail_to "rector@sanderstead-parish.org.uk" %>. </p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
             <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
          </div><!-- col-md-2 -->
        </div><!-- /row -->


        <div class="row">
          <div class="col-md-10">
            <h3><a name="fopb18jul"></a>Friends Of Purley Beeches working party, 18th July</h3>
            <p>Working party in Purley Beeches from 10 am to 12 noon followed by a picnic. Tools, will be provided but please bring your own refreshments. If you haven't attended a previous work party, please don't be put off. Come for as long or as little time that you can spare, but please wear suitable cloting, stout footwear and tough gardening clothes. For more information please contact Mac Court <%= mail_to "mac@skyy.me.uk" %>. Click the link to download a form to join the <%= link_to "Friends of Purley Beeches", "/resource/purley_beeches_enrol.pdf" %>.</p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
             <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
          </div><!-- col-md-2 -->
        </div><!-- /row -->

        <div class="row">
          <div class="col-md-10">
            <h3><a name="tea"></a>Tea and Cakes in All Saints, Sunday 19th July 3-5pm</h3>
              <p>This is an opportunity for everyone to look round our beautifully renewed church and enjoy tea and homemade cakes. Everyone welcome, and invite your neighbours to come as well.</p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
          </div><!-- col-md-2 -->
        </div><!-- /row -->

        <div class="row">
          <div class="col-md-10">
            <h3><a name="holiday"></a>St Antonys Summer Holiday Club, 20 - 24 July 2015</h3>
              <p>"Champion's Challenge" is the name of the Scripture Union based holiday club for primary aged children, that will be held at St Antony's Church, Hamsey Green during the week of 20 - 24 July from 9.30 am to 1 pm. For more information please contact Rev Susan Atkinson-Jones, tel: 020 8657 5505. email: <%= mail_to "susan@sanderstead-parish.org.uk" %></p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
            <h3><%= link_to "Sanderstead Parish", "http://www.sanderstead-parish.org.uk/st-antonys" %></h3>
          </div><!-- col-md-2 -->
        </div><!-- /row -->

          <div class="row">
             <div class="col-md-10">
        <h3><a name="run"></a>Jubilee Running 10k, Sunday 26th July 9.30 am</h3>
        <p>Runners and walkers welcome. A slightly undulating multi-terrain 10k course encompassing Selsdon, Sanderstead and Warlingham. Entrants must be at least 15 years of age. For full details see <%= link_to "www.croydon-jubilee.co.uk/running", "http://www.croydon-jubilee.co.uk/running" %>.</p>
        </div><!-- col-md-10 -->
          <div class="col-md-2">
            <%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "http://www.croydon-jubilee.co.uk/running" %>
             </div><!-- col-md-2 -->
          </div><!-- /row -->

        <div class="row">
          <div class="col-md-10">
            <h3><a name="summer"></a>Summer Holiday in Sanderstead 1-3 September</h3>
              <p>Our ever-successful holiday-at-home event for older people will be held for a third year by popular request! Held in All Saints' Halls, it runs from 1st - 3rd September, 10.30 am to 3.30 pm each day. For more information about helping out or joining in please contact Gerie Knights on 020 8657 3381. </p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
          </div><!-- col-md-2 -->
        </div><!-- /row -->



          <div class="row">
          <div class="col-md-10">
            <h3><a name="fopb19sep"></a>Friends Of Purley Beeches working party, 19th September</h3>
            <p>Working party in Purley Beeches from 10 am to 2 pm. Tools, hot drinks and light refreshments will be provided. If you haven't attended a previous work party, please don't be put off. come for as long or as little time that you can spare, but please wear suitable cloting, stout footwear and tough gardening clothes. For more information please contact Mac Court <%= mail_to "mac@skyy.me.uk" %>. Click the link to download a form to join the <%= link_to "Friends of Purley Beeches", "/resource/purley_beeches_enrol.pdf" %>.</p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
             <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
          </div><!-- col-md-2 -->
        </div><!-- /row -->

          <div class="row">
          <div class="col-md-10">
            <h3><a name="fopb17oct"></a>Friends Of Purley Beeches working party, 17th October</h3>
            <p>Working party in Purley Beeches from 10 am to 2 pm. Tools, hot drinks and light refreshments will be provided. If you haven't attended a previous work party, please don't be put off. come for as long or as little time that you can spare, but please wear suitable cloting, stout footwear and tough gardening clothes. For more information please contact Mac Court <%= mail_to "mac@skyy.me.uk" %>. Click the link to download a form to join the <%= link_to "Friends of Purley Beeches", "/resource/purley_beeches_enrol.pdf" %>.</p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
             <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
          </div><!-- col-md-2 -->
        </div><!-- /row -->

          <div class="row">
          <div class="col-md-10">
            <h3><a name="fopb26nov"></a>Friends Of Purley Beeches AGM, Thursday 26th November</h3>
            <p>The AGM will be held at 7.30 pm at St Mary's Church Hall, Purley Oaks Road. For further information please contact Stanley Lowy, tel 0208657 3684 <%= mail_to "stanlowy@outlook.com" %> or Elizabeth Bennett <%= mail_to "bennett_e@sky.com" %> or Mac Court <%= mail_to "mac@skyy.me.uk" %></p>
          </div><!-- col-md-10 -->
          <div class="col-md-2">
            <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
          </div><!-- col-md-2 -->
        </div><!-- /row -->

          <!-- code for logos -->
          <!-- <h3><%= link_to "Metroplitan Police", "http://content.met.police." %></h3> -->

           <!-- <div class="col-md-2">
               <%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA"), root_path %>
               </div> -->

            <!-- <div class-"col-md-2">
               <%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </div> -->

            <!-- <div class-"col-md-2">
             <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3> </div>--><!-- /col-md-2-->

             <!-- <div class="col-md-2">
              <%= link_to image_tag("small-images/scouts100.jpg", alt: "Scouts logo"), "http://scouts.org.uk/home/" %>
          </div>--><!-- /col-md-2 -->

              <!-- <div class="col-md-2">
            <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
          </div> --><!-- /col-md-2 -->

            <!--<div class="col-md-2">
            <h3><%= link_to("WEA", "/resource/wea_newsletter.pdf") %></h3>
          </div>--><!-- col-md-2 -->
         
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->
</div><!-- events -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	