<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2016</h2>

        <table>
          <tbody>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="europe"></a>Understanding the European Union. Wednesday 1st June, 8pm at All Saints Church Hall</h3>
              <p>Finding the referendum confusing?  Wonder what is fact and what is fancy?  All welcome to a meeting with Rev Jeremy Groombridge, former senior civil servant who has a lot of experience of working with the European Commission.</p>
              </td>
              <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>
          </tr>
        
          <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="beeches"></a>Purley Beeches work party Saturday, 4th June, 23rd July</h3>
                <p>Wow! What a success our last work party was, fifteen adults and four children turned out to help. Obviously the lure of a good bonfire promised an easy time, but not so, everybody including the children worked really hard to cut and drag more material to the fire.</p>

                <p>Now it’s back to the regular stuff. It’s time to start clearing the spring growth around our newly planted saplings and to help with this the FOPB has bought a couple of sickles, but only to be used by experienced persons. More path widening and of course, continuing to press on into our new site, which looks bigger each time I visit. Removing dead wood and the thick undergrowth is the order of the day. Fortunately the ground has hardened which will make access to and from the site easier. I think most people now know where the site is, so it would make sense for the early birds to go directly there rather than waiting at the gate.</p>

                <p>The usual request for hand tools and appropriate gloves, shoes and clothing apply. We will keep to the revised time of 10am to 1pm and the next two work party dates follow, June 4th and July 23rd</p>
                <p>For further information please email or call Stanley Lowy: 020 8657 3684 or <%= mail_to "stanlowy@outlook.com" %>, Elizabeth Bennett: <%= mail_to "bennett_e@sky.com" %>, Mac Court   <%= mail_to "mac@skyy.me.uk" %></p>
              </td>
              <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
              </td>
            </tr>


          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="hearme"></a>Hear Me Speak, debating competition for Primary Schools. Thursday 9th June, 3.15 - 4 pm</h3>
              <p>The third year of our popular debating competition for year 6 children is to be held at Hamsey Green Primary School. For more information please contact Cliff Quartly <%= mail_to "francisquartly@hotmail.co.uk" %></p>
            </td>
            <td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %>
            </td>
          </tr>

          <tr>
            <td class="events">
               <h3><a class="anchor" id="top" name="gruffy"></a>16th Purley Scouts’ 45th Gruffy Fayre, Saturday 11th June 2016 12 - 5 pm</h3>
               <p>The Gruffy Fayre returns this year on the 11th June from 12 pm. From its humble beginnings in 1971, the Fayre has grown into a much anticipated annual community event held on the Gruffy (next to Sanderstead Pond) offering fun for all the family.  This year is no exception, with what promises to be an even bigger and better array of entertainment to exhaust your little (and not so little) ones! Rodeo Ball, Laser Tag, Bouncy Castles, Slides and Human Hungry Hippos to name but a few!  And for the less energetic; tombolas, raffles with fantastic prizes and lots of traditional side shows to occupy your time.  There is even space to kick back and enjoy some time out, with refreshments on offer, including tea and home baked cakes, our ever popular BBQ and Pimms to enjoy in the Summer sunshine.  And let’s not forget the opportunity to cheer onour local Cubs as the inter pack football tournament runs throughout the day   Forget the Euro’s, the Gruffy is where it’s at this Summer with the kick off whistle being blown by our local MP Chris Philp.</p>  
              <p>All the fun of the Fayre helps to ensure that the 16th Purley Scout Group can continue to offer wonderful Scouting experiences to our local children, including Beaver Sleepovers, fun days and Summer Camps as well as funding maintenance for their ageing Scout Hut. So why not come along and join the throng on 11th June, and pick up a Prize Programme (on sale at Waitrose Sanderstead Saturday 4th June) for an opportunity to win some wonderful prizes!</p>
            </td>
             <td class="events">
              <h3><%= link_to("Gruffy Fayre", "/resource/Gruffy2016.pdf") %></h3>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="festival"></a>Sanderstead Festival of Music and Dance, Saturday 18th June 2016</h3>
              <p>A new venture for Sanderstead Community, a music and dance festival will be held on Saturday 18th June, 2-6 pm. Sponsored by our local Councillors, the Residents' Association, All Saints' Church and Priscilla's, it will be held on the Gruffy, in All Saints' Halls and All Saints' Church. We are already booking some exciting acts, and if you would like to be involved please contact Dennis King tel: 020 8657 2661, <%= mail_to "chairman@sanderstead-residents.co.uk" %> View our flyers here.</p>
              <p><%= link_to("Sanderstead Festival page 1", "resource/Flyer_Page_1.pdf") %></p>
              <p><%= link_to("Sanderstead Festival page 2", "resource/Flyer_Page_2.pdf") %></p>
            </td>
            <td class="events"><%= link_to image_tag("Festival_image.jpg", alt: "Festival logo"), "resource/Flyer_Page_1.pdf" %>
            </td>
          </tr>




          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="band"></a>Our Kind of Swing, featuring the Big Band Sound of The Nigel Garrard Orchestra on Saturday 18th June at 8 pm</h3>
              <p>Enjoy the music of Glenn Miller, Count Basie and Ted Heath. Join us on Saturday 18th June at All Saints’ Church Halls, Onslow Gardens, Sanderstead CR2 9AB.</p>
              <p>Concert starts at 8.00pm. Doors open at 7.30pm. Tickets £15 (Children under 15 - £12). BOX OFFICE TELEPHONE 0208 657 2624. All profits will go to local charities and good causes. <%= link_to("Application form for tickets", "resource/swing_flyer.pdf") %>.</p>
            </td>
            <td class="events"><h3><%= link_to image_tag("small-images/trombones100.jpg", alt: "Swing Band"), "resource/swing_flyer.pdf" %></h3>
            </td>
          </tr>

          <tr>
            <td class="events">       
              <h3><a class="anchor" id="top" name="surc"></a>Sunday afternoon Concerts at SURC</h3>
              <p>The next concert in the SURC concert series is a concert of contrasts on Sunday 19th June. The concerts start at 3 pm and last around an hour, followed by tea, coffee and cakes which are included in the price of £7 and £3 (under 18).</p>
              <ul>
                <li><b>19th June</b> A concert of contrasts with trumpet, organ and harp</li>
                <li><b>24th July</b> Surrey Harmony with their lively ladies' barbershop</li>
            </ul>
            <p>For more information contact: <%= mail_to "sanderstead.music@gmail.com" %>, <%= link_to "www.surc.org.uk", "http://www.surc.org.uk" %> or telephone 07563 917777</p>
            </td>
            <td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>
          </tr>


           <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="marionj"></a>Guided Walk on Farthing Downs, Saturday 24th June, 10 am</h3>
              <p>(GR 302 572) See what flowers are now flourishing on slopes where scrub has been removed. Some longish slopes on this easy paced two hour walk exploring a spectular chalk valley. Leave fom Farthing Downs car park, one mile south of Coulsdon South station. Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchro" id="top" name="jubilee"></a>Jubilee Running 10K, Sunday 26th June 9.30am</h3>
              <p>Runners and Walkers welcome. A slightly undulating, 10K all terrain course encompassing Selsdon, Sanderstead and Warlingham. Entrants must be 15 years of age or older. For an entry form please contact the Jubilee Church Office on 020 8651 2807 email <%= mail_to "office@croydon-jubilee.co.uk" %></p>
            </td>
            <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="marionj2"></a>Guided Walk on Riddlesdown, Friday 1st July, 10 am</h3>
              <p>(GR 323 605) In areas where sheep and cattle have been grazing the number of flower species has multiplied. Enjoy the colours and the insects they attract. This two hour walk leaves from Riddlesdown Common car park at the top end of Riddlesdown Road. Volunteer Marion's walks explore local countryside, wildlife and history. Boots are advised as paths may be muddy, and waterproofs in case of rain. Dogs allowed if on leads. Finish at the start point. Walks are free.</p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/marion.pdf")%></h3>
            </td>
          </tr>            

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="rnli"></a>Royal National Lifeboat Institution Garden Open Day Saturday 9th July 2016</h3>
              <p>The garden at 8 The Ridge Way, Sanderstead CR2 0LE will be open from 2pm to 6pm to raise funds for the RNLI work in saving lives not only at sea but in inland waterways including our own local River Thames.
Refreshments of tea, coffee and cakes will be available plus other attractions for all ages including  RNLI souvenirs, face painting , art and crafts and games. 
In addition an "0" gauge model railway will be running through a beautiful garden landscape with the opportunity of behind the scenes visits in the operational control.</p>
<%= image_tag "model_railway.jpg", alt: "model railway" %>
<%= image_tag "model_railway2.jpg", alt: "model railway" %>
<%= image_tag "model_railway3.jpg", alt: "model railway" %>
<%= image_tag "model_railway4.jpg", alt: "model railway" %>
</td>
<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="walks"></a>Guided Walks in local countryside. Fri 21 Oct, Sun 23 Oct, Sun 30 Nov. All at 10 am. </h3>
              <p>Marion’s walks are for all who love to get out into fresh air, and want to know more about their local countryside’s history and wildlife. Paths may be muddy so wear boots. Bring waterproofs. Dogs allowed if on leads. Finish at the start point. Donations to the Downlands Trust are welcomed. <%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf") %></p>
            </td>
            <td class="events">
              <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
            </td>
          </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

              <!--<td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
