<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", class: "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Events in and around Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
        <h2>Events for 2016</h2>

        <table>
          <tbody>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="summer"></a>Summer in Sanderstead</h3>
              <p>A Holiday at home for older people, 30th, 31st Aug, 1st Sept, 10.30am-3.30pm, £6 a day, including lunch. Booking Forms are now available from All Saints Parish Office in Onslow Gardens. If you or anyone you know would like to come along and join in the fun, food and fellowship, please fill in a form and return it with payment to the Parish Office, All Saints Church, Onslow Gardens CR2 9AB. For more information please telephone Mrs Gerie Knights on 020 8657 3381.</p>
            </td>
            <td class="events">
                <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td> 
          </tr>

          <tr>
            <td class="events">
              <h3><a class="anchor" id="top" name="macmillan"></a>MacMillan Cakes and Doggy Treats morning on Purley Beeches, September 12th</h3>
              <p>MacMillan cake and doggy treat morning, on Monday 12th September 2016 10am-12noon at Purley Beeches on the tennis courts on the green. </p>
              </td>
              <td class="events">
               <h3><%= link_to "Macmillan Cancer Support", "https://www.macmillan.org.uk/" %></h3>
              </td> 
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="open"></a>Opening Croydon's Historic and Modern Doors, 17 and 18 September</h3>
                <p>More than a dozen of Croydon’s landmark buildings will be revealing their inner secrets over the weekend of 17 and 18 September as part of the annual Open House London festival of architecture and design.</p> 
                <p>The town’s rich architectural legacy, dating from the 13th century to the present day, will be showcased. Among the highlights of the weekend will be tours of the yet-to-be-completed Ruskin Square development adjacent to East Croydon station. This follows on from last year’s successful Open House tours of work-in-progress on this key regeneration site.</p>
                <p>The opportunity to see Tudor housing dating from 1596, at Whitgift Almshouses, will provide an insight into a much earlier period of building design and style.</p>
                <p>Shirley Windmill, the last remaining windmill in Croydon, is also on the tour, and visitors will see the building and hear about its history.</p>
                <p>There is also the chance to explore the council’s own offices at Bernard Weatherill House. Glass-sided lifts will take guests up through the eight floors of the central atrium before rising the final four floors with panoramic external views across the town.</p>
                <p>Other buildings and sites included in the guidebook include the world’s largest urban pop-up saffron farm, the world’s oldest air traffic control tower, and St Bernard‘s Houses, which have been described as a group of homes, ‘with few equals in Britain.’</p>
                <p>Councillor Timothy Godfrey, cabinet member for culture, leisure, and sport, said: “The Croydon buildings included in this year’s Open House London event really demonstrate our borough’s long history and current growth. Visitors will get to see everything from important historic landmarks to some of the most modern office and residential developments in London. Taking part in this event is part of a four year commitment and links with our wider cultural ambitions for Croydon.”</p>
                <p>Access to the buildings and walks is free. Some are open on a first-come, first-served basis, but others require pre-booking.</p>
                <p>Croydon’s participation in Open House weekend follows on from July’s hugely successful collaboration with the National Trust, which shone a light on Croydon’s post-war architecture.</p>
                <p>Further information is available at: <%= link_to "http://tiny.cc/openhousecroydon" %> </p>
              </td>
              <td class="events">
                <h3><%= link_to "CROYDON", "https://www.croydon.gov.uk/" %></h3>
              </td>
            </tr>

            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="community"></a>Sanderstead Community Day, Sat 24th September 11am - 6pm</h3>
                <p>Sanderstead Community Day is back for its third year on Saturday 24th September 2016! This event brings together and celebrates all that Sanderstead and surrounding areas have to offer.</p>
                <p>There will be activities and showcases from local Businesses, Community Groups, and Voluntary and Charity sectors.</p>
                <p>BBQ, Beer and Wine, Fun Dog Show, Cake and Ice Cream, Inflatables and Soft Play, Kids Crafts and Activities, Ceramics, Health and Beauty, Lifestyle and Fitness, Homeware, Community Groups, Mascot Guests, Fire Engine and Police Cadets.<p>
              </td>
              <td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "resource/SDC16.pdf" %></h3>
              </td>
            </tr>
            <tr>
              <td class="events">
                <h3><a class="anchor" id="top" name="walks"></a>Guided Walks in local countryside. Fri 21 Oct, Sun 23 Oct, Sun 30 Nov. All at 10 am. </h3>
               <p>Marion’s walks are for all who love to get out into fresh air, and want to know more about their local countryside’s history and wildlife. Paths may be muddy so wear boots. Bring waterproofs. Dogs allowed if on leads. Finish at the start point. Donations to the Downlands Trust are welcomed. <%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf") %></p>
              </td>
              <td class="events">
                <h3><%= link_to("Marion's Walks", "/resource/Marion_autumn2016.pdf")%></h3>
              </td>
            </tr>

           <!--<td class="events">
              <%= link_to image_tag("http://www.tcv.org.uk/sites/all/themes/tcvmain/images/logo.png", alt: "TCV logo"), "http://www.tcv.org.uk/" %>
            </td>-->
            <!-- <td class="events">
              <%= link_to image_tag("small-images/all_saints100.jpg", alt: "All Saints logo"), "http://www.sanderstead-parish.org.uk/all-saints" %>
            </td>-->

            <!--<td class="events">
              <h3><%= link_to image_tag("small-images/priscillas.jpg", alt: "Priscilla's Tearoom"), "http://priscillastearoom.co.uk/" %></h3>
            </td>-->

            <!--<td class="events">
              <%= link_to image_tag("http://images2.pitchero.com/club_logos/9625/1298890919.jpg", alt: "Old Mid Whits Rugby"), "http://www.omwrfc.co.uk" %>-->

              <!-- </td> 
            <td class="events"><%= link_to image_tag("small-images/parlour_players.jpg", alt: "Parlour Players logo"), "http://www.parlourplayers.co.uk/" %>
            </td>-->

            <!-- <td class="events">
              <%= link_to image_tag("small-images/purley_beeches100.jpg", alt: "Purley Beeches logo"), "/resource/purley_beeches_enrol.pdf" %>
            </td>-->

           <!--<td class="events">
              <%= link_to image_tag("http://www.chrisphilp.com/assets/topbar-topL.jpg", alt: "Chris Philp MP"), "http://www.chrisphilp.com/" %>
            </td>-->
             <!--<td class="events">
              <h3><%= link_to "Croydon Libraries", "http://www.croydonlibraries.com/" %></h3>
            </td>-->

             <!--<td class="events">
              <h3><%= link_to image_tag("small-images/childrenssociety100.jpg", alt: "Children's Society"), "http://www.childrenssociety.org.uk" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/residents_logo100.jpg", alt: "SRA logo"), "http://www.sanderstead-residents.co.uk" %></td>-->

            <!--<td><%= link_to image_tag("small-images/tennis_club.gif", alt: "tennis club logo"), "http://sandersteadltc.co.uk" %>
              </td>-->

             <!--<td classs="events"><%= link_to image_tag("small-images/sutton_water.png", alt: "water logo"), "http://www.waterplc.com" %>
            </td>-->

            <!-- <td class="events">
              <h3><%= link_to image_tag("small-images/jubilee100.jpg", alt: "Jubilee logo"), "resource/jubilee_running.pdf" %></h3>
            </td>-->

            <!--<td class="events"><%= link_to image_tag("small-images/RNLIlogo.gif", alt: "RNLI logo"), "http://rnli.org/Pages/default.aspx" %></td>-->

            <!--<td class="events">
              <%= link_to image_tag("small-images/surc.jpg", alt: "SURC logo"), "http://www.surc.org.uk" %>
            </td>-->


        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
