<% provide(:title, 'gallery') %>
<div class="background_image">
  <%= image_tag "autumn_leaves.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Views of Sanderstead</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
          <li data-target="#carousel-example-generic" data-slide-to="7"></li>
          <li data-target="#carousel-example-generic" data-slide-to="8"></li>
          <li data-target="#carousel-example-generic" data-slide-to="9"></li>
          <li data-target="#carousel-example-generic" data-slide-to="10"></li>
          <li data-target="#carousel-example-generic" data-slide-to="11"></li>
          <li data-target="#carousel-example-generic" data-slide-to="12"></li>
          <li data-target="#carousel-example-generic" data-slide-to="13"></li>
          <li data-target="#carousel-example-generic" data-slide-to="14"></li>
          <li data-target="#carousel-example-generic" data-slide-to="15"></li>
          <li data-target="#carousel-example-generic" data-slide-to="16"></li>
          <li data-target="#carousel-example-generic" data-slide-to="17"></li>
          <li data-target="#carousel-example-generic" data-slide-to="18"></li>
          <li data-target="#carousel-example-generic" data-slide-to="19"></li>
          <li data-target="#carousel-example-generic" data-slide-to="20"></li>
          <li data-target="#carousel-example-generic" data-slide-to="21"></li>
          <li data-target="#carousel-example-generic" data-slide-to="22"></li>
          <li data-target="#carousel-example-generic" data-slide-to="23"></li>
          <li data-target="#carousel-example-generic" data-slide-to="24"></li>
          <li data-target="#carousel-example-generic" data-slide-to="25"></li>
          <li data-target="#carousel-example-generic" data-slide-to="26"></li>
          <li data-target="#carousel-example-generic" data-slide-to="27"></li>
          <li data-target="#carousel-example-generic" data-slide-to="28"></li>
          <li data-target="#carousel-example-generic" data-slide-to="29"></li>
          <li data-target="#carousel-example-generic" data-slide-to="30"></li>
          <li data-target="#carousel-example-generic" data-slide-to="31"></li>
          <li data-target="#carousel-example-generic" data-slide-to="32"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag "gallery/17festival980.jpg", alt: "Swing band" %>
            <div class="carousel-caption">
              <h3>Sanderstead Festival</h3>
            </div>
          </div>

          <div class="item">
            <%= image_tag "gallery/16festival980.jpg", alt: "Dancers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "gallery/15festival980.jpg", alt: "Indian Dancers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "gallery/14festival980.jpg", alt: "stalls" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "gallery/13festival980.jpg", alt: "Dancers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/12festival980.jpg", alt: "Jazz Band" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/11festival980.jpg", alt: "Organist" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/10festival980.jpg", alt: "Saxophones" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/9festival980.jpg", alt: "Kimono Dancer" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/8festival980.jpg", alt: "Indian Dancers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/7festival980.jpg", alt: "Cavat Dancers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/6festival980.jpg", alt: "Townswomen flowers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/5festival980.jpg", alt: "Bell Ringers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/4festival980.jpg", alt: "Welcome flowers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/3festival980.jpg", alt: "Wandle Flowers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/2festival980.jpg", alt: "All Saints flowers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/1festival980.jpg", alt: "MU flowers" %>
            <div class="carousel-caption">
              <h2>Sanderstead Festival</h2>
            </div>
          </div>

           <div class="item">
            <%= image_tag "gallery/pond980.jpg", alt: "Sanderstead Pond" %>
            <div class="carousel-caption">
              <h2>Sanderstead Pond</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/bluebells980.jpg", alt: "Bluebells" %>
            <div class="carousel-caption">
              <h2>Bluebells in King's Wood</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/library980.jpg", alt: "Library" %>
            <div class="carousel-caption">
              <h2>Sanderstead Library</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/station980.jpg", alt: "Station" %>
            <div class="carousel-caption">
              <h2>Sanderstead Station</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/war_memorial980.jpg", alt: "War Memorial" %>
            <div class="carousel-caption">
              <h3>Sanderstead War Memorial</h3>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/wettern980.jpg", alt: "Wettern Tree Garden" %>
            <div class="carousel-caption">
              <h2>Wettern Tree Garden</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/elmfield980.jpg", alt: "Elmfield Way" %>
            <div class="carousel-caption">
              <h2>Elmfield Way</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/allsaints980.jpg", alt: "All Saints Church" %>
            <div class="carousel-caption">
              <h2>All Saints Church</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/northdown980.jpg", alt: "Northdown" %>
            <div class="carousel-caption">
              <h2>North Down</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/sanderstead_hill980.jpg", alt: "Sanderstead Hill" %>
            <div class="carousel-caption">
              <h2>Sanderstead Hill</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/mitchley980.jpg", alt: "Mitchley Avenue" %>
            <div class="carousel-caption">
              <h2>Homes above Mitchley Avenue</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/blacksmith980.jpg", alt: "All Saints Church" %>
            <div class="carousel-caption">
              <h2>The Old Smithy</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag "gallery/daffodils980.jpg", alt: "All Saints Church" %>
            <div class="carousel-caption">
              <h2>Daffodils on the Rec</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "gallery/noticeboard980.jpg", alt: "Noticeboard" %>
            <div class="carousel-caption">
              <h3>Residents' Association Noticeboard on the Gruffy</h3>
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <p>Pictures of Sanderstead courtesy of Tim Pollard, Tim Wainwright and Corrie Hibberd</p>
    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
