
<div class="background_image">
  <%= image_tag "churchview1550.jpg", class: "img-responsive" %>
</div>
<div id="welcome-panel" class="container">
  <h2>Welcome to the Sanderstead Residents' Association</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-8 col-xs-12 white-column">
      <h2>Welcome</h2>
      <p>The Sanderstead Residents' Association welcomes <%= link_to "new members", members_path %> to take part in its role in supporting local organisations for the young, the elderly and the well being of Sanderstead.</p>
      <p>The Association which is non political and non sectarian is governed by its <%= link_to "Constitution", constitution_path %> under which its aim is the promotion of the interests of the residents of Sanderstead. </p>
      
      
     
      <h2  class="clear">News</h2>
      <ul>
        <li><p><%= link_to "Fostering households needed", news_path(anchor: "fostering") %></p></li>
        <li><p><%= link_to "News from the 18th Purley Scouts", news_path(anchor: "scouts") %></p></li>
        <li><p><%= link_to "Read the monthly update from our Neighbourhood Police Team", police_path(anchor: "update") %></p></li>
        <li><p><%= link_to "Police campaign against catalytic convertor theft update", police_path(anchor: "basswood_april") %></p></li>
        <li><p><%= link_to "DEMOC referendum confirmed for 7th October", news_path(anchor: "democ_referendum") %></p></li>
        <li><p><%= link_to "Sanderstead Library listed as an Asset of Community Value", news_path(anchor: "lib_decision") %></h4></p>
        <li><p><%= link_to "Letter re Library to Councillors and MPs", news_path(anchor: "lib_MP") %></p></li>
        <li><p><%= link_to "Find out about the Purley Way masterplan consultation", "http://www.riddlesdownresidents.org.uk/planningnr.html#PurleyWay" %> With thanks to the Riddlesdown Residents Association for the information.</p></li>
       
        <li><p><%= link_to "Update on traffic around Ridgeway School", news_path(anchor: "southcote") %></p></li>
       
                          
      </ul>

      <h2 class="clear"><%= link_to "Planning News", "pages/planning" %></h2>
      <ul>
        <li><p><%= link_to "Latest planning applications", "resource/SRAPlanningApplications_apr21(5).pdf" %></P></li>
        <li><p><%= link_to "Communications masts", "page/planning#masts" %></p></li>
        <li><p><%= link_to "Rear of 50/52 Glebe Hyrst", "pages/planning#5052glebe" %></p></li>
        <li><p><%= link_to "Rear of 15 Rectory Park", "pages/planning#15rectory" %></p></li>
        <li><p><%= link_to "62 The Ridge Way", "pages/planning#62theridgeway" %></p></li>
        <li><p><%= link_to "19 Sanderstead Hill", "pages/planning#18sandersteadhill" %></p></li>
        <li><p><%= link_to "2 Shaw Crescent", "pages/planning#2shaw" %></p></li>
        <li><p><%= link_to "158 Purley Downs Road", "pages/planning#158purley_dpwns" %></p></li>
        <li><p><%= link_to "34A, 34B and rear of 34 Arkwright Road", "pages/planning#34arkwright" %></p></li>
        <li><p><%= link_to "2-4 Addington Road", "pages/planning#2addington" %></p></li>
        <li><p><%= link_to "51 The Ridge Way", "pages/planning#51theridgeway" %></p></li>
        <li><p><%= link_to "129 Mayfield Road", "pages/planning#129mayfield" %></p></li>
        <li><p><%= link_to "11 Britton Hill Road", "pages/planning#11britton" %></p></li>
        <li><p><%= link_to "18 Brambledown Road", "pages/planning#18brambledown" %></p></li>
        <li><p><%= link_to "Garages to the rear of 39 - 41 Elmfield Way", "pages/planning#39elmfield" %></p></li>
       
      </ul>
      <h2>Membership</h2>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "small-images/Sand_news_spring2021.jpg", class: "shadow_small_image" %>
        </div>
        <div class="col-md-8">
          <h2>Sanderstead News</h2>
          <p>The Association's newsletter, "Sanderstead News", is posted to all members of the Association and provides reports from our MP, the Ward Councillors and our <%= link_to "Chairman", chairman_path %>. There are articles of local interests and advice on security matters provided by the police and Neighbourhood Watch. The magazine lists local organisations with their contacts and diaries of events. These items are also now available on this website. A youth page provides parents with information on all the Sanderstead youth activities from toddler age, to teenagers; for Scouts, Guides and sport. </p>
        </div>
      </div>
      <h2>Email Newsletter</h2>
      <p>From time to time the Association would like to be able to contact members via an email newsletter. If you would like to receive this news please follow this link to sign up your name and email address. <%= link_to "Sign up here for Email Newsletter", "http://eepurl.com/cHZYM5" %></p>
      <h2>AGM</h2>
      <p>The 2021 AGM will be held on Thursday 27 May at 7.30 pm by Zoom video conferencing. Details will be sent to members for whom we have email addresses before the meeting.</p>
  
      <h2>Role of the Association</h2>
        <p>Today the role of the association is to promote the interests of Sanderstead and its residents in several ways. We are able to provide financial support to assist and promote Sanderstead based organisations perform their work within our community. We also continue to undertake the traditional role of a Residents' Association; resisting planning applications likely to disadvantage residents and raising concerns about matters such as the proposed closure of the Sanderstead Library and the Purley Swimming Pool.</p>
      <h2>Local Councillors</h2>
        <p>Details of the Sanderstead Ward Councillors, Lynne Hale, Yvette Hopley and Tim Pollard, and the Purley Oaks and Riddlesdown Councillors, Simon Hoar and Helen Redfern, can be found on the <%= link_to "Contacts page", contact_path %>, along with all the officers of the Sanderstead Residents' Association.</p>
        <p>Read the latest news from our Councillors on <%= link_to "The Sanderstead blog", "https://www.croydonconservatives.com/sanderstead" %>.</p>
      <h2>Useful information</h2>

      <uL>
        <li><h4>
        <%= link_to("Croydon Council planning applications", "https://new.croydon.gov.uk/planning-and-regeneration/planning") %></h4></li>
        <li><h4><%= link_to "Croydon Health Services", "https://www.croydonhealthservices.nhs.uk/" %></h4></li>
        <li><h4><%= link_to"Directory of local information", directory_path %></h4></li>
        <li><h4><%= link_to "Directory of advertisers", advertisers_path %></h4></li>
        <li><h4><%= link_to "How the SRA can help you", about_path %></h4></li>
        <li><h4><%= link_to"How you can join the SRA", members_path %></h4></li>
      </ul>

      <span><p><%= image_tag "residents_logo200.gif", class: "small_image" %></p></span>
    </div>
    <div class="col-md-4 col-xs-12 grey-column">

      <h2>Events</h3>

      <%= link_to("Events", events_path, class: 'btn btn-primary') %>
      <br/>  
      <h4>2021</h4>
      <b>Thursday 27 May</b>
      <p><%= link_to "SRA AGM on Zoom", events_path(anchor: "agm") %></p>
      <b>Saturday 25 September</b>
      <p><%= link_to "Sanderstead Neighbourhood Care, Quiz Night", events_path(anchor: "quiz") %></p>
      <p>Regular events on hold or on Zoom during lockdown</p>
      <b>Last Wednesday of the month</b>
      <p><%= link_to "Sanderstead Local History Group", events_path(anchor: "sandhist") %></p>
      <b>2nd Thursday of month</b>
      <p><%= link_to "The Arts Society Croydon", events_path(anchor: "theartssept") %></p>
      <b>4th Tuesday of the month</b>
      <p><%= link_to "The Arts Society Sanderstead", events_path(anchor: "theartsnov") %></p>
      <b>Tuesdays and Fridays</b>
      <p><%= link_to "Toddler Groups at All Saints", events_path(anchor: "toddlers") %></p>

      <h2>Become a member</h2>
      <p>Find out about joining the SRA here.</p>
      <%= link_to("Membership", members_path, class: 'btn btn-primary') %>

      <h2>Grants Available</h2>
      <p>The Association has a small fund available to make grants to suitable local projects. Please follow the link to find out how to apply.</p>
      <%= link_to("Grants", about_path, class: 'btn btn-primary') %>

      <h2>Map of Sanderstead</h2>
      <%= link_to("Map", find_path, class: 'btn btn-primary') %>

      <h4>Local Organisations supported by SRA</h4>
      <p>Since 2012 the Association has funded, made donations to or provided the following:</p>
      <ul>
        <li>Christmas Lights in Elmfield Way</li>
        <li>Coulsdon and Purley Festival</li>
        <li>Purley Food Hub</li>
        <li>Croydon Voluntary Association Relief Fund</li>
        <li>Friends of Sanderstead Recreation Ground and Green Spaces</li>
        <li>BME forum</li>
        <li>Diwali</li>
        <li>Police bicycles</li>
        <li>One tin bins</li>
        <li>Remembrance poppies</li>
        <li>Sanderstead Library</li>
        <li>Signs in King's Wood</li>
        <li><%= link_to "South East Cancer Help Centre", "http://www.sechc.org.uk/" %></li>
        <li>Sanderstead Neighbourhood Watch</li>
        <li>Hamsey Green pond</li>
        <li>18th Purley Scouts, for flood protection work</li>
        <li>Croydon Carers Centre</li>
        <li>Friends of Kingswood</li>
        <li>8th Sanderstead Brownies</li>
        <li>Sanderstead Neighbourhood Care</li>
        <li>Selsdon Centre for the Retired</li>
        <li>Repair of Sanderstead War Memorial vandalised by metal thieves</li>
        <li>Bench seat on the Gruffy by the Sanderstead Pond</li>
        <li>The Mayor’s Charity 2014</li>
        <li>Books and display stand for Sanderstead Library</li>
        <li>Friends of Wettern Tree Gardens</li>
        <li>Friends of Croham Hurst Woods</li>
        <li>Friends of Purley Beeches</li>
        <li>Christmas Lights in the Village</li>
        <li>Sanderstead Churches Floating Shelter</li>
        <li>8th Purley Scout Group "Girls enjoy Scouting"</li>
        <li>16th Purley Scout Group contribution for World Jamboree</li>
        <li>2nd Hamsey Green Scout Group repairs to scout hut</li>
        <li>Sanderstead Brownies 100th Birthday</li>
        <li>Selsdon Little Football League Sponsorship</li>
        <li>“Hear Me Speak” competition for Sanderstead Primary Schools</li>
      </ul>
       <p>In addition Local Councillors have donated grants to the following from their community budget</p>
      <ul>
        <li>GayPride</li>
        <li>Priscillas</li>
        <li>Bus stop Bench</li>
        <li>CR2020</li>
        <li>Lily Pad appeal</li>
        <li>Raghuvanshi</li>
        <li>Memorial Hall Sign</li>
        <li>Floating Shelter</li>
        <li>Horticultural Society</li>
        <li>2nd Hamsey Green Scounts</li>
        <li>18th Purley Scouts</li>
        <li>British Legion </li>
        <li>Soul Symphony</li>
      </ul>

      <h2>Facebook Page</h2>

      <p><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSanderstead-Residents-Association-112915087158646%2F&tabs=timeline&width=330&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="330" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><p>

    </div> <!--col-md-4-->
  </div> <!-- row-marketing-->
</div><!--/#main-content -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
