<div class="background_image">
  <%= image_tag "churchview1550.jpg", class: "img-responsive" %>
</div>
<div id="welcome-panel" class="container">
  <h2>Welcome to the Sanderstead Residents' Association</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-8 col-xs-12 white-column">
      <h2>Welcome</h2>
      <p>The Sanderstead Residents' Association welcomes <%= link_to "new members", members_path %> to take part in its role in supporting local organisations for the young, the elderly and the well being of Sanderstead.</p>
      <p>The Association which is non political and non sectarian is governed by its <%= link_to "Constitution", constitution_path %> under which its aim is the promotion of the interests of the residents of Sanderstead. </p> 
     
      <h2  class="clear">News</h2>
      <ul>
        <li><p><%= link_to "Read the monthly update from our Neighbourhood Police Team", "/resource/Sanderstead_Update_FEB2019.pdf" %></p></li>
        <li><p><%= link_to "Sanderstead LIbrary Poetry Competition", news_path(anchor: "poetry") %></p></li>
        <li><p><%= link_to "The Red Box Project collection at St Mary's Church", news_path(anchor: "redbox") %></p></li>
        <li><p><%= link_to "Take part in the Safer Croydon partnership's Fear of Crime survey", police_path(anchor: "fear") %></p></li>
        <li><p><%= link_to "The future for Sanderstead Clinic", news_path(anchor: "clinic") %></p></li>       
        <li><p><%= link_to "Planning application for 12 The Ridge Way", news_path(anchor: "12ridgeway") %></p></li>
        <li><p><%= link_to "Some simple steps for crime prevention", police_path(anchor: "safe") %></p></li>
          
    </ul>
      <h2>Membership</h2>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "small-images/Sand_news_sep18sm.jpg", class: "shadow_small_image" %>
        </div>
        <div class="col-md-8">
          <h2>Sanderstead News</h2>
          <p>The Association's newsletter, "Sanderstead News", is posted to all members of the Association and provides reports from our MP, the Ward Councillors and our <%= link_to "Chairman", chairman_path %>. There are articles of local interests and advice on security matters provided by the police and Neighbourhood Watch. The magazine lists local organisations with their contacts and diaries of events. These items are also now available on this website. A youth page provides parents with information on all the Sanderstead youth activities from toddler age, to teenagers; for Scouts, Guides and sport. </p>
        </div>
      </div>
      <h2>Email Newsletter</h2>
      <p>From time to time the Association would like to be able to contact members via an email newsletter. If you would like to receive this news please follow this link to sign up your name and email address. <%= link_to "Sign up here for Email Newsletter", "http://eepurl.com/cHZYM5" %></p>
      <h2>AGM</h2>
      <p>At the Association's AGM members elect the committee and have the opportunity to question the Councillors and Committee on matters relating to Sanderstead. This year the AGM will be held at 8 pm on Wednesday 8th May 2019 in All Saints Hall, Onslow Gardens, CR2 9AB. <!--Download the <%= link_to "notice and agenda here", "resource/SRA_AGM2019.pdf" %>.--> You can <%= link_to "Download the minutes of the 2018 meeting here.", "resource/AGM_2018.pdf" %><p>
      <h2>Role of the Association</h2>
        <p>Today the role of the association is to promote the interests of Sanderstead and its residents in several ways. We are able to provide financial support to assist and promote Sanderstead based organisations perform their work within our community. We also continue to undertake the traditional role of a Residents' Association; resisting planning applications likely to disadvantage residents and raising concerns about matters such as the proposed closure of the Sanderstead Library and the Purley Swimming Pool.</p>
      <h2>Local Councillors</h2>
        <p>Details of the Sanderstead Ward Councillors, Lynne Hale, Yvette Hopley and Tim Pollard, and the Purley Oaks and Riddlesdown Councillors, Simon Hoar and Helen Redfern, can be found on the <%= link_to "Contacts page", contact_path %>, along with all the officers of the Sanderstead Residents' Association.</p>
        <p>Read the latest news from our Councillors on <%= link_to "The Sanderstead blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %>.</p>
      <h2>Useful information</h2>

      <uL>
        <li><h4>
        <%= link_to("Croydon Council planning applications", "http://publicaccess2.croydon.gov.uk/online-applications/") %></h4></li>
        <li><h4><%= link_to "Croydon Health Services", "https://www.croydonhealthservices.nhs.uk/" %></h4></li>
        <li><h4><%= link_to"Directory of local information", directory_path %></h4></li>
        <li><h4><%= link_to "Directory of advertisers", advertisers_path %></h4></li>
        <li><h4><%= link_to "How the SRA can help you", about_path %></h4></li>
        <li><h4><%= link_to"How you can join the SRA", members_path %></h4></li>
        <li><h4><%= link_to "Visit our Facebook page", "http://www.facebook.com/Newbs113" %></h4></li>
      </ul>

      <p>
       <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNewbs113&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
     </p>

       


      <span><p><%= image_tag "residents_logo200.gif", class: "small_image" %></p></span>







    </div>
    <div class="col-md-4 col-xs-12 grey-column">

      <h2>Events</h3>

      <%= link_to("Events", events_path, class: 'btn btn-primary') %>
      <br/>  
      
      <h4>2019</h4>
      
      <b>Saturday 2nd March</b>
      <p><%= link_to "Purley Beeches work party", events_path(anchor: "beechesmar") %></p>
      <b>Tuesday 5th March</b>
      <p><%= link_to "Purley Literary Society", events_path(anchor: "purleylit5") %></p>
      <b>Tuesday 5th March</b>
      <p><%= link_to "Dementia Friendly screening at David Lean Cinema", events_path(anchor: "film") %></p>
      <b>Sunday 10th March</b>
      <p><%= link_to "Family Fun at All Saints", events_path(anchor: "family") %></p>
      <b>Tuesday 12th March</b>
      <p><%= link_to "Friends of King's Wood AGM", events_path(anchor: "kingswood") %></p>
      <b>Wednesday 13th March</b>
      <p><%= link_to "Energy event at the library", events_path(anchor: "energy") %></p>
      <b>Saturday 16th March</b>
      <p><%= link_to "Exhibition of Pictures", events_path(anchor: "childrenssoc") %></p>
      <b>Wednesday 24th March</b>
      <p><%= link_to "Sanderstead Local History Group", events_path(anchor: "sandhist") %></p>
      <b>Saturday 28th April</b>
      <p><%= link_to "Rotary Classic Car Run", events_path(anchor: "rotarycar") %></p>
      <b>Wednesday 8th May</b>
      <p><%= link_to "Sanderstead Residents' Association AGM", events_path(anchor: "sraagm") %></p>
      <b>Friday 14th June</b>
      <p><%= link_to "Rotary Big Band Concert", events_path(anchor: "rotaryband") %></p>
      <b>Saturday 22nd June</b>
      <p><%= link_to "Rotary Charity Walk", "/resource/rotary_walk2019.pdf", target: "blank" %></p>
      <b>Thursdays and Saturdays</b>
      <p><%= link_to "Selsdon Hawks Football open training sessions", events_path(anchor: "hawks") %></p>
      <b>Every Thursday</b>
      <p><%= link_to "Women's Football on Sanderstead Rec", "/resource/Women_Football.pdf", target: "blank" %></p>
      <b>Tuesdays and Fridays</b>
      <p><%= link_to "Toddler Groups at All Saints", events_path(anchor: "toddlers") %></p>

      <h2>Become a member</h2>
      <p>Find out about joining the SRA here.</p>
      <%= link_to("Membership", members_path, class: 'btn btn-primary') %>

      <h2>Grants Available</h2>
      <p>The Association has a small fund available to make grants to suitable local projects. Please follow the link to find out how to apply.</p>
      <%= link_to("Grants", about_path, class: 'btn btn-primary') %>

      <h2>Map of Sanderstead</h2>
      <%= link_to("Map", find_path, class: 'btn btn-primary') %>

      <h4>Local Organisations supported by SRA</h4>
      <p>Since 2012 the Association has funded, made donations to or provided the following:</p>
      <ul>
        <li>Remembrance poppies</li>
        <li>Sanderstead Library</li>
        <li>Signs in King's Wood</li>
        <li><%= link_to "South East Cancer Help Centre", "http://www.sechc.org.uk/" %></li>
        <li>Sanderstead Neighbourhood Watch</li>
        <li>Hamsey Green pond</li>
        <li>18th Purley Scouts, for flood protection work</li>
        <li>Croydon Carers Centre</li>
        <li>Friends of Kingswood</li>
        <li>8th Sanderstead Brownies</li>
        <li>Sanderstead Neighbourhood Care</li>
        <li>Selsdon Centre for the Retired</li>
        <li>Repair of Sanderstead War Memorial vandalised by metal thieves</li>
        <li>Bench seat on the Gruffy by the Sanderstead Pond</li>
        <li>The Mayor’s Charity 2014</li>
        <li>Books and display stand for Sanderstead Library</li>
        <li>Friends of Wettern Tree Gardens</li>
        <li>Friends of Croham Hurst Woods</li>
        <li>Friends of Purley Beeches</li>
        <li>Christmas Lights in the Village 2012</li>
        <li>Sanderstead Churches Floating Shelter</li>
        <li>8th Purley Scout Group "Girls enjoy Scouting"</li>
        <li>16th Purley Scout Group contribution for World Jamboree</li>
        <li>2nd Hamsey Green Scout Group repairs to scout hut</li>
        <li>Sanderstead Brownies 100th Birthday</li>
        <li>Selsdon Little Football League Sponsorship</li>
        <li>“Hear Me Speak” competition for Sanderstead Primary Schools</li>
        <li><%= link_to "Click here for the list of donations in 2018", "resource/SRA_Grants_2018.pdf" %></li>
      </ul>
    </div> <!--col-md-4-->
  </div> <!-- row-marketing-->
</div><!--/#main-content -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
