
<div class="background_image">
  <%= image_tag "churchview1550.jpg", class: "img-responsive" %>
</div>
<div id="welcome-panel" class="container">
  <h2>Welcome to the Sanderstead Residents' Association</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-8 col-xs-12 white-column">
      <h2>Welcome</h2>
      <p>The Sanderstead Residents' Association welcomes <%= link_to "new members", members_path %> to take part in its role in supporting local organisations for the young, the elderly and the well being of Sanderstead.</p>
      <p>The Association which is non political and non sectarian is governed by its <%= link_to "Constitution", constitution_path %> under which its aim is the promotion of the interests of the residents of Sanderstead. </p> 
     
      <h2  class="clear">News</h2>
      <ul>
        <li><p><%= link_to "List of all recent and current planning applications in the Sanderstead area", "resource/Planning_list_June2020.pdf" %></p></li>
        <li><p><%= link_to "Planning application for 85 Purley Downs Road ref 20/02354/FUL", news_path(anchor: "purleydowns") %></p></li>
         <li><p><%= link_to "Planning application for 1 Sandhurst Way ref 20/01061/OUT", news_path(anchor: "sandhurst") %></p></li>
        <li><p><%= link_to "Read the monthly update from our Neighbourhood Police Team", police_path(anchor: "update") %></p></li>
        <li><p><%= link_to "Pointers for objection to contentious planning applications by Councillor Tim Pollard", news2_path %></p></li>
        <li><p><%= link_to "Protect yourself from scams during the coronavirus crisis", police_path(anchor: "corona_scam") %></p></li>    
                
          
    </ul>
      <h2>Membership</h2>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "small-images/sand_news_mar20.jpg", class: "shadow_small_image" %>
        </div>
        <div class="col-md-8">
          <h2>Sanderstead News</h2>
          <p>The Association's newsletter, "Sanderstead News", is posted to all members of the Association and provides reports from our MP, the Ward Councillors and our <%= link_to "Chairman", chairman_path %>. There are articles of local interests and advice on security matters provided by the police and Neighbourhood Watch. The magazine lists local organisations with their contacts and diaries of events. These items are also now available on this website. A youth page provides parents with information on all the Sanderstead youth activities from toddler age, to teenagers; for Scouts, Guides and sport. </p>
        </div>
      </div>
      <h2>Email Newsletter</h2>
      <p>From time to time the Association would like to be able to contact members via an email newsletter. If you would like to receive this news please follow this link to sign up your name and email address. <%= link_to "Sign up here for Email Newsletter", "http://eepurl.com/cHZYM5" %></p>
      <h2>AGM</h2>
      <p>At the Association's AGM members elect the committee and have the opportunity to question the Councillors and Committee on matters relating to Sanderstead. The next AGM was due to be held on Wednesday 20th May 2020 at 7.30 pm in All Saints' Church Hall, Onslow Gardens, Sanderstead, CR2 9AB, but has had to be postponed because of the coronavirus crisis. A revised date will be notified as soon as government regulations permit such gatherings. In the meantime, the current committee will remain in post.
      <h2>Role of the Association</h2>
        <p>Today the role of the association is to promote the interests of Sanderstead and its residents in several ways. We are able to provide financial support to assist and promote Sanderstead based organisations perform their work within our community. We also continue to undertake the traditional role of a Residents' Association; resisting planning applications likely to disadvantage residents and raising concerns about matters such as the proposed closure of the Sanderstead Library and the Purley Swimming Pool.</p>
      <h2>Local Councillors</h2>
        <p>Details of the Sanderstead Ward Councillors, Lynne Hale, Yvette Hopley and Tim Pollard, and the Purley Oaks and Riddlesdown Councillors, Simon Hoar and Helen Redfern, can be found on the <%= link_to "Contacts page", contact_path %>, along with all the officers of the Sanderstead Residents' Association.</p>
        <p>Read the latest news from our Councillors on <%= link_to "The Sanderstead blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %>.</p>
      <h2>Useful information</h2>

      <uL>
        <li><h4>
        <%= link_to("Croydon Council planning applications", "http://publicaccess2.croydon.gov.uk/online-applications/") %></h4></li>
        <li><h4><%= link_to "Croydon Health Services", "https://www.croydonhealthservices.nhs.uk/" %></h4></li>
        <li><h4><%= link_to"Directory of local information", directory_path %></h4></li>
        <li><h4><%= link_to "Directory of advertisers", advertisers_path %></h4></li>
        <li><h4><%= link_to "How the SRA can help you", about_path %></h4></li>
        <li><h4><%= link_to"How you can join the SRA", members_path %></h4></li>
      </ul>

      <span><p><%= image_tag "residents_logo200.gif", class: "small_image" %></p></span>
    </div>
    <div class="col-md-4 col-xs-12 grey-column">

      <h2>Events</h3>

      <%= link_to("Events", events_path, class: 'btn btn-primary') %>
      <br/>  
      <h4>2020</h4>
      <b>Tuesday 16 June</b>
      <p><%= link_to "SNT contact point", events_path(anchor: "SNT") %></p>
      <b>2nd Thursday of month</b>
      <p><%= link_to "The Arts Society Croydon", events_path(anchor: "theartssept") %></p>
      <b>4th Tuesday of the month</b>
      <p><%= link_to "The Arts Society Sanderstead", events_path(anchor: "theartsnov") %></p>
      <b>Tuesdays and Fridays</b>
      <p><%= link_to "Toddler Groups at All Saints", events_path(anchor: "toddlers") %></p>

      <h2>Become a member</h2>
      <p>Find out about joining the SRA here.</p>
      <%= link_to("Membership", members_path, class: 'btn btn-primary') %>

      <h2>Grants Available</h2>
      <p>The Association has a small fund available to make grants to suitable local projects. Please follow the link to find out how to apply.</p>
      <%= link_to("Grants", about_path, class: 'btn btn-primary') %>

      <h2>Map of Sanderstead</h2>
      <%= link_to("Map", find_path, class: 'btn btn-primary') %>

      <h4>Local Organisations supported by SRA</h4>
      <p>Since 2012 the Association has funded, made donations to or provided the following:</p>
      <ul>
        <li>Remembrance poppies</li>
        <li>Sanderstead Library</li>
        <li>Signs in King's Wood</li>
        <li><%= link_to "South East Cancer Help Centre", "http://www.sechc.org.uk/" %></li>
        <li>Sanderstead Neighbourhood Watch</li>
        <li>Hamsey Green pond</li>
        <li>18th Purley Scouts, for flood protection work</li>
        <li>Croydon Carers Centre</li>
        <li>Friends of Kingswood</li>
        <li>8th Sanderstead Brownies</li>
        <li>Sanderstead Neighbourhood Care</li>
        <li>Selsdon Centre for the Retired</li>
        <li>Repair of Sanderstead War Memorial vandalised by metal thieves</li>
        <li>Bench seat on the Gruffy by the Sanderstead Pond</li>
        <li>The Mayor’s Charity 2014</li>
        <li>Books and display stand for Sanderstead Library</li>
        <li>Friends of Wettern Tree Gardens</li>
        <li>Friends of Croham Hurst Woods</li>
        <li>Friends of Purley Beeches</li>
        <li>Christmas Lights in the Village 2012</li>
        <li>Sanderstead Churches Floating Shelter</li>
        <li>8th Purley Scout Group "Girls enjoy Scouting"</li>
        <li>16th Purley Scout Group contribution for World Jamboree</li>
        <li>2nd Hamsey Green Scout Group repairs to scout hut</li>
        <li>Sanderstead Brownies 100th Birthday</li>
        <li>Selsdon Little Football League Sponsorship</li>
        <li>“Hear Me Speak” competition for Sanderstead Primary Schools</li>
        <li><%= link_to "Click here for the list of donations in 2018", "resource/SRA_Grants_2018.pdf" %></li>
      </ul>
       <p>In addition Local Councillors have donated grants to the following from their community budget</p>
      <ul>
        <li>GayPride</li>
        <li>Priscillas</li>
        <li>Bus stop Bench</li>
        <li>CR2020</li>
        <li>Lily Pad appeal</li>
        <li>Raghuvanshi</li>
        <li>Memorial Hall Sign</li>
        <li>Floating Shelter</li>
        <li>Horticultural Society</li>
        <li>2nd Hamsey Green Scounts</li>
        <li>18th Purley Scouts</li>
        <li>British Legion </li>
        <li>Soul Symphony</li>
      </ul>
    </div> <!--col-md-4-->
  </div> <!-- row-marketing-->
</div><!--/#main-content -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
