<div class="background_image">
  <%= image_tag "churchview1550.jpg", class: "img-responsive" %>
</div>
<div id="welcome-panel" class="container">
  <h2>Welcome to the Sanderstead Residents' Association</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-8 col-xs-12 white-column">
      <h2>Welcome</h2>
      <p>The Sanderstead Residents' Association welcomes <%= link_to "new members", members_path %> to take part in its role in supporting local organisations for the young, the elderly and the well being of Sanderstead.</p>
      <p>The Association which is non political and non sectarian is governed by its <%= link_to "Constitution", constitution_path %> under which its aim is the promotion of the interests of the residents of Sanderstead. </p> 
     
      <h2  class="clear">News</h2>
     
      <ul>
        <li><p><%= link_to "Planning application on Mitchley Hill", news_path(anchor: "Mitchley") %></p></li>
        <li><p><%= link_to "20 MPH speed limit to be implemented", news_path(anchor: "speed") %></p></li>
        <li><p><%= link_to "Advice about securing garages and sheds", police_path(anchor: "garages") %></p></li>
        <li><p><%= link_to "Advice about the use of drones", police_path(anchor: "drones") %></p></li>
        <li><p><%= link_to "Changes to urgent care services in Croydon", news5_path %></p></li>
    </ul>
      <h2>Membership</h2>
      <p><%= link_to "Membership", members_path %> is open to all adults living in Sanderstead, including parts of Hamsey Green, Selsdon and Croham. Members pay an annual subscription of £5 per househould per year, for which they receive the support of the Association and the Association's newsletter, "Sanderstead News" twice a year.</p>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "small-images/sand_news_mar17.jpg", class: "small_image" %>
        </div>
        <div class="col-md-8">
          <h2>Sanderstead News</h2>
          <p>The Association's newsletter, "Sanderstead News", is posted to all members of the Association and provides reports from our MP, the Ward Councillors and our <%= link_to "Chairman", chairman_path %>. There are articles of local interests and advice on security matters provided by the police and Neighbourhood Watch. The magazine lists local organisations with their contacts and diaries of events. These items are also now available on this website. A youth page provides parents with information on all the Sanderstead youth activities from toddler age, to teenagers; for Scouts, Guides and sport. </p>
        </div>
      </div>
      <h2>Email Newsletter</h2>
      <p>From time to time the Association would like to be able to contact members via an email newsletter. If you would like to receive this news please follow this link to sign up your name and email address. <%= link_to "Sign up here for Email Newsletter", news6_path, data: {no_turbolink: "true"} %></p>
      <h2>AGM</h2>
      <p>At the Association's AGM members elect the committee and have the opportunity to question the Councillors and Committee on matters relating to Sanderstead.<p>
      <h2>Role of the Association</h2>
        <p>Today the role of the association is to promote the interests of Sanderstead and its residents in several ways. We are able to provide financial support to assist and promote Sanderstead based organisations perform their work within our community. We also continue to undertake the traditional role of a Residents' Association; resisting planning applications likely to disadvantage residents and raising concerns about matters such as the proposed closure of the Sanderstead Library and the Purley Swimming Pool.</p>
      <h2>Local Councillors</h2>
        <p>Details of the Sanderstead Ward Councillors, Lynne Hale, Yvette Hopley and Tim Pollard, and the Croham Ward Councillors, Michael Neal, Maria Gatland and Jason Perry, can be found on the <%= link_to "Contacts page", contact_path %>, along with all the officers of the Sanderstead Residents' Association.</p>
        <p>Read the latest news from our Councillors on <%= link_to "The Sanderstead blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %>.</p>
      <h2>Useful information</h2>

      <uL>
        <li><h4>
        <%= link_to("Croydon Council planning applications", "http://publicaccess2.croydon.gov.uk/online-applications/") %></h4></li>
        <li><h4><%= link_to"Directory of local information", directory_path %></h4></li>
        <li><h4><%= link_to "Directory of advertisers", advertisers_path %></h4></li>
        <li><h4><%= link_to "How the SRA can help you", about_path %></h4></li>
        <li><h4><%= link_to"How you can join the SRA", members_path %></h4></li>
      </ul>
  <span><%= image_tag "residents_logo200.gif", class: "small_image" %></span>
    </div>
    <div class="col-md-4 col-xs-12 grey-column">

      <h2>Events</h3>

      <%= link_to("Events", events_path, class: 'btn btn-primary') %>
      <br/>  
      <h4>2017</h4>

      <b>Tuesday 26th Sept</b>
      <p><%= link_to("Macmillan Cake Sale", events_path(anchor: "macmillan")) %></p>

      <b>Saturday 30th Sept</b>
      <p><%= link_to("SNC book sale", events_path(anchor: "books")) %></p>

      <b>Saturday 30th Sept </b>
      <p><%= link_to("Sanderstead Community Day", events_path(anchor: "priscilla")) %></p>
     
      <h2>Become a member</h2>
      <p>Find out about joining the SRA here.</p>
      <%= link_to("Membership", members_path, class: 'btn btn-primary') %>

      <h2>Grants Available</h2>
      <p>The Association has a small fund available to make grants to suitable local projects. Please follow the link to find out how to apply.</p>
  <%= link_to("Grants", about_path, class: 'btn btn-primary') %>

      <h2>Map of Sanderstead</h2>
      <%= link_to("Map", find_path, class: 'btn btn-primary') %>

      <h4>Local Organisations supported by SRA</h4>
      <p>Since 2012 the Association has funded and made donations to or provided the following:</p>
      <ul>
        <li>Hamsey Green pond</li>
        <li>18th Purley Scouts, for flood protection work</li>
        <li>Croydon Carers Centre</li>
        <li>Friends of Kingswood</li>
        <li>8th Sanderstead Brownies</li>
        <li>Sanderstead Neighbourhood Care</li>
        <li>Selsdon Centre for the Retired</li>
        <li>Repair of Sanderstead War Memorial vandalised by metal thieves</li>
        <li>Bench seat on the Gruffy by the Sanderstead Pond</li>
        <li>The Mayor’s Charity 2014</li>
        <li>Books and display stand for Sanderstead Library</li>
        <li>Friends of Wettern Tree Gardens</li>
        <li>Friends of Croham Hurst Woods</li>
        <li>Friends of Purley Beeches</li>
        <li>Christmas Lights in the Village 2012</li>
        <li>Sanderstead Churches Floating Shelter</li>
        <li>8th Purley Scout Group "Girls enjoy Scouting"</li>
        <li>16th Purley Scout Group contribution for World Jamboree</li>
        <li>2nd Hamsey Green Scout Group repairs to scout hut</li>
        <li>Sanderstead Brownies 100th Birthday</li>
        <li>Selsdon Little Football League Sponsorship</li>
        <li>“Hear Me Speak” competition for Sanderstead Primary Schools</li>
      </ul>
    </div> <!--col-md-4-->
  </div> <!-- row-marketing-->
</div><!--/#main-content -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
