<% provide(:title, 'News') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-4 col-xs-12 grey-column">
      <h2>News Headlines</h2>
      <ul>
        <li><h4><%= link_to "Objections to Barrowsfield development", news_path(anchor: "Barrowsfield3") %></h4></li>
        <li><h4><%= link_to "Revised proposal for Barrowsfield development", news_path(anchor: "barrowsfield2") %></h4></li>    
        <li><h4><%= link_to "Threat to Sanderstead Library", news_path(anchor: "library") %></h4></li>
        <li><h4><%= link_to "Local Councillors raise 30K for Lily Pad appeal", news_path(anchor: "lily") %></h4></li>
        <li><h4><%= link_to "A Cherry tree for Sanderstead", news_path(anchor: "sakura") %></h4></li>
        <li><h4><%= link_to "MP Chris Philp calls for action against Croydon's planning blight", news_path(anchor: "petition") %></h4></li>
        <li><h4><%= link_to "Sanderstead LIbrary Poetry Competition", news_path(anchor: "poetry") %></h4></li>
        <li><h4><%= link_to "Red Box Project Collection", news_path(anchor: "redbox") %></h4></li>
        <li><h4><%= link_to "Planning application for 12 Ridge Way", news_path(anchor: "12ridgeway") %></h4></li>
        <li><h4><%= link_to "Croydon Advertiser reports residents' concern over Barrowsfield development", "https://www.croydonadvertiser.co.uk/news/new-sanderstead-flats-look-like-2274950", target: "_blank" %></h4></li>
        <li><h4><%= link_to "Consultation on change to 403 bus route", news_path(anchor: "bus") %></h4></li>
        <li><h4><%= link_to "Planning application for 33 flats next to Sanderstead Rec", news_path(anchor: "barrowsfield") %></h4></li>
        <li><h4><%= link_to "Latest on Sanderstead pond", news_path(anchor: "pondoct") %></h4></li>
        <li><h4><%= link_to "SRA questions the 20mph limit", news_path(anchor: "20mph") %></h4></li>
        <li><h4><%= link_to "Hear Me Speak 2018", news4_path %></h4></li>
        <li><h4><%= link_to "Feeding the birds on Sanderstead pond", news_path(anchor: "pond") %></h4></li>
        <li><h4><%= link_to "Changes to waste and recycling collections", news_path(anchor: "waste") %></h4></li>
        <li><h4><%= link_to "New signs in king's Wood", news_path(anchor: "kingswood") %></h4></li>
        <li><h4><%= link_to "Sanderstead Memorial Hall needs more committee members", news_path(anchor: "memorial") %></h4></li>
        <li><h4><%= link_to "See the pictures from our AGM 2018", news3_path %></h4></li>
        <li><h4><%= link_to "The South East Cancer Help Centre", news_path(anchor: "cancer") %></h4></li>
        <li><h4><%= link_to "The trees in our streets", news_path(anchor: "trees") %></h4></li>
        <li><h4><%= link_to "Support for legal action against Croydon Council planning dept", news_path(anchor: "norwood") %></h4></li>
        <li><h4><%= link_to "Points to consider if approached by a developer", news_path(anchor: "developer") %></h4></li>
        <li><h4><%= link_to "Petition about Croydon Council's building company Brick by Brick", news_path(anchor: "petition") %></h4></li>
        <li><h4><%= link_to "Selsdon Park Medical Practice", news_path(anchor: "medical") %></h4></li>
        <li><h4><%= link_to "3rd Sanderstead Brownies need more volunteers", news_path(anchor: "brownies") %></h4></li>
        <li><h4><%= link_to "Council plans to replace Sanderstead Road car park with 20 flats", news_path(anchor: "flats") %></h4></li>
        <li><h4><%= link_to "Planning application in Briton Hill Road", anchor: "briton" %></h4></li>
        <li><h4><%= link_to "Trading Standards alert", anchor: "beware" %></h4></li>
        <li><h4><%= link_to "Keeping your memory strong", anchor: "memory" %></h4></li>
        <li><h4><%= link_to "Westfield shopping centre is coming to Croydon", anchor: "westfield" %></h4></li>
        <li><h4><%= link_to "Call blockers for people with dementia", anchor: "block" %></h4></li>
        <li><h4><%= link_to "Neighbourhood watch newsletter", "resource/CroydonEye_Autumn2017.pdf" %></h4></li>
        <li><h4><%= link_to "Residents form a group to fight proposed developments in the area", "http://www.croydonadvertiser.co.uk/news/croydon-news/sanderstead-group-protests-proposals-dozens-548410" %></h4></li>
        <li><h4><%= link_to "Changes to way Croydon Council advises residents about planning", anchor: "planning" %></h4></li>
        <li><h4><%= link_to "20 MPH Speed limit", anchor: "speed" %></h4></li>
        <li><h4><%= link_to "Police Action Fraud Website", police_path(anchor: "fraud") %></h4></li>
        <li><h4><%= link_to "Changes to urgent care services", news5_path %></h4></li>
        
        <li><h4><%= link_to "Neighbourhood Watch advice on scams", "http://cbnwa.com/wp/index.php/2017/02/23/information-network-bulletin-edition-4/" %></h4></li>
        <li><h4><%= link_to "Croydon Council Local Plan update", anchor: "local" %></h4></li>
        <li><h4><%= link_to "Sanderstead Memorial Hall", anchor: "memorial" %></h4></li>
        <li><h4><%= link_to "Hall for Hire", anchor: "hall" %></h4></li>
        <li><h4><%= link_to "Latest advice on scams from the police", anchor: "scams" %></h4></li>
        <li><h4><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h4></li>
        <li><h4><%= link_to "Local Councillors' blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %></h4></li>
        <li><h4><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h4></li>
        <li><h4><%= link_to "Local Police News Update", police_path(anchor: "update") %></h4></li>
      </ul>
    </div>

    <div class="col-md-8 col-xs-12 white-column">
      <h2>Local News Websites</h2>
      <h3><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h3>
        <h3><%= link_to "Local Councillors' blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %></h3>
        <h3><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h3>
       <h3><%= link_to "Local Police News", police_path %></h3>
       <h3><%= link_to "Information about the latest scams", "https://www.croydon.gov.uk/advice/tstandards/doorstep-crime/infonetwork" %></h3>

      <h2> News in Detail</h2>

      <h3><a class="anchor" id="top" name="barrowsfield3"></a>Objections to Barrowsfield development</h3>
      <p>Councillor Lynne Hale has written the letter below, listing her objections to the proposed development.</p>
      <p>Re: 18/05157/FUL – 2-5 Barrowsfield South Croydon CR2 9BZ</p>
      <p>Demolition of existing buildings and erection of 4/5 storey building comprising 33 self-contained flats (5 x one bed, 14 x two bed and 14 x three bed), vehicular access on Limpsfield Road, 26 car parking spaces (including two disabled car parking spaces), integral cycle store for 64 cycles, integral bin storage, hard and soft landscaping, boundary treatment and communal amenity space at roof level.</p>
      <p>Further to previous correspondence I am writing to let you have a further update regarding the awful Barrowsfield planning application.</p>
      <p>The applicant has lodged a number of amendments in relation to their scheme for a large block of flats next to Sanderstead Recreation Ground. The full details can be seen via the following link:</p>
      <p><%= link_to "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=makeComment&keyVal=PH065PJLFOH00", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=makeComment&keyVal=PH065PJLFOH00" %></p>
      </p>Points which can be used to lodge further objections include the following:</p>
      <ul>
        <li>The amendments, taken collectively, amount to a major material change and a new submission should have been required. 22 new documents have been uploaded, each requiring review and a period of 14 days to comment is not reasonable.</li>
        <li>Notwithstanding the above, the proposal provides poor quality accommodation and should be refused. It fails to meet policy on a large number of issues and, furthermore, the applicant has not addressed planning officer concerns with the pre-application responses</li>
        <li>Height, massing and design are out of character and context</li>
        <li>Density is too high and contrary to guidance</li>
        <li>Over 50% are single aspect flats</li>
        <li>Loss of two properties below 130 sqm</li>
        <li>Inadequate cycle, mobility scooter and electric cycle storage</li>
        <li>Loss of amenity to existing residents of Barrowsfield and inadequate perimeter treatment</li>
        <li>Over development of the building footprint and car parking to cover 90% of the site</li>
        <li>Inadequate landscaping</li>
        <li>Proposed building line does not reflect the established building line</li>
        <li>Unsafe rooftop children’s play area</li>
        <li>Inadequate car parking which will negatively impact local businesses and residents</li>
        <li>Poor quality design with no architectural merit; completely at odds with its proposed Sanderstead Village location immediately adjacent to the open green space of Sanderstead Recreation Ground</li>
      </ul>

        <p>In summary, this application fails to meet the Croydon Local Plan 2018 policy standards and should be refused.</p>
        <p>Please do take a few minutes to lodge any concerns which you have in relation to the amendments – comments need to be submitted by 19th July. You can use the following link:</p>
        <p><%= link_to "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=makeComment&keyVal=PH065PJLFOH00", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=makeComment&keyVal=PH065PJLFOH00" %></p>
        <p>Thank you and kind regards</p>
        <p>Cllr Lynne Hale</p>

      <h3><a class="anchor" id="top" name="barrowsfield2"></a>Revised proposal for Barrowsfield development</h3>
      <p>Many residents have been horrified by the proposal to construct a block of flats on the edge of Sanderstead Rec. Councillor Lynne Hale has referred the application to committee and has been leading on it for the Sanderstead ward team. Now amendments have been received to the scheme, as outlined in the email the ward team received below.</p>
      <p>18/05157/FUL 2-5 Barrowsfield, South Croydon, CR2 9BZ</p>
      <p>Demolition of existing buildings and erection of 4/5 storey building comprising 33 self-contained flats (5 x one bed, 14 x two bed and 14 x three bed), vehicular access on Limpsfield Road, 26 car parking spaces (including two disabled car parking spaces), integral cycle store for 64 cycles, integral bin storage, hard and soft landscaping, boundary treatment and communal amenity space at roof level.</p>
      <p>Amended plans have been received for this application. The main alterations to the scheme are as follows:
        <ul>
          <li>Alteration of top floor to a mansard  roof form</li>
          <li>Balconies recessed into the building envelope</li>
          <li>Alteration to appearance of entrances</li>
          <li>Inclusion of roof top children’s play space</li>
          <li>Removal of entrance into Sanderstead Recreation Ground</li>
          <li>Additional lift within the second staircore</li>
          <li>Additional entrance to the car park</li>
          <li>Addendum to Transport Assessment</li>
        </ul>
      </p>
      <p>The plans can be viewed on the application file on the website. Any comments on the amended proposal by 19th July 2019.</p>
      <p>You can view the revised plans following <%= link_to "this link", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=relatedCases&keyVal=PH065PJLFOH00" %>.

      <h3><a class="anchor" id="top" name="library"></a>Threat to Sanderstead Library</h3>
      <p>We've recently obtained a copy of a well-hidden report with secret plans to close four of Croydon's libraries</p>
      <p>Croydon's Labour administration had tried to bury the report deep in meeting papers for the Cabinet Meeting on 7th May 2019 when their libraries strategy was nodded through.</p>
      <p>Addington Village's councillor Helen Pollard, Conservative libraries spokesperson, asked for the report and was shocked to find that one of the recommendations is the closure of four local libraries:</p>
      <p>
        <ul>
          <li>Bradmore Green Library in Old Coulsdon</li>
          <li>Purley Library</li>
          <li>Sanderstead Library</li>
          <li>Shirley Library</li>
        </ul>
      </p>
      <p>In a report by consultants Red Quadrant, hidden from public and councillor scrutiny for 9 months, the consultants’ Asset Review singles out these four libraries as sites prime for ‘relocation’ and ‘releasing space’. Cutting the spin, the report suggests selling them off and directing users to other libraries, or at the least removing and redeveloping large portions of the library for other uses.</p>
      <p>This could well mean more unpopular Brick-by-Brick developments going up in library-shaped holes in the hearts of local communities.</p>
      <p><%= link_to "Sign the petition put forward by Mario Creatura, prospective conservative MP for Central Croydon, and join the campaign to get our Council to keep all our libraries open!", "https://www.mariocreatura.org.uk/form/save-our-libraries-petition" %></p>


      <h3><a class="anchor" id="top" name="lily"></a>Local Councillors raise 30k for Lily Pad appeal</h3>
      <p>Croydon Conservatives help fight child cancer in the Borough. Local councillors have made a £30,000 donation toward a new Oncology Unit at CUH.</p>
      <p>From Coulsdon to Crystal Palace, people across Croydon are passionate about taking the fight to child cancer. That’s why, Croydon’s Conservative group of Councillors has pooled together money from their community ward budgets in order to donate £30,000 to the Chartwell Cancer Trust’s Lily Pad Appeal. The Chartwell Cancer Trust supports cancer patients – adults and children – across South London and Kent.  Recently, the trust has launched the ‘Lily Pad’ appeal in a bid to raise £750,000 to build a new and modernised Oncology Unit at Croydon University Hospital.  The donation from the Croydon Conservatives group will help fund a brand-new play area to provide moments of respite for young patients.</p>
      <p>Inspired by the great work of the Trust, Croydon Conservatives have thrown themselves into wider fundraising activities to help secure the necessary cash. On the 5th May, a team of councillors will take part in a 5K walk in Lloyd Park and are encouraging community members to sponsor them as they do their best to stumble through one of Croydon’s most beautiful green spaces.</p>
      <p>You can sponsor the Croydon Conservatives Councillor team by visiting their Virgin Money sponsorship page: <%= link_to "https://uk.virginmoneygiving.com/CroydonConservatives", "https://uk.virginmoneygiving.com/CroydonConservatives" %></p>
      <p><%= image_tag "CUH_Donation.jpg", alt: "Conservatives donate to Cancer appeal" %>




      <h3><a class="anchor" id="top" name="sakura"></a>A Cherry Tree from Japan for Sanderstead</h3>
      <p>The Ambassador of the Embassy of Japan has introduced the Sakura Cherry Tree Project, a UK-wide project distributing Japanese cherry trees to publicly accessible spaces across the UK. One of the prospective sites is the 'Sanderstead Recreational Ground'. The Sanderstead Residents Association  and local councillors are meeting with officers at the council to look at how they can take this project forward at Sanderstead Recreation Ground. <%= link_to "Letter to MPs from the Japanese Embassy", "resource/Cherry_Tree_project .pdf" %>.




      <h3><a class="anchor" id="top" name="petition"></a>MP Chris Philp campaigns to stop Croydon's planning blight</h3>
      <p>MP Chris Philp raises concerns about Croydon Council's planning decisions and asks us to join him.</p>
      <p>"For some time, Croydon’s Labour-run council has been granting planning permissions indiscriminately. Over 90% of all applications are getting approved by the Planning Committee. In particular, they are routinely allowing family housing to be destroyed and replaced with small blocks of flats. Neighbouring Boroughs Bromley and Sutton do not allow this. We do need more homes, but blocks of flats should go on brownfield sites and in Croydon town centre. Buildings like the old Royal Mail building next to East Croydon station are derelict, and you could build hundreds of flats on that site. The council would then have no reason to destroy houses in suburban areas, which changes the character of the area and removes much-needed homes for families. They should not destroy any family homes until all the brownfield sites in the Borough have been used – which we are at least 10 years away from doing. It is time for the council to stop destroying family homes and pursue a Brownfield First policy.</p>
      <p>One way to make planning decisions more accountable would be to have local “Area Planning Committees” where you divide Croydon up into three areas (say, north, central and south) and only councillors that area sit on its planning committee and decide for smaller applications – say less than 50 units – in that area. At the moment, councillors from distant parts of Croydon who do not understand our area decide applications in our neighbourhood – often imposing very bad schemes. Many other councils including the London Boroughs of Kingston and Barnet, and Wiltshire and Durham amongst others have Area Planning Committees. Croydon should have Area Planning Committees too.</p>
      <p>It is time for us to stand up to the council on behalf of residents across the Borough and demand change. Please join me as our local MP by taking the following steps:</p>
      <ol>
        <li>Sign a petition here calling for the council to stop destroying family homes (instead pursuing a “Brownfield First” policy) and calling for Area Panning Committees: <%= link_to "www.surveymonkey.co.uk/r/CroydonPlanning", "http://www.surveymonkey.co.uk/r/CroydonPlanning" %></li>
        <li>There is currently a review of Croydon Council’s Governance run by Dame Moira Gibb. Please email her directly explaining your views about how the council currently handles planning applications (i.e. often ignores residents etc) and asking Dame Moira to recommend Area Planning Committees in Croydon. Her email address is: moira.gibb@crinanhoward.com. Please do cc me.</li>
        <li>Tell the people responsible for planning in Croydon how angry we are about what they are doing. Email them directly at:</li>
        <ul>
          <li>Leader of the Council, Cllr Tony Newman (Labour): tony.newman@croydon.gov.uk</li>
          <li>Chair of the Planning Committee, Cllr Toni Letts (Labour): toni.letts@croydon.gov.uk</li>
        </ul>Do cc me as well.
        <li>Attend a demonstration at the Full council meeting on the steps of the Town Hall on Monday 1st April from 600pm-630pm and then the council meeting afterwards in the public gallery of the Council Chamber. From around 830pm onwards planning will be debated and Area Planning Committees will be proposed and voted on. The Town Hall address is: Town Hall, Katherine Street, Croydon CR0 1NX</li>
      </ol>
      <p>What the council is doing is totally unacceptable. Please join this campaign to stop them."</p>

      <h3><a class="anchor" id="top" name="poetry"></a><%= link_to "Sanderstead Library Poetry Competition", "resource/Sanderstead_poetry_2019.pdf" %></h3>
      <p>The theme for our poetry competition is "Fantastic Beasts and Animals".  Enter the following age categories 6-8, 9-11, 12-16 and adults. Please pick up an entry form from the library. All entries must be handed in to the library by Saturday 13 April 2019. The winning entry from each age category will receive a voucher donated by Sanderstead Residents Association.</p>


      <h3><a class="anchor" id="top" name="redbox"></a>Red Box Project</h3>
      <p>The Red Box Project is a project that is trying to end period poverty by collecting sanitary products that are distributed to local schools as a way to help girls who are unable to attend school during their period as they can't access sanitary products. From Sunday 3 February they began a collection at St Mary's Church, Purley Oaks Road, Sanderstead CR2 0NY.</p>
      <p>If anyone would like to drop off donations the best time would be Thursdays 10.45-12.00 or Sundays 11.00-12.00.</p>
      <p>If anyone would like to donate money the easiest way is via their Just Giving page on <%= link_to "www.justgiving.com/crowdfunding/theredboxprojectcroydon", "https://www.justgiving.com/crowdfunding/theredboxprojectcroydon" %></p>
      <p>For more information see the facebook page for the Red Box Project in Croydon: <%= link_to "www.facebook.com/redboxprojectcroydoncity/", "https://www.facebook.com/redboxprojectcroydoncity/" %>. Or the website on <%= link_to "http://redboxproject.org/", "http://redboxproject.org/" %></p>

      <h3><a class="anchor" id="top" name="clinic"></a>Sanderstead Clinic</h3>
      <p>Re SANDERSTEAD CLINIC. Official statement</p>
      <p>We continually review our estate to make the best use of all of our premises to provide the best, most accessible and most efficient service we can to our patients.  There are no agreed plans to close Sanderstead Clinic which is an important part of our estate and sees 4,500 patients a year.</p>
      <p>Our ongoing review includes how we utilise some of the empty clinic space in Purley War Memorial Hospital which is 2 miles away from Sanderstead and provides a range of services including minor injuries and minor illnesses.  Early conversations have begun to see what additional services, like physiotherapy or speech & language therapy, could move in to Purley to make this a central part of our care for people in the south of the borough but this does not mean changes at Sanderstead would have to happen.</p>
      <p>At this stage we are only looking at what is possible. No decisions have been made and there would be no movement of services without a clear explanation to local people.  
      </p>

      <h3><a class="anchor" id="top" name="12ridgeway"></a>Planning application for 12 The Ridge Way</h3>
      <p>The latest planning application to affect Sanderstead residents is for No. 12 The Ridge Way to be demolished and replaced by NINE apartments. This may be viewed on the Council`s on-line planning register <%= link_to "www.croydon.gov.uk/planningandregeneration/view-application", "https://www.croydon.gov.uk/planningandregeneration/view-application" %> and clicking on `Planning Applications`. Enter the reference 18/05896/FUL to view the proposal.</p>
      <p><%= link_to "Full details of the objections to this proposal can be downloaded here", "resource/12theridgeway.pdf" %></p>

      <h3><a class="anchor" id="top" name="bus"></a>Consutation on changes 403 bus route</h3>
      <p>TFL are asking for comments on proposed changes to the 403 bus route among others. See the message below and respond by 13th January 2019.</p>
      <p>We would like your views on proposed changes to bus routes 50, 75, 109, 154, 197, 250, 264, 403, 405, 412 & 433 serving Croydon town centre.</p>
      <p>We are proposing these bus routes terminate on the side of the town centre from which they approach, so they would no longer cross the town centre.</p>
      <p>These proposed changes would help maintain reliability of services in Croydon by making the bus network simpler and more efficient, and would ensure our resources are invested in the right locations. They would also ensure the impact on bus operations, potentially arising from the construction works in the town centre, is minimised. Customers who would need to interchange to reach their destination could do so within one hour without additional charge using the Hopper fare.</p>
      <p>We are keen to hear your views on how these proposed changes could impact on you, and if you have any specific comments or suggestions.</p>
      <p>For full details and to share your views, please visit: <%= link_to "https://consultations.tfl.gov.uk/buses/croydon-town-centre/", "https://consultations.tfl.gov.uk/buses/croydon-town-centre/" %></p>


      <h3><a class="anchor" id="top" name="barrowsfield"></a>Barrowsfield planning application</h3>
      <p>PLANNING APPLICATION FOR 33 FLATS RELATING TO 2-5 BARROWSFIELD, NEXT TO SANDERSTEAD REC</p>
      <p>A planning application has been lodged for a 4/5 storey block of 33 flats in Sanderstead Village. The proposal is for the site at 2-5 Barrowsfield, which is right next to Sanderstead Recreation Ground, opposite Yew Tree Court and the Shell petrol station. Whilst accepting that we need more homes, the Sanderstead Residents Association (SRA) has a number of serious concerns: 
        <ul>
          <li>The proposal for 33 homes on this site is over-intensive – with the proposed density more than 8 times the average in this suburban area and exceeding the Mayor of London’s maximum density for even far more centralised urban locations.</li>
          <li>The area has been identified as not appropriate for intensification as stated by The Planning Inspector, in his report dated January 2018, confirming Sanderstead’s public transport level was one of the lowest in London.</li>
          <li>The building design is poor and fails to respect the historic character of the village buildings along this western side of Limpsfield Road, nor the green and open character of Sanderstead Recreation Ground.</li>
          <li>The height and massing of the building is inappropriate and overbearing for the unique setting of Sanderstead and the local amenities.</li>
          <li>The demolition of existing family homes including 2/3 Barrowsfield, which is a historical Edwardian country style property and one of the oldest remaining buildings in Sanderstead.</li>
          <li>Parking provision is inadequate - the shortfall of resident’s spaces within the scheme (75 bedrooms and 26
            parking spaces) with no visitor parking provided will inevitably lead to more pressure on already stressed parking, especially at school times.</li>
          </ul>
        </p>
        <p><%= link_to "View the flyer for more information and pictures", "resource/barrowsfield_flyer.pdf" %></p>

      <h3><a class="anchor" id="top" name="pondoct"></a>Update on Sanderstead pond</h3>
      <p>Councillor Yvette Hopley writes, "Sadly the Sanderstead Residents’ Association noticeboard and notices around Sanderstead pond were vandalised last week.  What the public probably don’t know is that the area is currently infested with rats.  Poison has been put down to try to bring the numbers down but with the warm weather, water and current food supply from residents feeding the ducks the problem has become an environmental health problem.</p>
      <p>The council as a matter of urgency put up metal signs at the pond and also laminated posters on the trees and bench to try to persuade residents to stop feeding the ducks whilst they deal with this worrying situation.  Huge rats have been seen scurrying along the pathways and around the Gruffy and in the vegetation at the pond.  This is only a temporary measure until the infestation is brought under control.</p>
      <p>I thought it was worth informing you of the dangers of contracting Weil’s disease.</p>
      <p>Weil's disease is a form of a bacterial infection also known as Leptospirosis that is carried by animals, most commonly in rats and cattle. It can be caught by humans through contact with rat or cattle urine, most commonly occurring through contaminated fresh water. Although human infection in the UK is minimal it is still worth taking some preventative measures to decrease the possibility of contracting it.</p>
      <p>Lots of young and elderly people enjoy this pleasant beauty spot and as a matter of public safety these measures have had to be taken.  I would hate for anyone to become seriously ill as a result of not taking action with the council." <b>1.11.18</b></p>


      <h3><a class="anchor" id="top" name="20mph"></a>SRA Questions the 20 MPH limit</h3>
      <p>The Sanderstead Residents Association made the front page of the Croydon Advertiser (South edition) with an article questioning the value of the new 20 mph speed limit now imposed on many roads in the south of the borough.
      <%= link_to "Follow this link to read the whole article on the Croydon Advertiser website", "https://www.croydonadvertiser.co.uk/news/croydon-news/drivers-croydon-taking-no-notice-1995336" %>.</p>

      <h3><a class="anchor" id="top" name="pond"></a>Feeding the birds on Sanderstead Pond</h3>
      <p>Anyone passing Sanderstead pond on the Gruffy lately will have noticed that it has become covered in green/brown algae. The Community conservation officer from Croydon Council has visited the pond and reports: "I have been to site and looked at pond, there is a large amount of bread floating in the pond which causes the brown algae to grow – this will not harm the ducks but is bad news for the pond. I also noted a large number of rats on site, I know this has already been reported but given the surrounding of the pond it is very difficult to establish rat traps. The reason the pond looks this bad is because of people feeding  the ducks with bread in combination with a very hot and dry summer. The best course of action is to stop feeding for the time being or if so then with special waterfowl food, which can be bought in pet shops."<p>


      <h3><a class="anchor" id="top" name="kingswood"></a>New signs in King's Wood</h3>
      <p>Sanderstead Residents' Association and our local Councillors have arranged for smart new signs to be erected in the entrances to King's Wood in Sanderstead.</p>
      <p><%= image_tag "KingsWoodSign.jpg", alt: "King's Wood Sign" %></p>


      <h3><a class="anchor" id="top" name="memorial"></a>Sanderstead Memorial Hall</h3>
      <p>You may be aware of Sanderstead Memorial Hall on Purley Oaks Road. It was built as a tribute to the men and women who died or served their country in the First World War. The hall was opened in June 1922 by Vice Admiral A.F.B. Carpenter VC of Zeebrugge fame. The Sanderstead Hall Association was formed in 1923 to manage the hall. The hall is used as a facility for residents of Sanderstead and, subject to availability and proposed use, may be hired. It is used on a regular basis for various activities by several groups. These include: The Cavat School of Dance, Castle Day Nursery, Dog Training Class, Beeches Badminton Club, Sanderstead Hall Badminton Club.</p>
      <p>We are looking for volunteers to join our small committee. The duties are not onerous as we have an excellent Business Manager, Caroline Hubbard, who manages the hall on a daily basis. The small, volunteer committee meet twice a year to review the management of the hall and any refurbishments necessary. If you are a resident of Sanderstead and interested in finding out more please contact: Caroline Hubbard on 07775 680087 or Malcolm Saunders on 020 8657 1795. Malcom Saunders</p>


      <h3><a class="anchor" id="top" name="cancer"></a>South East Cancer Help Centre</h3>
      <p>The SECHC was one of the recipients of a grant from the Sanderstead Residents' Association at out AGM in May.<p>
      <p>The South East Cancer Help Centre is a registered charity which supports patients and their family members who have been affected by cancer in the last three years. Our mission is to provide complementary therapies, information and group support and other therapeutic activities which will help people affected by cancer to cope with their situation. We offer a caring, friendly environment which respects and supports people in the choices they make, resourced predominantly by volunteers working alongside fully qualified therapists.</p>
      <p>We receive no funding and rely on the generosity and goodwill of our members, the local community and the hard work of our volunteers.  We are extremely thankful for your support, and generous £500 donation that will enable us to support more people and families affected by Cancer.</p>
      <p>  <%= link_to "www.sechc.org.uk", "http://www.sechc.org.uk" %>
        Facebook: <%= link_to "www.facebook.co/SECancerHelp", "http://www.facebook.co/SECancerHelp" %> 
        Twitter: <%= link_to "www.twitter.com/secancerhelp", "http://www.twitter.com/secancerhelp" %></p>

      <h3><a class="anchor" id="top" name="trees"></a>Street Trees</h3>
      <p>Five year street tree planting programme</p>
      <p>The Association has noted that quite a number of street trees have been removed due to their deteriorating condition. The policy for Council owned trees is that if a tree is removed due to subsidence it will not normally be replaced at the same location. However if it was removed due to being diseased then they would consider planting a replacement.</p>
      <p>The Council’s Trees and Woodlands Department have recently recruited an Officer to develop and deliver a Five Year Street Planting Programme which will address the Council’s tree stock that has been lost, and therefore this Programme will look at re-stocking empty tree pits.  This tree planting programme forms part of the Council’s objective to deliver a greener and cleaner (pollution) borough in line with the new Air Quality Action Plan 2017 – 2022.</p>
      <p>In response to a request by the Sanderstead Residents’ Association, the Council welcomes residents to email their tree requests which will then be considered during the five year planting programme  (April 2018 to March 2023).</p>
      <p>Contact Email Address:   TreesandWoodlands@croydon.gov.uk</p>

      <h3><a class="anchor" id="top" name="norwood"></a>SRA supports planning campaign</h3>
      <p>Sanderstead Residents Association is supporting the campaign started by Alex Toogood to promote legal action against Croydon Council's planning department and the building company "Brick by Brick". <%= link_to "Read the report in the Croydon Advertiser", "https://www.croydonadvertiser.co.uk/news/croydon-news/mum-ready-take-legal-action-1522599" %></p>

      <h3><a class="anchor" id="top" name="developer"></a>Points to consider if approached by a developer</h3>
      <p><%= link_to "Riddlesdown Residents' Association website has useful information about what a householder should consider if approached by a developer wishing to buy their home.", "http://www.riddlesdownresidents.org.uk/planning-tips%20on%20apps.html#Points2" %></p>

      <h3><a class="anchor" id="top" name="petition"></a>New petition about Brick by Brick</h3>
      <p>A second petition against Croydon Council's building company "Brick by Brick" has been issued. The petition can be found on this address <%= link_to " https://www.surveymonkey.co.uk/r/fixcroydonplanning", " https://www.surveymonkey.co.uk/r/fixcroydonplanning" %>.</p>
      <p>Petition wording: “We, the undersigned, have lost faith in the current administrations Planning Committee and Planning Department. Planning should be a collective enterprise, yet the valid concerns of Residents, of the London Borough of Croydon, have been ignored and, additionally, Residents have been restricted from taking part in debates that should be shaping our communities. Since 2014, decisions made by the Planning Committee have appeared to be partial, partisan and predetermined, angering existing Residents and the voting public across the entire Borough.</p>
      <p>We believe the process has not been conducted in an "independent, reasoned and transparent manner"</p>
      <p>We question the conflict of interests within the Planning and Housing departments, which may be legal but appear dubious.</p>
      <p>The public concerns have been ignored in an attempt to satisfy a housing quota. We appreciate &amp; support the need for more housing and 'affordable' homes but development must be sustainable, ensuring that such developments do not mean increased suffering for current and future residents.</p>
      <p>We call for a full meeting of the Council to discuss openly all of the Brick by Brick projects.</p>
      <p>We request that the full council meeting, or an independent review, hear the petitions and objections against each of the planning applications in question - giving us, the residents, greater and more reasonable time to speak and be heard.</p>
      <p>We call for the launch of a thorough, impartial review of all Planning Department guidance and Committee decisions on Brick by Brick developments to:
        <ul>
          <li>Reduce the overcrowding, invasive designs &amp; invasion of privacy</li>
          <li>Consider our Communities’ delicate social infrastructure.</li>
          <li>Ensure architecture and design is in keeping with local buildings and the community's identity</li>
          <li>Consider the significant impact in the loss of parking spaces caused by their forced removal and the significant increase in demand caused by the new homes.</li>
          <li>Ensure that developments are not within a flood zone/investigation area.</li>
          <li>Ensure all future planning meetings are chaired fairly, free from partisan pressure, with common sense prevailing."</li>
        </ul>
      </p>

      <h3><a class="anchor" id="top" name="medical"></a>Selsdon Park Medical Practice needs your help</h3>
      <p>The Selsdon Park Medical Practice Patient Participation Group (PPG) was established to strengthen the relationship between the Practice and its Patients. The PPG committee consists of up to twelve members who meet regularly to discuss the services on offer and how improvements can be made for the benefit of patients and the practice. The make up of the committee should reflect that of the patient body but at the present time the committee lacks representation from those aged under 45 years (including young parents), carers, disabled and other homebound individuals who find it difficult to attend regular meetings. The committee intends to set up a reference group to involve these patient categories by inviting subjects for discussion and seeking comment on agendas prior to meetings. If you are a patient of the practice and would like to be included in this reference group or if you would like to raise any practice issues you can contact the committee at their email address: selsdonppg@gmail.com or through reception at the surgery.</p>
      

      <h3><a class="anchor" id="top" name="brownies"></a>3rd Sanderstead Brownies are looking for more adult volunteers</h3>
      <p>The 3rd Sanderstead Brownies is 90 years old this year. But they could close unless enough volunteers step forward to help run the group. <%= link_to "Read more", "resource/3rd_Sanderstead_Brownies.pdf" %></p>

      <h3><a class="anchor" id="top" name="cbnwa"></a>Neighbourhood Watch appeals for help and donations</h3>
      <p>There is a real risk that Croydon Borough Neighbourhood Watch will have to close at the end of April due to a lack of short-term funding. At a time of such concern about crime in our borough this would be a serious development. We are therefore writing to ask you to make a donation to keep the Charity going... <%= link_to "Read the full details here", "resource/CBNWA29Jan18.pdf" %>.</p>
      <p>

      <h3><a class="anchor" id="top" name="flats"></a>Sanderstead Road Car Park Under Threat!</h3>
      <p>Council plans to replace Sanderstead Road car park with 20 flats – and no residents’ parking.</p>
      <p>The Council’s in-house development company Brick By Brick is planning to close the car park on Sanderstead Road and in its place erect a 4/5 storey building with 20-22 flats, and provision for few car spaces for the new residents. There would be a permanent loss of about 25 parking spaces in this very popular car park, while at the same time the local demand for car spaces will be massively increased as a result of the influx of new residents.</p>
      <p>The car park is used both by local train commuters and by customers of the shops opposite the car park, and its loss would surely be a blow to the local community. One way of retaining some car parking spaces would be if most of the building was up on stilts, leaving part of the ground floor still available for parking, and no doubt there are many other planning options.</p>
      <p>Further details of this proposal may be found in the Croydon section of the <%= link_to "www.newmanfrancis.org website", "http://newmanfrancis.org/brick-brick-sanderstead-road-car-park/" %>.</p>
      <p>Two articles examine the objections to this development:
        <ul>
          <li><%= link_to "A recent article by Olivia Tobin in the online Croydon Advertiser", "http://www.croydonadvertiser.co.uk/news/croydon-news/sanderstead-could-lose-very-valuable-1092903" %></li>
          <li> <%= link_to "A paper by Jim Gibbons", "resource/Sanderstead_road_car_park.pdf" %></li>
        </ul> 
      </p>
      <p>This site is in Purley ward so do contact the local councillors if you have any queries or questions.  The shops are in Croham ward and interestingly St Mary’s Road is in Sanderstead.  It is the junction of three wards.</p>
      <p>Simon Brew - Simon.brew@croydon.gov.uk 07803 618096</p>
      <p>Badsha Quadir - Badsha.quadir@croydon.gov.uk 07956 537023</p>
      <p>Donald Speakman - Donald.speakman@croydon.gov.uk 07710 183672
      </p>

      <a class="anchor" id="top" name="briton"></a>
      <h3>Planning Application for 11 Briton Hill Road</h3>
      <p>Aventier have a number of pending planning applications in Sanderstead to demolish single dwelling homes and build blocks of flats, the latest of these is at 11 Briton Hill Road (3 storey block of nine flats). They are in residential ‘house only’ roads and in addition to being completely out of character with the surrounding properties they will worsen parking, stretch local amenities further, etc. If you can help support by objecting to the council we would appreciate it. This directly affects us, the next one might be you, please help before a precedent is set. Deadline is 20th Dec to object, details below. <%= link_to "http://publicaccess2.croydon.gov.uk/online-applications", "http://publicaccess2.croydon.gov.uk/online-applications" %> or write to the council. <%= link_to "More information here", "https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/24852293_10155483833433462_1486756459862032880_n.jpg?oh=5cc9cc087c17e2d08eaa87bb6fc6520b&oe=5AC38DEC" %></p>


      <a class="anchor" id="top" name="beware"></a>
      <h3>Beware offers too good to be true</h3>
      <h3>Trading Standards Alert: Rogue Traders Operating in Croydon</h3>
      <p><b>Beware offers too good to be true.</b></p>
      <p>Croydon Trading Standards have received a report about leaflets being put through doors in the Riddlesdown area. The leaflets advise that someone will be calling at homes in the area to offer free valuations of valuable items.</p>
      <p>Trading Standards advise consumers to proceed with caution:</p>
      <ol>
        <li>If you are thinking of selling a valuable item, ensure you use a known and reputable source.</li>
        <li>Check them out with trade associations, etc, before approaching them for a valuation.</li>
        <li>Get several valuations to ensure that you are going to receive a fair price.</li>
        <li>Do not be rushed into selling your item, you may sell it for far less than the item is worth.</li>
        <li>Remember, that when someone calls at your door you do not really know who they are.</li>
        <li>Be cautious about letting a stranger into your home and showing them your valuables and where they are kept.</li>
        <li>Persons entering your home will also have the opportunity to see your home security, etc.</li>
      </ol>
      <p>As always, Trading Standards advise consumers not to buy or sell at the door
      </p>

      <a class="anchor" id="top" name="memory"></a>
      <h3>Keeping your memory strong</h3>
      <p>Sanderstead Residents' Association is a dementia friendly organisation, and keen to bring to our members information about maintaining good mental health as well as spotting the signs of early dementia.  <%= link_to "Read the information provided by Croydon BME forum representative Anna D'Agostino.", news7_path %></p>

      <a class="anchor" id="top" name="westfield"></a>
      <h3>Westfield is finally coming to Croydon!"</h3>
      <p>It was confirmed on 14th November that the critical Westfield Shopping Centre scheme in Croydon town centre will now go ahead, with work due to start by the end of next year. The project will help to transform the town centre, create 7,000 jobs and entails building 1,000 new flats on the site as well. The Westfield shopping centre will be similar to the existing ones in Stratford and Shepherd’s Bush, and will stand on the site of the current Whitgift centre. Further details are at: <%= link_to "www.gov.uk/government/news/minister-for-london-welcomes-14-billion-croydon-redevelopment", "https://www.gov.uk/government/news/minister-for-london-welcomes-14-billion-croydon-redevelopment" %></p>
      <p>This is fantastic news for Croydon. It will provide world-leading retail facilities in the town centre, and act as a spur to other much-needed regeneration projects there. We are hopeful that John Lewis will be confirmed as the anchor store before too long.</p>

      <a class="anchor" id="top" name="block"></a>
      <h3>Call blockers for people with dementia</h3>
      <p>Many of us suffer with the problem of nuisance calls on our phones, but this can be a particular problem for people with dementia. To help with this the government is providing funding for call blockers to tackle this issue. Free call blockers will be available to anyone living with dementia who is currently suffering from scam or nuisance calls.</p>
      <p>To get a FREE call blocking device YES should be answered to the following:
       <ol>
        <li>Do you or the person you are applying for receive nuisance and scam calls?</li>
        <li>Does the person who would like the call blocker have dementia?</li>
      </ol>     
      If you answered yes to the above then please apply at <%= link_to "www.friendsagainstscams.org.uk/callblocker", "http://www.friendsagainstscams.org.uk/callblocker" %>
      </p>
      <a class="anchor" id="top" name="watch"></a>
      <h3><%= link_to "Download a copy of the latest Neighbourhood Watch newsletter here", "resource/CroydonEye_Autumn2017.pdf" %> </h3>

      <h3><%= link_to "Residents form a group to fight proposed developments in the area - Read the report in the Croydon Advertiser", "http://www.croydonadvertiser.co.uk/news/croydon-news/sanderstead-group-protests-proposals-dozens-548410" %></h3>

      <a class="anchor" id="top" name="planning"></a>
      <h3>Changes to the way Croydon Council advises residents about planning applications</h3>
      <p>The system of putting notices on lighting or telegraph poles was changed in August. Now immediate adjoining owners will be advised by letter, however should there be a footpath or alley the next property will not be informed, in fact letters could be sent to adjoining empty properties or to adjoining owners who do not appreciate the implications of the proposed application. Residents living opposite or behind the property will not be aware of the planning application.</p>
      <p>The only means of checking planning applications in your area is to check regularly on the Council's Planning website. <%= link_to("Croydon Council planning applications", "http://publicaccess2.croydon.gov.uk/online-applications/") %></p>

      <a class="anchor" id="top" name="speed"></a>
      <h3>Croydon Council agree to implement 20 MPH speed limit in south of borough</h3>
      <p>The Council Members of the Traffic Management Advisory Committee, at their meeting on 9th May, 2017 considered any objections but agreed to proceed with the implementation of the 20mph speed limit. You can read the committee report on  <%= link_to "Croydon Council website ", "https://secure.croydon.gov.uk/akscroydon/users/public/admin/kab12.pl?operation=SUBMIT&meet=15&cmte=TMA&grpid=public&arc=1" %>
      </p>

      <h3>Changes to urgent care services in Croydon</h3>
      <p><%= link_to "Read the full report here", news5_path %></p>

      
      <h3><a class="anchor" id="top" name="memorial"></a>Sanderstead Memorial Hall</h3>
      <p>Sanderstead Memorial Hall was built as a tribute to the men and women who died or served their country in the First World War. The hall was opened in June 1922 by Vice Admiral A.F.B. Carpenter VC of Zeebrugge fame. The Sanderstead Hall Association was formed in 1923 to manage the hall. The hall is used as a facility for residents of Sanderstead and, subject to availability and proposed use, may be hired. It is used on a regular basis for various activities by several groups. These include:</p>
        <ul>
          <li>The Cavat School of Dance</li>
          <li>Castle Day Nursery</li>
          <li>Dog Training Class</li>
          <li>Beeches Badminton Club</li>
        </ul> 
        <p>The hall is managed on a daily basis by Caroline Hubbard and overseen by a small, volunteer committee who meet twice a year to review the management of the hall and any refurbishments necessary. We would like to see a few more volunteers join this small committee and continue the work of this facility in Sanderstead.</p>
        <p>If you are interested and would like to find out more please contact Caroline Hubbard on 07775 680087</p>


      <h3><a class="anchor" id="top" name="hall"></a>Trinity Mid-Whitgiftian Hall now available for hire</h3>
      <p>Now available for hire: The Clubhouse at Trinity Sanderstead Sports and Social Club is set in tranquil surroundings, overlooking playing fields at the end of Lime Meadow Avenue. With a large free car park and its proximity to bus routes, it is the perfect venue for classes and clubs, rehearsals, parties, wakes, sporting events and business meetings. If you are interested in hiring The Clubhouse for a function or a regular booking please call 07582 910094 or email <%= mail_to "admin@tsssc.co.uk" %></p>


      <h3><a class="anchor" id="top" name="scams" ></a>Read the latest Edition of "The little Book of Big Scams" </h3>
      <p>Produced by the Metropolitan Police, this book is vital reading for today's world. <%= link_to "Metropolitan Police Little Book of Big Scams", "http://www.met.police.uk/docs/little_book_scam.pdf" %></p>
     
      
      <!--<h3><a name="grave"></a>Medieval Gravestone discovered at All Saints</h3>
        <p>Builders working in All Saints churchyard have uncovered a medieval gravestone decorated with a celtic cross symbol.</p>
        <p>All Saints is currently undergoing building work to create level access into the church. Over the centuries the height of the ground outside the church has been raised, and there are now two deep steps down to get into the church.</p>
        <p>With disabled access in mind, the church council has recruited an architect to design a way of allowing level access for wheelchairs and those with walking difficulty to get into the church.<p>
        <p>The resulting design required a lowering of the path outside the church, and it was while builders were digging down that the gravestone was uncovered.</p>
        <p>The diocesan archaeologist was on hand to record the discovery and is very excited by the find. She said "I have never seen such a fine example of celtic art in this part of the country before!"</p>-->

    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
