<% provide(:title, 'News 3') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-12">
           	 <h3>Grants and Prizes presented at the Residents' Association AGM</h3>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "agm2015/agm1.jpg", alt: "Sanderstead Neighbourhood Care" %>
      <div class="carousel-caption">
        <h2>Sanderstead Neighbourhood Care</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "agm2015/agm2.jpg", alt: "Croydon Carers' Centre" %>
      <div class="carousel-caption">
        <h2>Croydon Carers' Centre</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "agm2015/agm3.jpg", alt: "Purley Beeches" %>
      <div class="carousel-caption">
        <h2>Friends of Purley Beeches</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "agm2015/agm4.jpg", alt: "Wettern Tree Gardens" %>
      <div class="carousel-caption">
        <h2>Friends of Wettern Tree Gardens</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "agm2015/agm5.jpg", alt: "Kingswood" %>
      <div class="carousel-caption">
        <h2>Friends of Kingswood</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "agm2015/agm6.jpg", alt: "Article for News" %>
      <div class="carousel-caption">
        <h2>Article for Sanderstead News</h2>
      </div>
    </div>
     <div class="item">
      <%= image_tag "agm2015/agm7.jpg", alt: "Scouting" %>
      <div class="carousel-caption">
        <h2>Girls Enjoy Scouting, 8th Purley Scout Group</h2>
      </div>
    </div>
     <div class="item">
      <%= image_tag "agm2015/agm8.jpg", alt: "Jamboree" %>
      <div class="carousel-caption">
        <h2>For World Scouting Jamboree</h2>
      </div>
    </div>
     <div class="item">
      <%= image_tag "agm2015/agm9.jpg", alt: "Hamsey Green" %>
      <div class="carousel-caption">
        <h2>2nd Hamsey Green Scout Group</h2>
      </div>
    </div>
     
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

          <b>Sanderstead Residents' Association AGM  14th May 2015</b>

<p>The Chairman Dennis King welcomed over 50 members of the SRA to the AGM which was also attended by Councillors Maria Gatland, Yvette Hopley and Tim Pollard.</p>

<p>Mike Leach, the Hon Secretary, in his report  highlighted the year's planning applications, where the Lidl scheme at Hamsey Green had on Appeal had been refused by the Planning Inspector, the demolition of two houses in Purley Downs Road  to be replaced with flats had also been refused, but there was concern that the new Labour Council controlled Planning Committee was approving back land development which had been previously refused. Three new notice boards are to replace the existing at Sanderstead and Hamsey Green.</p>

<p>John Kempsell, the Hon Treasurer reported on the Associations accounts which made a small surplus for 2014. Grants of £2700 had been made to local organisations in 2014 with a further £2975 to be presented later at the AGM.</p>

<p>All the Officers were re-elected with the welcome addition of new member Corrie Hibberd in the special capacity of Webmaster for the Association’s Website.</p>

</p>The enjoyable part of the Association’s AGM is always the presentation of grants to the various local organisations, particularly the uniformed youth groups.</p>

</p>A reward of a £25 voucher is always made to youngsters who write an article for the Sanderstead News.<p>
<ul>
<li>Issy Jordan, 
8th Sanderstead Brownies on the Brownies 100th birthday</li>

<li>Marcie and Phoebe, Girl scouts,
8th Purley Scout Group on "It's fun being a girl scout"</li>

<li>Mark Lord Patrol Leader  16th Purley Scout Group
£50 towards raising funds for himself and a scout from a poor country to attend the World Scout Jamboree in Japan in 2015.</li>

<li>2nd Hamsey Green Scout Group
Much needed repairs to the scout hut, £1500</li>

<li>Friends of Purley Beeches, £150 Start up fund</li>

<li>Friends of Kingswood, £200 for leaflet printing</li>

<li>Friends of Wettern Tree Gardens, £300 for rose planting</li>

<li>Sanderstead Neighbourhood Care, £500</li>

<li>Croydon Carers Centre, £200</li> 
</ul>

<b>Hear Me Speak</b>
<p>Cliff Quartly reported on "Hear Me Speak" the SRA sponsored competition for year 6 primary school children to give them confidence in public speaking. In 2014 three schools entered the competition which proved such a success that this year five schools will be entering teams this year.</p>

<p>The competition this year will be held at Gresham Primary School who will be presented with the new SRA "Hear Me Speak" Shield as last year's winners. The question is will they be able to retain it for the coming year? </p>

<p>The date for this year's competition is 18th June and should you wish to attend please contact Cliff Quartly, 020 8651 1164</p>

<b>The SRA Website</b>

<p>Corrie Hibberd demonstrated the website that she has designed for the SRA. The quality, ease of access and local Sanderstead information on its organisations and events impressed the members who applauded its author.</p>

<p>The Chairman thanked everybody for attending on such a wet evening, also the  Committee for their work over the year and his wife Maureen for her support.</p>

<p>The meeting concluded with refreshment. </p>    

           <p>If your organisation would like to apply for a grant from the Sanderstead Residents' Association, please visit the <%=link_to("about page", about_path) %> for more information.
           </div>
           	</div>
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>