<% provide(:title, 'News') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-4 col-xs-12 grey-column">
      <h2>News Headlines</h2>
      <ul>

        <h4>February 2021</h4>
        <li><h4><%= link_to "Census 2021", news_path(anchor: "census") %></h4></li>
        <li><h4><%= link_to "Alterations to Train services", news_path(anchor: "trains") %></h4></li>

        <h4>January 2021</h4>
        <li><h4><%= link_to "Application received re Library", news_path(anchor: "lib_app") %></h4></li>
        <li><h4><%= link_to "Consultation on closure of Sanderstead library", news_path(anchor: "lib_closure") %></h4></li>
        <li><h4><%= link_to "Questions re the library for Croydon Council", news_path(anchor: "libqs") %></h4></li>
        <li><h4><%= link_to "List of current planning applications", news_path(anchor: "list") %></h4></li>
        <li><h4><%= link_to "Beware text scam about covid vaccination", news_path(anchor: "vaccination") %></h4></li>
        
        <h4>December 2020</h4>      
        <li><h4><%= link_to "Selsdon Road Bridge Replacement", news_path(anchor: "selsdon_bridge") %></h4></li>
        <li><h4><%= link_to "Croydon's Renewal Plan", news_path(anchor: "renewal") %></h4></li>       

        <h4>November 2020</h4>
        <li><h4><%= link_to "Work on Selsdon Road rail bridge", news_path(anchor: "bridge") %></h4></li>
        <li><h4><%= link_to "Planning application for 11 The Windings", news_path(anchor: "windings") %></h4></li>
        <li><h4><%= link_to "Malcolm Saunders RIP", news_path(anchor: "malcolm") %></h4></li>
        <li><h4><%= link_to "Development of Garages to the rear of Elmfield Way", news_path(anchor: "elmfield") %></h4></li>
        <li><h4><%= link_to "Poppy appeal", news_path(anchor: "poppy") %></h4></li>
        <h4>October 2020</h4>
        <li><h4><%= link_to "Traffic restrictions around Ridgeway School", news_path(anchor: "ridgeway") %></h4></li>
        <li><h4><%= link_to "Planning application for 37 Kingswood Lane", news_path(anchor: "37kingswood") %></h4></li>
        <li><h4><%= link_to "Changes to parking charges", news_path(anchor: "parking") %></h4></li>
        <li><h4><%= link_to "Planning application for 56 West Hill", "https://publicaccess3.croydon.gov.uk/online-applications/centralDistribution.do?caseType=Application&keyVal=QH0FZRJLM2V00" %></h4></li>
        <li><h4><%= link_to "Update on traffic scheme around Ridgeway School", news_path(anchor: "ridgeway") %></h4></li>
       
        <li><h4><%= link_to "Sign the petition to save Purley Pool", news_path(anchor: "pool") %></h4></li>
        <li><h4><%= link_to "Planning for the future, a questionnaire", news_path(anchor: "future") %></h4></li>
        <h4>September 2020</h4>
        <li><h4><%= link_to "DEMOC petition handed in", news_path(anchor: "democ2") %></h4></li>
        <h4>August 2020</h4>       
        <li><h4><%= link_to "Planning application for 3-5 Harewood Gardens", news_path(anchor: "harewood") %></h4></li>
        <li><h4><%= link_to "TFL information about school travel", news_path(anchor: "school") %></h4></li>
        <li><h4><%= link_to "Neighbourhood Watch, Safety in Neighbours Campaign", "https://www.ourwatch.org.uk/get-involved/support-campaign/safety-neighbours-campaign" %></h4></li>
        <h4>July 2020</h4>
        <li><h4><%= link_to "Information about Library opening", news_path(anchor: "open_library") %></h4></li>
        <li><h4><%= link_to "Information about scams from Trading Standards", news_path(anchor: "trading") %></h4></li>
        <li><h4><%= link_to "Planning application for 85 Purley Downs Road", news_path(anchor: "purleydowns") %></h4></li>
         <li><h4><%= link_to "Planning application for 1 Sandhurst Way", news_path(anchor: "sandhurst") %></h4></li>
        <li><h4><%= link_to "Pointers for objecting to contentious planning applications by Councillor Tim Pollard", news2_path %></h4></li>
        <li><h4><%= link_to "Information re COVID-19 from our Councillors", news_path(anchor: "covid_info") %></h4></li>
        <li><h4><%= link_to "News from our Councillors", news_path(anchor: "other_news") %></h4></li>
        <li><h4><%= link_to "Urgent notice re COVID-19", news_path(anchor: "covid") %></h4></li>
        <li><h4><%= link_to "Planning application for 2-4 Addington Road", news_path(anchor: "addington") %></h4></li>
        <li><h4><%= link_to "Planning application in the Woodfields", news_path(anchor: "woodfields") %></h4></li>
        <li><h4><%= link_to "Deadline for Local plan consultation", news_path(anchor: "consultation2") %></h4></li>
        <li><h4><%= link_to "Friends of Purley Beeches response", news_path(anchor: "fopb") %></h4></li>
        <li><h4><%= link_to "Threat to Green Belt in Sanderstead", news_path(anchor: "consultation") %></h4></li>
        <li><h4><%= link_to "Democratically elected Mayor of Croydon", news_path(anchor: "democ") %></h4></li>
        <li><h4><%= link_to "Friends of Sanderstead Rec", news_path(anchor: "friends") %></h4></li>
        <li><h4><%= link_to "Confirmation that Sanderstead library remains open", news_path(anchor: "library") %></h4></li>
        <li><h4><%= link_to "Barrowsfield development given go ahead despite over 1,000 objections", "https://www.thisislocallondon.co.uk/news/17821934.croydon-sanderstead-flats-given-go-ahead-despite-1-000-objections/?ref=rss" %></h4></li>
        <li><h4><%= link_to "Objections to Barrowsfield development", news_path(anchor: "Barrowsfield3") %></h4></li>
        <li><h4><%= link_to "Revised proposal for Barrowsfield development", news_path(anchor: "barrowsfield2") %></h4></li>    
        <li><h4><%= link_to "Local Councillors raise 30K for Lily Pad appeal", news_path(anchor: "lily") %></h4></li>
        <li><h4><%= link_to "A Cherry tree for Sanderstead", news_path(anchor: "sakura") %></h4></li>
        <li><h4><%= link_to "MP Chris Philp calls for action against Croydon's planning blight", news_path(anchor: "petition") %></h4></li>
        <li><h4><%= link_to "Sanderstead LIbrary Poetry Competition", news_path(anchor: "poetry") %></h4></li>
        <li><h4><%= link_to "Red Box Project Collection", news_path(anchor: "redbox") %></h4></li>
        <li><h4><%= link_to "Planning application for 12 Ridge Way", news_path(anchor: "12ridgeway") %></h4></li>
        <li><h4><%= link_to "Croydon Advertiser reports residents' concern over Barrowsfield development", "https://www.croydonadvertiser.co.uk/news/new-sanderstead-flats-look-like-2274950", target: "_blank" %></h4></li>
        <li><h4><%= link_to "Consultation on change to 403 bus route", news_path(anchor: "bus") %></h4></li>
        <li><h4><%= link_to "Planning application for 33 flats next to Sanderstead Rec", news_path(anchor: "barrowsfield") %></h4></li>
        <li><h4><%= link_to "Latest on Sanderstead pond", news_path(anchor: "pondoct") %></h4></li>
        <li><h4><%= link_to "SRA questions the 20mph limit", news_path(anchor: "20mph") %></h4></li>
        <li><h4><%= link_to "Feeding the birds on Sanderstead pond", news_path(anchor: "pond") %></h4></li>
        <li><h4><%= link_to "New signs in king's Wood", news_path(anchor: "kingswood") %></h4></li>
        <li><h4><%= link_to "Sanderstead Memorial Hall needs more committee members", news_path(anchor: "memorial") %></h4></li>
        <li><h4><%= link_to "The South East Cancer Help Centre", news_path(anchor: "cancer") %></h4></li>
        <li><h4><%= link_to "The trees in our streets", news_path(anchor: "trees") %></h4></li>
        <li><h4><%= link_to "Support for legal action against Croydon Council planning dept", news_path(anchor: "norwood") %></h4></li>
        <li><h4><%= link_to "Points to consider if approached by a developer", news_path(anchor: "developer") %></h4></li>
        <li><h4><%= link_to "Trading Standards alert", anchor: "beware" %></h4></li>
        <li><h4><%= link_to "Keeping your memory strong", anchor: "memory" %></h4></li>
        <li><h4><%= link_to "Call blockers for people with dementia", anchor: "block" %></h4></li>
        <li><h4><%= link_to "Neighbourhood watch newsletter", "resource/CroydonEye_Autumn2017.pdf" %></h4></li>
        <li><h4><%= link_to "Residents form a group to fight proposed developments in the area", "http://www.croydonadvertiser.co.uk/news/croydon-news/sanderstead-group-protests-proposals-dozens-548410" %></h4></li>
        <li><h4><%= link_to "Changes to way Croydon Council advises residents about planning", anchor: "planning" %></h4></li>
        <li><h4><%= link_to "Police Action Fraud Website", police_path(anchor: "fraud") %></h4></li>
        <li><h4><%= link_to "Changes to urgent care services", news5_path %></h4></li>
        
        <li><h4><%= link_to "Neighbourhood Watch advice on scams", "http://cbnwa.com/wp/index.php/2017/02/23/information-network-bulletin-edition-4/" %></h4></li>
        <li><h4><%= link_to "Croydon Council Local Plan update", anchor: "local" %></h4></li>
        <li><h4><%= link_to "Sanderstead Memorial Hall", anchor: "memorial" %></h4></li>
        <li><h4><%= link_to "Hall for Hire", anchor: "hall" %></h4></li>
        <li><h4><%= link_to "Latest advice on scams from the police", anchor: "scams" %></h4></li>
        <li><h4><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h4></li>
        <li><h4><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h4></li>
        <li><h4><%= link_to "Local Police News Update", police_path(anchor: "update") %></h4></li>
      </ul>
    </div>

    <div class="col-md-8 col-xs-12 white-column">
      <h2>Local News Websites</h2>
      <h3><%= link_to "Croydon Council Planning pages", "https://new.croydon.gov.uk/planning-and-regeneration" %></h3>
      <h3><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h3>
        <h3><%= link_to "Local Councillors' blog", "https://www.croydonconservatives.com/sanderstead" %></h3>
        <h3><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h3>
       <h3><%= link_to "Local Police News", police_path %></h3>
       <h3><%= link_to "Information about the latest scams", "https://www.croydon.gov.uk/advice/tstandards/doorstep-crime/infonetwork" %></h3>

      <h2> News in Detail</h2>

      <h3>Feb 2021</h3>

      <h3><a class="anchor" id="top" name="census"></a>Census 2021 - Sunday 21 March</h3>
      <p>The census is coming. By taking part, you can help to inform decisions on services that shape your community, such as schools, doctors’ surgeries and bike lanes. It’s important you fill in your census questionnaire because the information you share affects the life of every single person living in England and Wales. Because these things matter to us all, everyone needs to complete the census. Do not worry, your information is protected by law. That means government officials dealing with payments or services you receive cannot see it.</p>
      <p>Census Day is Sunday 21 March. You can fill yours in online as soon as you get your access code in the post. If your household circumstances change on Census Day, you can let The Office for National Statistics (ONS) know.</p>
      <p>If you need help, you can visit www.census.gov.uk where there’s a wide range of support services available. There will also be help by phone to fill in your Census and if you need a paper copy they will be available by requesting one through the Contact Centre (the number will be in your letter).</p>
      <p><%= link_to "More information here", "resource/census21.pdf" %></p>


      <h3><a class="anchor" id="top" name="trains"></a>Train Service alterations</h3>
      <p>From Govia Thameslink Railway – Train Service Alterations from 22 February 2021</p>
      <p>Train services are being reduced to better match anticipated demand in the months ahead, and to ensure services are as reliable as possible at a time when colleagues may need to self-isolate or shield.</p>
      <p>The plan focuses on maintaining services earlier in the morning, later in the evening and at peak times, based on feedback from key workers and stakeholders. Train services will change across the network, so as always, it is important that customers check journeys at <%= link_to "www.nationalrail.co.uk", "http://www.nationalrail.co.uk" %> before travelling.</p>
      <p>A summary of the main changes from 22 February affecting Sanderstead:</p>
      <ul>
        <li>East Grinstead and London Victoria. The Southern service will operate as hourly throughout the day, with a half-hourly service to support peak time and school travel.</li>
        <li>Sanderstead passengers may consider alternative services from Purley Oaks station [0.3 miles]</li>
        <li>East Grinstead and Bedford. The peak-time-only Thameslink service from East Grinstead to Bedford will not operate.</li>
        <li>Purley Oaks and London Bridge. A reduced service will be provided at Purley Oaks and South Croydon. Purley Oaks passengers may wish to consider alternative services from Sanderstead station (0.3 miles).</li>
      </ul>

      <h3>Jan 2021</h3>

      <h3><a class="anchor" id="top" name="lib_app"></a>ACV application submitted for Sanderstead Library</h3>
      <p>The application to designate Sanderstead Library as an Asset of Community Value has now been received by Croydon Council. A big thank you to all members who responded with nominations for the above. The over 100 signatures received was well in excess of the minimum required for the submission to Croydon Council. Progress will be reported via this website.</p>

      <h3><a class="anchor" id="top" name="lib_closure"></a>SRA encourage residents to take part in the consultation regarding the closure of Sanderstead Library</a></h3>
      <p>The attached paper details the steps that Sanderstead Residents' Association are taking to combat the proposed closure of Sanderstead Library and indicates how all residents can effectively take part in the consultation. <%= link_to "Click here", "resource/SRA_library_closure_responses.pdf" %></p>

      <h3><a class="anchor" id="top" name="libqs"></a>Questions on the library for Croydon Council</h3>
      <p>Sanderstead Residents' Association have tabled a series of questions for Croydon Council about the use of Sanderstead library and the closure the proposal. <%= link_to "Read all the questions here", "resource/Library_Qs.pdf" %>.</p>


      <h3><a class="anchor" id="top" name="list"></a> <%= link_to "Download this list of the status of all the latest planning applications", "resource/SRAPlanningApplications_Feb21.pdf" %>.</h3>


      <h3><a class="anchor" id="top" name="vaccination"></a>Beware new phone scam about covid vaccination</h3>
      <p>There have been reports of a new scam where a person receives a text saying they need to book a vaccination appointment and it takes them to a fake NHS form which then asks for their bank details to prove their identity.</p>
      <p>The NHS will never ask for peoples banking information.</p>
      <p>There is a texting scam leaflet you can download here: <%= link_to "https://cfa.nhs.uk/resources/downloads/fraud-awareness/covid-19/COVID-19_SMS_and_Text_Message_Scams.pdf", "https://cfa.nhs.uk/resources/downloads/fraud-awareness/covid-19/COVID-19_SMS_and_Text_Message_Scams.pdf" %></p>
      <p>The scam has been reported in the media here: <%= link_to "https://www.express.co.uk/life-style/science-technology/1378158/NHS-Covid-19-Vaccination-Vaccine-Appointment-Pfizer-BioNTech-Text-Scam-How-To-Avoid", "https://www.express.co.uk/life-style/science-technology/1378158/NHS-Covid-19-Vaccination-Vaccine-Appointment-Pfizer-BioNTech-Text-Scam-How-To-Avoid" %></p>

      <h3>Dec 2020</h3>

      <h3><a class="anchor" id="top" name="selsdon_bridge"></a>Selsdon Road Bridge Works and diversions</h3>
      <p>Read the attached letter from Network Rail about the works on the Selsdon Road rail bridge over Christmas and diversions to bus services</p>
      <p><%= link_to "Rail Bridge Replacement works", "resource/Selsdon_Road_Bridge_Replacement.pdf" %></p>


      <h3><a class="anchor" id="top" name="renewal"></a>Croydon's Renewal Plan</h3>
      <p>Follow the link below to Croydon Council's website to take part in a survey about Croydon's savings proposals</p>
      <p><%= link_to "https://news.croydon.gov.uk/croydonrenewalplan/", "https://news.croydon.gov.uk/croydonrenewalplan/" %></p>

      <h3>Nov 2020</h3>

      <h3><a class="anchor" id="top" name="bridge"></a>Selsdon Road rail bridge</h3>
      <p><%= link_to "Click here", "resource/Selsdon_rail_bridge.pdf" %> for a letter giving information about the work on the Selsdon Road rail bridge, including details of a Zoom consultation on Monday 30 November.</p>

      

      <h3><a class="anchor" id="top" name="lights"></a>Christmas Lights</h3>
      <p>Sanderstead Residents Association together with the Concillors have contributed towards the new Christmas lights in Elmfield Way, in addition to the existing lights in Sanderstead village and Hamsey Green.</p>
      <p><%= image_tag "elmfield_lights_500.jpg" %>

      <h3><a class="anchor", id="top" name="windings"></a><%= link_to "Planning application for 11 The Windings", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=QJLDSKJLJYS00" %></h3>
      <p>An application has been submitted for a new build house on the site of 11 The Windings with access from Sanderstead Hill</p>
      <p>Application Number: 20/05832/FUL. Location: 11 The Windings, South Croydon, CR2 0HW. Details of Application: Erection of a 4 bedroom detached house and provision of two parking spaces. Creation of new access onto Sanderstead Hill.</p>

      <h3><a class="anchor" id="top" name="malcolm"></a>A tribute to Malcolm Saunders</h3>
      <p>It is with much regret that the SRA Committee have to inform you that a valued member of our executive passed away recently. Malcom Saunders joined the committee in 1995 for nine years and later re-joined in 2018. He quietly and efficiently assisted in many tasks. He will be sorely missed.</p>
      <p>Most recently Malcolm was a key person in our involvement with the DEMOC campaign and for many years has been involved with the Neighbourwood Watch. He was also a judge for our ‘Hear Me Speak’ competition for local schoolchildren.</p>
      <p>Malcolm was the key person in the Sandestead Millenium project in Sanderstead as he had the idea and vision to do something for Sanderstead to mark this occasion. As early as 1996 a public meeting was held and a committee formed. You only have to look around Sanderstead to see what was achieved: in the recreation ground the multi games court and children’s cycling track; the restored Sanderstead sign by the roundabout; the floodlighting of All Saints; Church; and local schoolchildren were given a commemorative mug.</p>
      <p>Malcolm was involved with many other committees and organisations giving his time to help the local community. When his eldest son was a cub he became involved with 16 th Purley Scout Group as transport officer looking after the scout van and he later became Fundraising Chairman in which capacity he organised several Gruffy Fayres, jumble sales, barn dances and old folks suppers.</p>
      <p>Our thoughts are with his family at this time.</p>


       <h3><a class="anchor" id="top" name="elmfield"></a>Development of garages to the rear of 31 - 49 Elmfield Way</h3>
       <p><%= link_to "Follow this link", "resource/Elmfield_Way.pdf" %> for information about a proposed development of garages to the rear of 31 - 49 Elmfield Way. Please sent any comments or queries to Brie Foster, Senior Planner, 8 Baltic Street, Clerkenwell, London, EC1Y 0UP. Tel 0203 002 7457, email peacockandsmith.co.uk.</p>



      <h3><a class="anchor" id="top" name="poppy"></a>Sanderstead's Poppy Appeal in 2020</h3>
      <p>Sanderstead Poppy Appeal 2020.</p>
      <p>Each year, Sanderstead's Poppy Appeal raises around £7k to support the valuable work performed by the Legion and for us to get our poppy as a sign of remembrance.  Unfortunately, due to Covid, we are very limited in what we can do in terms of distributing poppies and raising funds this year.  We are not allowed to collect at Waitrose and Sainsbury's (though I understand each of these companies are making sizeable donations instead).</p> 
      <p>We are not allowed to collect door to door. And our usual two week license to collect in person on the street is limited to just two days (Fri 6th Nov and Sat 7th Nov). We have secured a good stock of metal pin poppies and the usual paper poppies. And we have contactless machines for donations. We would love to enable you all to safely get your poppy again this year and for our village to try to make as much of a contribution to the fundraising in this difficult year. So, we will have a Poppy table with contactless machine at the following locations and times: </p>
      <ul>
        <li>Fri 6th Nov - 9am-noon - Sanderstead high street - corner of Limpsfield Rd/Cranleigh Grns opposite the rec</li>
        <li>Sat 7th Nov - 9am-noon - on green outside Elmfield Way shops </li>
        <li>Sat 7th Nov - noon-3pm - Sanderstead high street - corner of Limpsfield Rd/Cranleigh Grns opposite the rec</li>
        </ul>
        <p>These tables will be manned but at a distance. It will be self-service. You will help yourself and then you will be able to make a £2, £5 or £10 donation through the contactless poppy machine on the table. (of course, you can tap more than once if you wish). Grateful for your ongoing support. Fingers crossed we are back to normal for the Poppy Appeal in 2021.</p>

      <h3>Oct 2020</h3>

      <h3><a class="anchor" id="top" name="ridgeway"></a>Traffic restrictions around Ridgeway school</h3>
      <p>Traffic restrictions are now in place around Ridgeway School in Southcote Road. No entry for cars and motorbikes apart from residents between 8 and 9.30 am and 2 and 4 pm.</p>

      <h3><a class="anchor" id="top" name="37kingswood"></a>Planning application for 37 Kingswood Lane</h3>
      <p>Visit <%= link_to "the planning pages for details of this latest planning application", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=QI75D7JLHGC00" %></p>
      <p><%= link_to "More details here", "resource/37 Kingswood lane.pdf" %></p>

      <h3><a class="anchor" id="top" name="85pdr"></a>Planning permission refused for 85 Purley Downs Road</h3>
      <p>Demolition of existing house, erection of three storey building comprising nine flats, formation of vehicular access/access road and provision of associated parking and cycle storage - 85 Purley Downs Road South Croydon CR2 0RJ. Ref. No: 20/02354/FUL | Status: Permission Refused | Case Type: Planning Application</p>
      <p>Reasons for planning refusal: substandard accommodation, loss of trees, highways impact.</p>

      <h3><a class="anchor" id="top" name="parking"></a>Changes to parking charges</h3>
        <p>Croydon Council are proposing to bring in emission based parking charges for all Council pay-and-display carparks and on street pay-and-display bays. They also intend to revoke the 1 hour free display ticket parking at certain locations [such as Sanderstead Station Parade] and introduce a 2 hour maximum pay by phone emissions based charge. If the scheme is approved this year, the scheme would take effect from 1 January. For more information and to give your feedback, visit the council website: <%= link_to "https://wp.croydon.gov.uk/newsroom/consultation-on-greener-parking-charges/", "https://wp.croydon.gov.uk/newsroom/consultation-on-greener-parking-charges/" %></p>
        <p>All objections about these proposals to be submitted to Parking Division by e-mail: parking.design@croydon.gov.uk by 22 October 2020 quoting ref; PD/CH/K90.</p>

      <h3><a class="anchor" id="top" name="westhill"></a>Renewed planning application for 56 West Hill</h3>
      <p>56 West Hill is opposite 444 Selsdon Road which has already been approved. It is on an awkward junction of West Hill snd Selsdon Road. The application is submitted by the same developer as 1 Sandhurst Way (next door) which was recently refused but the developer will undoubtedly come back with another plan. <%= link_to "Find the details here", "https://publicaccess3.croydon.gov.uk/online-applications/centralDistribution.do?caseType=Application&keyVal=QH0FZRJLM2V00" %></p>

      <h3><a class="anchor" id="top" name="ridgeway"> </a>Update on traffic scheme around Ridgeway School</h3>
      <p>
<%= link_to "Read the latest information about traffic restrictions in Southcote Road by Ridgeway School.", "https://www.croydonconservatives.com/news/ridgeway-primary-school-street-scheme" %> </p>


      <h3><a class="anchor" id="top" name="future"></a>Planning for the future, a questionnaire</h3>
      <p>The Ministry of Housing, Communities & Local Government has issued a white paper consultation which has wide ranging proposals to reform the planning system to streamline and modernise the planning process, bring a new focus to design and sustainability, improve the system of developer contributions to infrastructure, and ensure more land is available for development where it is needed.</p>
      <p>It may be accessed at <%= link_to "https://www.gov.uk/government/consultations/planning-for-the-future", "https://www.gov.uk/government/consultations/planning-for-the-future" %> </p>
      <p>Sanderstead Residents Association is preparing a response to the questionnaire together with other Associations in the South of the Borough. HOWEVER, our response only counts as ‘one’. Every resident is encouraged, therefore to participate in the consultation process, please. The more responses submitted, the more chance the policy makers will listen.</p>
      <p><%= link_to "Read more...", "resource/Planning_for_the_future.pdf" %></p>

      <h3><a class="anchor" id="top" name="pool"></a>Save Purley Pool</h3>
      <p>MP Chris Philp has urges us to sign a petition to prevent the council from closing down Purley Pool.</p>
      <p>"Croydon council is currently refusing to re-open Purley Pool – despite several other council-run pools being re-opened already. They are giving no time frame to re-open it. Pools have been re-opened elsewhere in the Borough, but as usual with the council's Labour-run administration, we are being ignored. There are fears that this is a precursor to the council’s plans to close the pool permanently, as they tried to do a few years ago. Local residents, councillors and I successfully stopped the closure plans then, and we must re-start the campaign now."</p>
      <p>Sign the petition here: <%= link_to " https://www.surveymonkey.co.uk/r/SavePurleyPool", " https://www.surveymonkey.co.uk/r/SavePurleyPool" %></p>



      <h3>Sept 2020</h3>

      <h3><a class="anchor" id="top" name="democ2"></a>DEMOC petition handed into Town Hall</h3>
      <p>The Campaign for a Democratically Elected Mayor of Croydon “DEMOC” P O Box 3254, Purley,CR8 9ER <%= link_to "www.democ.org.uk", "http://www.democ.org.uk" %> info@democ.org.uk</p>

      <p>20,000 local residents urge Council to hold referendum for a directly elected Mayor of Croydon on 6 May next year.</p>
      <p>Today (3 September), a campaign led by local Residents' Associations and supported across the political spectrum, handed in a petition to Croydon Council with over 20,000 signatures – well in excess of what is legally required – to trigger a referendum for a directly elected Mayor for Croydon.</p>
      <p>The leaders of the campaign called on Croydon Council’s leadership to confirm the referendum would take place on 6 May next year, the same day as the London Mayor and Assembly elections are already due to be held.</p>
      <p>There are many good reasons why the people in Croydon want a directly Elected Mayor.  Underlying all of them is the belief that the current council system doesn't work for residents – whoever is in power, half the Borough is ignored because of Croydon’s specific political landscape where the North of the Borough votes Labour and the South of the Borough votes Conservative. The Council doesn’t listen and often doesn’t seem to care what large parts of the community think.</p>
      <p>The current Council's action in response to the 20,000 signatures on this petition, secured despite lost months from the Covid lock down, will be a good indicator of their approach to democracy and accountability. The current Council leader has stated his desire to delay the referendum for as long as possible, rather than making an argument to defend the current system and putting that to the people.</p>
      <p>Gerry Meredith-Smith, Chair of the DEMOC campaign said: “There is a desire for change in our Borough and a lot of momentum behind the idea of a referendum for a directly elected Mayor. Will the Council listen to the will of the people and go ahead with a referendum on May 6 next year? Will the Council now give people the choice over how their town is run and how those responsible are chosen by and accountable to the people?</p>
      <p>“Or will they hide behind Covid legislation, using it as an excuse to ignore what a large number of the people of Croydon now demand? Will they prioritise holding on to their current positions and allowances for a few more months, rather than giving the people the chance of a better system and a better future for our town?”</p>
      <p>Joanne Milligan, Vice Chair, Croydon South Labour Party, said: “This campaign is about what is best for democracy and best for Croydon – not which political party is in charge. Residents’ Associations, members of all political parties and of none, have come together to change the way local government in Croydon works – to boost accountability. </p>
      <p>“We want to change the system so that whichever political party the Mayor comes from, they have to listen to people right across the Borough from Norbury to Coulsdon and New Addington to Waddon.”</p>
      <p>Chris Philp, Conservative MP for Croydon South, said: “As the local Conservative MP, you would expect me to disagree with Croydon’s current Council on a wide range of issues – from their indiscriminate approach to granting planning permissions to the abject failure to deliver the regeneration of Croydon’s town centre; from the huge cost overrun on the Fairfield Halls refurbishment to the near bankruptcy of the borough’s finances.</p>
      <p>“But the root of many of these problems stems from the way the Town Hall works. A directly elected Mayor would dramatically increase the accountability of those who run our town locally.”</p>

      <h3>August 2020</h3>

      <h3><a class="anchor" id="top" name="harewood"></a>Planning application for 3-5 Harewood Gardens</h3>
      <p>Application Number: 20/03366/FUL, Location: 3 - 5 Harewood Gardens, South Croydon, CR2 9BU. Details of Application: Demolition of two family dwellinghouses and erection of 8x semi-detached houses with associated access, car parking, cycle and refuse storage. Note that 1 Harewood Gardens is currently attached to 3 Harewood Gardens which will be demolished. <%= link_to "Planning details", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=QE8KNZJLH3Q00" %></p>
      <h3><a class="anchor" id="top" name="school"></a>Information from TFL about school travel</h3>
      <p>I’m writing to let you know that we have today announced proposals to help schoolchildren travel safely and sustainably as they return to schools in September. Plans include additional buses and dedicated school services, a range of Streetspace measures and a comprehensive communication and engagement programme. <%= link_to "A link to the full press release is here", "https://tfl.gov.uk/info-for/media/press-releases/2020/august/tfl-urges-children-to-walk-cycle-and-scoot-to-school-to-help-children-safely-return-to-the-classroom" %>.</p>
      <p>We are encouraging parents, students and school staff to plan ahead, and to walk, cycle, scoot or use public transport for their journeys. While we are running a normal service on weekdays on public transport, social distancing reduces the number of people we can carry, so those who can are advised to travel during quiet off-peak times, and allow more time if travelling by bus during school travel times. </p>
      <p>We have worked closely with schools, London’s boroughs and the Government to prepare for the significant additional demand on a public transport network where capacity is reduced owing to social distancing measures.</p>
      <p>More than 3,000 schools have been advised on encouraging active travel, staggered start and end times and Government safe travel advice, with bespoke plans for those schools served by the busiest bus routes for school travel. <%= link_to "A new dedicated webpage", "https://tfl.gov.uk/reopeningeducation" %> for education providers gives the latest advice and useful resources for schools to encourage safe and sustainable travel among their pupils.</p>
      <p>We are also planning to add over 200 extra dedicated school buses onto some of the busiest low-frequency bus routes, including our existing school services, funded through an additional £5.8M grant from the Department for Education.</p>
      <p>We will be writing to all schools and customers with details of the affected bus routes once confirmed and we will keep you informed.</p>
      <p>In the meantime, we would appreciate your help in sharing this update on our plans widely via your borough’s communications channels and networks. This will help ensure your communities are aware of our plans to help young Londoners make safe and reliable journeys to and from school this September.</p>


      <h3><a class="anchor" id="top" name="insidecroydon"></a>Residents Associations reject Scott's concrete plans</h3>
      <p>"Inside Croydon" reports on an angry rejection of Croydon's planning Committee's housing plans by many of Croydon's Residents' Association, including the Sanderstead Residents' Associations. <%= link_to "Read the full article here", "https://insidecroydon.com/2020/07/17/residents-associations-angrily-reject-scotts-concrete-plans/" %></p>

      <h3><a class="anchor" id="top" name="FOSRGAGS"></a>Friends of Sanderstead Rec newsletter</h3>
      <p><%= link_to "Read the latest newsletter from the Friends of Sanderstead Recreation Ground and Green Spaces", "resource/FOSRGAGS_Newsletter_June2020.pdf" %></p>


      <h3><a class="anchor" id="top" name="open_library"></a>Information about library opening, July 2020</h3>
      <p>Currently, we will be operating a Select & Collect service from 20th July from, Central, Selsdon, Coulsdon, Ashburton and Thornton Heath</p>
      <p>We are, unfortunately, unable to offer a Select and Collect service from Sanderstead at the moment. We currently have reduced Libraries’ staff availability because they are supporting our shielding service. Once Libraries’ staff return to their normal duties we will review the opportunity to increase the Select and Collect service. In the meantime, the nearest Select & Collect service for Sanderstead Library members is Selsdon Library.</p>
      <p>For residents who are unable to travel because of covid-19, they are able to apply to join the Home Libraries Service, where books are delivered to the door of our most vulnerable members. Residents who are interested in joining this scheme can call 020 7884 5158, leave a message, and a Libraries colleague will call them back; or send an email to homelibraryservice@croydon.gov.uk.</p>

      <h3><a class="anchor" id="top" name="trading"></a><%= link_to "Latest Bulletin from Trading Standards with information about current scams", "resource/Trading_standards_bulletin0720.pdf" %></h3>

      <h3><a class="anchor" id="top" name="list"></a><%= link_to "List of all recent and current planning applications in the Sanderstead area", "resource/Planning_list_June2020.pdf" %></h3>
      <h3><a class="anchor" id="top" name="purleydowns"></a>Planning application for 85 Purley Downs Road</h3>
      <p>An application has been submitted for demolition of existing house, erection of three storey building comprising nine flats, formation of vehicular access/access road and provision of associated parking and cycle storage. Ref 20/02354/FUL <%= link_to "Croydon Council Planning link", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=QBCVVZJLJR000" %>. The closing date for neighbour consultation is 10 Jul 2020.</p>

      <h3><a class="anchor" id="top" name="sandhurst"></a>Planning Application for 1 Sandhurst Way</h3>
      <p>An application has been proposed for demolotion of one house at 1 Sandhurst Way, Sanderstead, and construction of a block of 13 self contained flats. The closing date for neighbour consultation about this plan is 28th June 2020. <%= link_to "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=Q6O0VKJLK0F00", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=Q6O0VKJLK0F00" %></p>
      <p>20/01061/OUT | Outline planning permission for the demolition of existing two storey detached dwellinghouse (including garages) and erection of a part three; part four storey building comprising 13 self-contained flats (4x3 bed, 8x2 bed and 1x1 bed); car parking; reinstatement of two vehicular crossovers along Sandhurst Way and new crossover along West Hill, cycle and refuse provision; hard and soft landscaping; communal/amenity/play space and external alterations (Access, Layout and Scale only). | 1 Sandhurst Way South Croydon CR2 0AH</p>

      <h3><a class="anchor" id="top" name="objecting"></a>How to object to a planning application</h3>
      <p>Councillor Tim Pollard has written the attached paper poiting out how to and how not to complain about contentious planning applications, with reference to the latest application to build a block of flats on Sanderstead Hill.</p>
      <p><%= link_to "Follow the link to our News 2 page for the full report", news2_path %></p>

      <h3><a class="anchor" id="top" name="covid_info"></a>Where you can get help during the coronavirus crisis - Information from our Councillors</h3>
      <p>Dear Resident</p>
      <p>We hope you're safe and keeping well in these difficult and frightening times. If you need any advice on Council services or help on any local issue we and the Council are here to help.</p>
      <p><ul>
        <li>The Council has the following information on its website</li>
      
        <p><%= link_to "https://www.croydon.gov.uk/healthsocial/phealth/coronavirus-information/covid-19-coronavirus", "https://www.croydon.gov.uk/healthsocial/phealth/coronavirus-information/covid-19-coronavirus" %> </p>
        <li>The government website can be found here</li>
        <p><%= link_to "https://www.gov.uk/coronavirus", "https://www.gov.uk/coronavirus" %></p>
        <li>The NHS Portal is here</li>
        <p><%= link_to "https://www.nhs.uk/conditions/coronavirus-covid-19/", "https://www.nhs.uk/conditions/coronavirus-covid-19/" %></p>
        <li>The main volunteering effort in Croydon is being coordinated via Croydon Voluntary Action, whose website is here</li>
        <p><%= link_to "https://cvalive.org.uk/", "https://cvalive.org.uk/" %> </p>
      </ul></p>
      <p>Sadly, our ward surgeries and street stalls will be cancelled until future notice.</p>
      <p>However, do please e-mail us on</p>
      <ul>
        <li>lynne.hale@croydon.gov.uk</li>
        <li>yvette.hopley@croydon.gov.uk</li>
        <li>councillor@timpollard.co.uk</li>
      </ul>
      <p>Or alternatively, we can arrange a video call if you need to discuss something face to face. Please e-mail Tim to arrange this.</p>
      <p>Do please stay safe during these difficult times. Many neighbours are coming together and looking after one another which is wonderful. Sadly, there are some scammers out there – so be careful.</p>

      <h3><a class="anchor" id="top" name="other_news"></a>News from our Councillors</h3>
      <p>The continued attack on the character of the Sanderstead area continues with a number of planning applications lodged with the Council. These include blocks of flats at 56 West Hill, 28 The Woodfields, 89 Hyde Road, Red Gables, 34 Flats in Beech Avenue and a really incongruous 20 flat block at 2-4 Addington Road. We have 'referred' all these to the Planning Committee, which means they must be determined by committee in public, rather than decided by council officers behind closed doors.</p>
      <p>Sadly this referral process isn't making much difference to outcomes. We are seeing applications for blocks of flats replacing family homes all across the south of the borough: recently three such applications in nearby Croham Valley Road were granted by the Labour dominated committee in one meeting. None of the reasonable objections of residents, ward councillors and Conservative committee members were considered.</p>
      <p>We have also noticed a trend for developers to build out consented developments without much regard to the plans. One of the worst offenders is 4 Rectory Park, which has been subject to many applications over the last few years. Now it is is built it is clear that it is in the wrong place, built too high and with numerous other divergences from the consented scheme. </p>
      <p>Since the Community Ward Budget was introduced some years ago we have committed to support local residents and groups that make a difference in our community.</p>
      <p>This year we have been delighted to support many groups and projects including</p>
      <ul>
        <li>The South East Cancer Help Centre, to assist more people diagnosed with cancer in a non-clinical way through support groups, therapies and counselling</li>
        <li>Helping in the renewal of stage lighting for Sanderstead Dramatic Group</li>
        <li>Sponsorship of a therapy room at the Wellness Centre, The Whitgift Centre</li>
        <li>New tables for the 2nd Hamsey Green Scout Group</li>
        <li>Christmas lights for the Sanderstead area</li>
        <li>Support for Croydon Accessible Transport (CATS). The Charity provides accessible transport to people with mobility needs across the Borough of Croydon</li>
        <li>Support for Purley & Kenley Churches Together Food Hub and Sanderstead Neighbourhood Care</li>
      </ul>
      <p>These are just some of the highlights of the many schemes that we have helped. For our latest news you can visit:  www.croydonconservatives.com/sanderstead. Telephone queries to: 020 8660 0491 (24 hour answerphone). We don’t know when we can get back to being out-and-about in the community, but in the meantime stay safe.</p>


      <h3><a class="anchor" id="top" name="covid"></a>Urgent notice re COVID-19</h3>
      <p>In line with Public Health guidance it is likely that many of the events listed in the Sanderstead News magazine will either be cancelled or postponed. It is most certainly likely that both the AGM and the VE Day celebrations will not take place on the days stated. We will endeavour to reschedule these events once we feel it is safe to do so and will carefully follow government announcements and processes to protect our members.</p>
      <p>We can keep our website up-to-date with information and if a friend or family member doesn’t have the internet maybe you can help keep them informed.  We will also put up notices on the Sanderstead Residents’ Association noticeboard once we have any confirmed dates.</p>
      <p>We are working closely with our local councillors Lynne Hale, Yvette Hopley and Tim Pollard and a co-ordinated approach is being formed with local neighbourhood care organisations, centres and Rotary to support residents at this difficult time.</p>
      <p>We will be match funding the donations made by the local councillors to Sanderstead Neighbourhood Care and the Purley Food Hub to try to help with this crisis and of course our phone lines remain open.</p>
      <p>I apologise for any inconvenience this may cause, but hope you understand that we are experiencing exceptional circumstances whilst the world tries to cope with this pandemic.</p>
      <p>In the meantime, keep safe and thank you for your continued support of the Association.</p>
      <p>Yours sincerely,</p>
      <p>Dennis King, Chairman</p>


      <h3><a class="anchor" id="top" name="addington"></a>Planning application for 2 - 4 Addington Road</h3>
      <p>A planning application has been submitted for 2 - 4 Addington Road, to demolish 2 family homes and build a five story block of 20 apartments. Comments and objections need to be submitted by Thursday 19th March on the  <%= link_to "Croydon Council Planning site", "http://publicaccess2.croydon.gov.uk/online-applications/" %>, reference 20/00107/FUL</p>

      <h3><a class="anchor" id="top" name="woodfields"></a>Planning application for 28 The Woodfields</h3>
      <p>A planning application has been submitted for 28 The Woodfields, to demolish the existing family home and build a block including 9 flats. Full details can be found on the <%= link_to "Croydon Council Planning site", "http://publicaccess2.croydon.gov.uk/online-applications/" %>,  reference 19/03984/FUL. Comments on this proposal must be received by 12th March 2020.</p>

      <h3><a class="anchor" id="top" name="consultation2"></a>Deadline for consultation on local plan extended to 20th January</h3>
      <p>Croydon Council have released details of their 2019 Croydon Local Plan Review which outlines three options to deliver an additional 46,040 homes within the borough between now and 2039.</p>
      <p>The consultation documents can be viewed at: <%= link_to "https://www.croydon.gov.uk/planningandregeneration/framework/localplan/croydon-local-plan-review", "https://www.croydon.gov.uk/planningandregeneration/framework/localplan/croydon-local-plan-review" %>. Please carefully consider all the options below and make sure you express any concerns or opinions by engaging with the consultation before the <b>closing date of 20 January 2020</b></p>
      <p>The detailed documents comprise a very substantial package of information with various policies and proposals amongst numerous pages of text. To assist with extracting the key issues having a direct impact on Sanderstead and neighbouring areas, we have summarised the points below.</p>
      <p>The three principal options are:
        <ul>
          <li>Option 1: All residential growth to take place in the existing urban and brownfield areas.  This would have an impact on some areas in the north of Sanderstead which would see focussed intensification in areas with better access to public transport.</li>
          <li>Option 2:  Major redevelopment of the Purley Way area to provide up to 12,000 new homes including major infrastructure works.  This will ease some pressure for residential growth within existing suburban areas.</li>
          <li>Option 3: Release of Green Belt land for residential development to reduce pressure for residential growth within the existing suburban area.  The existing Green Belt farmland bounded by Mitchley Hill, Rectory Park and Borrowdale Drive is identified for release to allow up to 780 new homes to be built on the site.</li>
        </ul>
      </p>
      <p>Sanderstead has one of the lowest Public Transport Accessibility Levels (PTAL) within London adding stress to existing services whilst TFL current plans indicate there are no proposals for any improvements.</p>
      <p>Green Belt is recognised as an intrinsic fundamental benefit to prevent urban sprawl and provide health and ecological benefits to communities.  It must be protected and attempts to remove its protection should be resisted.  If some areas of Green Belt are released it is likely there will be future pressure for more to be re-designated and built upon.</p>
      <p>In addition to the above options, the following sites have been proposed for future development:
        <ol>
          <li>Sanderstead Recreation Ground, Limpsfield Road:  Proposal to take a substantial part of the Green Belt community parkland to extend Gresham Primary School.</li>
          <li>2 Red Gables, Beech Avenue: Residential development for up to 47 new homes.</li>
          <li>Waitrose:  Mixed residential and retail development subject to impact on designated views for up to 54 homes.</li>
          <li>The Good Companions site, Tithepit Shaw Lane: Mixed residential and retail use for up to 24 new homes</li>
        </ol>
      </p>
      <p>We have summarised below five relevant documents:
        <ol>
          <li>National Planning Policy Framework 2019 (Chapter 13, paras 133 to 147): The fundamental aim of Green Belt policy is to prevent urban sprawl by keeping land permanently open; the essential characteristics of Green Belts are their openness and their permanence.  Once established, Green Belt boundaries should only be altered where exceptional circumstances are fully evidenced and justified. For exceptional circumstances to exist to justify changes to Green Belt boundaries, Croydon Council would need to demonstrate that it has examined fully all other reasonable options for meeting its identified need for development, including making as much use as possible of suitable brownfield sites and underutilised land and promoting a significant uplift in minimum density standards in town centres and other locations well served by public transport.</li>
          <li>Croydon Site Appraisal: Croydon Green Belt and Metropolitan Open Land Study –Technical Note Nov 2019 states that development of the Mitchley Hill/Rectory Park/Borrowdale Drive Green Belt is judged to result in Moderate to Significant degree of harm to the Green Belt, reflecting the clear loss of openness on a visually sensitive slope.</li>
          <li>Croydon Site Appraisal: Croydon Green Belt & Metropolitan Open Land Study Appendix A - Parcel Survey Proformas, Nov 2019 concludes that Sanderstead Recreation Ground is of local importance in respect of providing character, openness and facilities within Sanderstead.</li>
          <li>The 2019 Draft New London Plan: Policy G2 (London’s Green Belt) states that ‘The Green Belt should be protected from inappropriate development: 1) development proposals that would harm the Green Belt should be refused and 2) the enhancement of the Green Belt to provide appropriate multi-functional beneficial uses for Londoners should be supported.  The extension of the Green Belt will be supported, where appropriate.  Its de-designation will not be supported.</li>
          <li>Croydon Brownfield Land Register: (updated in December 2018) It identifies potential capacity for 5,756 dwellings on previously developed sites in the Borough which do not currently have planning permission and capacity for a further 5480 dwellings on sites which have already been granted either full or outline permission, or where permission is pending (Scoping report for the Croydon Local Plan Sustainability Appraisal Nov 2019).</li>
        </ol>
      </p>
      <p>Please carefully consider all the above options and make sure you express any concerns or opinions by engaging with the consultation before the closing date of 20 January 2020</p>
      <p><%= link_to "This paper can be downloaded here", "resource/Local_plan_consultation_jan2020.pdf" %>.</p>
      <p>Online: <%= link_to "https://www.croydon.gov.uk/planningandregeneration/framework/localplan/croydon-local-plan-review", "https://www.croydon.gov.uk/planningandregeneration/framework/localplan/croydon-local-plan-review" %></p>
      <p>Email:  ldf@croydon.gov.uk</p>
      <p>Post: Spatial Planning, Bernard Weatherill House, Zone 6B, 8 Mint Walk, Croydon CR0 1EA</p>

      <h3><a class="anchor" id="top" name="fopb"></a>Friends of Purley Beeches response to the threat to Green Belt land in Sanderstead</h3>
      <p>Friends of Purley Beeches have produced a detailed response to the threat to Green Belt land in Sanderstead. <%= link_to "Read the document here", "resource/fopb_green_spaces_submission.pdf" %></p>

      <h3><a class="anchor" id="top" name="consultation"></a>Threat to Green Belt land in Sanderstead</h3>
      <p>According to papers that went to Croydon Council’s Cabinet meeting on 21 October, the Council is considering the option of de-designating areas of Green Belt, i.e. removing Green Belt status so the land can be developed for housing. This includes the triangle of land between Rectory Park, Mitchley Avenue and Sanderstead Rec.</p>
      <p>Croydon council has a public consultation on the plan which runs from 8 November to 13 January 2020. <%= link_to "Full details can be found here", "https://www.croydon.gov.uk/planningandregeneration/framework/localplan/croydon-local-plan-review?utm_campaign=redirect&utm_medium=alias&utm_source=localplanconsultation" %></p>
      <p>There will be a series of street stalls. <%= link_to "Details can be found here", "https://wp.croydon.gov.uk/newsroom/consultation-on-croydons-local-plan-review-begins/" %>.</p>

      <h3><a class="anchor" id="top" name="democ"></a>Democratically elected Mayor of Croydon</h3>
      <p>Croydon South MP, Chris Philp has written in support of a change in governance to include a democratically elected Mayor of Croydon. This is the text of his letter:</p>
      <p>"Dear All,</p>
      <p>Many of us are in despair at the way Croydon Council’s planning committee is granting almost every planning application that comes before it – especially destroying family homes and replacing them with blocks of flats. Neighbouring councils Bromley and Sutton do not do this, and there is nothing in national planning policy that means Croydon has to.</p>
      <p>Of course we need more homes for young people – but new flats should be build in town centres and brownfield sites. Destroying family homes, as Croydon is choosing to do, means that there will not be enough homes for future families and it is in danger of changing the character of the neighbourhood.</p>
      <p>I totally oppose what the council is doing. So do Residents Associations and thousands of residents. Residents Associations, local councillors, people living here and I have all tried so hard to make the council listen over the last few years. I have arranged petitions, personally objected to dozens of the worst applications, we have organised demonstrations at the Town Hall and I have met with the council leader repeatedly to plead the case.
      <p>But the Labour-run council just ignores us, time after time. They do this because they can keep control of the Town Hall based on just a few marginal seats (called Wards) in the centre of the Borough. So they ignore everyone else, including our area. There is only one way left to fix this.</p>
      <p>A group of Residents Associations from across the Borough wants to fix this by changing the way Croydon is run to a Directly Elected Executive Mayor – where we directly elect an executive mayor. This means all our votes would count equally wherever they are cast, and whoever runs the Town Hall will have to listen to everyone across the Borough if they want to win. If about 14,000 signatures are collected, the council legally has to hold a referendum on adopting a Directly Elected Mayor. If the referendum is positive, then the council is obliged to implement a Directly Elected Mayor. Four London Boroughs have done this already. It would work like a mini Mayor of London, but for Croydon.</p>
      <p>I am fully supporting this campaign – because changing the way Croydon is run is the only way to make the Town Hall listen to us. Please go the Residents Group’s website and donate to their campaign and/or download their petition sheet (it has to be done on paper). When you have downloaded the petition sheet, please get as many of your neighbours to sign as possible and post it back to the campaign at the address they give.</p>
      <p>Donate here: <%= link_to "http://www.democ.org.uk/about-us/make-a-donation","http://www.democ.org.uk/about-us/make-a-donation" %>  </p>
      <p>Download the petition forms here: <%= link_to "http://www.democ.org.uk/sign-petition", "http://www.democ.org.uk/sign-petition" %></p>
      <p>We are all sick of being ignored by the council and watching them ram through planning applications against residents wishes virtually every week. This is now the only way to stop the council doing this. Please join me in supporting the Residents Association’s campaign. This is really important because otherwise the Council will just keep on ignoring us all.</p>
      <p>Best wishes,</p>
      <p>Chris"</p>


      <h3><a class="anchor" id="top" name="friends"></a>Friends of Sanderstead Rec</h3>
      <p>A new group is being formed - The Friends of Sanderstead Rec and other green spaces. They have produced a consultation paper to give local residents a chance to have a say in how they would like to improve the park. The online form is available to complete, but is only available until 15th October 2019. <%= link_to "Follow this link to view the form", "https://docs.google.com/forms/d/e/1FAIpQLSfw2ch_AOKUJ_mEPQ7TLnyt0qc9ZFPY0UuGfNRqAuHzEqfp1A/viewform" %>.</p>

      <h3><a class="anchor" id="top" name="bridge"></a>Sanderstead Road rail bridge</h3>
      <p>Renewal of the Sanderstead Rd Rail Bridge, South Croydon</p>
      <p>This road closure to replace the main rail bridge in Sanderstead Rd by the Recreation Ground (between Broomhall Rd and Purley Rd/Wyche Grove) could have an impact on Sanderstead residents. Especially for those who drive along this part of Sanderstead Rd to gain access to and from the Brighton Rd and also pedestrians who wish to gain access to the Parkside Doctors Practice in Wyche Grove and the shops in Brighton Rd.</p>
      <p><%= link_to "This is a letter that Network Rail have issued giving the timetable for the works on page 2", "http://riddlesdownresidents.org.uk/Sanderstead%20Road%20Bridge%20Reconstruction%20Residents%20Letter%2002.pdf" %>.</p>
      <p>The works are planned to come into effect from 18 September 2019 and if all goes to plan will last for 4 months, until 27 January 2020. There will be road and footway closures but these will only apply at times when the work is in operation. This bridge is on the main London to Brighton/south coast/Gatwick rail link/, so these works will therefore have an impact on the train timetable between London and Brighton/south coast/Gatwick. <%= link_to "This is the link for Network Rail’s planned engineering works", "https://www.southernrailway.com/travel-information/plan-your-journey/planned-engineering-work" %>. Click on the date of travelling.</p>
      <h3><a class="anchor" if="top" name="library"></a>Sanderstead Library</h3>
      <p>The Sanderstead Residents' Association has received confirmation that there are no plans to close Sanderstead library.</p>
      <p>"Dear Chairman and Secretary,</p>
      <p>... I can confirm that no Croydon libraries will be closed in the borough. Indeed, rather than slashing £800k from the budget and farming our libraries out to a private company like the previous administration, we are committed to our libraries and are investing £5m in them.</p>
      <p>I was pleased to open our first refurbished library at Selsdon in August. I would like to invite you both to see it for yourselves, if you have not already been. I look forward to further improvements at all our libraries in the borough over the next few years.</p>
      <p>Best regards, Oliver</p>
      <p>Oliver Lewis</p>
      <p>Councillor for New Addington South</p>
      <p>Cabinet Member for Culture, Leisure & Sport"</p>
      <h3><a class="anchor" id="top" name="barrowsfield3"></a>Objections to Barrowsfield development</h3>
      <p>Councillor Lynne Hale has written the letter below, listing her objections to the proposed development.</p>
      <p>Re: 18/05157/FUL – 2-5 Barrowsfield South Croydon CR2 9BZ</p>
      <p>Demolition of existing buildings and erection of 4/5 storey building comprising 33 self-contained flats (5 x one bed, 14 x two bed and 14 x three bed), vehicular access on Limpsfield Road, 26 car parking spaces (including two disabled car parking spaces), integral cycle store for 64 cycles, integral bin storage, hard and soft landscaping, boundary treatment and communal amenity space at roof level.</p>
      <p>Further to previous correspondence I am writing to let you have a further update regarding the awful Barrowsfield planning application.</p>
      <p>The applicant has lodged a number of amendments in relation to their scheme for a large block of flats next to Sanderstead Recreation Ground. The full details can be seen via the following link:</p>
      <p><%= link_to "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=makeComment&keyVal=PH065PJLFOH00", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=makeComment&keyVal=PH065PJLFOH00" %></p>
      </p>Points which can be used to lodge further objections include the following:</p>
      <ul>
        <li>The amendments, taken collectively, amount to a major material change and a new submission should have been required. 22 new documents have been uploaded, each requiring review and a period of 14 days to comment is not reasonable.</li>
        <li>Notwithstanding the above, the proposal provides poor quality accommodation and should be refused. It fails to meet policy on a large number of issues and, furthermore, the applicant has not addressed planning officer concerns with the pre-application responses</li>
        <li>Height, massing and design are out of character and context</li>
        <li>Density is too high and contrary to guidance</li>
        <li>Over 50% are single aspect flats</li>
        <li>Loss of two properties below 130 sqm</li>
        <li>Inadequate cycle, mobility scooter and electric cycle storage</li>
        <li>Loss of amenity to existing residents of Barrowsfield and inadequate perimeter treatment</li>
        <li>Over development of the building footprint and car parking to cover 90% of the site</li>
        <li>Inadequate landscaping</li>
        <li>Proposed building line does not reflect the established building line</li>
        <li>Unsafe rooftop children’s play area</li>
        <li>Inadequate car parking which will negatively impact local businesses and residents</li>
        <li>Poor quality design with no architectural merit; completely at odds with its proposed Sanderstead Village location immediately adjacent to the open green space of Sanderstead Recreation Ground</li>
      </ul>

        <p>In summary, this application fails to meet the Croydon Local Plan 2018 policy standards and should be refused.</p>
        <p>Please do take a few minutes to lodge any concerns which you have in relation to the amendments – comments need to be submitted by 19th July. You can use the following link:</p>
        <p><%= link_to "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=makeComment&keyVal=PH065PJLFOH00", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=makeComment&keyVal=PH065PJLFOH00" %></p>
        <p>Thank you and kind regards</p>
        <p>Cllr Lynne Hale</p>

      <h3><a class="anchor" id="top" name="barrowsfield2"></a>Revised proposal for Barrowsfield development</h3>
      <p>Many residents have been horrified by the proposal to construct a block of flats on the edge of Sanderstead Rec. Councillor Lynne Hale has referred the application to committee and has been leading on it for the Sanderstead ward team. Now amendments have been received to the scheme, as outlined in the email the ward team received below.</p>
      <p>18/05157/FUL 2-5 Barrowsfield, South Croydon, CR2 9BZ</p>
      <p>Demolition of existing buildings and erection of 4/5 storey building comprising 33 self-contained flats (5 x one bed, 14 x two bed and 14 x three bed), vehicular access on Limpsfield Road, 26 car parking spaces (including two disabled car parking spaces), integral cycle store for 64 cycles, integral bin storage, hard and soft landscaping, boundary treatment and communal amenity space at roof level.</p>
      <p>Amended plans have been received for this application. The main alterations to the scheme are as follows:
        <ul>
          <li>Alteration of top floor to a mansard  roof form</li>
          <li>Balconies recessed into the building envelope</li>
          <li>Alteration to appearance of entrances</li>
          <li>Inclusion of roof top children’s play space</li>
          <li>Removal of entrance into Sanderstead Recreation Ground</li>
          <li>Additional lift within the second staircore</li>
          <li>Additional entrance to the car park</li>
          <li>Addendum to Transport Assessment</li>
        </ul>
      </p>
      <p>The plans can be viewed on the application file on the website. Any comments on the amended proposal by 19th July 2019.</p>
      <p>You can view the revised plans following <%= link_to "this link", "https://publicaccess3.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=relatedCases&keyVal=PH065PJLFOH00" %>.


      <h3><a class="anchor" id="top" name="lily"></a>Local Councillors raise 30k for Lily Pad appeal</h3>
      <p>Croydon Conservatives help fight child cancer in the Borough. Local councillors have made a £30,000 donation toward a new Oncology Unit at CUH.</p>
      <p>From Coulsdon to Crystal Palace, people across Croydon are passionate about taking the fight to child cancer. That’s why, Croydon’s Conservative group of Councillors has pooled together money from their community ward budgets in order to donate £30,000 to the Chartwell Cancer Trust’s Lily Pad Appeal. The Chartwell Cancer Trust supports cancer patients – adults and children – across South London and Kent.  Recently, the trust has launched the ‘Lily Pad’ appeal in a bid to raise £750,000 to build a new and modernised Oncology Unit at Croydon University Hospital.  The donation from the Croydon Conservatives group will help fund a brand-new play area to provide moments of respite for young patients.</p>
      <p>Inspired by the great work of the Trust, Croydon Conservatives have thrown themselves into wider fundraising activities to help secure the necessary cash. On the 5th May, a team of councillors will take part in a 5K walk in Lloyd Park and are encouraging community members to sponsor them as they do their best to stumble through one of Croydon’s most beautiful green spaces.</p>
      <p>You can sponsor the Croydon Conservatives Councillor team by visiting their Virgin Money sponsorship page: <%= link_to "https://uk.virginmoneygiving.com/CroydonConservatives", "https://uk.virginmoneygiving.com/CroydonConservatives" %></p>
      <p><%= image_tag "CUH_Donation.jpg", alt: "Conservatives donate to Cancer appeal" %>




      <h3><a class="anchor" id="top" name="sakura"></a>A Cherry Tree from Japan for Sanderstead</h3>
      <p>The Ambassador of the Embassy of Japan has introduced the Sakura Cherry Tree Project, a UK-wide project distributing Japanese cherry trees to publicly accessible spaces across the UK. One of the prospective sites is the 'Sanderstead Recreational Ground'. The Sanderstead Residents Association  and local councillors are meeting with officers at the council to look at how they can take this project forward at Sanderstead Recreation Ground. <%= link_to "Letter to MPs from the Japanese Embassy", "resource/Cherry_Tree_project .pdf" %>.


      <h3><a class="anchor" id="top" name="petition"></a>MP Chris Philp campaigns to stop Croydon's planning blight</h3>
      <p>MP Chris Philp raises concerns about Croydon Council's planning decisions and asks us to join him.</p>
      <p>"For some time, Croydon’s Labour-run council has been granting planning permissions indiscriminately. Over 90% of all applications are getting approved by the Planning Committee. In particular, they are routinely allowing family housing to be destroyed and replaced with small blocks of flats. Neighbouring Boroughs Bromley and Sutton do not allow this. We do need more homes, but blocks of flats should go on brownfield sites and in Croydon town centre. Buildings like the old Royal Mail building next to East Croydon station are derelict, and you could build hundreds of flats on that site. The council would then have no reason to destroy houses in suburban areas, which changes the character of the area and removes much-needed homes for families. They should not destroy any family homes until all the brownfield sites in the Borough have been used – which we are at least 10 years away from doing. It is time for the council to stop destroying family homes and pursue a Brownfield First policy.</p>
      <p>One way to make planning decisions more accountable would be to have local “Area Planning Committees” where you divide Croydon up into three areas (say, north, central and south) and only councillors that area sit on its planning committee and decide for smaller applications – say less than 50 units – in that area. At the moment, councillors from distant parts of Croydon who do not understand our area decide applications in our neighbourhood – often imposing very bad schemes. Many other councils including the London Boroughs of Kingston and Barnet, and Wiltshire and Durham amongst others have Area Planning Committees. Croydon should have Area Planning Committees too.</p>
      <p>It is time for us to stand up to the council on behalf of residents across the Borough and demand change. Please join me as our local MP by taking the following steps:</p>
      <ol>
        <li>Sign a petition here calling for the council to stop destroying family homes (instead pursuing a “Brownfield First” policy) and calling for Area Panning Committees: <%= link_to "www.surveymonkey.co.uk/r/CroydonPlanning", "http://www.surveymonkey.co.uk/r/CroydonPlanning" %></li>
        <li>There is currently a review of Croydon Council’s Governance run by Dame Moira Gibb. Please email her directly explaining your views about how the council currently handles planning applications (i.e. often ignores residents etc) and asking Dame Moira to recommend Area Planning Committees in Croydon. Her email address is: moira.gibb@crinanhoward.com. Please do cc me.</li>
        <li>Tell the people responsible for planning in Croydon how angry we are about what they are doing. Email them directly at:</li>
        <ul>
          <li>Leader of the Council, Cllr Tony Newman (Labour): tony.newman@croydon.gov.uk</li>
          <li>Chair of the Planning Committee, Cllr Toni Letts (Labour): toni.letts@croydon.gov.uk</li>
        </ul>Do cc me as well.
        <li>Attend a demonstration at the Full council meeting on the steps of the Town Hall on Monday 1st April from 600pm-630pm and then the council meeting afterwards in the public gallery of the Council Chamber. From around 830pm onwards planning will be debated and Area Planning Committees will be proposed and voted on. The Town Hall address is: Town Hall, Katherine Street, Croydon CR0 1NX</li>
      </ol>
      <p>What the council is doing is totally unacceptable. Please join this campaign to stop them."</p>

      <h3><a class="anchor" id="top" name="poetry"></a><%= link_to "Sanderstead Library Poetry Competition", "resource/Sanderstead_poetry_2019.pdf" %></h3>
      <p>The theme for our poetry competition is "Fantastic Beasts and Animals".  Enter the following age categories 6-8, 9-11, 12-16 and adults. Please pick up an entry form from the library. All entries must be handed in to the library by Saturday 13 April 2019. The winning entry from each age category will receive a voucher donated by Sanderstead Residents Association.</p>


      <h3><a class="anchor" id="top" name="redbox"></a>Red Box Project</h3>
      <p>The Red Box Project is a project that is trying to end period poverty by collecting sanitary products that are distributed to local schools as a way to help girls who are unable to attend school during their period as they can't access sanitary products. From Sunday 3 February they began a collection at St Mary's Church, Purley Oaks Road, Sanderstead CR2 0NY.</p>
      <p>If anyone would like to drop off donations the best time would be Thursdays 10.45-12.00 or Sundays 11.00-12.00.</p>
      <p>If anyone would like to donate money the easiest way is via their Just Giving page on <%= link_to "www.justgiving.com/crowdfunding/theredboxprojectcroydon", "https://www.justgiving.com/crowdfunding/theredboxprojectcroydon" %></p>
      <p>For more information see the facebook page for the Red Box Project in Croydon: <%= link_to "www.facebook.com/redboxprojectcroydoncity/", "https://www.facebook.com/redboxprojectcroydoncity/" %>. Or the website on <%= link_to "http://redboxproject.org/", "http://redboxproject.org/" %></p>

      <h3><a class="anchor" id="top" name="clinic"></a>Sanderstead Clinic</h3>
      <p>Re SANDERSTEAD CLINIC. Official statement</p>
      <p>We continually review our estate to make the best use of all of our premises to provide the best, most accessible and most efficient service we can to our patients.  There are no agreed plans to close Sanderstead Clinic which is an important part of our estate and sees 4,500 patients a year.</p>
      <p>Our ongoing review includes how we utilise some of the empty clinic space in Purley War Memorial Hospital which is 2 miles away from Sanderstead and provides a range of services including minor injuries and minor illnesses.  Early conversations have begun to see what additional services, like physiotherapy or speech & language therapy, could move in to Purley to make this a central part of our care for people in the south of the borough but this does not mean changes at Sanderstead would have to happen.</p>
      <p>At this stage we are only looking at what is possible. No decisions have been made and there would be no movement of services without a clear explanation to local people.  
      </p>


      <h3><a class="anchor" id="top" name="barrowsfield"></a>Barrowsfield planning application</h3>
      <p>PLANNING APPLICATION FOR 33 FLATS RELATING TO 2-5 BARROWSFIELD, NEXT TO SANDERSTEAD REC</p>
      <p>A planning application has been lodged for a 4/5 storey block of 33 flats in Sanderstead Village. The proposal is for the site at 2-5 Barrowsfield, which is right next to Sanderstead Recreation Ground, opposite Yew Tree Court and the Shell petrol station. Whilst accepting that we need more homes, the Sanderstead Residents Association (SRA) has a number of serious concerns: 
        <ul>
          <li>The proposal for 33 homes on this site is over-intensive – with the proposed density more than 8 times the average in this suburban area and exceeding the Mayor of London’s maximum density for even far more centralised urban locations.</li>
          <li>The area has been identified as not appropriate for intensification as stated by The Planning Inspector, in his report dated January 2018, confirming Sanderstead’s public transport level was one of the lowest in London.</li>
          <li>The building design is poor and fails to respect the historic character of the village buildings along this western side of Limpsfield Road, nor the green and open character of Sanderstead Recreation Ground.</li>
          <li>The height and massing of the building is inappropriate and overbearing for the unique setting of Sanderstead and the local amenities.</li>
          <li>The demolition of existing family homes including 2/3 Barrowsfield, which is a historical Edwardian country style property and one of the oldest remaining buildings in Sanderstead.</li>
          <li>Parking provision is inadequate - the shortfall of resident’s spaces within the scheme (75 bedrooms and 26
            parking spaces) with no visitor parking provided will inevitably lead to more pressure on already stressed parking, especially at school times.</li>
          </ul>
        </p>
        <p><%= link_to "View the flyer for more information and pictures", "resource/barrowsfield_flyer.pdf" %></p>

      <h3><a class="anchor" id="top" name="pondoct"></a>Update on Sanderstead pond</h3>
      <p>Councillor Yvette Hopley writes, "Sadly the Sanderstead Residents’ Association noticeboard and notices around Sanderstead pond were vandalised last week.  What the public probably don’t know is that the area is currently infested with rats.  Poison has been put down to try to bring the numbers down but with the warm weather, water and current food supply from residents feeding the ducks the problem has become an environmental health problem.</p>
      <p>The council as a matter of urgency put up metal signs at the pond and also laminated posters on the trees and bench to try to persuade residents to stop feeding the ducks whilst they deal with this worrying situation.  Huge rats have been seen scurrying along the pathways and around the Gruffy and in the vegetation at the pond.  This is only a temporary measure until the infestation is brought under control.</p>
      <p>I thought it was worth informing you of the dangers of contracting Weil’s disease.</p>
      <p>Weil's disease is a form of a bacterial infection also known as Leptospirosis that is carried by animals, most commonly in rats and cattle. It can be caught by humans through contact with rat or cattle urine, most commonly occurring through contaminated fresh water. Although human infection in the UK is minimal it is still worth taking some preventative measures to decrease the possibility of contracting it.</p>
      <p>Lots of young and elderly people enjoy this pleasant beauty spot and as a matter of public safety these measures have had to be taken.  I would hate for anyone to become seriously ill as a result of not taking action with the council." <b>1.11.18</b></p>


      <h3><a class="anchor" id="top" name="20mph"></a>SRA Questions the 20 MPH limit</h3>
      <p>The Sanderstead Residents Association made the front page of the Croydon Advertiser (South edition) with an article questioning the value of the new 20 mph speed limit now imposed on many roads in the south of the borough.
      <%= link_to "Follow this link to read the whole article on the Croydon Advertiser website", "https://www.croydonadvertiser.co.uk/news/croydon-news/drivers-croydon-taking-no-notice-1995336" %>.</p>

      <h3><a class="anchor" id="top" name="pond"></a>Feeding the birds on Sanderstead Pond</h3>
      <p>Anyone passing Sanderstead pond on the Gruffy lately will have noticed that it has become covered in green/brown algae. The Community conservation officer from Croydon Council has visited the pond and reports: "I have been to site and looked at pond, there is a large amount of bread floating in the pond which causes the brown algae to grow – this will not harm the ducks but is bad news for the pond. I also noted a large number of rats on site, I know this has already been reported but given the surrounding of the pond it is very difficult to establish rat traps. The reason the pond looks this bad is because of people feeding  the ducks with bread in combination with a very hot and dry summer. The best course of action is to stop feeding for the time being or if so then with special waterfowl food, which can be bought in pet shops."<p>


      <h3><a class="anchor" id="top" name="kingswood"></a>New signs in King's Wood</h3>
      <p>Sanderstead Residents' Association and our local Councillors have arranged for smart new signs to be erected in the entrances to King's Wood in Sanderstead.</p>
      <p><%= image_tag "KingsWoodSign.jpg", alt: "King's Wood Sign" %></p>


      <h3><a class="anchor" id="top" name="memorial"></a>Sanderstead Memorial Hall</h3>
      <p>You may be aware of Sanderstead Memorial Hall on Purley Oaks Road. It was built as a tribute to the men and women who died or served their country in the First World War. The hall was opened in June 1922 by Vice Admiral A.F.B. Carpenter VC of Zeebrugge fame. The Sanderstead Hall Association was formed in 1923 to manage the hall. The hall is used as a facility for residents of Sanderstead and, subject to availability and proposed use, may be hired. It is used on a regular basis for various activities by several groups. These include: The Cavat School of Dance, Castle Day Nursery, Dog Training Class, Beeches Badminton Club, Sanderstead Hall Badminton Club.</p>
      <p>We are looking for volunteers to join our small committee. The duties are not onerous as we have an excellent Business Manager, Caroline Hubbard, who manages the hall on a daily basis. The small, volunteer committee meet twice a year to review the management of the hall and any refurbishments necessary. If you are a resident of Sanderstead and interested in finding out more please contact: Caroline Hubbard on 07775 680087 or Malcolm Saunders on 020 8657 1795. Malcom Saunders</p>


      <h3><a class="anchor" id="top" name="cancer"></a>South East Cancer Help Centre</h3>
      <p>The SECHC was one of the recipients of a grant from the Sanderstead Residents' Association at out AGM in May.<p>
      <p>The South East Cancer Help Centre is a registered charity which supports patients and their family members who have been affected by cancer in the last three years. Our mission is to provide complementary therapies, information and group support and other therapeutic activities which will help people affected by cancer to cope with their situation. We offer a caring, friendly environment which respects and supports people in the choices they make, resourced predominantly by volunteers working alongside fully qualified therapists.</p>
      <p>We receive no funding and rely on the generosity and goodwill of our members, the local community and the hard work of our volunteers.  We are extremely thankful for your support, and generous £500 donation that will enable us to support more people and families affected by Cancer.</p>
      <p>  <%= link_to "www.sechc.org.uk", "http://www.sechc.org.uk" %>
        Facebook: <%= link_to "www.facebook.co/SECancerHelp", "http://www.facebook.co/SECancerHelp" %> 
        Twitter: <%= link_to "www.twitter.com/secancerhelp", "http://www.twitter.com/secancerhelp" %></p>

      <h3><a class="anchor" id="top" name="trees"></a>Street Trees</h3>
      <p>Five year street tree planting programme</p>
      <p>The Association has noted that quite a number of street trees have been removed due to their deteriorating condition. The policy for Council owned trees is that if a tree is removed due to subsidence it will not normally be replaced at the same location. However if it was removed due to being diseased then they would consider planting a replacement.</p>
      <p>The Council’s Trees and Woodlands Department have recently recruited an Officer to develop and deliver a Five Year Street Planting Programme which will address the Council’s tree stock that has been lost, and therefore this Programme will look at re-stocking empty tree pits.  This tree planting programme forms part of the Council’s objective to deliver a greener and cleaner (pollution) borough in line with the new Air Quality Action Plan 2017 – 2022.</p>
      <p>In response to a request by the Sanderstead Residents’ Association, the Council welcomes residents to email their tree requests which will then be considered during the five year planting programme  (April 2018 to March 2023).</p>
      <p>Contact Email Address:   TreesandWoodlands@croydon.gov.uk</p>

      <h3><a class="anchor" id="top" name="norwood"></a>SRA supports planning campaign</h3>
      <p>Sanderstead Residents Association is supporting the campaign started by Alex Toogood to promote legal action against Croydon Council's planning department and the building company "Brick by Brick". <%= link_to "Read the report in the Croydon Advertiser", "https://www.croydonadvertiser.co.uk/news/croydon-news/mum-ready-take-legal-action-1522599" %></p>

      <h3><a class="anchor" id="top" name="developer"></a>Points to consider if approached by a developer</h3>
      <p><%= link_to "Riddlesdown Residents' Association website has useful information about what a householder should consider if approached by a developer wishing to buy their home.", "http://www.riddlesdownresidents.org.uk/planning-tips%20on%20apps.html#Points2" %></p>

      <h3><a class="anchor" id="top" name="medical"></a>Selsdon Park Medical Practice needs your help</h3>
      <p>The Selsdon Park Medical Practice Patient Participation Group (PPG) was established to strengthen the relationship between the Practice and its Patients. The PPG committee consists of up to twelve members who meet regularly to discuss the services on offer and how improvements can be made for the benefit of patients and the practice. The make up of the committee should reflect that of the patient body but at the present time the committee lacks representation from those aged under 45 years (including young parents), carers, disabled and other homebound individuals who find it difficult to attend regular meetings. The committee intends to set up a reference group to involve these patient categories by inviting subjects for discussion and seeking comment on agendas prior to meetings. If you are a patient of the practice and would like to be included in this reference group or if you would like to raise any practice issues you can contact the committee at their email address: selsdonppg@gmail.com or through reception at the surgery.</p>
      

      <h3><a class="anchor" id="top" name="brownies"></a>3rd Sanderstead Brownies are looking for more adult volunteers</h3>
      <p>The 3rd Sanderstead Brownies is 90 years old this year. But they could close unless enough volunteers step forward to help run the group. <%= link_to "Read more", "resource/3rd_Sanderstead_Brownies.pdf" %></p>

      <h3><a class="anchor" id="top" name="cbnwa"></a>Neighbourhood Watch appeals for help and donations</h3>
      <p>There is a real risk that Croydon Borough Neighbourhood Watch will have to close at the end of April due to a lack of short-term funding. At a time of such concern about crime in our borough this would be a serious development. We are therefore writing to ask you to make a donation to keep the Charity going... <%= link_to "Read the full details here", "resource/CBNWA29Jan18.pdf" %>.</p>
      <p>

      <a class="anchor" id="top" name="beware"></a>
      <h3>Beware offers too good to be true</h3>
      <h3>Trading Standards Alert: Rogue Traders Operating in Croydon</h3>
      <p><b>Beware offers too good to be true.</b></p>
      <p>Croydon Trading Standards have received a report about leaflets being put through doors in the Riddlesdown area. The leaflets advise that someone will be calling at homes in the area to offer free valuations of valuable items.</p>
      <p>Trading Standards advise consumers to proceed with caution:</p>
      <ol>
        <li>If you are thinking of selling a valuable item, ensure you use a known and reputable source.</li>
        <li>Check them out with trade associations, etc, before approaching them for a valuation.</li>
        <li>Get several valuations to ensure that you are going to receive a fair price.</li>
        <li>Do not be rushed into selling your item, you may sell it for far less than the item is worth.</li>
        <li>Remember, that when someone calls at your door you do not really know who they are.</li>
        <li>Be cautious about letting a stranger into your home and showing them your valuables and where they are kept.</li>
        <li>Persons entering your home will also have the opportunity to see your home security, etc.</li>
      </ol>
      <p>As always, Trading Standards advise consumers not to buy or sell at the door
      </p>

      <a class="anchor" id="top" name="memory"></a>
      <h3>Keeping your memory strong</h3>
      <p>Sanderstead Residents' Association is a dementia friendly organisation, and keen to bring to our members information about maintaining good mental health as well as spotting the signs of early dementia.  <%= link_to "Read the information provided by Croydon BME forum representative Anna D'Agostino.", news7_path %></p>

      <a class="anchor" id="top" name="block"></a>
      <h3>Call blockers for people with dementia</h3>
      <p>Many of us suffer with the problem of nuisance calls on our phones, but this can be a particular problem for people with dementia. To help with this the government is providing funding for call blockers to tackle this issue. Free call blockers will be available to anyone living with dementia who is currently suffering from scam or nuisance calls.</p>
      <p>To get a FREE call blocking device YES should be answered to the following:
       <ol>
        <li>Do you or the person you are applying for receive nuisance and scam calls?</li>
        <li>Does the person who would like the call blocker have dementia?</li>
      </ol>     
      If you answered yes to the above then please apply at <%= link_to "www.friendsagainstscams.org.uk/callblocker", "http://www.friendsagainstscams.org.uk/callblocker" %>
      </p>
      <a class="anchor" id="top" name="watch"></a>
      <h3><%= link_to "Download a copy of the latest Neighbourhood Watch newsletter here", "resource/CroydonEye_Autumn2017.pdf" %> </h3>

      <h3><%= link_to "Residents form a group to fight proposed developments in the area - Read the report in the Croydon Advertiser", "http://www.croydonadvertiser.co.uk/news/croydon-news/sanderstead-group-protests-proposals-dozens-548410" %></h3>

      <a class="anchor" id="top" name="planning"></a>
      <h3>Changes to the way Croydon Council advises residents about planning applications</h3>
      <p>The system of putting notices on lighting or telegraph poles was changed in August. Now immediate adjoining owners will be advised by letter, however should there be a footpath or alley the next property will not be informed, in fact letters could be sent to adjoining empty properties or to adjoining owners who do not appreciate the implications of the proposed application. Residents living opposite or behind the property will not be aware of the planning application.</p>
      <p>The only means of checking planning applications in your area is to check regularly on the Council's Planning website. <%= link_to("Croydon Council planning applications", "http://publicaccess2.croydon.gov.uk/online-applications/") %></p>

      <h3>Changes to urgent care services in Croydon</h3>
      <p><%= link_to "Read the full report here", news5_path %></p>

      
      <h3><a class="anchor" id="top" name="memorial"></a>Sanderstead Memorial Hall</h3>
      <p>Sanderstead Memorial Hall was built as a tribute to the men and women who died or served their country in the First World War. The hall was opened in June 1922 by Vice Admiral A.F.B. Carpenter VC of Zeebrugge fame. The Sanderstead Hall Association was formed in 1923 to manage the hall. The hall is used as a facility for residents of Sanderstead and, subject to availability and proposed use, may be hired. It is used on a regular basis for various activities by several groups. These include:</p>
        <ul>
          <li>The Cavat School of Dance</li>
          <li>Castle Day Nursery</li>
          <li>Dog Training Class</li>
          <li>Beeches Badminton Club</li>
        </ul> 
        <p>The hall is managed on a daily basis by Caroline Hubbard and overseen by a small, volunteer committee who meet twice a year to review the management of the hall and any refurbishments necessary. We would like to see a few more volunteers join this small committee and continue the work of this facility in Sanderstead.</p>
        <p>If you are interested and would like to find out more please contact Caroline Hubbard on 07775 680087</p>


      <h3><a class="anchor" id="top" name="hall"></a>Trinity Mid-Whitgiftian Hall now available for hire</h3>
      <p>Now available for hire: The Clubhouse at Trinity Sanderstead Sports and Social Club is set in tranquil surroundings, overlooking playing fields at the end of Lime Meadow Avenue. With a large free car park and its proximity to bus routes, it is the perfect venue for classes and clubs, rehearsals, parties, wakes, sporting events and business meetings. If you are interested in hiring The Clubhouse for a function or a regular booking please call 07582 910094 or email <%= mail_to "admin@tsssc.co.uk" %></p>


      <h3><a class="anchor" id="top" name="scams" ></a>Read the latest Edition of "The little Book of Big Scams" </h3>
      <p>Produced by the Metropolitan Police, this book is vital reading for today's world. <%= link_to "Metropolitan Police Little Book of Big Scams", "http://www.met.police.uk/docs/little_book_scam.pdf" %></p>
     
      
      <!--<h3><a name="grave"></a>Medieval Gravestone discovered at All Saints</h3>
        <p>Builders working in All Saints churchyard have uncovered a medieval gravestone decorated with a celtic cross symbol.</p>
        <p>All Saints is currently undergoing building work to create level access into the church. Over the centuries the height of the ground outside the church has been raised, and there are now two deep steps down to get into the church.</p>
        <p>With disabled access in mind, the church council has recruited an architect to design a way of allowing level access for wheelchairs and those with walking difficulty to get into the church.<p>
        <p>The resulting design required a lowering of the path outside the church, and it was while builders were digging down that the gravestone was uncovered.</p>
        <p>The diocesan archaeologist was on hand to record the discovery and is very excited by the find. She said "I have never seen such a fine example of celtic art in this part of the country before!"</p>-->

    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
