<% provide(:title, 'News') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-4">
	<h2>News Headlines</h2>
  <h4><%= link_to "Sanderstead Residents' Association Chairman's Report", chairman_path %></h4>
  <h4><%= link_to "Council wants a 16 storey skyscraper for Purley", anchor: "purley" %></h4>
	<h4><%= link_to "Secure your sheds and garages", anchor: "secure" %> </h4>
  <h4><%= link_to "Warning about pensions scam", anchor: "pensions" %></h4> 
  <h4><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h4>
  <h4><%= link_to "Local Councillors' blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %></h4>
  <h4><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h4>  
	 </div>

          <div class="col-md-8">
	<h2> News in Detail</h2>

    <h3><a name="chairman"></a>Chairman's Report Spring 2015</h3>
<p>The threat of the closure of the Purley Swimming Pool was the opening topic of my report for the Sanderstead News. I had drafted a letter to be sent to the Croydon Advertiser on behalf of seven South Croydon Resident Associations’ arguing the case for the Pool’s retention. I am delighted that the letter was not required because the Council reversed its decision to close the Pool prior to the Council meeting to confirm its closure. <%= link_to "...Read more", chairman_path %></p>

    <h3><a name="purley"></a>Skyscraper proposed for Purley</h3>
    <p>Croydon’s Labour Council is seeking to force the construction of a 16 floor skyscraper in the centre of Purley, on the site with the grey hoardings on Purley Cross.</p>
      <p>Parliamentary Candidate for Croydon South, Chris Philp, GLA Member Steve O'Connell and other local campaigners including ward councillors strongly believe that a 16 floor skyscraper is totally out of keeping with a peaceful town like Purley, and there is a danger that other developers will later try to use it as a precedent to build other skyscrapers in Purley. <%= link_to "Read more...", "http://www.croydonconservatives.com/news_search_results_detail.asp?StoryNo=1502" %></p>

    <h3><a name="secure"></a><%= link_to "Croydon Neighbourhood Watch", "http://www.cbnwa.com" %> gives some good advice about security</h3>
  <p><%= truncate("Garden sheds are a very popular target with burglars and are often overlooked when security is being considered. The value of the contents, such as garden mowers, strimmers and cycles can often add up to many hundreds of pounds. It is therefore wise to secure the shed door with at least one heavy duty hasp and closed-shackle padlock.</p>
<p>It may not always be appropriate to fit a heavy duty padlock, hasp and staple as the shed door and frame may not be strong enough to support them. There is a range of smaller but sturdy padlocks, padbolts, hasps and staples which would be suitable. Whether fitting heavy duty devices or otherwise, always use coach-bolt fixings through the door and frame. All opening windows within the shed will require good window locks.</p>
<p>The major problem with vulnerable garden sheds is that they provide burglars with an arsenal of house breaking implements, e.g. the versatile garden spade: because of the blade size and the leverage that can be exerted, few door or window locks can withstand a prolonged attack from this implement. If the shed is too fragile to secure adequately, the spade should either be bolted or padlocked to a heavy bench or frame, or, better still, kept in a more secure place such as a locked garage. Alternatively, your tools can be secured by chaining them together.</p>
<p>Consider the use of a strong lockable box or cage within the shed in which you can store not only your garden tools but also insecticides, weed killers or other items which may be harmful to health or plants if improperly used.</p>
<h3>Garages</h3>
<p>Garages are frequently used for storing not only cars, motor bikes and cycles, but also property similar to those found in garden sheds, as well as DIY power tools and sporting equipment. Considering the value of the property contained therein, security precautions are often found to be wanting, and for this reason they are identified by burglars as easy targets.<p>
<p>It is probably best not to rely solely on the centre lock provided. If the door is the only means of entry to the garage, it should be fitted with a hasp and staple, together with a padlock as above. There are also mortice locks specially designed for garage doors that close into the side frame.<p>",
  length: 300,
  separator: ' ',
  omission: '...') {
  link_to "Read more", news1_path
  } %> </p>
  <h3><a name="pensions"></a>Pension Scams are on the increase in the UK</h3>
  <p>Pension scams can take many forms.  Many offer ‘One-off pension investments’, ‘pension loans’ or upfront cash to entice savers to transfer their pension funds.
Recently there has been a rise in the number of people falling victim to pension scams.  Many individuals are offered the opportunity to gain access to their pension early or obtain benefits, which just aren’t available or, in some cases real.  Fraudsters often approach their victims through cold calls, trying to gain attention by offering a free pension review.  Many of the people that offer these sometimes claim to be ringing as part of a Government initiative.  This can make what is an illegal activity; appear legitimate and very appealing for the victim.
If you’re approached in this way, you may be encouraged to transfer your pension quickly, and they may even send documents to you by courier in an attempt to pressurize you to sign.  <%= link_to "...Read more", news2_path %></p>
  <!--<h3><a name="grave"></a>Medieval Gravestone discovered at All Saints</h3>
<p>Builders working in All Saints churchyard have uncovered a medieval gravestone decorated with a celtic cross symbol.</p>
<p>All Saints is currently undergoing building work to create level access into the church. Over the centuries the height of the ground outside the church has been raised, and there are now two deep steps down to get into the church.</p>
<p>With disabled access in mind, the church council has recruited an architect to design a way of allowing level access for wheelchairs and those with walking difficulty to get into the church.<p>
  <p>The resulting design required a lowering of the path outside the church, and it was while builders were digging down that the gravestone was uncovered.</p>
  <p>The diocesan archaeologist was on hand to record the discovery and is very excited by the find. She said "I have never seen such a fine example of celtic art in this part of the country before!"</p>-->

	       </div><!-- /col-md-8 -->
        </div><!-- /row-marketing -->
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	
