<% provide(:title, 'News') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-4 col-xs-12 grey-column">
      <h2>News Headlines</h2>
      <ul>
        <li><h4><%= link_to "Croydon Council consultation on the future of our libraries", anchor: "library" %></h4></li>
        <li><h4><%= link_to "Rogue Traders in the Neighbourhood", anchor: "builders" %></h4></li>
        <li><h4><%= link_to "Girl Guiding in Sanderstead", anchor: "guides" %></h4></li>
        <li><h4><%= link_to "Ticket barriers at Sanderstead station", anchor: "station" %></h4></li>
        <li><h4><%= link_to "Purley Scouts clean up their streets", anchor: "scouts" %></h4></li>
        <li><h4><%= link_to "The Future of Purley Hospital", anchor: "hospital" %></h4></li>
        <li><h4><%= link_to "Retirement accomodation in Sanderstead", anchor: "mccarthy" %></h4>
        </li>
        <li><h4><%= link_to "Hall for Hire", anchor: "hall" %></h4></li>
        <li><h4><%= link_to "Croydon Plan", anchor: "plan" %></h4></li>
        <li><h4><%= link_to "SRA Chairman's comments on the Croydon Plan", anchor: "comments" %></h4></li>
        <li><h4><%= link_to "A threat to urgent care services in the Borough of Croydon", anchor: "care" %></h4></li>
        <li><h4><%= link_to "Latest advice on scams from the police", anchor: "scams" %></h4></li>
        <li><h4><%= link_to "Proposed Development to the rear of Norman Avenue", anchor: "norman" %></h4></li>
        <li><h4><%= link_to "Residents' Associations write to the Health Secretary", anchor: "health" %></h4></li>
        <li><h4><%= link_to "Proposal for a 16 storey skyscraper for Purley", anchor: "purley" %></a></h4></li>
        <li><h4><%= link_to "Advice for residents about anti social behaviour", anchor: "asb" %></a></h4></li>
        <li><h4><%= link_to "Sanderstead Residents' Association AGM 2015", anchor: "agm" %></h4></li>
        <li><h4><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h4></li>
        <li><h4><%= link_to "Local Councillors' blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %></h4></li>
        <li><h4><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h4></li>
        <li><h4><%= link_to "Local Police News Update", "/resource/Sanderstead_Update_MAR16.pdf" %></h4></li>
      </ul>
    </div>

    <div class="col-md-8 col-xs-12 white-column">
      <h2> News in Detail</h2>
      <h3><a class="anchor" id="top" name="library"></a>The Future of Croydon Libraries</h3>
      <p>Croydon Council are asking residents to comment on the future of Croydon libraries via a questionnaire on the Council website via the "get involved" page at <%= link_to "https://getinvolved.croydon.gov.uk/KMS/DMart.aspx", "https://getinvolved.croydon.gov.uk/KMS/DMart.aspx" %>.Click on "Take part..." under the "voice" tab. Alternatively  <%= link_to "a paper questionnaire can be downloaded here", "resource/Library_survey.pdf" %> and returned to Allan Nimmo, Bernard Weatherill House, 8 Mint Walk, Croydon CR0 1EA by 2nd May. Details of a public meeting to be held on Tuesday 26th April can be found at this address <%= link_to "https://croydoncc.wordpress.com/2016/04/06/ccc-public-meeting-on-libraries-tues-26-april-2016/", "https://croydoncc.wordpress.com/2016/04/06/ccc-public-meeting-on-libraries-tues-26-april-2016/" %>.</p>

      <h3><a class="anchor" id="top" name="builders"></a>A warning about rogue traders in the neighbourhood </h3>
        <p>We have received the following warning from PCSO Sam Brooks, from the Sanderstead Neighbourhood Policing Team: Trading standards are currently dealing with an increased number of cold calling incidents leading to doorstep crime investigations. Callers are preying on vulnerable residents, who in turn have paid thousands out for home improvement works which are unnecessary or of poor quality. Often the work never takes place at all.</p>
        <p>Please look out for your neighbours and friends. If you receive any leaflets or flyers through your door please make the effort and send the leaflets to Trading standards so that we know who is working where in your borough. Your information could help us to solve a crime and to protect a person at risk of financial abuse.</p>
        <p>Please send any flyers/leaflets to <%= mail_to "trading.standards@croydon.gov.uk" %> or by post to Trading Standards, Zone B 10th Floor Bernard Weatherill House, 8 Mint Walk, Croydon, CR0 1EA. To report a doorstep crime incident call 03454 04 05 06.</p>


      <h3><a class="anchor" id="top" name="guides"></a>Girl Guiding in Sanderstead</h3>
      <p>There are currently 4 active Brownie units for girls aged 7 – 10 years within the Sanderstead area. We meet on a weekly basis during term time at various churches around the area. Our girls take part in a wide variety activities including art &amp; craft, outdoor fun, a variety of sporting challenges, games nights &amp; everyone’s favourite: nights away with all their Brownie friends.</p>

      <p>There is also wide range of badges they can earn either individually or as a unit. These include such things as, cookery, first aid, crime prevention, fire safety, cyclist, artist, book lover, toymaker, hostess &amp; many more.</p>

      <p>Brownies is just one part worldwide family of girl guiding. Enrolling in Brownies gives girls a world of fun, exciting &amp; challenging opportunities. We currently have several spaces available in a couple of our units.</p>

      <p>We are also looking for adult volunteers to help at our meetings. Volunteering is a fun &amp; rewarding way to help the girls of Sanderstead develop &amp; grow. Our adult volunteers are a fun &amp; friendly team who would warmly welcome anyone wishing to help, you only need be able to spare 3 – 4 hours a week.</p>

      <p>If you would like to join us as a Brownie or adult volunteer, please e-mail your contact details to <%= mail_to "jacquiwheel@lineone.net" %></p>

      <h3><a class="anchor" id="top" name="station"></a>New ticket Barriers at Sanderstead Station</h3>
      <p>Jime Gibbons, on behalf of Sanderstead Residents Association has produced a paper of questions for Southern Region about the installation of new ticket barriers at Sanderstead station, and the consequent reduction in the hours that the station is staffed. Any resident may make their own comment to <%= mail_to "enquires@londontravelwatch.org.uk" %> by e-mail or writing to them at 169 Union St, London SE1 0LL. <%= link_to "Read the full paper here", "/resource/Qs_for_SR.pdf" %>. </p>

      <h3><a class="anchor" id="top" name="scouts"></a>1st Purley Scouts lend a hand</h3>
      <p><%= image_tag "Purley_cubs.jpg", alt: "Purley Cubs" %></p>
      <p>On Saturday 28 February, 22 cubs and leaders from the 1st Purley Cub Scouts carried out a litter pick covering pockets of private land and footways between Purley Park Road, Brancaster Lane, Lower Barn Road, Mitchley Avenue, Buttermere Gardens, Ingleboro Drive and Honister Heights. They collected 38 bags of litter. The Cubs will now take part in a reflection session at cubs to look at how they felt when they saw the litter and how they felt after the litter was cleared. They will then look at how this will make them act in the future regarding litter. The cubs are working on their "Our World" badge, which asks them to identify an issue in the community and how the pack can help with it.</p>

      <p>Tracy Bellamy, Croydon Council Clean and Green Champion co-ordinator, thanks the 1st Purley Cubs who were polite, well behaved and a credit their pack.</p>

      <h3><a class="anchor" id="top" name="hospital"></a>Local Residents Associations have written to the Croydon Clinical Commissioning Group regarding the future of Purley Hospital</h3>
      <p>"For the past 18 months, representatives from our Residents Associations have been in discussions with the executive team of the Croydon Clinical Commissioning Group regarding the provision of urgent care facilities within Croydon Borough. Additionally, our representatives have attended many of the engagement meetings organised by the CCG, and by others, regarding the urgent care review...
        <%= link_to "Read the full letter here", "/resource/CCCG_130116.pdf" %></p>

      <h3><a class="anchor" id="top" name="mccarthy"></a>Revised proposals for retirement accommodation in Sanderstead</h3>
      <p>Plans for 30 Retirement Living apartments in Sanderstead have been amended by McCarthy and Stone, the UK’s leading retirement builder, resulting in a more traditional design appearance and increased green spaces and landscaping. <%= link_to "Read more here", "/resource/McCarthy_Stone.pdf" %>.</p>

      <h3><a class="anchor" id="top" name="hall"></a>Trinity Mid-Whitgiftian Hall now available for hire</h3>
      <p>Now available for hire: The Clubhouse at Trinity Sanderstead Sports and Social Club is set in tranquil surroundings, overlooking playing fields at the end of Lime Meadow Avenue. With a large free car park and its proximity to bus routes, it is the perfect venue for classes and clubs, rehearsals, parties, wakes, sporting events and business meetings. If you are interested in hiring The Clubhouse for a function or a regular booking please call 07582 910094 or email <%= mail_to "admin@tsssc.co.uk" %></p>

      <h3><a class="anchor" id="top" name="plan"></a>Croydon Council's "Croydon Plan"</h3>
      <p>Croydon Council has produced a multi page plan which is available online, <%= link_to "on this link", "https://www.croydon.gov.uk/sites/default/files/articles/downloads/Croydon%20Local%20Plan%20-%20Detailed%20Policies%20and%20Proposals%20%28Preferred%20and%20Alternative%20Options%29.pdf" %> detailing their proposals for the future management of Croydon and it's environment. </p>

      <h3><a class="anchor" id="top" name="comments"></a>Sanderstead Residents' Association Chairman's objections to the Croydon Plan</h3>
      <p>The conclusions</p>
           <p>The Croydon Local Plan should have been undertaken by a cross party select committee to overcome many of the errors in the document.</p>
            <p>Applying haste for such an important subject will effect the future of Croydon and its residents, retail, public facilities for many years to come.</p>
            <p>Stop playing politics and work for the future quality of life for those who reside and work in Croydon.</p> 
            <p><%= link_to "Read the full text here", news4_path %></p>


      <h3><a class="anchor" id="top" name="kens"></a>Planning application for Ken's Autos site, Hamsey Green</h3>
      <p>Comments re the planning application for the Ken's Autos site in Hamsey Green need to be submitted to Croydon Council's planning department by Thursday 3rd december 2015. Details of the planning application can be found <%= link_to "here", "http://publicaccess.croydon.gov.uk/online-applications" %>, application number 15/04958/P. A letter from local Councillors re the application is also available <%= link_to "here", "/resource/kens_autos.pdf" %>.</p>


      <h3><a class="anchor" id="top" name="care" ></a>A threat to urgent care services and Purley Hospital</h3>
      <p>Residents' Associations in the South of the Borough have produced a paper detailing their concern about the threat to urgent care services in Croydon and in particular regarding Purley Hospital. <%= link_to("The full paper is available to download here", "/resource/CCCG_briefing221015.pdf") %></p>

      <h3><a class="anchor" id="top" name="scams" ></a>Read the latest Edition of "The little Book of Big Scams" </h3>
      <p>Produced by the Metropolitan Police, this book is vital reading for today's world. <%= link_to "Metropolitan Police Little Book of Big Scams", "http://www.met.police.uk/docs/little_book_scam.pdf" %></p>

      <h3><a class="anchor" id="top" name="norman"></a>Norman Avenue Development</h3>
        <p>The Residents Associaton is concerned about a proposed new development of up to 37 homes in the land to the rear of Norman Avenue, and next to the Brighton line running from Purley Oaks Station. Our chairman has delivered a letter to those most likely to be affected by the development, detailing the grounds on which to object to this proposal. <%= link_to("Read and download his letter here", "/resource/norman_avenue.pdf") %>.</p> 

      <h3><a class="anchor" id="top" name="health"></a>Urgent care provision at Purley Hospital</h3>
      <p>Croydon Borough Residents Associations have written a joint letter to Jeremy Hunt, the Health Secretary, asking him to intervene to reinstate urgent care services at Purley hospital. <%= link_to("Read the full letter here.", "/resource/purley_hospital_letter.pdf") %></p>

      <h3><a class="anchor" id="top" name="asb"></a>Advice for Residents about Anti Social Behaviour</h3>
      <p>The Metropolitan Police have issued a paper giving useful advice for residents about many types of Anti Social Behaviour and what we can do about it. <%= link_to "Read and download the paper here", "resource/asb_faq.pdf" %>.</p>


      <h3><a class="anchor" id="top" name="agm"></a>Prizes awarded at the AGM on 14th May 2015</h3>
      <p>The Sanderstead Residents' Association was pleased to hand out a number of grants and prizes to local organisations, at the AGM, that was held in All Saints' Hall on Thursday 14th May 2015. View pictures of all those receiving prizes from Councillor and Past Mayor, Yvette Hopley, on <%= link_to "this news page", news3_path %>.

      <h3><a class="anchor" id="top" name="purley"></a>Skyscraper proposed for Purley</h3>
      <p>Purley Baptist Church have produced a detailed proposal for construction on the Purley Cross site. See <%= link_to "http://purleycentre.commonplace.is", "http://purleycentre.commonplace.is/" %>.</p>
      <p>Croydon’s Labour Council is seeking to force the construction of a 16 floor skyscraper in the centre of Purley, on the site with the grey hoardings on Purley Cross.</p>
      <p>Parliamentary Candidate for Croydon South, Chris Philp, GLA Member Steve O'Connell and other local campaigners including ward councillors strongly believe that a 16 floor skyscraper is totally out of keeping with a peaceful town like Purley, and there is a danger that other developers will later try to use it as a precedent to build other skyscrapers in Purley. <%= link_to "Read more...", "http://www.croydonconservatives.com/news_search_results_detail.asp?StoryNo=1502" %></p>

     
      
      <!--<h3><a name="grave"></a>Medieval Gravestone discovered at All Saints</h3>
        <p>Builders working in All Saints churchyard have uncovered a medieval gravestone decorated with a celtic cross symbol.</p>
        <p>All Saints is currently undergoing building work to create level access into the church. Over the centuries the height of the ground outside the church has been raised, and there are now two deep steps down to get into the church.</p>
        <p>With disabled access in mind, the church council has recruited an architect to design a way of allowing level access for wheelchairs and those with walking difficulty to get into the church.<p>
        <p>The resulting design required a lowering of the path outside the church, and it was while builders were digging down that the gravestone was uncovered.</p>
        <p>The diocesan archaeologist was on hand to record the discovery and is very excited by the find. She said "I have never seen such a fine example of celtic art in this part of the country before!"</p>-->

    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
