<% provide(:title, 'News') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-4 col-xs-12 grey-column">
      <h2>News Headlines</h2>
      <h4><%= link_to "A threat to urgent care services in the Borough of Croydon", anchor: "care" %></h4>
      <h4><%= link_to "Latest advice on scams from the police", anchor: "scams" %></h4>
      <h4><%= link_to "Proposed Development to the rear of Norman Avenue", anchor: "norman" %></h4>
      <h4><%= link_to "Residents' Associations write to the Health Secretary", anchor: "health" %></h4>
      <h4><%= link_to "Proposed new bus route", anchor: "busstops" %></h4>
      <h4><%= link_to "Proposal for a 16 storey skyscraper for Purley", anchor: "purley" %></h4>
      <h4><%= link_to "Advice for residents about anti social behaviour", anchor: "asb" %></h4>
      <h4><%= link_to "Thanks from Hamsey Green Scouts", anchor: "scouts" %></h4>
      <h4><%= link_to "Sanderstead Residents' Association AGM 2015", anchor: "agm" %></h4>
      <h4><%= link_to "Rail Closure over Christmas 2015", anchor: "trains" %></h4>
      <h4><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h4>
      <h4><%= link_to "Local Councillors' blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %></h4>
      <h4><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h4>
    </div>

    <div class="col-md-8 col-xs-12 white-column">
      <h2> News in Detail</h2>

      <h3><a class="anchor" id="top" name="care" ></a>A threat to urgent care services and Purley Hospital</h3>
      <p>Residents' Associations in the South of the Borough have produced a paper detailing their concern about the threat to urgent care services in Croydon and in particular regarding Purley Hospital. <%= link_to("The full paper is available to download here", "/resource/CCCG_briefing221015.pdf") %></p>

      <h3><a class="anchor" id="top" name="scams" ></a>Read the latest Edition of "The little Book of Big Scams" </h3>
      <p>Produced by the Metropolitan Police, this book is vital reading for today's world. <%= link_to "Metropolitan Police Little Book of Big Scams", "http://www.met.police.uk/docs/little_book_scam.pdf" %></p>

      <h3><a class="anchor" id="top" name="norman"></a>Norman Avenue Development</h3>
        <p>The Residents Associaton is concerned about a proposed new development of up to 37 homes in the land to the rear of Norman Avenue, and next to the Brighton line running from Purley Oaks Station. Our chairman has delivered a letter to those most likely to be affected by the development, detailing the grounds on which to object to this proposal. <%= link_to("Read and download his letter here", "/resource/norman_avenue.pdf") %></p> .

      <h3><a class="anchor" id="top" name="health"></a>Urgent care provision at Purley Hospital</h3>
      <p>Croydon Borough Residents Associations have written a joint letter to Jeremy Hunt, the Health Secretary, asking him to intervene to reinstate urgent care services at Purley hospital. <%= link_to("Read the full letter here.", "/resource/purley_hospital_letter.pdf") %></p>

      <h3><a class="anchor" id="top" name="busstops"></a>Proposed new bus route</h3>
      <p>Tfl have decided to extend bus route 359 from Selsdon Sainsbury’s to Purley Cross and extend operational hours on all days of the week from 0700 to 1945. Additionally the frequency will increase to a bus every 30 minutes. Four new stops will be sited in Purley Downs Road: <ul><li>Close to the junction with Sanderstead Hill</li><li>Near Merrion Hill</li><li>Near Tindale Close</li><li>Between Purley Bury Avenue and Penwortham Road</li></ul> <%= link_to "Full details available on the TFL website", "http://www.tfl.gov.uk/new-addington-buses" %>.</p>


      <h3><a class="anchor" id="top" name="asb"></a>Advice for Residents about Anti Social Behaviour</h3>
      <p>The Metropolitan Police have issued a paper giving useful advice for residents about many types of Anti Social Behaviour and what we can do about it. <%= link_to "Read and download the paper here", "resource/asb_faq.pdf" %>.</p>

      <h3><a class="anchor" id="top" name="scouts"></a>Thanks from Hamsey Green Scouts</h3>
      <p>Thank you</p>
      <p>2nd Hamsey Green Scout Group would like to thank the Sanderstead Residents Association for agreeing to donate the generous sum of £1500.00 to help us in our quest to upgrade our hut. For too long now our doors to the hut have looked worn, and in need of replacing. The roof on our toilet block is leaking and doing damage within the walls.With this donation we have been able to begin preparations for this much needed work, thus ensuring that future generations of Scouts will enjoy the hut.</p>
      <p>I thank Dennis for getting in touch with me, and helping to fulfil the work needed. We will in the future send pictures of the finished works.</p>
      <p>Thank you,</p>
      <p>All leaders and helpers and scouts of Hamsey Green</p>

      <h3><a class="anchor" id="top" name="agm"></a>Prizes awarded at the AGM on 14th May 2015</h3>
      <p>The Sanderstead Residents' Association was pleased to hand out a number of grants and prizes to local organisations, at the AGM, that was held in All Saints' Hall on Thursday 14th May 2015. View pictures of all those receiving prizes from Councillor and Past Mayor, Yvette Hopley, on <%= link_to "this news page", news3_path %>.

      <h3><a class="anchor" id="top" name="purley"></a>Skyscraper proposed for Purley</h3>
      <p>Purley Baptist Church have produced a detailed proposal for construction on the Purley Cross site. See <%= link_to "http://purleycentre.commonplace.is", "http://purleycentre.commonplace.is/" %>.</p>
      <p>Croydon’s Labour Council is seeking to force the construction of a 16 floor skyscraper in the centre of Purley, on the site with the grey hoardings on Purley Cross.</p>
      <p>Parliamentary Candidate for Croydon South, Chris Philp, GLA Member Steve O'Connell and other local campaigners including ward councillors strongly believe that a 16 floor skyscraper is totally out of keeping with a peaceful town like Purley, and there is a danger that other developers will later try to use it as a precedent to build other skyscrapers in Purley. <%= link_to "Read more...", "http://www.croydonconservatives.com/news_search_results_detail.asp?StoryNo=1502" %></p>

      <h3><a class="anchor" id="top" name="trains"></a>Railway works, Christmas 2015</h3>
      <p>News from the East Surrey Transport Committee</p>
      <p>Christmas 2015</p>
      <p>The Southern main line is to be closed between South Croydon and Redhill from 22.30 24th December 2015 to 04.00 4th January 2016. This is to allow the replacement of the points and crossings at the north end of Purley Station.</p>
      <p>There will be extra trains to East Grinstead with coaches from there to Gatwick Airport.There will also be through trains from Victoria to Gatwick Airport via Horsham. Replacement buses will run between East Croydon and Redhill. There will be a shuttle train service between Coulsdon Town and Tattenham Corner. It is also hoped to run a shuttle service between Coulsdon South and Redhill.</p>
      <p>The committee was concerned that there was to be major disruption on the main line, again, over Christmas and there was a long discussion about why it had to be done in one go. We asked why the work could not be carried out on the fast and slow lines at different times so that the trains could be kept running. We were told that the scale of the work was similar to the replacement of Stoats Nest Junction at Christmas 2013 and this was the best way to carry it out. The replacement of the junction is to be a like for like replacement so that there will be no changes to the signalling. However the spacing between the crossovers is to be increased to simplify maintenance. If the points on the fast and slow lines were replaced at different times there would be problems because it would not be possible for trains to switch between the fast and slow lines and there would be much more overall disruption.</p>
      <p>It is intended to replace the railway bridge at Old Lodge Lane at the same time.</p>

     
      
      <!--<h3><a name="grave"></a>Medieval Gravestone discovered at All Saints</h3>
        <p>Builders working in All Saints churchyard have uncovered a medieval gravestone decorated with a celtic cross symbol.</p>
        <p>All Saints is currently undergoing building work to create level access into the church. Over the centuries the height of the ground outside the church has been raised, and there are now two deep steps down to get into the church.</p>
        <p>With disabled access in mind, the church council has recruited an architect to design a way of allowing level access for wheelchairs and those with walking difficulty to get into the church.<p>
        <p>The resulting design required a lowering of the path outside the church, and it was while builders were digging down that the gravestone was uncovered.</p>
        <p>The diocesan archaeologist was on hand to record the discovery and is very excited by the find. She said "I have never seen such a fine example of celtic art in this part of the country before!"</p>-->

    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
