<% provide(:title, 'News') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-4 col-xs-12 grey-column">
      <h2>News Headlines</h2>
      <ul>
        <li><h4><%= link_to "Planning Application for 11 West Hill", "http://publicaccess.croydon.gov.uk/online-applications/simpleSearchResults.do;jsessionid=D679E556757DF30C4C1B3EDD71CE74A4?action=firstPage" %></h4></li>
        <li><h4><%= link_to "Hall for Hire", anchor: "hall" %></h4></li>
        <li><h4><%= link_to "Croydon Plan", anchor: "plan" %></h4></li>
        <li><h4><%= link_to "Planning application for Ken's Autos site, Hamsey Green", anchor: "kens" %></h4></li>
        <li><h4><%= link_to "A message from the Metropolitan Police", anchor: "chishty" %></h4></li>
        <li><h4><%= link_to "A threat to urgent care services in the Borough of Croydon", anchor: "care" %></h4></li>
        <li><h4><%= link_to "Latest advice on scams from the police", anchor: "scams" %></h4></li>
        <li><h4><%= link_to "Proposed Development to the rear of Norman Avenue", anchor: "norman" %></h4></li>
        <li><h4><%= link_to "Residents' Associations write to the Health Secretary", anchor: "health" %></h4></li>
        <li><h4><%= link_to "Proposal for a 16 storey skyscraper for Purley", anchor: "purley" %></a></h4></li>
        <li><h4><%= link_to "Advice for residents about anti social behaviour", anchor: "asb" %></a></h4></li>
        <li><h4><%= link_to "Sanderstead Residents' Association AGM 2015", anchor: "agm" %></h4></li>
        <li><h4><%= link_to "Rail Closure over Christmas 2015", anchor: "trains" %></h4></li>
        <li><h4><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h4></li>
        <li><h4><%= link_to "Local Councillors' blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %></h4></li>
        <li><h4><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h4></li>
      </ul>
    </div>

    <div class="col-md-8 col-xs-12 white-column">
      <h2> News in Detail</h2>
      <h3><a class="anchor" id="top" name="hall"></a>Trinity Mid-whitgiftian Hall now available for hire</h3>
      <p>Now available for hire: The Clubhouse at Trinity Sanderstead Sports and Social Club is set in tranquil surroundings, overlooking playing fields at the end of Lime Meadow Avenue. With a large free car park and its proximity to bus routes, it is the perfect venue for classes and clubs, rehearsals, parties, wakes, sporting events and business meetings. If you are interested in hiring The Clubhouse for a function or a regular booking please call 07582 910094 or email <%= mail_to "admin@tsssc.co.uk" %></p>

      <h3><a class="anchor" id="top" name="Plan"></a>Croydon Council's "Croydon Plan", consultation meetings</h3>
      <p>Croydon Council has produced a multi page plan which is available online, <%= link_to "on this link", "https://www.croydon.gov.uk/sites/default/files/articles/downloads/Croydon%20Local%20Plan%20-%20Detailed%20Policies%20and%20Proposals%20%28Preferred%20and%20Alternative%20Options%29.pdf" %> detailing their proposals for the future management of Croydon and it's environment. <%= link_to "Consultation meetings are ongoing", "/resource/croydon_plan_meetings.pdf" %>. The nearest to Sanderstead will be on Tuesday 8th December at 3.30 and 8 pm at Purley Baptist Church.</p>


      <h3><a class="anchor" id="top" name="kens"></a>Planning application for Ken's Autos site, Hamsey Green</h3>
      <p>Comments re the planning application for the Ken's Autos site in Hamsey Green need to be submitted to Croydon Council's planning department by Thursday 3rd december 2015. Details of the planning application can be found <%= link_to "here", "http://publicaccess.croydon.gov.uk/online-applications" %>, application number 15/04958/P. A letter from local Councillors re the application is also available <%= link_to "here", "/resource/kens_autos.pdf" %>.</p>

      <h3><a class="anchor" id="top" name= "chishty"></a>A message from the Metropolitan Police in the wake of the terror attacks in Paris</h3>
      <p>Commander Mak Chishty, a community engagement officer with the Metropolitan Police has written to all communities in London following the terror attacks in Paris. <%= link_to("His letter is available here", "/resource/Commander_Mak_Chishty.pdf") %>.</p>

      <h3><a class="anchor" id="top" name="care" ></a>A threat to urgent care services and Purley Hospital</h3>
      <p>Residents' Associations in the South of the Borough have produced a paper detailing their concern about the threat to urgent care services in Croydon and in particular regarding Purley Hospital. <%= link_to("The full paper is available to download here", "/resource/CCCG_briefing221015.pdf") %></p>

      <h3><a class="anchor" id="top" name="scams" ></a>Read the latest Edition of "The little Book of Big Scams" </h3>
      <p>Produced by the Metropolitan Police, this book is vital reading for today's world. <%= link_to "Metropolitan Police Little Book of Big Scams", "http://www.met.police.uk/docs/little_book_scam.pdf" %></p>

      <h3><a class="anchor" id="top" name="norman"></a>Norman Avenue Development</h3>
        <p>The Residents Associaton is concerned about a proposed new development of up to 37 homes in the land to the rear of Norman Avenue, and next to the Brighton line running from Purley Oaks Station. Our chairman has delivered a letter to those most likely to be affected by the development, detailing the grounds on which to object to this proposal. <%= link_to("Read and download his letter here", "/resource/norman_avenue.pdf") %>.</p> 

      <h3><a class="anchor" id="top" name="health"></a>Urgent care provision at Purley Hospital</h3>
      <p>Croydon Borough Residents Associations have written a joint letter to Jeremy Hunt, the Health Secretary, asking him to intervene to reinstate urgent care services at Purley hospital. <%= link_to("Read the full letter here.", "/resource/purley_hospital_letter.pdf") %></p>

      <h3><a class="anchor" id="top" name="asb"></a>Advice for Residents about Anti Social Behaviour</h3>
      <p>The Metropolitan Police have issued a paper giving useful advice for residents about many types of Anti Social Behaviour and what we can do about it. <%= link_to "Read and download the paper here", "resource/asb_faq.pdf" %>.</p>


      <h3><a class="anchor" id="top" name="agm"></a>Prizes awarded at the AGM on 14th May 2015</h3>
      <p>The Sanderstead Residents' Association was pleased to hand out a number of grants and prizes to local organisations, at the AGM, that was held in All Saints' Hall on Thursday 14th May 2015. View pictures of all those receiving prizes from Councillor and Past Mayor, Yvette Hopley, on <%= link_to "this news page", news3_path %>.

      <h3><a class="anchor" id="top" name="purley"></a>Skyscraper proposed for Purley</h3>
      <p>Purley Baptist Church have produced a detailed proposal for construction on the Purley Cross site. See <%= link_to "http://purleycentre.commonplace.is", "http://purleycentre.commonplace.is/" %>.</p>
      <p>Croydon’s Labour Council is seeking to force the construction of a 16 floor skyscraper in the centre of Purley, on the site with the grey hoardings on Purley Cross.</p>
      <p>Parliamentary Candidate for Croydon South, Chris Philp, GLA Member Steve O'Connell and other local campaigners including ward councillors strongly believe that a 16 floor skyscraper is totally out of keeping with a peaceful town like Purley, and there is a danger that other developers will later try to use it as a precedent to build other skyscrapers in Purley. <%= link_to "Read more...", "http://www.croydonconservatives.com/news_search_results_detail.asp?StoryNo=1502" %></p>

      <h3><a class="anchor" id="top" name="trains"></a>Railway works, Christmas 2015</h3>
      <p>News from the East Surrey Transport Committee</p>
      <p>Christmas 2015</p>
      <p>The Southern main line is to be closed between South Croydon and Redhill from 22.30 24th December 2015 to 04.00 4th January 2016. This is to allow the replacement of the points and crossings at the north end of Purley Station.</p>
      <p>There will be extra trains to East Grinstead with coaches from there to Gatwick Airport.There will also be through trains from Victoria to Gatwick Airport via Horsham. Replacement buses will run between East Croydon and Redhill. There will be a shuttle train service between Coulsdon Town and Tattenham Corner. It is also hoped to run a shuttle service between Coulsdon South and Redhill.</p>
      <p>The committee was concerned that there was to be major disruption on the main line, again, over Christmas and there was a long discussion about why it had to be done in one go. We asked why the work could not be carried out on the fast and slow lines at different times so that the trains could be kept running. We were told that the scale of the work was similar to the replacement of Stoats Nest Junction at Christmas 2013 and this was the best way to carry it out. The replacement of the junction is to be a like for like replacement so that there will be no changes to the signalling. However the spacing between the crossovers is to be increased to simplify maintenance. If the points on the fast and slow lines were replaced at different times there would be problems because it would not be possible for trains to switch between the fast and slow lines and there would be much more overall disruption.</p>
      <p>It is intended to replace the railway bridge at Old Lodge Lane at the same time.</p>

     
      
      <!--<h3><a name="grave"></a>Medieval Gravestone discovered at All Saints</h3>
        <p>Builders working in All Saints churchyard have uncovered a medieval gravestone decorated with a celtic cross symbol.</p>
        <p>All Saints is currently undergoing building work to create level access into the church. Over the centuries the height of the ground outside the church has been raised, and there are now two deep steps down to get into the church.</p>
        <p>With disabled access in mind, the church council has recruited an architect to design a way of allowing level access for wheelchairs and those with walking difficulty to get into the church.<p>
        <p>The resulting design required a lowering of the path outside the church, and it was while builders were digging down that the gravestone was uncovered.</p>
        <p>The diocesan archaeologist was on hand to record the discovery and is very excited by the find. She said "I have never seen such a fine example of celtic art in this part of the country before!"</p>-->

    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
