<% provide(:title, 'News') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-4 col-xs-12 grey-column">
      <h2>News Headlines</h2>
      <ul>
        <li><h4><%= link_to "Selsdon Park Medical Practice", news_path(anchor: "medical") %></h4></li>
        <li><h4><%= link_to "3rd Sanderstead Brownies need more volunteers", news_path(anchor: "brownies") %></h4></li>
        <li><h4><%= link_to "CBNWA in danger of closing", news_path(anchor: "cbnwa") %></h4></li>
        <li><h4><%= link_to "Council plans to replace Sanderstead Road car park with 20 flats", news_path(anchor: "flats") %></h4></li>
        <li><h4><%= link_to "Planning application in Briton Hill Road", anchor: "briton" %></h4></li>
        <li><h4><%= link_to "Trading Standards alert", anchor: "beware" %></h4></li>
        <li><h4><%= link_to "Keeping your memory strong", anchor: "memory" %></h4></li>
        <li><h4><%= link_to "Westfield shopping centre is coming to Croydon", anchor: "westfield" %></h4></li>
        <li><h4><%= link_to "Call blockers for people with dementia", anchor: "block" %></h4></li>
        <li><h4><%= link_to "Neighbourhood watch newsletter", "resource/CroydonEye_Autumn2017.pdf" %></h4></li>
        <li><h4><%= link_to "Residents form a group to fight proposed developments in the area", "http://www.croydonadvertiser.co.uk/news/croydon-news/sanderstead-group-protests-proposals-dozens-548410" %></h4></li>
        <li><h4><%= link_to "Changes to way Croydon Council advises residents about planning", anchor: "planning" %></h4></li>
        <li><h4><%= link_to "Mitchley Hill planning application", anchor: "Mitchley" %></h4></li>
        <li><h4><%= link_to "20 MPH Speed limit", anchor: "speed" %></h4></li>
        <li><h4><%= link_to "Police Action Fraud Website", police_path(anchor: "fraud") %></h4></li>
        <li><h4><%= link_to "Support the recommended Ward Boundary Changes", news_path(anchor: "boundary") %></h4></li>
        <li><h4><%= link_to "Changes to urgent care services", news5_path %></h4></li>
        
        <li><h4><%= link_to "Neighbourhood Watch advice on scams", "http://cbnwa.com/wp/index.php/2017/02/23/information-network-bulletin-edition-4/" %></h4></li>
        <li><h4><%= link_to "Croydon Council Local Plan update", anchor: "local" %></h4></li>
        <li><h4><%= link_to "Sanderstead Memorial Hall", anchor: "memorial" %></h4></li>
        <li><h4><%= link_to "Hall for Hire", anchor: "hall" %></h4></li>
        <li><h4><%= link_to "Latest advice on scams from the police", anchor: "scams" %></h4></li>
        <li><h4><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h4></li>
        <li><h4><%= link_to "Local Councillors' blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %></h4></li>
        <li><h4><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h4></li>
        <li><h4><%= link_to "Local Police News Update", police_path(anchor: "update") %></h4></li>
      </ul>
    </div>

    <div class="col-md-8 col-xs-12 white-column">
      <h2>Local News Websites</h2>
      <h3><%= link_to "Croydon Council News", "http://www.croydon.gov.uk/news/" %></h3>
        <h3><%= link_to "Local Councillors' blog", "http://www.croydonconservatives.com/teams_blog.asp?BlogID=1297&WardID=30" %></h3>
        <h3><%= link_to "Croydon Neighbourhood Watch News", "http://www.cbnwa.com" %></h3>
       <h3><%= link_to "Local Police News", police_path %></h3>
       <h3><%= link_to "Information about the latest scams", "https://www.croydon.gov.uk/advice/tstandards/doorstep-crime/infonetwork" %></h3>

      <h2> News in Detail</h2>

      <h3><a class="anchor" id="top", name="medical"></a>Selsdon Park Medical Practice needs your help</h3>
      <p>The Selsdon Park Medical Practice Patient Participation Group (PPG) was established to strengthen the relationship between the Practice and its Patients. The PPG committee consists of up to twelve members who meet regularly to discuss the services on offer and how improvements can be made for the benefit of patients and the practice. The make up of the committee should reflect that of the patient body but at the present time the committee lacks representation from those aged under 45 years (including young parents), carers, disabled and other homebound individuals who find it difficult to attend regular meetings. The committee intends to set up a reference group to involve these patient categories by inviting subjects for discussion and seeking comment on agendas prior to meetings. If you are a patient of the practice and would like to be included in this reference group or if you would like to raise any practice issues you can contact the committee at their email address: selsdonppg@gmail.com or through reception at the surgery.</p>
      

      <h3><a class="anchor" id="top" name="brownies"></a>3rd Sanderstead Brownies are looking for more adult volunteers</h3>
      <p>The 3rd Sanderstead Brownies is 90 years old this year. But they could close unless enough volunteers step forward to help run the group. <%= link_to "Read more", "resource/3rd_Sanderstead_Brownies.pdf" %></p>

      <h3><a class="anchor" id="top" name="cbnwa"></a>Neighbourhood Watch appeals for help and donations</h3>
      <p>There is a real risk that Croydon Borough Neighbourhood Watch will have to close at the end of April due to a lack of short-term funding. At a time of such concern about crime in our borough this would be a serious development. We are therefore writing to ask you to make a donation to keep the Charity going... <%= link_to "Read the full details here", "resource/CBNWA29Jan18.pdf" %>.</p>
      <p>
      <p>To continue to function the CBNWA is also looking for a part-time administrator. <%= link_to "The attached job specification", "resource/NHWManager.pdf" %> outlines what is needed. Due to the financial situation of the charity, the paid part-time position would be on a 3 month basis (if funding were to be received this would be extended). If you are interested in the role please email Katie Moorie on nhw@cbnwa.com by 15th February as you would need to be available for a handover on Friday 16th February. </p>

      <h3><a class="anchor" id="top" name="flats"></a>Sanderstead Road Car Park Under Threat!</h3>
      <p>Council plans to replace Sanderstead Road car park with 20 flats – and no residents’ parking.</p>
      <p>The Council’s in-house development company Brick By Brick is planning to close the car park on Sanderstead Road and in its place erect a 4/5 storey building with 20-22 flats, and provision for few car spaces for the new residents. There would be a permanent loss of about 25 parking spaces in this very popular car park, while at the same time the local demand for car spaces will be massively increased as a result of the influx of new residents.</p>
      <p>The car park is used both by local train commuters and by customers of the shops opposite the car park, and its loss would surely be a blow to the local community. One way of retaining some car parking spaces would be if most of the building was up on stilts, leaving part of the ground floor still available for parking, and no doubt there are many other planning options.</p>
      <p>Further details of this proposal may be found in the Croydon section of the <%= link_to "www.newmanfrancis.org website", "http://newmanfrancis.org/brick-brick-sanderstead-road-car-park/" %>.</p>
      <p>Two articles examine the objections to this development:
        <ul>
          <li><%= link_to "A recent article by Olivia Tobin in the online Croydon Advertiser", "http://www.croydonadvertiser.co.uk/news/croydon-news/sanderstead-could-lose-very-valuable-1092903" %></li>
          <li> <%= link_to "A paper by Jim Gibbons", "resource/Sanderstead_road_car_park.pdf" %></li>
        </ul> 
      </p>
      <p>This site is in Purley ward so do contact the local councillors if you have any queries or questions.  The shops are in Croham ward and interestingly St Mary’s Road is in Sanderstead.  It is the junction of three wards.</p>
      <p>Simon Brew - Simon.brew@croydon.gov.uk 07803 618096</p>
      <p>Badsha Quadir - Badsha.quadir@croydon.gov.uk 07956 537023</p>
      <p>Donald Speakman - Donald.speakman@croydon.gov.uk 07710 183672
      </p>

      <a class="anchor" id="top" name="briton"></a>
      <h3>Planning Application for 11 Briton Hill Road</h3>
      <p>Aventier have a number of pending planning applications in Sanderstead to demolish single dwelling homes and build blocks of flats, the latest of these is at 11 Briton Hill Road (3 storey block of nine flats). They are in residential ‘house only’ roads and in addition to being completely out of character with the surrounding properties they will worsen parking, stretch local amenities further, etc. If you can help support by objecting to the council we would appreciate it. This directly affects us, the next one might be you, please help before a precedent is set. Deadline is 20th Dec to object, details below. <%= link_to "http://publicaccess2.croydon.gov.uk/online-applications", "http://publicaccess2.croydon.gov.uk/online-applications" %> or write to the council. <%= link_to "More information here", "https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/24852293_10155483833433462_1486756459862032880_n.jpg?oh=5cc9cc087c17e2d08eaa87bb6fc6520b&oe=5AC38DEC" %></p>


      <a class="anchor" id="top" name="beware"></a>
      <h3>Beware offers too good to be true</h3>
      <h3>Trading Standards Alert: Rogue Traders Operating in Croydon</h3>
      <p><b>Beware offers too good to be true.</b></p>
      <p>Croydon Trading Standards have received a report about leaflets being put through doors in the Riddlesdown area. The leaflets advise that someone will be calling at homes in the area to offer free valuations of valuable items.</p>
      <p>Trading Standards advise consumers to proceed with caution:</p>
      <ol>
        <li>If you are thinking of selling a valuable item, ensure you use a known and reputable source.</li>
        <li>Check them out with trade associations, etc, before approaching them for a valuation.</li>
        <li>Get several valuations to ensure that you are going to receive a fair price.</li>
        <li>Do not be rushed into selling your item, you may sell it for far less than the item is worth.</li>
        <li>Remember, that when someone calls at your door you do not really know who they are.</li>
        <li>Be cautious about letting a stranger into your home and showing them your valuables and where they are kept.</li>
        <li>Persons entering your home will also have the opportunity to see your home security, etc.</li>
      </ol>
      <p>As always, Trading Standards advise consumers not to buy or sell at the door
      </p>

      <a class="anchor" id="top" name="memory"></a>
      <h3>Keeping your memory strong</h3>
      <p>Sanderstead Residents' Association is a dementia friendly organisation, and keen to bring to our members information about maintaining good mental health as well as spotting the signs of early dementia.  <%= link_to "Read the information provided by Croydon BME forum representative Anna D'Agostino.", news7_path %></p>

      <a class="anchor" id="top" name="westfield"></a>
      <h3>Westfield is finally coming to Croydon!"</h3>
      <p>It was confirmed on 14th November that the critical Westfield Shopping Centre scheme in Croydon town centre will now go ahead, with work due to start by the end of next year. The project will help to transform the town centre, create 7,000 jobs and entails building 1,000 new flats on the site as well. The Westfield shopping centre will be similar to the existing ones in Stratford and Shepherd’s Bush, and will stand on the site of the current Whitgift centre. Further details are at: <%= link_to "www.gov.uk/government/news/minister-for-london-welcomes-14-billion-croydon-redevelopment", "https://www.gov.uk/government/news/minister-for-london-welcomes-14-billion-croydon-redevelopment" %></p>
      <p>This is fantastic news for Croydon. It will provide world-leading retail facilities in the town centre, and act as a spur to other much-needed regeneration projects there. We are hopeful that John Lewis will be confirmed as the anchor store before too long.</p>

      <a class="anchor" id="top" name="block"></a>
      <h3>Call blockers for people with dementia</h3>
      <p>Many of us suffer with the problem of nuisance calls on our phones, but this can be a particular problem for people with dementia. To help with this the government is providing funding for call blockers to tackle this issue. Free call blockers will be available to anyone living with dementia who is currently suffering from scam or nuisance calls.</p>
      <p>To get a FREE call blocking device YES should be answered to the following:
       <ol>
        <li>Do you or the person you are applying for receive nuisance and scam calls?</li>
        <li>Does the person who would like the call blocker have dementia?</li>
      </ol>     
      If you answered yes to the above then please apply at <%= link_to "www.friendsagainstscams.org.uk/callblocker", "http://www.friendsagainstscams.org.uk/callblocker" %>
      </p>
      <a class="anchor" id="top" name="watch"></a>
      <h3><%= link_to "Download a copy of the latest Neighbourhood Watch newsletter here", "resource/CroydonEye_Autumn2017.pdf" %> </h3>

      <h3><%= link_to "Residents form a group to fight proposed developments in the area - Read the report in the Croydon Advertiser", "http://www.croydonadvertiser.co.uk/news/croydon-news/sanderstead-group-protests-proposals-dozens-548410" %></h3>

      <a class="anchor" id="top" name="planning"></a>
      <h3>Changes to the way Croydon Council advises residents about planning applications</h3>
      <p>The system of putting notices on lighting or telegraph poles was changed in August. Now immediate adjoining owners will be advised by letter, however should there be a footpath or alley the next property will not be informed, in fact letters could be sent to adjoining empty properties or to adjoining owners who do not appreciate the implications of the proposed application. Residents living opposite or behind the property will not be aware of the planning application.</p>
      <p>The only means of checking planning applications in your area is to check regularly on the Council's Planning website. <%= link_to("Croydon Council planning applications", "http://publicaccess2.croydon.gov.uk/online-applications/") %></p>

      <a class="anchor" id="top" name="Mitchley"></a>
      <h3>A new planning application has been submitted for 9 or 10 apartments in Borrowdale Close on Mitchley Hill</h3>
      <p>Another planning application for flats has been submitted. This time at 48 Mitchley Hill, at the junction with Borrowdale Close. It is for the "demolition of existing and erection of a building comprising of 9 x 2 bedroom apartments with parking, secure cycle storage and bin storage and modification of an existing access". <%= link_to "More details can be found on the Croydon Council Planning web page.", "http://publicaccess2.croydon.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=OUZJBEJLHPW00" %></p>

      <a class="anchor" id="top" name="speed"></a>
      <h3>Croydon Council agree to implement 20 MPH speed limit in south of borough</h3>
      <p>The Council Members of the Traffic Management Advisory Committee, at their meeting on 9th May, 2017 considered any objections but agreed to proceed with the implementation of the 20mph speed limit. You can read the committee report on  <%= link_to "Croydon Council website ", "https://secure.croydon.gov.uk/akscroydon/users/public/admin/kab12.pl?operation=SUBMIT&meet=15&cmte=TMA&grpid=public&arc=1" %>
      </p>

      <a class="anchor" id="top"  name="boundary"></a>
      <h3>Recommended Changes to Ward Boundaries</h3>
      <p>We are looking for support of what we believe to be a sensible independent assessment of the Sanderstead Ward boundaries.</p>
      <p><strong>This is what the commission had to say when publishing their draft proposal in relation to Sanderstead.</strong></p>
      <p>“In addition to the borough-wide schemes, we received seven submissions relating to the Sanderstead area specifically. All of the submissions received supported keeping the Sanderstead area in one ward, and a number of submissions requested that Sanderstead be separate from Riddlesdown which, it was put forward, should join Purley (see paragraph 66). The submissions put forward strong evidence regarding the community links within Sanderstead, the active nature of the local organisations and associations, and the strong boundary formed by Upper Selsdon Road.</p>  
      <p>Of the five borough-wide schemes that we received, three schemes split the Sanderstead area, putting the northern part of the area into a Croham ward. The scheme put forward by the Conservative Group kept the Sanderstead area intact, maintaining the internal community links described in the submissions received. We have therefore based our proposed Sanderstead ward on the submission from the Conservative Group. We consider that this ward adheres well to the statutory criteria and accurately reflects the local community”.</p>
      <p><strong>This is our response</strong></p>
      <p>The Sanderstead Residents’ Association is pleased that the Local Government Boundary Commission have considered the views of the Sanderstead Residents’ Association and its members in the published draft recommendations.The boundaries in the recommendations accurately reflect the place of Sanderstead and is much more in line with the parish boundaries and what residents living in areas like West Hill, Ewhurst Road, Elmfield Way and many of the other roads leading up to the hard boundary with the Upper Selsdon Road feel is naturally the home of Sanderstead.</p>

      <p>The only little piece of the map that we feel is perhaps more in line with the new South Croydon ward, which we like, as nobody ever knew where the place of Croham was, is those roads north of Essenden Road. If that small change could be made we would feel that the Commission had got our ward 100% correct!</p>

      <p>Whilst having the opportunity to comment we think it is perfectly sensible to have a Riddlesdown and Purley Oaks ward. The hard boundary which is formed alongside the Purley Downs Golf Course brings these two areas together. We also know that there is an extremely strong Residents' Association in the area and these residents are bound by a similar postcode. The railway line forms a hard boundary between Sanderstead and Riddlesdown station.</p>

      <p>In having the opportunity to comment on the draft recommendations as a whole, it seems that the places of Croydon are more accurately respected, particularly across the centre of Croydon which we know will be greatly intensified by the Hammerson/Westfield development bringing more homes into the centre of Croydon.</p>

      <p>The Sanderstead Residents’ Association and its members fully support the LGBC recommendations which we feel will be good for community cohesion and the support that residents associations such as ourselves give to the people in these locations.</p>

      <p><strong>We are looking for Sanderstead Residents’ Association Members to email or write to the Boundary Commisson in support of this proposal and ask that a small amendment be made in terms of the boundary with the new South Croydon ward at Essenden Road.</strong></p>
      <p><strong>Get in touch</strong></p>
      <p>The Commission welcomes comments on the recommendations report by 8 May 2017. Representations should be made:</p>
      <ul>
        <li>By email to: <%= mail_to "reviews@lgbce.org.uk" %>.</li>
        <li>Or in writing to:
          <blockquote>Review Officer (Croydon)</br>
          Local Government Boundary Commission for England </br>
          14th Floor</br>
          Millbank Tower</br>
          Millbank</br>
          London</br>
          SW1P 4QP</blockquote></li>
</ul>
      <p>The Commission aims to publish every response it receives during phases of consultation.  If you do not want all or any part of your response or name to be made public, you must state this clearly in the response. Any such request should explain why confidentiality is necessary.  All responses may be subject to publication or disclosure as required by law (in particular under the Freedom of Information Act 2000).</p>
      <p>This is the last opportunity to influence the Commission's recommendations before they are finalised.</p>
      <p><em>Dennis King, Chairman Sanderstead Residents’ Association</em></p>
      <p>Maps and information about the boundary changes can be found here:
        <%= link_to "Local Government Boundary Commission, Croydon Map", "https://consultation.lgbce.org.uk/node/8775" %> and <%= link_to "Croydon Council Boundary Review", "https://www.croydon.gov.uk/democracy/electoral-review-of-croydon/electoral-review-of-croydon-council" %> </p>

      <h3>Changes to urgent care services in Croydon</h3>
      <p><%= link_to "Read the full report here", news5_path %></p>

      <h3>Tim Wainwright RIP</h3>
      <p>Tim Wainwright         1942-2017</p>
      <p>It is with the greatest regret and shock we have to announce that Tim Wainwright was tragically killed in a cycling accident on 1st March.</p>
      <p>Tim joined the Sanderstead News team in 2003 undertaking the layout and design of the  magazine. His ability to combine articles, photographs and advertisements raised its  standard and with  the recent introduction of colour the News is now a very highly admired Residents' Association magazine.</p>
      <p>Tim was an excellent  photographer and his front cover photos of Sanderstead landmarks and activities coaxed the reader to examine further.</p>
      <p>Tim came across as a quiet and very helpful person, wishing to contribute his skills to the best of his undoubted ability. We will miss Tim’s contribution to the production of the magazine and his calm and friendly personality.</p>
      <p>We send our deepest condolences to Pauline.</p> 
      
      <h3><a class="anchor" id="top" name="memorial"></a>Sanderstead Memorial Hall</h3>
      <p>Sanderstead Memorial Hall was built as a tribute to the men and women who died or served their country in the First World War. The hall was opened in June 1922 by Vice Admiral A.F.B. Carpenter VC of Zeebrugge fame. The Sanderstead Hall Association was formed in 1923 to manage the hall. The hall is used as a facility for residents of Sanderstead and, subject to availability and proposed use, may be hired. It is used on a regular basis for various activities by several groups. These include:</p>
        <ul>
          <li>The Cavat School of Dance</li>
          <li>Castle Day Nursery</li>
          <li>Dog Training Class</li>
          <li>Beeches Badminton Club</li>
        </ul> 
        <p>The hall is managed on a daily basis by Caroline Hubbard and overseen by a small, volunteer committee who meet twice a year to review the management of the hall and any refurbishments necessary. We would like to see a few more volunteers join this small committee and continue the work of this facility in Sanderstead.</p>
        <p>If you are interested and would like to find out more please contact Caroline Hubbard on 07775 680087</p>


      <h3><a class="anchor" id="top" name="hall"></a>Trinity Mid-Whitgiftian Hall now available for hire</h3>
      <p>Now available for hire: The Clubhouse at Trinity Sanderstead Sports and Social Club is set in tranquil surroundings, overlooking playing fields at the end of Lime Meadow Avenue. With a large free car park and its proximity to bus routes, it is the perfect venue for classes and clubs, rehearsals, parties, wakes, sporting events and business meetings. If you are interested in hiring The Clubhouse for a function or a regular booking please call 07582 910094 or email <%= mail_to "admin@tsssc.co.uk" %></p>

      <h3><a class="anchor" id="top" name="plan"></a>Croydon Council's "Croydon Plan"</h3>
      <p>Croydon Council has produced a multi page plan which is available online, <%= link_to "on this link", "https://www.croydon.gov.uk/sites/default/files/articles/downloads/Croydon%20Local%20Plan%20-%20Detailed%20Policies%20and%20Proposals%20%28Preferred%20and%20Alternative%20Options%29.pdf" %> detailing their proposals for the future management of Croydon and it's environment. </p>

      <h3><a class="anchor" id="top" name="comments"></a>Sanderstead Residents' Association Chairman's objections to the Croydon Plan</h3>
      <p>The conclusions</p>
           <p>The Croydon Local Plan should have been undertaken by a cross party select committee to overcome many of the errors in the document.</p>
            <p>Applying haste for such an important subject will effect the future of Croydon and its residents, retail, public facilities for many years to come.</p>
            <p>Stop playing politics and work for the future quality of life for those who reside and work in Croydon.</p> 
            <p><%= link_to "Read the full text here", news4_path %></p>


      <h3><a class="anchor" id="top" name="scams" ></a>Read the latest Edition of "The little Book of Big Scams" </h3>
      <p>Produced by the Metropolitan Police, this book is vital reading for today's world. <%= link_to "Metropolitan Police Little Book of Big Scams", "http://www.met.police.uk/docs/little_book_scam.pdf" %></p>
     
      
      <!--<h3><a name="grave"></a>Medieval Gravestone discovered at All Saints</h3>
        <p>Builders working in All Saints churchyard have uncovered a medieval gravestone decorated with a celtic cross symbol.</p>
        <p>All Saints is currently undergoing building work to create level access into the church. Over the centuries the height of the ground outside the church has been raised, and there are now two deep steps down to get into the church.</p>
        <p>With disabled access in mind, the church council has recruited an architect to design a way of allowing level access for wheelchairs and those with walking difficulty to get into the church.<p>
        <p>The resulting design required a lowering of the path outside the church, and it was while builders were digging down that the gravestone was uncovered.</p>
        <p>The diocesan archaeologist was on hand to record the discovery and is very excited by the find. She said "I have never seen such a fine example of celtic art in this part of the country before!"</p>-->

    </div>
  </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
