<% provide(:title, 'Police News') %>
<div class="background_image">
  <%= image_tag "sanderstead_sign_snow1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel" class="container">
  <h2>Neighbourhood Police News</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
           <div class="col-md-3 col-xs-12 grey-column">
             <h3>Sanderstead Ward Officers</h3>
             <b>Leadership</b>
             <ul>
              <li>Acting Chief Inspector Michael Spies</li>
              <li>Acting Inspector Sarah Davies</li>
              <li>Police Sergeant Harrison</li>
            </ul>
              <b>Ward Officers</b>
            <ul>
              <li>Police Constable Stephen Wilson</li>
              <li>Police Constable Robert Brett</li>
              <li>Police Community Support Officer Sam Brooks</li>
            </ul>
            <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span> 020 8721 2470 or 101</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span><%= mail_to "sanderstead.snt@met.police.uk" %></p>
            <p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.met.police.uk/your-area/croydon/sanderstead", "https://www.met.police.uk/your-area/croydon/sanderstead/" %></p>
            <p><%= image_tag "small-images/twitter-icon.png" %> @MPSSanderstead </p>
            <p><%= link_to image_tag("small-images/FB-f-Logo__blue_29.png", alt: "facebook logo"), "http://www.facebook.com/metpoliceuk" %>&nbsp; <%= link_to "facebook.com/metpoliceuk", "http://www.facebook.com/metpoliceuk" %> </p>
              
          </div>
          <div class="col-md-9 col-xs-12 white-column">
            <h3>Ward Promises</h3>
            <ul>
              <li>To reduce residential and non-residential burglaries across the ward.</li>
              <li>To reduce motor vehicle crime - including theft of, theft from and criminal damage to motor vehicles as well as anti-social driving.</li>
              <li>To reduce anti-social behaviour, particularly near shops and schools.</li>
            </ul>

            <p><a name="update"></a><%= link_to "Read the monthly update from our Neighbourhood Police Team", "/resource/Sanderstead_Update_JUN17.pdf" %></p>
            <p><%= link_to "And the Summer Newsletter for Sanderstead", "/resource/Police_Summer_Newsletter2017.pdf" %></p>
            <p><%= link_to "Read the latest fraud prevention advice", "resource/FraudPreventionAdvice.pdf" %></p>
             <h3><a name="garages"></a>Advice about keeping your garages and sheds secure</h3>
              <p>Following a number of break-ins to garages in St Theresa's walk at the end of June the police have issued the following advice and reassurance. <%= link_to "Advice about keeping your garages and sheds secure", "resource/garages_and_sheds.pdf" %></p>
            <h3>Advice about Motorcycle crime</h3>
            <p>Over 15,000 motorcycle, moped and scooters were stolen in London in the last year - half of all vehicles stolen in London. It takes a matter of seconds for a thief to steal a moped, scooter or motorcycle, especially if they are left either unsecured or with inadequate security. <%= link_to "Follow this link for the latest advice about motorcycle crime.", "https://www.met.police.uk/crime-prevention/theft-of-a-vehicle/theft-motorcycles-scooters/" %></p>


            <h3><a name="drones"></a><%= link_to "Police advice about the use of drones", "resource/DronesAdvice.pdf" %></h3>
              <p>Follow <%= link_to "this link", "resource/DronesAdvice.pdf" %> to download an information sheet about using drones in Sanderstead</p>
            <h3><a name="manchester"></a>Police Information following the bombing incident in Manchester</h3>
            <p>Following the horrific terrorist attack in Manchester last night, in which 22 people were killed and tens of others injured, we have increased the number of officers on duty across the Capital.</p>

            <p>Whilst all policing operations in London are currently planned to the backdrop of a severe threat level from terrorism, officers from our event planning teams and protective security experts are now reviewing in detail all the plans for upcoming events in the Capital...<%= link_to "read more", "resource/manchester_incident.pdf" %></p>
            <p>If the public see something suspicious we ask them to ACT. Action Counters Terrorism; report anything you’ve heard that could identify a terrorist threat by calling 0800 789 321. In an emergency always call 999 - #ActionCountersTerrorism</p>

            <h3>London Community Watch e-magazine</h3>
            <p><%= link_to "The June issue of London Community Watch magazine", "https://issuu.com/peter2491/docs/lcw_magazine" %>  is available to view here. London Community Watch is recently formed by over 21 London Borough Neighbourhood Watches coming together. The aims of LCW is to reduce the burden on the MPS and help make communities safer. The LCW magazine is hoping to raise some finance through sponsorship and advertising and therefore it is aiming to be circulated as widely as possible.</p>
            <a name="fraud"></a>
            <h3>Police Action Fraud website</h3>
            <p>The Police Action Fraud website: <%= link_to "www.actionfraud.police.uk/", "http://www.actionfraud.police.uk/" %> is the UK's fraud and cyber crime reporting centre. Visit it to keep up to date with the latest "phishing" scams and news of online fraud, and to report any crimes which you might have been affected by.</p>
            <a name="car"></a>
            <h3>Sanderstead is the 2nd safest place in the borough</h3>
            <p>The Croydon Advertiser has written an article on 'the most dangerous places to live in Croydon according to crime stats'. PC Sam Brooks, our community policeman, thought residents/businesses/schools would be interested in seeing that Sanderstead was ranked the 2nd safest ward to live in Croydon. Here is the link to the article. <%= link_to "Croydon Advertiser report", "http://www.croydonadvertiser.co.uk/revealed-the-most-dangerous-places-to-live-in-croydon-according-to-crime-stats/story-30197800-detail/story.html" %>.
            <h3>Police advice when selling a car</h3>
            <p><%= link_to "Our Neighbourhood Police Team give advice on how to avoid thieves when selling a car", "/resource/SellingaCar.pdf" %></p>
            <h3>Police advice about crime prevention at Christmas</h3>
            <p><%= link_to "The Neighbourhood Police Team have provided a useful leaflet about crime prevention at Christmas", "/resource/christmas_crime_menu.pdf" %></p>
            <a name="halloween"></a>
            <h3>No Trick or Treaters poster</h3>
            <p>Our local community police have provided us with a poster that can be printed off and displayed by householders who do not wish to have Trick or Treaters knocking on their doors this Halloween. <%= link_to "Click here to download the poster", "/resource/residentshalloween.pdf" %></p>

            <h3>Burglary Advice - Keeping your Jewellery safe</h3>

            <p>Review your home security. Always check your doors and windows are secure. Consider where your home is vulnerable by thinking how you would break-in if locked out? - Fit an intruder alarm, CCTV and security lighting.</p>

            <p>If you must keep it at home. Use an insurance approved safe which must be securely fixed. Remember, if you can lift it in, thieves can lift it out.</p>

            <p>Remember what is attractive to you, is also attractive to thieves - Keep safe, keep it out of sight.</p>

            <p>Photograph and keep a detailed inventory of each item of Jewellery and keep it in a separate place.</p>

            <p>Include the value, date acquired, receipts, valuation certificate and any indentifying marks. If it is stolen, this gives us the best opportunity to recover your precious items and convict the thief.</p>

            <h3>Distraction Burglary</h3>

            <p>Don't allow unexpected callers in to your home unless they have a prior appointment.</p>

            <p>Think before you open the door - use your door chain and spy hole or look out of the window to see if you recognise the person at the door.</p>

            <p>Always ask for identification and check it before letting somebody in to your home. Use the phone number in the phone book, for the company that they claim to be from, not the one shown on their identity card. Remember, a genuine caller will happily wait outside while you check on them by calling their organisation and/or while you call a family member or neighbour to help.</p>

            <p>If you are not convinced of the identity of the caller, don't let them in. Ask the caller to come back later and arrange for a friend, relative or neighbour to be present on their return or ask the caller to contact this person to make arrangements on your behalf.</p>

            <p>Beware of callers who attempt to distract you by claiming that they have seen something untoward in your rear garden or somewhere which may encourage you to leave your house - or the room that you are in - they may have an accomplice awaiting this distraction.</p>

            <p>Utility providers now offer a password identification system. Any caller from one of these companies should be able to give you a pre-arranged password as additional proof of their identity.</p>

            <p>If you feel threatened or in danger by the presence of a caller ring the police on 999.</p>

            <h3>Motor Vehicle Crime Advice</h3>

            <p>Take all valuables including sunglasses with you if you can. If you are unable to take them from the vehicle lock them in the boot or place them out of view. Remove parking permits, radio face plates and portable satellite navigation systems including their cradle ensuring to wipe the window where the satellite navigation holder may have left a visible mark.</p>

            <p>Fit a locking petrol cap if your vehicle doesn’t already have one. Fit anti tamper screws on your number plates and locking wheel nuts if not standard to your vehicle. If you require any please let us know.</p>

            <p>Consider getting a steering lock or gearstick lock and pedal box to improve security of your unattended vehicle. Park with care, particularly at night or if you are leaving the vehicle for some time. If possible always park in a busy, well lit area. Managed car park facilities may be a better choice a list of police approved safer car parks can be found at the British Parking Association website. Try to avoid leaving car keys close to your front door or in a visible location. A thief can reach in using a hand or device and steal the keys to your vehicle. Fitting a plate to the rear of the letterbox opening can prevent this.</p>

            <p>If you don’t have one fitted as standard consider getting an immobiliser or an alarm professionally installed. Steering locks and pedal boxes are also a visible deterrent. A tracking device fitted to your vehicle will assist with locating it should your vehicle be stolen.</p>
            <p>Visit our website for more crime prevention advice. <%= link_to "http://content.met.police.uk/Site/Advice", "http://content.met.police.uk/Site/Advice" %></p>
          </div>
      
  </div><!--/#row -->
</div><!-- #container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>