<% provide(:title, 'Police News') %>
<div class="background_image">
  <%= image_tag "sanderstead_sign_snow1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Neighbourhood Police News</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-3 col-xs-12 grey-column">
             <h3>Sanderstead Ward Officers</h3>
             <ul>
              <li>Chief Inspector Duncan McMillan</li>
              <li>Inspector Michael Spies</li>
              <li>Acting Police Sergeant Thomas White</li>
            </ul>
              <b>Ward Officers</b>
            <ul>
              <li>PC Stephen Wilson</li>
              <li>PCSO Sam Brooks</li>
            </ul>
            <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span> 020 8721 2470</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span><%= mail_to "sanderstead.snt@met.pnn.police.uk" %></p>
            <p><%= image_tag "small-images/twitter-icon.png" %> @MPSSouthCroydon </p>
              
          </div>
          <div class="col-md-9 col-xs-12 white-column">
            <h3>Ward Promises</h3>
            <ul>
              <li>To reduce residential and non-residential burglaries across the ward.</li>
              <li>To reduce motor vehicle crime - including theft of, theft from and criminal damage to motor vehicles as well as anti-social driving.</li>
              <li>To reduce anti-social behaviour, particularly near shops and schools.</li>
            </ul>

            <p><%= link_to "Read the monthly update from our Neighbourhood Police Team", "/resource/Sanderstead_Update_DEC16.pdf" %></p>
            <p><%= link_to "And the Autumn Newsletter for Sanderstead", "/resource/PoliceAutumnWinter2016.pdf" %></p>
            <a name="car"></a>
            <h3>Police advice when selling a car</h3>
            <p><%= link_to "Our Neighbourhood Police Team give advice to avoid thieves when selling a car", "/resource/SellingaCar.pdf" %></p>
            <h3>Police advice about crime prevention at Christmas</h3>
            <p><%= link_to "The Neighbourhood Police Team have provided a useful leaflet about crime prevention at Christmas", "/resource/christmas_crime_menu.pdf" %></p>
            <a name="halloween"></a>
            <h3>No Trick or Treaters poster</h3>
            <p>Our local community police have provided us with a poster that can be printed off and displayed by householders who do not wish to have Trick or Treaters knocking on their doors this Halloween. <%= link_to "Click here to download the poster", "/resource/residentshalloween.pdf" %></p>

            <a name="survey"></a>
            <h3>SURVEY WILL HELP SHAPE NEW THREE-YEAR ANTI-CRIME PLAN</h3>
            <p> The Safer Croydon Partnership is asking the public for help to shape Croydon’s next Community Safety Strategy. Set to run from 2017-2020, the strategy sets out the top community safety priorities to be tackled over that period.</p> 
            <p>The Safer Croydon Partnership has therefore launched a six-week survey to help it understand what types of criminal or antisocial behaviour are people’s biggest concerns across different parts of the borough. In a united bid to keep Croydon safe, the partnership brings together the council, police, fire brigade, and health and probation services, along with businesses and community and voluntary sector groups. Results from the survey will be analysed in conjunction with data from the police and other agencies.</p>
            <p> Councillor Hamida Ali, cabinet member for communities, safety and justice, said: “We really want to encourage everyone to take part. It’s important that we understand people’s main fears and concerns. Domestic abuse and hate crime are often offences people do not report, or tell others about, so do not show on police records of actual reported crime. Fear of crime can often affect people as much as crime itself, so a big part of what we do is to provide reassurance alongside enforcement. We are also engaging with the Mayor’s Office for Policing and Crime to ensure our work reflects pan-London plans to keep the city safe.” </p>
            <p>The SCP’s short survey includes questions about such things as fly-tipping, domestic abuse, rogue traders, drunk and rowdy behaviour, street drinking and begging, and vehicle crime. It looks at the town centre and neighbourhoods across the borough. It runs from Tuesday 20 September to Tuesday 1 November, and can be found at <%= link_to "www.croydon.gov.uk/scpstrategy", "http://www.croydon.gov.uk/scpstrategy" %></p>

            <h3>Burglary Advice - Keeping your Jewellery safe</h3>

            <p>Review your home security. Always check your doors and windows are secure. Consider where your home is vulnerable by thinking how you would break-in if locked out? - Fit an intruder alarm, CCTV and security lighting.</p>

            <p>If you must keep it at home. Use an insurance approved safe which must be securely fixed. Remember, if you can lift it in, thieves can lift it out.</p>

            <p>Remember what is attractive to you, is also attractive to thieves - Keep safe, keep it out of sight.</p>

            <p>Photograph and keep a detailed inventory of each item of Jewellery and keep it in a separate place.</p>

            <p>Include the value, date acquired, receipts, valuation certificate and any indentifying marks. If it is stolen, this gives us the best opportunity to recover your precious items and convict the thief.</p>

            <h3>Distraction Burglary</h3>

            <p>Don't allow unexpected callers in to your home unless they have a prior appointment.</p>

            <p>Think before you open the door - use your door chain and spy hole or look out of the window to see if you recognise the person at the door.</p>

            <p>Always ask for identification and check it before letting somebody in to your home. Use the phone number in the phone book, for the company that they claim to be from, not the one shown on their identity card. Remember, a genuine caller will happily wait outside while you check on them by calling their organisation and/or while you call a family member or neighbour to help.</p>

            <p>If you are not convinced of the identity of the caller, don't let them in. Ask the caller to come back later and arrange for a friend, relative or neighbour to be present on their return or ask the caller to contact this person to make arrangements on your behalf.</p>

            <p>Beware of callers who attempt to distract you by claiming that they have seen something untoward in your rear garden or somewhere which may encourage you to leave your house - or the room that you are in - they may have an accomplice awaiting this distraction.</p>

            <p>Utility providers now offer a password identification system. Any caller from one of these companies should be able to give you a pre-arranged password as additional proof of their identity.</p>

            <p>If you feel threatened or in danger by the presence of a caller ring the police on 999.</p>

            <h3>Motor Vehicle Crime Advice</h3>

            <p>Take all valuables including sunglasses with you if you can. If you are unable to take them from the vehicle lock them in the boot or place them out of view. Remove parking permits, radio face plates and portable satellite navigation systems including their cradle ensuring to wipe the window where the satellite navigation holder may have left a visible mark.</p>

            <p>Fit a locking petrol cap if your vehicle doesn’t already have one. Fit anti tamper screws on your number plates and locking wheel nuts if not standard to your vehicle. If you require any please let us know.</p>

            <p>Consider getting a steering lock or gearstick lock and pedal box to improve security of your unattended vehicle. Park with care, particularly at night or if you are leaving the vehicle for some time. If possible always park in a busy, well lit area. Managed car park facilities may be a better choice a list of police approved safer car parks can be found at the British Parking Association website. Try to avoid leaving car keys close to your front door or in a visible location. A thief can reach in using a hand or device and steal the keys to your vehicle. Fitting a plate to the rear of the letterbox opening can prevent this.</p>

            <p>If you don’t have one fitted as standard consider getting an immobiliser or an alarm professionally installed. Steering locks and pedal boxes are also a visible deterrent. A tracking device fitted to your vehicle will assist with locating it should your vehicle be stolen.</p>
            <p>Visit our website for more crime prevention advice. <%= link_to "http://content.met.police.uk/Site/Advice", "http://content.met.police.uk/Site/Advice" %></p>
          </div>
        </div>
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>