<% provide(:title, 'Police News') %>
<div class="background_image">
  <%= image_tag "sanderstead_sign_snow1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel" class="container">
  <h2>Neighbourhood Police News</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
           <div class="col-md-3 col-xs-12 grey-column">
             <h3>Sanderstead Ward Officers</h3>
             <b>Leadership</b>
             <ul>
              <li>Acting Chief Inspector Michael Spies</li>
              <li>Acting Inspector Sarah Davies</li>
              <li>A/PS Rob Straker</li>
            </ul>
              <b>Ward Officers</b>
            <ul>
              <li>Police Community Support Officer Sam Brooks</li>
            </ul>
            <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true">&nbsp;</span> 020 8721 2470 or 101</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span><%= mail_to "snmailbox.sandersteadsnt@met.police.uk" %></p>
            <p><span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span><%= link_to "www.met.police.uk/your-area/croydon/sanderstead", "https://www.met.police.uk/your-area/croydon/sanderstead/" %></p>
            <p><%= image_tag "small-images/twitter-icon.png" %> @MPSSanderstead </p>
            <p><%= link_to image_tag("small-images/FB-f-Logo__blue_29.png", alt: "facebook logo"), "http://www.facebook.com/metpoliceuk" %> Met Police <%= link_to "facebook.com/metpoliceuk", "http://www.facebook.com/metpoliceuk" %> </p>
            <p>Sanderstead Neighbourhood Team <%= link_to image_tag("small-images/FB-f-Logo__blue_29.png", alt: "facebook logo"),"https://business.facebook.com/Sanderstead-Police-1961053627278221/" %>&nbsp; <%= link_to "Sanderstead Police", "https://business.facebook.com/Sanderstead-Police-1961053627278221/" %> </p>
              
          </div>
          <div class="col-md-9 col-xs-12 white-column">
            <h3>Ward Promises</h3>
            <ul>
              <li>To reduce residential and non-residential burglaries across the ward.</li>
              <li>To reduce motor vehicle crime - including theft of, theft from and criminal damage to motor vehicles as well as anti-social driving.</li>
              <li>To reduce anti-social behaviour, particularly near shops and schools.</li>
            </ul>
            <h3><a class="anchor" id="top" name="update"></a><%= link_to "Read the monthly update from our Neighbourhood Police Team", "/resource/Sanderstead_Update_DEC2020.pdf" %></h3>
            <h3><%= link_to "Read the latest fraud prevention advice", "resource/FraudPreventionAdvice.pdf" %></h3>
            <h3><a name="vehicle"></a><%= link_to "Vehicle Crime prevention advice", "resource/vehicle_crime_prevention.pdf" %></h3>
            <h3><%= link_to "Details of our Neighbourhood Safety Team", "resource/NSO_Leaflets.pdf" %></h3>
            <h3><a class="anchor" id="top" name="eye"></a><%= link_to "Read the Croydon Neighbourhood Watch newsletter", "resource/Croydon_Eye_Summer2020.pdf" %></h3>
            <h3><a class="anchor" id="top" name="nw"></a><%= link_to "Read the National Neighbourhood Watch newsletter", "https://www.ourwatch.org.uk/sites/default/files/documents/2021-02/OUR%20NEWS%20Feb%202021.pdf" %></h3>
            <h3><a class="anchor" id="top" name="nhwmonthly"></a><%= link_to "Read the Croydon Neighbourhood Watch monthly update online", "https://mcusercontent.com/4a57cb36467c11a8fc55f4dd8/files/1d61cda3-5224-427e-a7e1-8acc51920c02/Croydon_Eye_Winter_2020_Web_Final.pdf" %></h3>
            
            <h3><a name="corona_scam"></a>Download these leaflets about avoiding crime</h3>
            <h3><%= link_to "Vehicle crime advice", "resource/Motor_vehicle_Crime_advice.pdf" %>, <%= link_to "Keep your home safe from burglary", "resource/Burglary_Advice.pdf" %></h3>
            <h3><%= link_to "How to report crime and anti-social-behaviour", "resource/how_to_report.pdf" %></h3>
            <h3>News from our Sanderstead Neighbourhood Team</h3>
            <h3><a class="anchor" id="top" name="cc_advice"></a>Thefts of Catalytic Converters</h3>
            <p>Over the month or so we have seen an increase in motor vehicle offences. Catalytic Converters are being stolen from specific vehicles. Ridge Langley in particular has had 4 x Catalytic Converter thefts in August. This is a Met wide issue and the police have specific operations and teams to help combat this. If you see any suspicious people crouching behind cars, go and disturb them (if it is safe). Thieves often double park next to cars and can be seen with car jacks. Another tell-tale sign is the loud noise the equipment makes removing the catalytic converter. Don’t assume it is builders. These thieves don't always work under the cover of darkness but hiding in plain sight, in daylight with many cars and pedestrians around.</p>
            <p>If you see someone acting suspiciously under a vehicle, report it to the Police. Obtain as much information as possible, including any vehicle registrations.</p>
            <p><%= link_to "Download this advice about preventing catalytic converter thefts", "resource/Catalytic_converter_advice.pdf" %></p>
            <h3><a class="anchor" id="top" name="nwsurvey"></a>Neighbourhood Watch National Impact Survey</h3>
            <p>Neighbourhood Watch has launched their first National Impact Survey and has had over 21,000 responses, however, only a handful from London.  This is a very important survey, where members and members of the public, not usually connected with Neighbourhood Watch, have the opportunity to have their say and let them know how they feel about Neighbourhood Watch, crime and perception of crime and how effective they feel both NW and the police are.</p>
            <p>The survey link is <%= link_to "https://www.surveymonkey.co.uk/r/NWimpact", "https://www.surveymonkey.co.uk/r/NWimpact" %></p>
            <h3>Protect yourself from scams during the coronavirus crisis</h3>
            <p>Dear Ward Member,
            <p>RE: Scams advice during coronavirus outbreak</p>
            <p>We are writing to you with regards to the coronavirus and how you can access support and safeguard yourself against scams.</p>We hope that you are well. As a reminder, we would like to re-iterate the government and NHS guidelines about maintaining good hygiene; only go outside for food, health reasons or essential work, and stay two metres away from other people outside of your household. It is particularly important for people who are over 70 and/or have an underlying health condition.</p>
            <p>Things such as Facebook Community Groups, WhatsApp Groups and the Nextdoor social network that send neighbourhood alerts can be great ways of staying in touch with those around you, however it can be difficult to know who to trust. These are all online and not everyone has access to the internet, so please see the telephone numbers below for your County if you require assistance.</p>
            <p>Please be aware that not everyone out there is trustworthy and some people will take advantage of this unusual situation our society is facing.</p>
            <p>Here are just some of the scams we are aware of, but please note that criminals come in all shapes and sizes and can contact you at the door, by phone, post or online:</p>
            <p>
              <ul>
                <li>Be aware of people offering miracle cures or vaccines for coronavirus – there is no specific treatment for coronavirus (COVID-19). Treatment aims to relieve the symptoms until you recover.</li>
                <li>Home cleaning services</li>
                <li>People impersonating healthcare workers, claiming to be offering ‘home-testing’ for coronavirus – this is a scam and these kits are not currently available to buy.</li>
                <li>Emails saying that you can get a refund on taxes, utilities or similar are usually bogus and they are just after your personal and bank details.</li>
                <li>There are lots of fake products available to buy online that say they can protect you or cure coronavirus. These will not help and are designed to take your money.</li>
                <li>There are new mobile phone applications that claim to give you updates on the virus but instead, they lock your phone and demand a ransom.</li>
                <li>Your bank or the police will never ask for your bank details over the phone.</li>
                <li>People offering to do you’re shopping or collecting medication and asking for money upfront and then disappearing.</li>
              </ul>
              <p>Tips to avoid being scammed:</p>
              <ul>
                <li>Be cautious and listen to your instincts. Don’t be afraid to hang up, bin it, delete it or shut the door.</li>
                <li>Take your time; don’t be rushed.</li>
                <li>If someone claims to represent a charity, ask them for ID. Be suspicious of requests for money up front. If someone attempts you into accepting a service they are unlikely to be genuine. Check with family and friends before accepting offers of help if you are unsure.</li>
                <li>If you are online, be aware of fake news and use trusted sources such as .gov.uk or NHS.uk websites. Make sure you type the addresses in and don’t click on links in emails.</li>
                <li>Only purchase goods from legitimate retailers and take a moment to think before parting with money or personal information.</li>
                <li>Know who you’re dealing with - if you need help, talk to someone you know or get in touch with your local Council on the numbers below.</li>
                <li>Protect your financial information, especially from people you don’t know. Never give your bank card or PIN to a stranger.</li>
              </ul>
              <p>Contact information:</p>
              <p>If you think you’ve been scammed, report it to Action Fraud on 0300 123 2040 and if you need advice, call the Citizens Advice Consumer Helpline on 0808 223 1133. If you are in immediate danger, contact the police on 999.</p>
              <p>Contact your bank if you think you have been scammed.</p>
              <p>To learn more about different types of scams and how to protect yourself and others, visit www.FriendsAgainstScams.org.uk and complete the free online training. Why not become a Scam Marshal? A Scam Marshal is any resident in the UK who has been targeted by a scam and now wants to fight back and take a stand against scams. Scam Marshals do this by sharing their own experiences, helping others to report and recognise scams and sending any scam mail that they receive to the National Trading Standards Scams Team so that it can be utilised as evidence in future investigative and enforcement work. Visit www.FriendsAgainstScams.org.uk/ScamMarshals for more information and to sign up.</p>
              <p>Read it. Share it. Prevent it. #ScamAware #Coronavirus</p>
              <p>Regards,</p>
              <p>PCSO Sam Brooks 7381 ZD</p>
            <h3>Advice about coronavirus measures</h3>
            <p><%= link_to "Download this leaflet for advice and information about coronavirus", "resource/Coronavirus_advice.pdf" %></p>
            <h3><a name="catalytic"></a>Information about vehicle crime - theft of catalytic convertors</h3>
            <p>Recently we have seen the Theft From Motor Vehicles figures increasing on one particular issue, Catalytic Converters.</p>
            <p>Catalytic Converters are being stolen from specific cars, Hondas and Priuses and larger vehicles where access to the converter is easier.</p>
            <p>It doesn’t take very long for the thieves to do this so we have found a very helpful page from Volante on prevention tips. The page talks about what a Catalytic Converter is and how best to park your vehicle, it talks about alarms that you can fit to your vehicle too.</p>
            <p>We would like any information relating to the thieves behind these thefts. Full vehicle details as best as you can, along with any descriptions of the suspects. CCTV and smart phones can really help with our enquiries, however please don’t put yourselves at risk. Please – if you believe that the crime is taking place there and then you should dial 999 to report it.</p>
            <p><%= link_to "https://www.garageservicesnorthlondon.co.uk/catalytic-converter-thefts-prevention-tips/", "https://www.garageservicesnorthlondon.co.uk/catalytic-converter-thefts-prevention-tips" %></p>
            <p><%= link_to "https://www.met.police.uk/cp/crime-prevention/theft-from-a-vehicle/", "https://www.met.police.uk/cp/crime-prevention/theft-from-a-vehicle/" %></p>
            <h3>July news update from the SNT</h3>
            <p>The Safer Neighbourhood team have a new email address: "snmailbox.sandersteadsnt@met.police.uk". The team have been sending out information with updates and advice. If you do not get the emails and would like to then please email us at the new mailbox and we can add you to the mailing list. We appreciate that a lot of residents may not be on email so please pass on any information to those residents.</p>
            <p>Thanks to everyone who has given us information of suspicious behavior. If you could assist by getting a bit more detail such as registrations of vehicles, descriptions and anything distinctive. That will help us help you. Thank you for your continued support.</p>
            <p>Following a spate of burglaries in Sanderstead in February and March, the police have issued an alert and advice for keeping your property safe. <%= link_to "Please click here", "resource/Burglary_Alert.pdf" %></p>

            <h3><a name="christmas"></a><%= link_to "Advice about keeping your homes and possessions safe", "resource/Burglary_Sanderstead.pdf" %></h3>
            <a name="safe"></a>
            <h4>Some simple steps for crime prevention</h4>
            <p>
              <ul>
                <li>Do not leave presents on display or under the tree. I usually leave mine in a spare bedroom and put them under the tree on Christmas Eve.</li>
                <li>Be vigilant of any unsolicited callers specifically those asking to check your electricity or gas meter. They maybe scoping out your property so please challenge and ask for identification.</li>
                <li>Be careful if withdrawing large amounts of money and where you store it in the house. While I never carry cash I understand some people still do.</li>
                <li>Please check all your windows and double lock your doors when going out.</li>
                <li>Do not leave tools lying around the garden. We regularly see shovels and spades left outside and these can easily be used to force entry.</li>
                <li>Keep your valuables, jewellery and cash locked away.</li>
                <li>If you see anything suspicious at all, please call us.</li>
              </ul>
              <p>If you are a victim of burglary, below are some actions that you can take to improve our chances of catching the suspect and bring them to justice.</p>
              <ul>
                <li>remember to always report to police as soon as possible. For non-emergency reporting use 101. If it is an emergency call 999.</li>
                <li>Establish if objects have been moved. Have any drawers or cupboards been opened? List where these items are and try to keep them untouched for when Police attend.</li>
                <li>Try to find the place of entry and exit that has been used by the burglar. Try to keep this area untouched. Are there any footprints? If you find a route that you think was used, try to find another route to use so as not to disturb evidence.</li>
                <li>Has anything been eaten or drunk out of? Are there discarded cigarettes or tools? If so note where and let officers know when they attend.</li>
                <li>If you feel comfortable, make enquiries with neighbours. Did they see or hear anything? Try to get a time and any specific details to pass on to officers.</li>
                <li>If you believe they have been stolen, cancel bank cards and inform your phone company as soon as possible.</li>
                <li>Think back over the past few days. Has anyone been hanging around, acting suspiciously? The smallest piece of information can help identify a suspect.</li>
                <li>If you saw the suspect and think you would recognise them again, tell the reporting officer so they can give you the opportunity to identify them.</li>
                <li>You will be asked to make a statement, think of all relevant details that the officer may need to help progress the investigation.</li>
                <li>Please let us know whether you have any special requirements i.e. you are disabled or feel particularly vulnerable.</li>
              </ul>
              <p>We hope that you are never in a position where you need to take this advice however if it does happen to you we hope that it will assist you.</p>
              <p>For some really useful and simple advice on burglary prevention please see our website: <%= link_to "www.met.police.uk/cp/crime-prevention/residential-burglary", "https://www.met.police.uk/cp/crime-prevention/residential-burglary/" %></p>
              <p>Please also look at the Met Trace link at the bottom of the page which has been a success.</p>

            <a name="scam_advice"></a>
            <h3>Dear Resident, Fraud & Scam Advice</h3>
            <p>The Sanderstead Safer Neighbourhood Team have been made aware of a couple of fraud / scam attempts on local residents recently. These unscrupulous criminals often masquerade as home maintenance professionals.   They may say there are problems with tiles, trees or driveways, but will then extort money in return for little or no work.</p>
            <p>By taking a few simple precautions you can ensure that you don’t become a victim.</p>
            <ul>
              <li>Don’t feel pressured into making a decision on your doorstep.</li>
              <li>Use a spy hole, chain or window to have a look at the caller before answering the door and keep the chain on. If you do not recognise the caller then speak through the closed and locked door.</li>
              <li>Never pay for work before it is completed. always agree a final price in writing and get an invoice and receipt as proof of payment – don’t pay in cash.</li>
              <li>If you need to get work done to your home, get several written quotes from trustworthy or recommended firms and then decide who is right for you.</li>
              <p>To find a reputable trader visit</p>
              <li>Trustmark - https://www.trustmark.org.uk/find-a-tradesman - 0333 555 1234 - a Government Endorsed Quality Scheme covering work a consumer chooses to have carried out in their home.</li>
              <li>Buy With Confidence – www.buywithconfidence.gov.uk – 01392 383 430</li>
              <li>Which? Trusted Traders - http://trustedtraders.which.co.uk/ - 0117 405 4689</li>
            </ul>
            <p>For further information please see the <%= link_to "Croydon Trading Standards website.", "https://www.croydon.gov.uk/advice/tstandards/busadvice/taschemes" %></p> 
 
            <p>What do you do if you’ve been a victim of bogus tradesmen fraud? Report it to Action Fraud on 0300 123 2040 or online at www.actionfraud.police.uk. Or contact Citizen's Advice Consumer Helpline 0808 223 1133. You can report the salesperson to Croydon Trading Standards on their reporting line – 03454 040506</p>
            <p>Please contact the team if you have any concerns regarding ‘Cold Callers’. </p>
            <p>Sanderstead Safer Neighbourhood team
            </p>

            <a name="halloween"></a>
            <h3>No Trick or Treaters poster</h3>
            <p>Our local community police have provided us with a poster that can be printed off and displayed by householders who do not wish to have Trick or Treaters knocking on their doors at Halloween. Local businesses are also asked not to sell flour or eggs to under 18s in the run up to halloween.<%= link_to "Click here to download the poster", "/resource/residentshalloween.pdf" %></p>

            <h3><a class="anchor" id="top" name="gas"></a>Fake British Gas Email Scam</h3>
            <p>We've had an increase in reports about fake British Gas emails claiming to offer refunds. The links provided in the emails lead to genuine looking British Gas phishing websites that are designed to steal the usernames and passwords for British Gas accounts. Always question unsolicited requests for your personal or financial information in case it's a scam. Never automatically click on a link in an unexpected email or text.</p>

            <h3><a name="witnesses">Appeal for witnesses</a></h3>
            <p>The police have put out the following appeal for witnesses:</p>
            <p>Detectives from the Serious Collision Investigation Unit are appealing following a fatal collision in South Croydon.</p>
            <p>Police were called at 10:49hrs on Wednesday, 11 July by the London Ambulance Service (LAS) to Cherry Tree Green, South Croydon. A refuse collection truck had been in collision with a pedestrian. London’s Air Ambulance and LAS attended. The pedestrian, a 63-year-old man from the South Croydon area, died at the scene at 11:00hrs. His next of kin have been informed; we await formal identification. The refuse truck stopped at the scene. There have been no arrests, enquiries continue. Any witnesses or anyone with any information is asked to call police on 020 8285 1574 or contact via Twitter @MetCC. Please quote CAD 2430/11JUL.</p>
            <p>To give information anonymously contact Crimestoppers on 0800 555 111 or online at crimestoppers-uk.org".</p>
            <p>http://news.met.police.uk/news/appeal-for-information-after-fatal-collision-in-croydon-314353</p>


            <h3>Assailant arrested</h3>
            <p>A serious assault took place on a 69 year old male outside Sanderstread Train Station in the alleyway between Mayfield Road and Heathhurst Road on Monday 21st May 2018 at around 10:50PM. We are glad to report a male has now been arrested in connection with the assault. He was charged with robbery and intent to cause grievous bodily harm (GBH). The victim is recovering from the assault. Our victim support team is helping him during this period. We wish him a speedy recovery.</p>

            <h3><a name="leaflets"></a>Suspicious leaflets in doors</h3>
            <p>Police and Trading Standards are warning residents in Croydon to look out for flyers being jammed into door frames or windows and to remove them immediately. Whilst there is no suggestion that the company named on the flyer is connected with this in any way, the placing of the flyer could be used as an indicator to note if a resident has returned home or not – and if the property is unoccupied. Residents are advised to remove the flyers immediately and to look out for flyers on neighbours premises, and to remove those too, especially during the summer holiday period. Report any suspicious leaflets to Trading Standards on 03454 04 05 06</p>

            <h3><a name="driveway"></a>Scammers offering to clean your driveway</h3>
              <p>The police ask us to report any suspicious activity and car registration numbers from people knocking at doors offering to clean driveways or do building work. </p>
              <p>"Just to advise that there are two men going house to house trying to get any building work or drive cleaning. We are used to that but this one today said to my wife, who answered the door, something like "we'll have to turn off the stop tap while we do the work ..." Sounds like the scam where an unsuspecting pensioner might be left holding the tap while they help themselves to valuables"</p>

             <h3><a name="garages"></a>Advice about keeping your garages and sheds secure</h3>
              <p>Following a number of break-ins to garages in St Theresa's walk at the end of June 2017 the police have issued the following advice and reassurance. <%= link_to "Advice about keeping your garages and sheds secure", "resource/garages_and_sheds.pdf" %></p>
            <h3>Advice about Motorcycle crime</h3>
            <p>Over 15,000 motorcycle, moped and scooters were stolen in London in the last year - half of all vehicles stolen in London. It takes a matter of seconds for a thief to steal a moped, scooter or motorcycle, especially if they are left either unsecured or with inadequate security. <%= link_to "Follow this link for the latest advice about motorcycle crime.", "https://www.met.police.uk/crime-prevention/theft-of-a-vehicle/theft-motorcycles-scooters/" %></p>


            <h3><a name="drones"></a><%= link_to "Police advice about the use of drones", "resource/DronesAdvice.pdf" %></h3>
              <p>Follow <%= link_to "this link", "resource/DronesAdvice.pdf" %> to download an information sheet about using drones in Sanderstead</p>

            <h3>Police Action Fraud website</h3>
            <p>The Police Action Fraud website: <%= link_to "www.actionfraud.police.uk/", "http://www.actionfraud.police.uk/" %> is the UK's fraud and cyber crime reporting centre. Visit it to keep up to date with the latest "phishing" scams and news of online fraud, and to report any crimes which you might have been affected by.</p>
            <a name="car"></a>
            <h3>Sanderstead is the 2nd safest place in the borough</h3>
            <p>The Croydon Advertiser has written an article on 'the most dangerous places to live in Croydon according to crime stats'. PC Sam Brooks, our community policeman, thought residents/businesses/schools would be interested in seeing that Sanderstead was ranked the 2nd safest ward to live in Croydon. Here is the link to the article. <%= link_to "Croydon Advertiser report", "http://www.croydonadvertiser.co.uk/revealed-the-most-dangerous-places-to-live-in-croydon-according-to-crime-stats/story-30197800-detail/story.html" %>.
            <h3>Police advice when selling a car</h3>
            <p><%= link_to "Our Neighbourhood Police Team give advice on how to avoid thieves when selling a car", "/resource/SellingaCar.pdf" %></p>
            <h3>Police advice about crime prevention at Christmas</h3>
            <p><%= link_to "The Neighbourhood Police Team have provided a useful leaflet about crime prevention at Christmas", "/resource/christmas_crime_menu.pdf" %></p>
            

            <h3>Burglary Advice - Keeping your Jewellery safe</h3>

            <p>Review your home security. Always check your doors and windows are secure. Consider where your home is vulnerable by thinking how you would break-in if locked out? - Fit an intruder alarm, CCTV and security lighting.</p>

            <p>If you must keep it at home. Use an insurance approved safe which must be securely fixed. Remember, if you can lift it in, thieves can lift it out.</p>

            <p>Remember what is attractive to you, is also attractive to thieves - Keep safe, keep it out of sight.</p>

            <p>Photograph and keep a detailed inventory of each item of Jewellery and keep it in a separate place.</p>

            <p>Include the value, date acquired, receipts, valuation certificate and any indentifying marks. If it is stolen, this gives us the best opportunity to recover your precious items and convict the thief.</p>

            <h3>Distraction Burglary</h3>

            <p>Don't allow unexpected callers in to your home unless they have a prior appointment.</p>

            <p>Think before you open the door - use your door chain and spy hole or look out of the window to see if you recognise the person at the door.</p>

            <p>Always ask for identification and check it before letting somebody in to your home. Use the phone number in the phone book, for the company that they claim to be from, not the one shown on their identity card. Remember, a genuine caller will happily wait outside while you check on them by calling their organisation and/or while you call a family member or neighbour to help.</p>

            <p>If you are not convinced of the identity of the caller, don't let them in. Ask the caller to come back later and arrange for a friend, relative or neighbour to be present on their return or ask the caller to contact this person to make arrangements on your behalf.</p>

            <p>Beware of callers who attempt to distract you by claiming that they have seen something untoward in your rear garden or somewhere which may encourage you to leave your house - or the room that you are in - they may have an accomplice awaiting this distraction.</p>

            <p>Utility providers now offer a password identification system. Any caller from one of these companies should be able to give you a pre-arranged password as additional proof of their identity.</p>

            <p>If you feel threatened or in danger by the presence of a caller ring the police on 999.</p>

            <h3>Motor Vehicle Crime Advice</h3>

            <p>Take all valuables including sunglasses with you if you can. If you are unable to take them from the vehicle lock them in the boot or place them out of view. Remove parking permits, radio face plates and portable satellite navigation systems including their cradle ensuring to wipe the window where the satellite navigation holder may have left a visible mark.</p>

            <p>Fit a locking petrol cap if your vehicle doesn’t already have one. Fit anti tamper screws on your number plates and locking wheel nuts if not standard to your vehicle. If you require any please let us know.</p>

            <p>Consider getting a steering lock or gearstick lock and pedal box to improve security of your unattended vehicle. Park with care, particularly at night or if you are leaving the vehicle for some time. If possible always park in a busy, well lit area. Managed car park facilities may be a better choice a list of police approved safer car parks can be found at the British Parking Association website. Try to avoid leaving car keys close to your front door or in a visible location. A thief can reach in using a hand or device and steal the keys to your vehicle. Fitting a plate to the rear of the letterbox opening can prevent this.</p>

            <p>If you don’t have one fitted as standard consider getting an immobiliser or an alarm professionally installed. Steering locks and pedal boxes are also a visible deterrent. A tracking device fitted to your vehicle will assist with locating it should your vehicle be stolen.</p>
            <p>Visit our website for more crime prevention advice. <%= link_to "http://content.met.police.uk/Site/Advice", "http://content.met.police.uk/Site/Advice" %></p>
          </div>
      
  </div><!--/#row -->
</div><!-- #container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>