<ul id="navigation">
      <li><%= image_tag "logo.jpg" %></li>
      <li><%= link_to "Home",  '#' %></li>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "News",  '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Resources", '#' %></li>
  </ul>